#textdomain wesnoth-units

[unit_type]
    id=Steel Crusher
    name= _ "Steel Crusher"
    race=human
    {TRAIT_FEARLESS}
    image="units/human-loyalists/ironmauler.png"
    small_profile="portraits/mauler.png~SCALE(275,275)"
    profile="portraits/mauler.png~RIGHT()"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=68
    movement_type=armoredfoot
    movement=4
    experience=150
    level=4
    [resistance]
        blade=60
        pierce=60
        impact=80
        cold=70
    [/resistance]
    [abilities]
        {ABILITY_STEADFAST}
    [/abilities]
    alignment=lawful
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit="Iron Mauler"
        experience=215
    [/advancefrom]
#endif
    {AMLA_DEFAULT}
    cost=76
    description= _ "Like Decimators, Steel Crushers are the armoured soldiers that symbolize the Loyalist Forces. Few dare to defy the strength of such a soldier. A soldier who can destroy a Troll Warlord with a single blow."
    die_sound={SOUND_LIST:HUMAN_DIE}
    usage=fighter
    {DEFENSE_ANIM "units/human-loyalists/siegetrooper-defend-2.png" "units/human-loyalists/siegetrooper-defend-1.png" {SOUND_LIST:HUMAN_HIT} }
    [portrait]
        size=400
        side="right"
        mirror="false"
        image="portraits/mauler.png"
    [/portrait]
    [attack]
        name=mace
        description=_"mace"
        icon=attacks/morning-star.png
        type=impact
        range=melee
        damage=40
        number=1
        [specials]
            {WEAPON_SPECIAL_SHOCK}
        [/specials]
    [/attack]

    [attack]
        name=mace
        description=_"mace"
        icon=attacks/mace-spiked.png
        type=impact
        range=melee
        damage=30
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]
        [frame]
            begin=-260
            end=-100
            image="units/human-loyalists/siegetrooper-attack-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/human-loyalists/siegetrooper-attack-2.png"
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/human-loyalists/siegetrooper-attack-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/human-loyalists/siegetrooper.png"
        [/frame]
    [/attack_anim]

[/unit_type]
