#textdomain wesnoth-units
[unit_type]
    id=Fallen Faerie
    name= _ "Fallen Faerie"
    race=faerie
    gender=female
    image="units/faeries/fallen-faerie.png"
    small_profile="portraits/fallen-faerie.png~SCALE(176,226)"
    profile="portraits/fallen-faerie.png~RIGHT()"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    halo="halo/elven/shyde-stationary-halo1.png:150,halo/elven/shyde-stationary-halo2.png:150,halo/elven/shyde-stationary-halo3.png:150,halo/elven/shyde-stationary-halo4.png:150,halo/elven/shyde-stationary-halo5.png:150,halo/elven/shyde-stationary-halo6.png:150"
    hitpoints=33
    movement_type=woodlandfloat
    [movement_costs]
        cave=1
    [/movement_costs]
    [defense]
        cave=40
        forest=30
    [/defense]
    [resistance]
        fire=110
        cold=70
        impact=100
    [/resistance]
    movement=5
    level=2
    alignment=chaotic
#    experience=100
    experience=81
#    advances_to=null
    advances_to=Fallen Dryad,Fallen Faerie Spirit
    cost=40
	[abilities]
		{ABILITY_STRENGTH_OF_DARKNESS}
		{ABILITY_TREEWALK}
	[/abilities]
    usage=archer
    undead_variation=null
	{AMLA_DEFAULT}
    description= _ "Faeries are closely bound to the forest they usually live in. If the forest is corrupted, either pollution or dark magic these beings are the result. Fallen faeries are quite the contrary of the beings they once were and are highly agressive. They are not only found in forests, but also in cave, as they prefer the endless darkness. One should not try to fighting a fallen faerie, epecially if they are in their own territory and during the night."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_DRAIN}+{SPECIAL_NOTES_STRENGTH_OF_DARKNESS}+{SPECIAL_NOTES_TREEWALK}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    {DEFENSE_ANIM_RANGE "units/faeries/fallen-faerie.png" "units/faeries/fallen-faerie.png" {SOUND_LIST:ELF_FEMALE_HIT} melee }
    {DEFENSE_ANIM_ELVEN_RANGE "units/faeries/fallen-faerie.png" "units/faeries/fallen-faerie.png" {SOUND_LIST:ELF_FEMALE_HIT} ranged }
    [attack]
        name=touch
        description= _ "touch"
        icon=attacks/dark-aura-fire.png
        type=fire
        range=melee
        damage=7
        number=3
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=shadow wave
        description= _ "shadow wave"
        icon=attacks/fog-magenta-2.png
        type=arcane
        range=ranged
        damage=5
        number=5
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [idle_anim]
        start_time=0

        {STORMKIND_ATTACK_HALO}

        halo1_halo_mod="~CS(-160,-256,-96)~O(20%)"
        halo2_halo_mod="~CS(-160,-256,-96)~O(30%)"
        halo3_halo_mod="~CS(-160,-256,-96)~O(20%)"
    [/idle_anim]
    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
    start_time=-150
    [if]
        hits=no
        [frame]
            duration=50
            image="units/faeries/fallen-faerie.png"
        [/frame]
        [frame]
            duration=100
            image="units/faeries/fallen-faerie.png"
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            duration=100
            image="units/faeries/fallen-faerie.png"
        [/frame]
        [frame]
            duration=200
            image="units/faeries/fallen-faerie.png"
        [/frame]
    [/if]
    [else]
        hits=yes
        [frame]
            duration=50
            halo=halo/chaos-halo1.png
            image="units/faeries/fallen-faerie.png"
            sound=fire.wav
        [/frame]
        [frame]
            duration=50
            halo=halo/chaos-halo1.png
            image="units/faeries/fallen-faerie.png"
        [/frame]
        [frame]
            duration=50
            image="units/faeries/fallen-faerie.png"
            halo=halo/chaos-halo2.png
        [/frame]
        [frame]
            duration=50
            image="units/faeries/fallen-faerie.png"
            halo=halo/chaos-halo3.png
        [/frame]
        [frame]
            duration=50
            image="units/faeries/fallen-faerie.png"
            halo=halo/chaos-halo4.png
        [/frame]
        [frame]
            duration=50
            image="units/faeries/fallen-faerie.png"
            halo=halo/chaos-halo5.png
        [/frame]
        [frame]
            duration=50
            image="units/faeries/fallen-faerie.png"
            halo=halo/chaos-halo6.png
        [/frame]
        [frame]
            duration=50
            image="units/faeries/fallen-faerie.png"
            halo=halo/chaos-halo7.png
        [/frame]
        [frame]
            duration=50
            image="units/faeries/fallen-faerie.png"
            halo=halo/chaos-halo8.png
        [/frame]
        [frame]
            duration=50
            image="units/faeries/fallen-faerie.png"
            halo=halo/chaos-halo9.png
        [/frame]
    [/else]

    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=shadow wave
        [/filter_attack]
        [if]
        hits=no
            [missile_frame]
                image="projectiles/shadow-blast-n-[1,2,1].png:[50*2,100]"
                image_diagonal="projectiles/shadow-blast-ne-[1,2,1].png:[50*2,100]"
                alpha=1.0~0.0:200
            [/missile_frame]
        [frame]
            duration=50
            image="units/faeries/fallen-faerie.png"
        [/frame]
        [frame]
            duration=100
            image="units/faeries/fallen-faerie.png"
            sound=wail.wav
        [/frame]
        [frame]
            duration=100
            image="units/faeries/fallen-faerie.png"
        [/frame]
        [frame]
            duration=200
            image="units/faeries/fallen-faerie.png"
        [/frame]
    [/if]
    [else]
        hits=yes
            [missile_frame]
                # image="projectiles/fireball-impact-[13~11].png~CROP(5,0,90,90):[50*2,100]"
                image="projectiles/shadow-blast-n-[1~3].png:[50*2,100]"
                image_diagonal="projectiles/shadow-blast-ne-[1~3].png:[50*2,100]"
            [/missile_frame]
        [frame]
            duration=50
#            halo=halo/aura-halo-1.png
            image="units/faeries/fallen-faerie.png"
            sound=wail.wav
        [/frame]
        [frame]
            duration=50
#            halo=halo/aura-halo-1.png
            image="units/faeries/fallen-faerie.png"
        [/frame]
        [frame]
            duration=50
            image="units/faeries/fallen-faerie.png"
#            halo=halo/aura-halo-2.png
        [/frame]
        [frame]
            duration=50
            image="units/faeries/fallen-faerie.png"
#            halo=halo/aura-halo-3.png
        [/frame]
        [frame]
            duration=50
            image="units/faeries/fallen-faerie.png"
#            halo=halo/aura-halo-4.png
        [/frame]
        [frame]
            duration=50
            image="units/faeries/fallen-faerie.png"
#            halo=halo/aura-halo-5.png
        [/frame]
        [frame]
            duration=50
            image="units/faeries/fallen-faerie.png"
#            halo=halo/aura-halo-6.png
        [/frame]
    [/else]
    [/attack_anim]


    [animation]
        apply_to=pre_teleport
        start_time=-1250

        halo1_start_time=-1250
        halo1_auto_vflip=false
        [halo1_frame]
            halo="halo/saurian-magic-halo-[1~7].png~O(75%):200"
            halo_mod="~CS(-256,-256,-256)~O(75%)"
            halo_y=-30
        [/halo1_frame]

        halo2_start_time=-1050
        halo2_auto_vflip=false
        [halo2_frame]
            halo="halo/saurian-magic-halo-[1~7].png~O(75%):200"
            halo_mod="~CS(-256,-256,-256)~O(75%)"
            halo_y=-10
        [/halo2_frame]

        halo3_start_time=-850
        halo3_auto_vflip=false
        [halo3_frame]
            halo="halo/saurian-magic-halo-[1~7].png~O(75%):200"
            halo_mod="~CS(-256,-256,-256)~O(75%)"
            halo_y=10
        [/halo3_frame]

        {TGA_FADE_TELEPORT_ANIM_PRE units/faeries/fallen-faerie.png}
    [/animation]
    [animation]
        apply_to=post_teleport
        start_time=-1250

        halo1_start_time=-1250
        halo1_auto_vflip=false
        [halo1_frame]
            halo="halo/saurian-magic-halo-[7~1].png~O(75%):200"
            halo_mod="~CS(-256,-256,-256)~O(75%)"
            halo_y=-30
        [/halo1_frame]

        halo2_start_time=-1050
        halo2_auto_vflip=false
        [halo2_frame]
            halo="halo/saurian-magic-halo-[7~1].png~O(75%):200"
            halo_mod="~CS(-256,-256,-256)~O(75%)"
            halo_y=-10
        [/halo2_frame]

        halo3_start_time=-850
        halo3_auto_vflip=false
        [halo3_frame]
            halo="halo/saurian-magic-halo-[7~1].png~O(75%):200"
            halo_mod="~CS(-256,-256,-256)~O(75%)"
            halo_y=10
        [/halo3_frame]

        {TGA_FADE_TELEPORT_ANIM_POST units/faeries/fallen-faerie.png}
    [/animation]

	### TEST
	### Workaround for the first teleport (we fake recruit them)
	############################################################
    [recruit_anim]
        start_time=-1250

        halo1_start_time=-1250
        halo1_auto_vflip=false
        [halo1_frame]
            halo="halo/saurian-magic-halo-[7~1].png~O(75%):200"
            halo_mod="~CS(-256,-256,-256)~O(75%)"
            halo_y=-30
        [/halo1_frame]

        halo2_start_time=-1050
        halo2_auto_vflip=false
        [halo2_frame]
            halo="halo/saurian-magic-halo-[7~1].png~O(75%):200"
            halo_mod="~CS(-256,-256,-256)~O(75%)"
            halo_y=-10
        [/halo2_frame]

        halo3_start_time=-850
        halo3_auto_vflip=false
        [halo3_frame]
            halo="halo/saurian-magic-halo-[7~1].png~O(75%):200"
            halo_mod="~CS(-256,-256,-256)~O(75%)"
            halo_y=10
        [/halo3_frame]

        {TGA_FADE_TELEPORT_ANIM_POST units/faeries/fallen-faerie.png}
    [/recruit_anim]
[/unit_type]
