#textdomain wesnoth-units
# PROOFING: DONE
#define ABILITY_FAERIE_BRIGHTNESS
    [illuminates]
        id=faebright
        value=15
        max_value=15
        cumulative=no
        name= _ "faerie glow"
        female_name= _ "female^faerie glow"
        description= _ "This unit illuminates the surrounding area, making lawful units fight better, and chaotic units fight worse."
        affect_self=yes
    [/illuminates]
#enddef
[unit_type]
    id=Great Wisp
    name= _ "Great Wisp"
    race=wisp
    gender=male,female
    image="units/wisps/great-wisp.png"
    profile="portraits/blink.png"
    small_profile="portraits/blink_sm.png"
    halo="halo/greatwisp_sparkle_01.png:150,halo/greatwisp_sparkle_02.png:150,halo/greatwisp_sparkle_03.png:150,halo/greatwisp_sparkle_04.png:150,halo/greatwisp_sparkle_05.png:150,halo/greatwisp_sparkle_06.png:150,halo/greatwisp_sparkle_07.png:150,halo/greatwisp_sparkle_08.png:150,halo/greatwisp_sparkle_09.png:150"
#    ellipse="misc/blank_72x72.png"
#    ellipse="misc/ellipse.png"
    # {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=30
#    movement_type=spiritflight
    movement_type=undeadspirit
    movement=6
    zoc=no
    experience=110
    level=2
    alignment=neutral
    advances_to=Radiant Wisp
    cost=40
    usage=scout
    die_sound=wail-long.wav
    description=_ "Great wisps are creatures of the purest spiritual essence of nature. They are extremely rare, and are usually found in only the remotest of locales. While they can be summoned by powerful magicians, the only other time they will be found outside of their haunts is when they choose to serve as companion to a being of pure heart and intention. As far as is known, this has happened only a handful of times, and in all cases, the fortunate recipient has been an elf. It is said that those who are so chosen are destined for greatness. While this has often proven to be true, it is also known that those who are accepted as wisp-friends often end up sacrificing themselves in the pursuit of their noble ideals, and thus, die before their time.
    
    Great wisps are extremely fast, and resistant to most types of attack. In addition, they regenerate rapidly. Utterly devoted to their companions, a great-wisp will disappear immediately if that person is killed."+{SPECIAL_NOTES}+{SPECIAL_NOTES_ARCANE}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_SKIRMISHER}+{SPECIAL_NOTES_UNPETRIFIABLE}+{SPECIAL_NOTES_NONCORPOREAL}
    {DEFENSE_ANIM "units/wisps/great-wisp.png" "units/wisps/great-wisp.png" wail.wav }
    [abilities]
  			{ABILITY_REGENERATES_VALUE 6}
  			{ABILITY_FAERIE_BRIGHTNESS}
  			{ABILITY_SKIRMISHER}
    [/abilities]
        [resistance]
            blade=60
            pierce=60
            impact=60
            fire=75
            cold=75
            arcane=120
        [/resistance]
    [attack]
        name=wisp strike
        description=_"wisp strike"
        icon=attacks/wisp-strike.png
        type=arcane
        range=melee
        damage=4
        number=4
        range=melee
    [/attack]
    [attack]
        name=wisp blast
        description= _"wisp blast"
        type=arcane
        icon=attacks/wisp-blast.png
        damage=5
        number=5
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [recruit_anim]
        [frame]
            begin=-100
            end=100
            image="units/wisps/great-wisp.png"
            alpha="0~1:300"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/wisps/great-wisp.png"
    	    sound=chimes1.ogg
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/wisps/great-wisp.png"
        [/frame]
    [/recruit_anim]
    
    # WISP BLAST ATTACK
    [attack_anim]
        [filter_attack]
            name=wisp blast
        [/filter_attack]
        hits=yes
        {MISSILE_FRAME_FAERIE_FIRE}

        [frame]
            begin=-450
            end=-375
            image="units/wisps/great-wisp.png"
            sound=magic-faeriefire.ogg

            halo=halo/elven/faerie-fire-halo1.png
        [/frame]
        [frame]
            begin=-375
            end=-300
            image="units/wisps/great-wisp.png"
            halo=halo/elven/faerie-fire-halo2.png
        [/frame]
        [frame]
            begin=-300
            end=-225
            image="units/wisps/great-wisp.png"
            halo=halo/elven/faerie-fire-halo3.png
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/wisps/great-wisp.png"
            halo=halo/elven/faerie-fire-halo4.png
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/wisps/great-wisp.png"
            halo=halo/elven/faerie-fire-halo5.png
        [/frame]
        [frame]
            begin=-75
            end=0
            image="units/wisps/great-wisp.png"
            halo=halo/elven/faerie-fire-halo6.png
        [/frame]
        [frame]
            begin=-0
            end=75
            image="units/wisps/great-wisp.png"
            halo=halo/elven/faerie-fire-halo7.png
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=wisp blast
        [/filter_attack]
        hits=no
        {MISSILE_FRAME_FAERIE_FIRE}

        [frame]
            begin=-450
            end=-375
            image="units/wisps/great-wisp.png"
            sound=magic-faeriefire-miss.ogg
            halo=halo/elven/faerie-fire-halo1.png
        [/frame]
        [frame]
            begin=-375
            end=-300
            image="units/wisps/great-wisp.png"
            halo=halo/elven/faerie-fire-halo2.png
        [/frame]
        [frame]
            begin=-300
            end=-225
            image="units/wisps/great-wisp.png"
            halo=halo/elven/faerie-fire-halo3.png
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/wisps/great-wisp.png"
            halo=halo/elven/faerie-fire-halo4.png
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/wisps/great-wisp.png"
            halo=halo/elven/faerie-fire-halo5.png
        [/frame]
        [frame]
            begin=-75
            end=0
            image="units/wisps/great-wisp.png"
            halo=halo/elven/faerie-fire-halo6.png
        [/frame]
        [frame]
            begin=-0
            end=75
            image="units/wisps/great-wisp.png"
            halo=halo/elven/faerie-fire-halo7.png
        [/frame]
    [/attack_anim]
    
    # WISP STRIKE
    [attack_anim]
        [filter_attack]
            name=wisp strike
        [/filter_attack]
        hits=yes
        [frame]
            begin=-200
            end=-150
            image="units/wisps/great-wisp.png"
        [/frame]
        [frame]
            begin=-150
            end=0
            sound=magic-faeriefire.ogg
            image="units/wisps/great-wisp.png"
            halo=halo/wisp_zap_02.png
        [/frame]
        [frame]
            begin=0
            end=75
            image="units/wisps/great-wisp.png"
        [/frame]
    [/attack_anim]
    
    [attack_anim]
        [filter_attack]
            name=wisp strike
        [/filter_attack]
        hits=no
        [frame]
            begin=-200
            end=-150
            image="units/wisps/great-wisp.png"
        [/frame]
        [frame]
            begin=-150
            end=0
            sound=magic-faeriefire-miss.ogg
            image="units/wisps/great-wisp.png"
            halo=halo/wisp_zap_01.png
        [/frame]
        [frame]
            begin=0
            end=75
            image="units/wisps/great-wisp.png"
        [/frame]
    [/attack_anim]
    
    # DEATH ANIM
    [death]
        [frame]
            begin=0
            end=250
            alpha="1~0.5:250"
            image="units/wisps/great-wisp.png"
            sound=wail-long.wav
        [/frame]
        [frame]
            begin=250
            end=500
            alpha="0.5~1:250"
            image="units/wisps/great-wisp.png"
        [/frame]
        [frame]
            begin=500
            end=750
            image="units/wisps/great-wisp.png"
        [/frame]
        [frame]
            begin=750
            end=1000
            alpha="1~0:250"
            image="units/wisps/great-wisp.png"
        [/frame]
    [/death]
    
    # LEVEL-UP EVENT
    [event]
    	name=advance
    	first_time_only=no
    	[filter]
    		type=Great Wisp
    	[/filter]
        [sound]
          name=chimes1.ogg
        [/sound]
    [/event]
[/unit_type]
