#textdomain wesnoth-Invasion_from_the_Unknown

[unit_type]
    id=Fallen Faerie Avatar
    name= _ "female^Fallen Faerie Avatar"
    race=faerie
    gender=female
    image="units/faeries/ivyel2.png"
    #profile="portraits/ivyel2.png"
    halo="halo/elynia-stationary-[1~6].png:150"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=72
    movement_type=woodlandfloat
    {FAERIE_MOVETYPE}
    movement=6
    experience=200
    level=4
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=70
    usage=healer
#    hide_help=true
    description= _ "."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_SLOW}+{SPECIAL_NOTES_ARCANE}+{SPECIAL_NOTES_REGENERATES}+{SPECIAL_NOTES_LEADERSHIP}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    [resistance]
        arcane=80
    [/resistance]
    [abilities]
        {ABILITY_STRENGTH_OF_DARKNESS}
        {ABILITY_LEADERSHIP_LEVEL_4}
    [/abilities]
    [attack]
        name=faerie touch
        description= _ "faerie touch"
        icon=attacks/touch-faerie-corrupted.png
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
        damage=6
        number=3
        range=melee
    [/attack]
    [attack]
        name=gossamer
        description=_"gossamer"
        type=impact
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
        damage=9
        number=3
        range=ranged
        icon="attacks/web.png~CS(0,-85,-50)"
    [/attack]
    [attack]
        name=ethereal storm
        description="corrupted ethereal storm"
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
        damage=12
        number=4
        range=ranged
        icon=attacks/faerie-fire.png~CS(0,-255,-150)
    [/attack]

    {DEFENSE_ANIM_RANGE "units/faeries/ivyel2.png" "units/faeries/ivyel2.png" {SOUND_LIST:ELF_FEMALE_HIT} melee }
    {DEFENSE_ANIM_ELVEN_RANGE "units/faeries/ivyel2.png" "units/faeries/ivyel2.png" {SOUND_LIST:ELF_FEMALE_HIT} ranged }

    [attack_anim]
        [filter_attack]
            name=faerie touch
        [/filter_attack]

        start_time=-260
        offset=0.0~0.1:10,0.1~0.5:250,0.5~0.6:100,0.6~0.6:150,0.6~0.15:200,0.15~0.0:150
        [frame]
            duration=280
            image="units/faeries/ivyel2.png"
        [/frame]
        [frame]
            image="units/faeries/ivyel2.png"
            sound=wail.wav
            halo="halo/elven/druid-healing[1~8].png:75"
            halo_mod="~CS(0,-255,-150)"
            halo_x,halo_y=10,14
        [/frame]

        {SOUND:HIT_AND_MISS fist.ogg {SOUND_LIST:MISS} -50}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=gossamer
        [/filter_attack]

        missile_start_time=-200
        [missile_frame]
            duration=250
            image="projectiles/web.png~CS(0,-85,-50)"
            image_diagonal="projectiles/web.png~CS(0,-85,-50)"
        [/missile_frame]

        start_time=-450
        [frame]
            image="units/faeries/ivyel2.png"
            halo="halo/elven/faerie-fire-halo[1~7].png:75"
            halo_mod="~CS(0,-255,-150)"
            halo_x,halo_y=-8,6
        [/frame]

        attack_sound_start_time=-75
        [attack_sound_frame]
            sound=entangle.wav
        [/attack_sound_frame]
        {SOUND:SLOW}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=ethereal storm
        [/filter_attack]

        {MISSILE_FRAME_FAERIE_FIRE}
        missile_halo_mod="~CS(0,-255,-150)"
        missile_image_mod="~CS(0,-255,-150)"

        start_time=-450
        [frame]
            image="units/faeries/ivyel2.png"
            halo="halo/elven/faerie-fire-halo[1~7].png:75"
            halo_mod="~R(0)~G(-255)~B(-150)"
            halo_x,halo_y=-8,6
        [/frame]

        {SOUND:HIT_AND_MISS magic-faeriefire.ogg magic-faeriefire-miss.ogg -450}
    [/attack_anim]
[/unit_type]

# kate: indent-mode normal; encoding utf-8; space-indent on;
