#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Drakes
    name= _"Drakes"
    image="units/drakes/lord.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=Drake Lord,Armageddon Drake,Lord Carapace,Drake Swordmaster,Drake Ranger,Drake Enforcer,Drake Warden,Drake Kensai,Smashing Carapace,Heroic Carapace,Monstrous Carapace,Saurian Champion,IQ Saurian Blind Seer,Saurian Witchdoctor
    random_leader=Drake Lord,Armageddon Drake,Drake Kensai,Lord Carapace
    recruit=TGA Drake Flameheart,TGA Inferno Drake,Drake Swordmaster,Drake Ranger,Drake Enforcer,Drake Warden,TGA Drake Blademaster,Smashing Carapace,Heroic Carapace,Monstrous Carapace,Saurian Champion,Saurian Witchdoctor,IQ Saurian Blind Seer,TGA Drake Burner,TGA Fire Drake,Drake Clasher,Drake Adventurer,TGA Drake Glider,Sword Drake,TGA Drake Fighter,TGA Saurian Skirmisher,Saurian Devotee,TGA Saurian Augur,TGA Drake Warrior,TGA Drake Flare,Drake Thrasher,Sky Drake,Drake Arbiter,Guardian Carapace,Javelin Carapace,Foraging Carapace,Protective Carapace,Hunting Carapace,Infiltrative Carapace,Shadow Salamander,Black Salamander,Green Salamander,Blue Salamander,Salamander,Saurian Ambusher,Saurian Flanker,Saurian Guard,TGA Saurian Soothsayer,TGA Saurian Oracle,Saurian Visionnaire,Saurian Husk,Saurian Lurker,Saurian Terror,Toad,Battle Toad,Dreadnought,Ranged Toad,Double Ranged Toad,Auguric Toad,Oracle Toad,Drake Apprentice,Drake Mage,Drake Archmage
    terrain_liked=Hh, Ha, Ds, Ss
    [ai]
        recruitment_pattern=fighter,fighter,archer,healer,scout,scout
    [/ai]
[/multiplayer_side]
