#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Loyalists
    name= _"Loyalists"
    image="units/human-magi/gold_protector.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=Gold Protector,Grand Marshal,TGA Great Mage,High Templar,Titanium Decimator,Scythemaster,Royal Guard,Custodian,Master Bowman,Mage of Light,Prophet of Light
    random_leader=Gold Protector,Grand Marshal,TGA Great Mage,High Templar,Titanium Decimator,Scythemaster
    recruit=Heavy Protector,General,Arch Mage,Royal Guard,Custodian,TGA Halberdier,TGA Iron Mauler,Master Bowman,Mage of Light,Prophet of Light,Grand Knight,Cavalier,Paladin,TGA Cavalryman,TGA Dragoon,Horse Archer,Heavy Cavalry,Linebreaker,Cataphract,Horseman,Lancer,Knight,Spearman,TGA Swordsman,TGA Pikeman,Javelineer,TGA Fencer,TGA Duelist,TGA Master at Arms,TGA Heavy Infantryman,TGA Shock Trooper,Bowman,Longbowman,Healer Mage,Mage,Red Mage,White Mage,Cleric,Merman Fighter,Merman Warrior,Lieutenant,Peasant,Rancher,Infantryman,Militiaman,Fisherman
    terrain_liked=Gg, Ww, Wo
    [ai]
        recruitment_pattern=fighter,fighter,fighter,archer,mixed fighter,scout
    [/ai]
[/multiplayer_side]
