#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Sylvan
    name= _"Sylvan"
    image="units/faeries/high-dryad.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=Elvish Overlord,TGA Elvish Sylph,Nature Faerie,Faerie Avatar,Faerie High Dryad,Elvish Juggernaut,Elvish Assassin,Elvish Moonranger,Elvish Marshal,Elvish Halberdier,Elvish Vanquisher,Elvish Glavier,Elvish Prowler,Elvish High Priest,Elvish Wisp,Ancient Wose
    random_leader=Elvish Overlord,Elvish Sylph,Nature Faerie,Faerie Avatar,Faerie High Dryad,Elvish Assassin,Elvish Moonranger,Elvish Juggernaut
    recruit=TGA Elvish High Lord,Elvish Marshal,TGA Elvish Champion,Elvish Vanquisher,Elvish Glavier,Elvish Halberdier,Elvish Pikeman,Elvish Prowler,TGA Elvish Avenger,TGA Elvish Sharpshooter,TGA Elvish Shyde,TGA Elvish Enchantress,Elvish Wisp,Ancient Wose,Elvish Captain,TGA Elvish Hero,TGA Elvish Lord,Elvish Trapper,TGA Elvish Ranger,TGA Elvish Marksman,TGA Elvish Druid,TGA Elvish Sorceress,Elvish Treewalker,Elder Wose,Wose Shaman,Elvish Acolyte,TGA Elvish Fighter,Elvish Noble,Elvish Hunter,TGA Elvish Archer,TGA Elvish Shaman,Elvish Adept,Elvish Scout,Elvish Rider,Elvish Bowrider,Elvish Outrider,Elvish Horsebow,Elvish Civilian,TGA Wose,Wose Sapling,Sprite,Merman Hunter,Merman Spearman,Merman Netcaster,Mermaid Initiate,Mermaid Priestess,Mermaid Enchantress,Faerie Sprite,Fire Faerie,Faerie Dryad,Forest Spirit,Dusk Faerie,Night Nymph,Eventide Dancer,Faerie Domain Guard,Faerie Domain Protector,Elvish Zealot,Elvish High Priest,Dracoatl,Will-o-Wisp,Great Wisp,Radiant Wisp
    terrain_liked=Ff, Fa, Ss, Ww
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,healer,scout
    [/ai]
[/multiplayer_side]
