#textdomain wesnoth-units
[unit_type]
    id=Abomination
    name= _ "Abomination"
    race=undead
    {TRAIT_FEARLESS_MUSTHAVE}
    image="units/undead/abomination/abomination.png"
    profile="portraits/undead/abomination.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=73
    movement_type=gruefoot
    movement=5
    experience=200
    level=4
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=56
    usage=fighter
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Ghast
        experience=230
    [/advancefrom]
#endif
    description= _ "Horror tales about the terrifying undead are usually exaggerated. They describe ghasts as the most nightmarish beings that ever existed.But those who say that are just lucky that they not seen the true horror, called Abomination by those who were unlucky enough to encounter it,this being is a mutated kind of ghast that makes even the most courageous monster hunters run without turning back. It has literally a dozen mouths, most of them belonging to ghoul homunculi attached to its body with tentacles. "+{SPECIAL_NOTES}+{SPECIAL_NOTES_POISON}
    die_sound=ghoul-hit.wav
    [abilities]
        {ABILITY_FEEDING}
        {ABILITY_REGENERATES}
    [/abilities]
    [attack]
        name=bite
        description=_ "bite"
        icon=attacks/fangs.png
        type=blade
        range=melee
        damage=12
        number=4
        [specials]
            {WEAPON_SPECIAL_POISON}
            {WEAPON_SPECIAL_DREAD}
        [/specials]
    [/attack]
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/undead/abomination.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/undead/abomination.png"
    [/portrait]
#define ABOMINATION_DIRECTIONAL_ANIMS BASE COUNT AFFIX LENGTH
        [if]
            direction=s
            [frame]
                image="{BASE}-s{AFFIX}[1~{COUNT}].png:{LENGTH}"
            [/frame]
        [/if]
        [else]
            direction=se
            [frame]
                image="{BASE}-se{AFFIX}[1~{COUNT}].png:{LENGTH}"
            [/frame]
        [/else]
        [else]
            direction=sw
            [frame]
                image="{BASE}-se{AFFIX}[1~{COUNT}].png:{LENGTH}"
            [/frame]
        [/else]
        [else]
            direction=nw
            [frame]
                image="{BASE}-nw{AFFIX}[1~{COUNT}].png~FL(horiz):{LENGTH}"
            [/frame]
        [/else]
        [else]
            direction=ne
            [frame]
                image="{BASE}-nw{AFFIX}[1~{COUNT}].png~FL(horiz):{LENGTH}"
            [/frame]
        [/else]
        [else]
            direction=n
            [frame]
                image="{BASE}-n{AFFIX}[1~{COUNT}].png:{LENGTH}"
            [/frame]
        [/else]
#enddef
    [defend]
        start_time=-250
	{ABOMINATION_DIRECTIONAL_ANIMS units/undead/abomination/abomination-defend 5 - 100}
        [if]
            hits=hit
            hit_sound_start_time=-25
            [hit_sound_frame]
                sound=ghoul-hit.wav
            [/hit_sound_frame]
        [/if]
    [/defend]
#define ABOMINATION_ATTACK_ANIM VARIATION
    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
        start_time=-250
	{ABOMINATION_DIRECTIONAL_ANIMS "units/undead/abomination/abomination-attack" 5 -{VARIATION}- 100}
        {SOUND:HIT_AND_MISS bite.ogg {SOUND_LIST:MISS} -350}
        {SOUND:POISON}
    [/attack_anim]
#enddef

    {ABOMINATION_ATTACK_ANIM 1}
    {ABOMINATION_ATTACK_ANIM 2}
    {ABOMINATION_ATTACK_ANIM 3}

    [standing_anim]
        start_time=0
        [frame]
            image=units/undead/abomination/abomination-standing-[1~6].png:200
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        {ABOMINATION_DIRECTIONAL_ANIMS units/undead/abomination/abomination-run 8 - 100}
    [/movement_anim]

#undef ABOMINATION_DIRECTIONAL_ANIMS
#undef ABOMINATION_ATTACK_ANIM
[/unit_type]