#textdomain wesnoth-units
#ifdef MULTIPLAYER
[unit_type]
    id=TGA Skeleton
    [base_unit]
        id=Skeleton
    [/base_unit]
    advances_to=TGA Revenant,TGA Deathblade,Death Baron
[/unit_type]
[unit_type]
    id=TGA Revenant
    [base_unit]
        id=Revenant
    [/base_unit]
    advances_to=Draug,Forgotten Sentinel
[/unit_type]
[unit_type]
    id=TGA Draug
    [base_unit]
        id=Draug
    [/base_unit]
    advances_to=TGA Juggernaut
    experience=200
[/unit_type]
[unit_type]
    id=TGA Deathblade
    [base_unit]
        id=Deathblade
    [/base_unit]
    advances_to=Slitherblade
    experience=100
[/unit_type]
[unit_type]
    id=TGA Death Knight
    [base_unit]
        id=Death Knight
    [/base_unit]
    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_3}
        {ABILITY_SUBMERGE}
    [/abilities]
    hitpoints=57
    advances_to=Death Marshal
    experience=200
[/unit_type]
[unit_type]
    id=TGA Ghoul
    [base_unit]
        id=Ghoul
    [/base_unit]
    advances_to=TGA Necrophage
[/unit_type]
[unit_type]
    id=TGA Necrophage
    [base_unit]
        id=Necrophage
    [/base_unit]
    advances_to=TGA Ghast
[/unit_type]
[unit_type]
    id=TGA Ghast
    [base_unit]
        id=Ghast
    [/base_unit]
    advances_to=Abomination
    experience=230
[/unit_type]
[unit_type]
    id=TGA Dark Adept
    [base_unit]
        id=Dark Adept
    [/base_unit]
    advances_to=TGA Dark Sorcerer,Apprentice Lich,Basilisk Cultist
[/unit_type]
[unit_type]
    id=TGA Dark Sorcerer
    [base_unit]
        id=Dark Sorcerer
    [/base_unit]
    advances_to=TGA Lich,TGA Necromancer
[/unit_type]
[unit_type]
    id=TGA Necromancer
    [base_unit]
        id=Necromancer
    [/base_unit]
    advances_to=Arch Necromancer
    experience=220
[/unit_type]
[unit_type]
    id=TGA Lich
    [base_unit]
        id=Lich
    [/base_unit]
    advances_to=TGA Ancient Lich,Ghost Lich
    experience=220
[/unit_type]
[unit_type]
    id=TGA Ancient Lich
    [base_unit]
        id=Ancient Lich
    [/base_unit]
    advances_to=Lich Lord,Colossus Lich
    experience=450
    [attack]
        name=touch
        description=_"touch"
        icon=attacks/touch-undead.png
        type=arcane
        range=melee
        damage=8
        number=4
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=chill tempest
        description=_"chill tempest"
        type=cold
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=11
        number=5
        icon=attacks/iceball.png
    [/attack]
    [attack]
        name=shadow wave
        description=_"shadow wave"
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=8
        number=5
        icon=attacks/dark-missile.png
    [/attack]
[/unit_type]
[unit_type]
    id=TGA Ghost
    [base_unit]
        id=Ghost
    [/base_unit]
    advances_to=TGA Wraith,TGA Shadow,Faceless Knight
    cost=19
[/unit_type]
[unit_type]
    id=TGA Wraith
    [base_unit]
        id=Wraith
    [/base_unit]
    advances_to=TGA Spectre
[/unit_type]
[unit_type]
    id=TGA Spectre
    [base_unit]
        id=Spectre
    [/base_unit]
    advances_to=Reaper,Apparition
    experience=280
[/unit_type]
[unit_type]
    id=TGA Shadow
    [base_unit]
        id=Shadow
    [/base_unit]
    advances_to=TGA Nightgaunt
[/unit_type]
[unit_type]
    id=TGA Nightgaunt
    [base_unit]
        id=Nightgaunt
    [/base_unit]
    advances_to=Sphere Horror
    experience=280
[/unit_type]
[unit_type]
    id=TGA Skeleton Archer
    [base_unit]
        id=Skeleton Archer
    [/base_unit]
    advances_to=TGA Bone Shooter
[/unit_type]
[unit_type]
    id=TGA Bone Shooter
    [base_unit]
        id=Bone Shooter
    [/base_unit]
    advances_to=TGA Banebow
[/unit_type]
[unit_type]
    id=TGA Banebow
    [base_unit]
        id=Banebow
    [/base_unit]
    advances_to=Soul Shooter
    experience=220
[/unit_type]
#endif
#ifndef MULTIPLAYER
[unit_type]
    id=TGA Ancient Lich
    [base_unit]
        id=Ancient Lich
    [/base_unit]
    [advancefrom]
        unit="Lich"
        experience=220
    [/advancefrom]
    advances_to=Lich Lord,Colossus Lich
    experience=450
    [attack]
        name=touch
        description=_"touch"
        icon=attacks/touch-undead.png
        type=arcane
        range=melee
        damage=8
        number=4
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=chill tempest
        description=_"chill tempest"
        type=cold
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=11
        number=5
        icon=attacks/iceball.png
    [/attack]
    [attack]
        name=shadow wave
        description=_"shadow wave"
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=8
        number=5
        icon=attacks/dark-missile.png
    [/attack]
[/unit_type]
#endif
