#textdomain wesnoth-units

[unit_type]
    id=Blood Monster
    name= _ "Blood Monster"
    race=undead
    image="units/undead/blood-monster.png"
    profile="portraits/undead/blood-hulk.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=40
    movement_type=largefoot
    movement=4
    experience=40
    level=1
    alignment=chaotic
    advances_to=Blood Hulk,Flesh Golem
    {AMLA_DEFAULT}
    cost=23
    usage=fighter
    description= _ "These monstrocities gorge themselves on the blood of their victims instead of turning them. Their appetite for blood is never sated, and with each victim they grow in strength and size. Only talented necromancer can create such monstrosities."+{SPECIAL_NOTES}+{SPECIAL_NOTES_REGENERATES}
    {DEFENSE_ANIM "units/undead/blood-monster.png" "units/undead/blood-monster.png" ghoul-hit.wav }
    die_sound=ghoul-hit.wav
    undead_variation=human
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/undead/transparent/blood-hulk.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/undead/transparent/blood-hulk.png"
    [/portrait]

    [abilities]
        {ABILITY_REGENERATES_VALUE 5}
    [/abilities]
    [attack]
        name=axe1
        description= _ "axe"
        type=blade
        range=melee
        icon=attacks/frenzy.png
        [specials]
            {WEAPON_SPECIAL_BERSERK}
        [/specials]
        damage=4
        number=4
        defense_weight=0
    [/attack]
    [attack]
        name=axe2
        description= _ "axe"
        type=blade
        icon=attacks/axe-undead.png
        range=melee
        damage=7
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
             range=melee
        [/filter_attack]
        {MELEE_FRAME_SWOOSH axe.ogg "~SCALE(105,105)"}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            range=melee_old
        [/filter_attack]
        hits=no
        [frame]
            begin=-50
            end=100
            image="units/undead/blood-monster.png"
            sound={SOUND_LIST:MISS}
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            range=melee_old
        [/filter_attack]
        hits=yes
        [frame]
            begin=-50
            end=100
            image="units/undead/blood-monster.png"
            sound=axe.ogg
        [/frame]
    [/attack_anim]

[/unit_type]
