#textdomain wesnoth-units
[unit_type]
    id=Colossus Lich
    name= _ "Colossus Lich"
    race=undead
    image="units/undead-necromancers/colossus.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=118
    movement_type=undeadfoot
    movement=6
    experience=250
    level=5
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=125
    usage=mixed fighter
    description= _ ""+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_DRAIN}+{SPECIAL_NOTES_ARCANE}+{SPECIAL_NOTES_SUBMERGE}
    die_sound=lich-lord-die.ogg
    {DEFENSE_ANIM "units/undead-necromancers/colossus.png" "units/undead-necromancers/colossus.png" {SOUND_LIST:LICH_HIT} }
    [movement_costs]
        shallow_water=3
    [/movement_costs]
    [resistance]
        blade=70
        pierce=50
        impact=120
        fire=120
        cold=40
        arcane=140
    [/resistance]
    [abilities]
#        {ABILITY_SUBMERGE}
        {ABILITY_REGENERATES_VALUE 12}
#        {ABILITY_TERROR_LEVEL_5}
    [/abilities]
    [attack]
        name=staff
        description=_"plague staff"
        icon=attacks/staff-plague.png
        type=impact
        range=melee
        damage=13
        number=3
        [specials]
            {WEAPON_SPECIAL_INFECTION}
        [/specials]
    [/attack]
    [attack]
        name=claws
        description=_"claws"
        icon=attacks/claws-undead.png
        type=blade
        range=melee
        damage=10
        number=4
        [specials]
            {WEAPON_SPECIAL_INFECTION}
        [/specials]
    [/attack]
    [attack]
        name=chill tempest
        description=_"chill tempest"
        type=cold
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=15
        number=4
        icon=attacks/iceball.png
    [/attack]
    [attack]
        name=shadow wave
        description=_"shadow wave"
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=12
        number=4
        icon=attacks/dark-missile.png
    [/attack]
    [recruiting_anim]
        [filter_second]
            race=undead
        [/filter_second]
        [frame]
            begin=-300
            end=-200
            image="units/undead-necromancers/colossus.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/undead-necromancers/colossus.png"
            sound=magic-dark-big.ogg
            halo=halo/undead/black-magic-[1~5].png:[75*4,50]
        [/frame]
        [frame]
            begin=-100
            end=0
            image="units/undead-necromancers/colossus.png"
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/undead-necromancers/colossus.png"
        [/frame]
        [frame]
            duration=1
            image="units/undead-necromancers/colossus.png"
        [/frame]
    [/recruiting_anim]
    [attack_anim]
        [filter_attack]
            name=chill tempest
        [/filter_attack]

        offset=0

        {MISSILE_FRAME_CHILL_TEMPEST 0 -15}
        [frame]
            begin=-300
            end=-200
            image="units/undead-necromancers/colossus.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-200
                end=-100
                image="units/undead-necromancers/colossus.png"
                sound=magic-dark-big-miss.ogg
                halo=halo/undead/black-magic-[1~5].png:[75*4,50]
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-200
                end=-100
                image="units/undead-necromancers/colossus.png"
                sound=magic-dark-big.ogg
                halo=halo/undead/black-magic-[1~5].png:[75*4,50]
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=0
            image="units/undead-necromancers/colossus.png"
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/undead-necromancers/colossus.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=shadow wave
        [/filter_attack]

        {MISSILE_FRAME_SHADOW_WAVE}
        [frame]
            begin=-300
            end=-200
            image="units/undead-necromancers/colossus.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-200
                end=-100
                image="units/undead-necromancers/colossus.png"
                sound=magic-dark-big-miss.ogg
                halo=halo/undead/black-magic-[1~5].png:[75*4,50]
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-200
                end=-100
                image="units/undead-necromancers/colossus.png"
                sound=magic-dark-big.ogg
                halo=halo/undead/black-magic-[1~5].png:[75*4,50]
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=0
            image="units/undead-necromancers/colossus.png"
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/undead-necromancers/colossus.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        {MELEE_FRAME_SWOOSH staff.wav ~}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        {MELEE_FRAME_SWOOSH claws-big.ogg "~SCALE(100,100)"}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        {MELEE_FRAME_SWOOSH2 claws-big.ogg "~SCALE(100,100)"}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=staff_old
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/undead-necromancers/colossus.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=100
                image="units/undead-necromancers/colossus.png"
            [/frame]
            [frame]
                begin=100
                end=90
                image="units/undead-necromancers/colossus.png"
                sound=staff.wav
            [/frame]
            [frame]
                begin=90
                end=80
                image="units/undead-necromancers/colossus.png"
            [/frame]
            [frame]
                begin=80
                end=70
                image="units/undead-necromancers/colossus.png"
            [/frame]
            [frame]
                begin=70
                end=60
                image="units/undead-necromancers/colossus.png"
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=100
                image="units/undead-necromancers/colossus.png"
            [/frame]
            [frame]
                begin=100
                end=90
                image="units/undead-necromancers/colossus.png"
                sound={SOUND_LIST:MISS}
            [/frame]
            [frame]
                begin=90
                end=80
                image="units/undead-necromancers/colossus.png"
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/undead-necromancers/colossus.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=claws_old
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/undead-necromancers/colossus.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=100
                image="units/undead-necromancers/colossus.png"
            [/frame]
            [frame]
                begin=100
                end=90
                image="units/undead-necromancers/colossus.png"
                sound=claws.ogg
            [/frame]
            [frame]
                begin=90
                end=80
                image="units/undead-necromancers/colossus.png"
            [/frame]
            [frame]
                begin=80
                end=70
                image="units/undead-necromancers/colossus.png"
            [/frame]
            [frame]
                begin=70
                end=60
                image="units/undead-necromancers/colossus.png"
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=100
                image="units/undead-necromancers/colossus.png"
            [/frame]
            [frame]
                begin=100
                end=90
                image="units/undead-necromancers/colossus.png"
                sound={SOUND_LIST:MISS}
            [/frame]
            [frame]
                begin=90
                end=80
                image="units/undead-necromancers/colossus.png"
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/undead-necromancers/colossus.png"
        [/frame]
    [/attack_anim]
    {EVENTS_INFECTION}
[/unit_type]
