#textdomain wesnoth-units
[unit_type]
    id=Dullohan
    name= _ "Dullohan"
    race=undead
    image="units/undead/phantomdullohan.png"
    #    profile="portraits/.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=44
    movement_type=undeadblackrider
    movement=8
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=38
    usage=scout
    description= _ "..."
    die_sound={SOUND_LIST:HORSE_HIT}
    #    [abilities]
    #        {ABILITY_}
    #    [/abilities]
    [defend]
        start_time=-126
        [if]
            hits=hit,kill
            offset=0.0~-0.05:126,-0.05~0.0:126
            alpha=0.8~0.5:126,0.5~0.8:126
            [frame]
                duration=1
                image="units/undead/phantomdullohan.png"
            [/frame]
            [frame]
                duration=100
                image="units/undead/phantomdullohan.png"
            [/frame]
            [frame]
                duration=150
                image="units/undead/phantomdullohan.png"
                sound={SOUND_LIST:HORSE_HIT}
            [/frame]
            [frame]
                duration=1
                image="units/undead/phantomdullohan.png"
            [/frame]
        [/if]
        [else]
            hits=miss
            offset=0.0~-0.1:126,-0.1~0.0:126
            alpha=0.8~0.25:126,0.25~0.8:126
            [frame]
                duration=1
                image="units/undead/phantomdullohan.png"
            [/frame]
            [frame]
                duration=100
                image="units/undead/phantomdullohan.png"
            [/frame]
            [frame]
                duration=150
                image="units/undead/phantomdullohan.png"
            [/frame]
            [frame]
                duration=1
                image="units/undead/phantomdullohan.png"
            [/frame]
        [/else]
    [/defend]
    [attack]
        name=rush
        description= _ "rush"
        icon=attacks/wail.png
        type=cold
        range=melee
        damage=5
        number=3
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]
    [attack]
        name=skull
        description= _ "skull"
        icon=attacks/skull.png
        type=impact
        range=ranged
        damage=5
        number=5
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=skull
        [/filter_attack]
		start_time=-800
		offset=0.0~0.0:320,0.0~-0.03:250,-0.03~0.0:200
        [if]
            direction=n,s
            hits=yes
        	    [sling_stone_frame]
        	        begin=-481
        	        end=-480
        	        image="misc/blank-hex.png"
        	    [/sling_stone_frame]
        	    [sling_stone_frame]
        	        begin=-480
        	        end=0
        	        halo="projectiles/skull.png"
        	        halo_y=10~5,5~2,2~1,1~2,2~5,5~10
	                offset=0.3~1.0
              		sound={SOUND_LIST:SKELETON_BIG_HIT}
         	   [/sling_stone_frame]
	            [sling_stone_frame]
	                begin=0
	                end=1
	                image="misc/blank-hex.png"
	            [/sling_stone_frame]
        [/if]
	        [else]
                    direction=n,s
	            hits=no
	            [sling_stone_frame]
	                begin=-481
	                end=-480
	                image="misc/blank-hex.png"
	            [/sling_stone_frame]
	            [sling_stone_frame]
	                begin=-480
	                end=320
	                halo="projectiles/skull.png"
	                halo_y=10~5,5~2,2~1,1~2,2~5,5~10,10~8,8~10,10~9,9~10
	       	         offset=0.3~1.5
#              		 sound={SOUND_LIST:SKELETON_HIT}
        	    [/sling_stone_frame]
        	    [sling_stone_frame]
        	        begin=320
	                end=321
	                image="misc/blank-hex.png"
	            [/sling_stone_frame]
	        [/else]
        [else]
            direction=ne,se,nw,sw
            hits=yes
        	    [sling_stone_frame]
        	        begin=-481
        	        end=-480
        	        image="misc/blank-hex.png"
        	    [/sling_stone_frame]
        	    [sling_stone_frame]
        	        begin=-480
        	        end=0
        	        halo="projectiles/skull-ne.png"
        	        halo_y=10~5,5~2,2~1,1~2,2~5,5~10
	                offset=0.3~1.0
              		sound={SOUND_LIST:SKELETON_BIG_HIT}
         	   [/sling_stone_frame]
	            [sling_stone_frame]
	                begin=0
	                end=1
	                image="misc/blank-hex.png"
	            [/sling_stone_frame]
        [/else]
	        [else]
                    direction=ne,se,nw,sw
	            hits=no
	            [sling_stone_frame]
	                begin=-481
	                end=-480
	                image="misc/blank-hex.png"
	            [/sling_stone_frame]
	            [sling_stone_frame]
	                begin=-480
	                end=320
	                halo="projectiles/skull-ne.png"
	                halo_y=10~5,5~2,2~1,1~2,2~5,5~10,10~8,8~10,10~9,9~10
	       	         offset=0.3~1.5
        	    [/sling_stone_frame]
        	    [sling_stone_frame]
        	        begin=320
	                end=321
	                image="misc/blank-hex.png"
	            [/sling_stone_frame]
	        [/else]
        [frame]
            begin=-150
            end=50
            image="units/undead/phantomdullohan.png"
	    sound={SOUND_LIST:THROW}
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        start_time=-500
        offset=0.0~1.0:425,0.0:225
        alpha=0.8~0.0:425,0.0~0.8:225

        [frame]
            duration=25
            image="units/undead/phantomdullohan.png"
        [/frame]
        [frame]
            duration=175
            image="units/undead/phantomdullohan.png"
        [/frame]
        [frame]
            duration=175
            image="units/undead/phantomdullohan.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/undead/phantomdullohan.png"
                sound=horse-canter.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/undead/phantomdullohan.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=75
            image="units/undead/phantomdullohan.png"
        [/frame]
        [frame]
            duration=75
            image="units/undead/phantomdullohan.png"
        [/frame]
        [frame]
            duration=25
            image="units/undead/phantomdullohan.png"
        [/frame]
    [/attack_anim]
    [standing_anim]
        start_time=0
        alpha=0.8~0.4:1400,0.4~0.6:600,0.6~0.4:600,0.4~0.8:1400
        blend_color=0,30,50
        blend_ratio=0.0~0.8:1400,0.8~0.3:600,0.3~0.5:600,0.5~0.0:1400
        [frame]
            duration=250
            image="units/undead/phantomdullohan.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/phantomdullohan-lo.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/phantomdullohan.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/phantomdullohan-hi.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/phantomdullohan.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/phantomdullohan-lo.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/phantomdullohan.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/phantomdullohan-hi.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/phantomdullohan.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/phantomdullohan-lo.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/phantomdullohan.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/phantomdullohan-hi.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/phantomdullohan.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/phantomdullohan-lo.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/phantomdullohan.png"
        [/frame]
        [frame]
            duration=250
            image="units/undead/phantomdullohan-hi.png"
        [/frame]
    [/standing_anim]
[/unit_type]
