#textdomain wesnoth-units
[unit_type]
    id=Eternal Lich
    name= _ "Eternal Lich"
    race=undead
    image="units/undead-necromancers/eternal-lich.png~O(75%)"
    profile="portraits/lich-lord.png~GS()~O(50%)"
#    halo=halo/darkens-aura.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=60
    movement_type=undeadspirit
    movement=7
    experience=250
    level=5
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=120
    usage=mixed fighter
    description= _ ""+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_DRAIN}+{SPECIAL_NOTES_ARCANE}+{SPECIAL_NOTES_SUBMERGE}
    die_sound=lich-lord-die.ogg
    {DEFENSE_ANIM "units/undead-necromancers/eternal-lich-defend.png~O(85%)" "units/undead-necromancers/eternal-lich.png~O(80%)" {SOUND_LIST:LICH_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/transparent/lich-lord.png~GS()~O(50%)"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/transparent/lich-lord.png~GS()~O(50%)"
    [/portrait]
    [abilities]
        {ABILITY_STRENGTH_OF_DARKNESS}
        {ABILITY_IMMORTAL 4 etlich}
    [/abilities]
    [attack]
        name=touch
        description=_"touch"
        icon=attacks/touch-undead.png
        type=arcane
        range=melee
        damage=15
        number=3
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_PLAGUE_TYPE Spook}
        [/specials]
    [/attack]
    [attack]
        name=chill tempest
        description=_"chill tempest"
        type=cold
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=15
        number=4
        icon=attacks/iceball.png
    [/attack]
    [attack]
        name=shadow wave
        description=_"shadow wave"
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=12
        number=4
        icon=attacks/dark-missile.png
    [/attack]
    [recruiting_anim]
        [filter_second]
            race=undead
        [/filter_second]
        [frame]
            begin=-300
            end=-200
            image="units/undead-necromancers/eternal-lich-magic-1.png~O(80%)"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/undead-necromancers/eternal-lich-magic-2.png~O(85%)"
            sound=magic-dark-big.ogg
            halo=halo/undead/black-magic-[1~5].png:[75*4,50]
        [/frame]
        [frame]
            begin=-100
            end=0
            image="units/undead-necromancers/eternal-lich-magic-3.png~O(90%)"
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/undead-necromancers/eternal-lich-magic-1.png~O(85%)"
        [/frame]
        [frame]
            duration=1
            image="units/undead-necromancers/eternal-lich.png~O(80%)"
        [/frame]
    [/recruiting_anim]
    [attack_anim]
        [filter_attack]
            name=chill tempest
        [/filter_attack]

        offset=0

        {MISSILE_FRAME_CHILL_TEMPEST 0 -15}
        [frame]
            begin=-300
            end=-200
            image="units/undead-necromancers/eternal-lich-magic-[1,2].png~O(80%)"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-200
                end=-100
                image="units/undead-necromancers/eternal-lich-magic-3.png~O(90%)"
                sound=magic-dark-big-miss.ogg
                halo=halo/undead/black-magic-[1~5].png:[75*4,50]
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-200
                end=-100
                image="units/undead-necromancers/eternal-lich-magic-3.png"
                sound=magic-dark-big.ogg
                halo=halo/undead/black-magic-[1~5].png:[75*4,50]
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=0
            image="units/undead-necromancers/eternal-lich-magic-2.png~O(90%)"
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/undead-necromancers/eternal-lich-magic-1.png~O(85%)"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=shadow wave
        [/filter_attack]

        {MISSILE_FRAME_SHADOW_WAVE}
        [frame]
            begin=-300
            end=-200
            image="units/undead-necromancers/eternal-lich-magic-[1,2].png~O(80%)"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-200
                end=-100
                image="units/undead-necromancers/eternal-lich-magic-3.png~O(90%)"
                sound=magic-dark-big-miss.ogg
                halo=halo/undead/black-magic-[1~5].png:[75*4,50]
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-200
                end=-100
                image="units/undead-necromancers/eternal-lich-magic-3.png"
                sound=magic-dark-big.ogg
                halo=halo/undead/black-magic-[1~5].png:[75*4,50]
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=0
            image="units/undead-necromancers/eternal-lich-magic-2.png~O(85%)"
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/undead-necromancers/eternal-lich-magic-1.png~O(80%)"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/undead-necromancers/eternal-lich.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=100
                image="units/undead-necromancers/eternal-lich-melee-1.png"
            [/frame]
            [frame]
                begin=100
                end=90
                image="units/undead-necromancers/eternal-lich-melee-2.png"
                sound=wail-sml.wav
            [/frame]
            [frame]
                begin=90
                end=80
                image="units/undead-necromancers/eternal-lich-melee-2.png"
            [/frame]
            [frame]
                begin=80
                end=70
                image="units/undead-necromancers/eternal-lich-melee-2.png"
            [/frame]
            [frame]
                begin=70
                end=60
                image="units/undead-necromancers/eternal-lich-melee-1.png"
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=100
                image="units/undead-necromancers/eternal-lich-melee-2.png"
            [/frame]
            [frame]
                begin=100
                end=90
                image="units/undead-necromancers/eternal-lich-melee-2.png"
                sound=wail-sml.wav
            [/frame]
            [frame]
                begin=90
                end=80
                image="units/undead-necromancers/eternal-lich-melee-1.png"
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/undead-necromancers/eternal-lich.png"
        [/frame]
    [/attack_anim]
    [standing_anim]
        start_time=0
        alpha=0.7~0.3:1400,0.3~0.6:600,0.6~0.3:600,0.3~0.7:1400
        [frame]
            image="units/undead-necromancers/eternal-lich.png:250"
        [/frame]
    [/standing_anim]
[/unit_type]
