#textdomain wesnoth-units
[unit_type]
    id=Forgotten Sentinel
    name= _ "Forgotten Sentinel"
    race=undead
    image="units/undead-skeletal/ironguard.png"
#    profile="portraits/undead/draug.png"
    profile="portraits/undead/death-knight.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=70
    movement_type=undeadfoot
    movement=4
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
    	unit=Revenant
    [/advancefrom] 
#endif
    {AMLA_DEFAULT}
    cost=50
    usage=fighter
    description= _ "."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SUBMERGE}
    die_sound=skeleton-big-die.ogg
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/undead/transparent/death-knight.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/undead/transparent/death-knight.png"
    [/portrait]
    [abilities]
        {ABILITY_SUBMERGE}
    [/abilities]
    [resistance]
        blade=50
        pierce=40
	cold=50
	fire=130
        impact=100
    [/resistance]
    [attack]
        name=axe
        description=_"axe"
        icon=attacks/battleaxe-undead.png
        type=blade
        range=melee
        damage=13
        number=3
    [/attack]
    [attack]
        name=shield
        description=_"shield bash"
        icon="icons/shield_polished.png"
        type=impact
        range=melee
        damage=12
        number=2
        [specials]
        	{WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    {DEFENSE_ANIM "units/undead-skeletal/ironguard.png" "units/undead-skeletal/ironguard.png" {SOUND_LIST:SKELETON_BIG_HIT} }
    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        {MELEE_FRAME_SWOOSH axe.ogg ~}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=shield
        [/filter_attack]
        start_time=-260
        [frame]
            image="units/undead-skeletal/ironguard.png:460"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=axe_old
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/undead-skeletal/ironguard.png"
        [/frame]
        [frame]
            begin=-150
            end=-50
            image="units/undead-skeletal/ironguard.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-50
                end=100
                image="units/undead-skeletal/ironguard.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-50
                end=100
                image="units/undead-skeletal/ironguard.png"
                sound=axe.ogg
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/undead-skeletal/ironguard.png"
        [/frame]
    [/attack_anim]
[/unit_type]
