#textdomain wesnoth-units

[unit_type]
    id=Hellstorm Rider
    name= _ "Hellstorm Rider"
    race=undead
    image="units/undead-skeletal/hellstorm-rider.png"
    profile="portraits/abyssrider.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=75
    movement_type=undeadmountedfoot
    movement=9
    experience=200
    level=4
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=80
    usage=scout
    description= _ "It's hard to tell whether these undead horsemen are skeletons or ghosts, but they have some traits of both"+{SPECIAL_NOTES}+{SPECIAL_NOTES_SUBMERGE}
    die_sound={SOUND_LIST:SKELETON_DIE}
    {DEFENSE_ANIM "units/undead-skeletal/hellstorm-rider.png" "units/undead-skeletal/hellstorm-rider.png" {SOUND_LIST:SKELETON_HIT} }
            [portrait]
            size=400
            side="left"
            mirror="false"
            image="portraits/abyssrider.png"
        [/portrait]
        [portrait]
            size=400
            side="right"
            mirror="true"
            image="portraits/abyssrider.png"
        [/portrait]
    [abilities]
        {ABILITY_SUBMERGE}
    [/abilities]
    [attack]
        name=baneblade
        description=_"baneblade"
        type=arcane
        range=melee
        damage=11
        number=5
        icon=attacks/baneblade.png
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=wail
        description=_"wail"
        type=cold
        range=ranged
        damage=12
        number=2
    [/attack]
    [attack]
        name=hellbent tide
        description= _ "hellbent tide"
        icon=attacks/hellbent-tide.png
        type=impact
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=5
        number=6
    [/attack]
    [idle_anim]
        start_time=0

        {STORMKIND_ATTACK_HALO}

        halo1_halo_mod="~CS(-64,-128,0)~O(15%)"
        halo2_halo_mod="~CS(0,-32,0)~O(25%)"
        halo3_halo_mod="~CS(-64,-128,0)~O(15%)"
    [/idle_anim]
    [attack_anim]
        [filter_attack]
            name=hellbent tide
        [/filter_attack]

        start_time=-600

        {STORMKIND_ATTACK_HALO}

        halo1_halo_mod="~CS(-64,-128,0)"
        halo2_halo_mod="~CS(-32,-64,-32)"
        halo3_halo_mod="~CS(-64,-128,0)"
        #halo3_halo_mod="~CS(0,-128,-128)"

        missile_start_time=-400
        missile_halo="halo/elven/druid-healing[1~5].png:70,halo/elven/druid-healing6.png~O(0.75):70,halo/elven/druid-healing7.png~O(0.5):70,halo/elven/druid-healing8.png~O(0.25):70"
        missile_halo_mod="~CS(64,0,64)"
        missile_halo_x=0
        missile_halo_y=-10
        missile_offset="0.0~1.25"
        missile_alpha="1.0:480,1.0~0.0:16"

        [missile_frame]
            image="projectiles/icemissile-n-[1~7].png:80"
            image_diagonal="projectiles/icemissile-ne-[1~7].png:80"
        [/missile_frame]

        [frame]
            image="units/undead-skeletal/hellstorm-rider.png:600"
        [/frame]

        {SOUND:HIT_AND_MISS hellbent-1.ogg magic-faeriefire-miss.ogg -525}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=baneblade
        [/filter_attack]
        {MELEE_FRAME_SWOOSH {SOUND_LIST:SWORD_SWISH} "~BLEND(146,101,255,0.7)"}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=baneblade_old
        [/filter_attack]
        start_time=-150
        [frame]
            duration=200
            image="units/undead-skeletal/hellstorm-rider.png"
            sound=horse-canter.wav
        [/frame]
        [if]
            hits=no
            [frame]
                duration=200
                image="units/undead-skeletal/hellstorm-rider.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=220
                image="units/undead-skeletal/hellstorm-rider.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/undead-skeletal/hellstorm-rider.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=wail
        [/filter_attack]
        {MISSILE_FRAME_WAIL}
        start_time=-250
        [frame]
            image="units/undead-skeletal/hellstorm-rider.png:50"
        [/frame]
        [frame]
            sound=wail.wav
            image="units/undead-skeletal/hellstorm-rider.png:250"
        [/frame]
    [/attack_anim]
    [standing_anim]
        start_time=0
        alpha=1~0.7:1500,0.7~1:1500
        [frame]
            image="units/undead-skeletal/hellstorm-rider.png:100"#-standing-[1~8].png:100"
        [/frame]
    [/standing_anim]
[/unit_type]
