#textdomain wesnoth-units
[unit_type]
    id=Monstrosity
    name= _ "Monstrosity"
    race=undead
    image="units/undead/monstrosity.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    {TRAIT_FEARLESS_MUSTHAVE}
    hitpoints=45
    movement_type=fly
    movement=5
    level=2
    experience=100
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=32
    usage=fighter
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Soulless
        experience=60
    [/advancefrom]
#endif
    [abilities]
        {ABILITY_TERROR_LEVEL_2}
    [/abilities]
    description= _ "When a Walking Corpse kills a victim and reanimates it to unlife, it also drains a part of its soul. This rarely has an effect, but sometimes, when much of the flesh has rotten away already, this accumulated soul energy reshapes the corpse into a horrid, tentaculous form with bones protruding from it that floats around, scaring everything around it."+{SPECIAL_NOTES}+{SPECIAL_NOTES_PLAGUE}
    {DEFENSE_ANIM "units/undead/monstrosity-defend-2.png" "units/undead/monstrosity-defend-1.png" {SOUND_LIST:ZOMBIE_HIT} }
    [resistance]
        arcane=140
        blade=100
        pierce=100
        impact=100
        fire=100
        cold=70
    [/resistance]
    [attack]
        name=touch
        description=_"touch"
        icon=attacks/tentacle.png
        type=impact
        range=melee
        damage=8
        number=3
        [specials]
            {WEAPON_SPECIAL_INFECTION}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        [frame]
            begin=-250
            end=-150
            image="units/undead/monstrosity-attack-1.png"
        [/frame]
        [frame]
            begin=-150
            end=-50
            image="units/undead/monstrosity-attack-2.png"
        [/frame]
        [frame]
            begin=-50
            end=50
            image="units/undead/monstrosity-attack-3.png"
            sound=zombie-attack.wav
        [/frame]
        [frame]
            begin=50
            end=150
            image="units/undead/monstrosity-attack-2.png"
        [/frame]
        [frame]
            begin=150
            end=250
            image="units/undead/monstrosity-attack-1.png"
        [/frame]
    [/attack_anim]
    [standing_anim]
        start_time=0
        [frame]
            duration=200
            image="units/undead/monstrosity.png"
        [/frame]
        [frame]
            duration=200
            image="units/undead/monstrosity-float-1.png"
        [/frame]
        [frame]
            duration=200
            image="units/undead/monstrosity-float-2.png"
        [/frame]
        [frame]
            duration=200
            image="units/undead/monstrosity-float-3.png"
        [/frame]
        [frame]
            duration=200
            image="units/undead/monstrosity-float-2.png"
        [/frame]
        [frame]
            duration=200
            image="units/undead/monstrosity-float-1.png"
        [/frame]
    [/standing_anim]
    {EVENTS_INFECTION}
[/unit_type]