#textdomain wesnoth-units
[unit_type]
    id=Apprentice Lich
    name= _ "Apprentice Lich"
#    gender=male,female
    race=undead
    image="units/undead-necromancers/skeleton-adept.png"
    profile="portraits/lichling.png"
    small_profile="portraits/lichling.png~SCALE(205,205)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=40
    movement_type=undeadfoot
    movement=6
    experience=90
    level=2
    alignment=chaotic
#ifdef MULTIPLAYER
    advances_to=TGA Lich
#endif
#ifndef MULTIPLAYER
    advances_to=Lich
    [advancefrom]
        unit=Dark Adept
    [/advancefrom]
#endif
    cost=33
    usage=fighter
    description= _ "Apprentice Liches are adepts who decided to become liches earlier than usual. They are still very inexperienced compared to most liches, but underestimating them has often proven to be a fatal mistake."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_DRAIN}+{SPECIAL_NOTES_ARCANE}+{SPECIAL_NOTES_SUBMERGE}
    die_sound=lich-die.ogg
    {DEFENSE_ANIM "units/undead-necromancers/skeleton-adept-defend-2.png" "units/undead-necromancers/skeleton-adept-defend-1.png" {SOUND_LIST:LICH_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/lichling.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/lichling.png"
    [/portrait]
    [resistance]
        arcane=140
    [/resistance]
    [movement_costs]
        shallow_water=3
    [/movement_costs]
    [abilities]
        {ABILITY_SUBMERGE}
    [/abilities]
    [attack]
        name=touch
        description=_"touch"
        icon=attacks/touch-undead.png
        type=arcane
        range=melee
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=chill wave
        description=_"chill wave"
        type=cold
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=8
        number=3
        icon=attacks/iceball.png
    [/attack]
    [attack]
        name=shadow wave
        description=_"shadow wave"
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=6
        number=3
        icon=attacks/dark-missile.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=chill wave
        [/filter_attack]
        {MISSILE_FRAME_CHILL_WAVE 0 -12}
        start_time=-450
        [frame]
            image="units/undead-necromancers/skeleton-adept.png:25"
        [/frame]
        [frame]
            image="units/undead-necromancers/skeleton-adept-magic-[1~3].png:[35,75,15]"
        [/frame]
        [frame]
            image="units/undead-necromancers/skeleton-adept-magic-3.png"
            halo=halo/undead/dark-magic-[1~6].png:50
            halo_x,halo_y=0,-12
        [/frame]
        {SOUND:HIT_AND_MISS magic-dark.ogg magic-dark-miss.ogg -100}
        [frame]
            image="units/undead-necromancers/skeleton-adept-magic-[2,1].png:50"
        [/frame]
        [frame]
            duration=60
            image="units/undead-necromancers/skeleton-adept.png"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=shadow wave
        [/filter_attack]
        {MISSILE_FRAME_SHADOW_WAVE}
        start_time=-700
        [frame]
            image="units/undead-necromancers/skeleton-adept.png:25"
        [/frame]
        [frame]
            image="units/undead-necromancers/skeleton-adept-magic-[1~3].png:[35,75,15]"
        [/frame]
        [frame]
            image="units/undead-necromancers/skeleton-adept-magic-3.png"
            halo=halo/undead/dark-magic-[1~6].png:50
            halo_x,halo_y=0,-12~12
        [/frame]
        [frame]
            image="units/undead-necromancers/skeleton-adept-magic-3.png:350"
        [/frame]
        {SOUND:HIT_AND_MISS magic-dark-big.ogg magic-dark-big-miss.ogg -50}
        [frame]
            image="units/undead-necromancers/skeleton-adept-magic-[2,1].png:50"
        [/frame]
        [frame]
            duration=50
            image="units/undead-necromancers/skeleton-adept.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/undead-necromancers/skeleton-adept.png:50"
        [/frame]
        [frame]
            image="units/undead-necromancers/skeleton-adept-magic-[1~2].png:[100,200]"
        [/frame]
        {SOUND:HIT_AND_MISS wail-sml.wav {SOUND_LIST:MISS} -100}
        [frame]
            image="units/undead-necromancers/skeleton-adept-magic-1.png:75"
        [/frame]
        [frame]
            image="units/undead-necromancers/skeleton-adept.png:75"
        [/frame]
    [/attack_anim]
    [recruiting_anim]
        [filter_second]
            race=undead
        [/filter_second]
        start_time=-450
        [frame]
            image="units/undead-necromancers/skeleton-adept.png:30"
        [/frame]
        [frame]
            image="units/undead-necromancers/skeleton-adept-magic-[1~3].png:[35,75,20]"
        [/frame]
        [frame]
            image="units/undead-necromancers/skeleton-adept-magic-3.png"
            halo=halo/undead/dark-magic-[1~6].png:50
            halo_x,halo_y=0,-12
        [/frame]
        sound_start_time=-40
        [sound_frame]
            sound=magic-dark.ogg
        [/sound_frame]
        [frame]
            image="units/undead-necromancers/skeleton-adept-magic-[2,1].png:[50,40]"
        [/frame]
        [frame]
            image="units/undead-necromancers/skeleton-adept.png:10"
        [/frame]
    [/recruiting_anim]
[/unit_type]
