#textdomain wesnoth-units
[unit_type]
	id=Poltergeist
	name= _ "Poltergeist"
	race=undead
	image="units/undead/poltergeist.png"
	{MAGENTA_IS_THE_TEAM_COLOR}
	hitpoints=16
	movement_type=undeadspirit
	movement=6
	experience=45
	level=1
	alignment=chaotic
#ifdef MULTIPLAYER
    advances_to=TGA Shadow
#endif
#ifndef MULTIPLAYER
    advances_to=Shadow
#endif
	cost=20
	usage=fighter
	description= _ "The weakest denizens of the spirit world have great difficulty manifesting themselves in semi-corporeal form to attack as more powerful phantasms do, and must rely on inanimate objects as a crutch in order to make their presence felt. This same weakness also provides them one of their greatest stengths, though, for the common household objects they frequently possess offer them an excellent disguise. While relatively easy to detect by daylight, their stealthy movements are often dismissed as mere tricks of the shadows until, alas, it is too late."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SPIRIT}+{SPECIAL_NOTES_NIGHTSTALK}+{SPECIAL_NOTES_SKIRMISHER}
	die_sound=wail-long.wav
	[abilities]
		{ABILITY_NIGHTSTALK}
		{ABILITY_SKIRMISHER}
	[/abilities]
	[defend]
		start_time=-126
		[if]
			hits=hit,kill
			offset=0.0~-0.05:126,-0.05~0.0:126
			alpha=0.8~0.5:126,0.5~0.8:126
			[frame]
				duration=100
				image="units/undead/poltergeist.png"
			[/frame]
			[frame]
				duration=150
				image="units/undead/poltergeist.png"
				sound=wail-sml.wav
			[/frame]
		[/if]
		[else]
			hits=miss
			offset=0.0~-0.05:126,-0.05~0.0:126
			alpha=0.8~0.5:126,0.5~0.8:126
			[frame]
				duration=100
				image="units/undead/poltergeist.png"
			[/frame]
			[frame]
				duration=150
				image="units/undead/poltergeist.png"
			[/frame]
		[/else]
	[/defend]
	[attack]
		name=knives
		description=_"knives"
                [specials]
                    {WEAPON_SPECIAL_BACKSTAB}
                [/specials]
		type=blade
		icon=attacks/dagger-human.png
		range=melee
		damage=5
		number=3
	[/attack]
    [attack_anim]
        [filter_attack]
            name=knives
        [/filter_attack]
        {MELEE_FRAME_SWOOSH claws.ogg "~SCALE(90,90)"}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=knives
        [/filter_attack]
        {MELEE_FRAME_SWOOSH2 claws.ogg "~SCALE(90,90)"}
    [/attack_anim]
	[attack_anim]
		[filter_attack]
			name=knives_old
		[/filter_attack]
		start_time=-500
		offset=0.0~1.0:550,0.0:225
		alpha=0.8~0.7:350,0.7~0.0:200,0.0~0.8:225
#		direction=s,se,sw

		[frame]
			duration=175
			image="units/undead/poltergeist.png"
		[/frame]
		[frame]
			duration=50
			image="units/undead/poltergeist.png"
			sound=wail-sml.wav
		[/frame]
		[if]
			hits=no
			[frame]
				duration=50
				image="units/undead/poltergeist.png"
				sound={SOUND_LIST:MISS}
			[/frame]
		[/if]
		[else]
			hits=yes
			[frame]
				duration=50
				image="units/undead/poltergeist.png"
				sound=claws.ogg
			[/frame]
		[/else]
		[frame]
			duration=200
			image="units/undead/poltergeist.png"
		[/frame]
	[/attack_anim]
   [standing_anim]
        start_time=0
        alpha=0.8~0.4:1400,0.4~0.6:600,0.6~0.4:600,0.4~0.8:1400
        [frame]
            image="units/undead/poltergeist.png:250"
        [/frame]
    [/standing_anim]
[/unit_type]
