#textdomain wesnoth-units
[unit_type]
    id=Slitherblade
    name= _ "Slitherblade"
    race=undead
    image="units/undead-skeletal/slitherblade.png"
    profile="portraits/undead/deathblade.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=48
    movement_type=undeadfoot
    movement=6
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
    	unit=Deathblade
        experience=100
    [/advancefrom] 
#endif
    {AMLA_DEFAULT}
    cost=53
	[movement_costs]
		deep_water=1
		shallow_water=1
		reef=2
		swamp_water=1
		flat=1
		sand=1
		forest=2
		hills=2
		mountains=2
		cave=1
		fungus=1
	[/movement_costs]
        [defense]
            deep_water=60
            shallow_water=50
            reef=30
            swamp_water=50
            flat=50
            sand=50
        [/defense]
    usage=fighter
    description= _ "Undead lords sometimes figure out a way to make their deathblades fully use their potiential. They remove their legs, replacing it with a skelly tail, making them more agile, allow them to swim better and and spin as they want. They also add them an additional pair of hands, to make them even more destructive. Skeletal Slitherblades are, however, quite vulnerable."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SUBMERGE}
    die_sound=skeleton-big-die.ogg
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/undead/transparent/deathblade.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/undead/transparent/deathblade.png"
    [/portrait]
    [abilities]
        {ABILITY_SUBMERGE}
    [/abilities]
    [resistance]
        blade=60
        impact=120
        pierce=40
    [/resistance]
    [attack]
        name=axe
        description=_"axe"
        icon=attacks/axe-deathblade.png
        type=blade
        range=melee
        damage=9
        number=6
    [/attack]
    [attack]
        name=whirlwind-axe
        description="whirlwind"
        icon=attacks/axe-deathblade.png
        [specials]
            {WEAPON_SPECIAL_WHIRLWIND}
        [/specials]
        type=blade
        range=melee
        damage=9
        number=3
        defense_weight=0.0
    [/attack]
    {DEFENSE_ANIM "units/undead-skeletal/slitherblade-defend-2.png" "units/undead-skeletal/slitherblade-defend-1.png" {SOUND_LIST:SKELETON_BIG_HIT} }
    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/undead-skeletal/slitherblade-attack1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/undead-skeletal/slitherblade-attack2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/undead-skeletal/slitherblade-attack2.png"
                sound=axe.ogg
            [/frame]
        [/else]
        [frame]
            begin=50
            end=150
            image="units/undead-skeletal/slitherblade-attack3.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/undead-skeletal/slitherblade-defend-1.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=whirlwind-axe
        [/filter_attack]
        [frame]
            begin=-300
            end=-250
            image="units/undead-skeletal/slitherblade-whirlwind1.png"
            sound={SOUND_LIST:THROW}
	    halo="misc/whirl-1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-250
                end=-200
                image="units/undead-skeletal/slitherblade-attack2.png"
                sound={SOUND_LIST:MISS}
         	halo="misc/whirl-2.png"
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-250
                end=-200
                image="units/undead-skeletal/slitherblade-attack2.png"
                sound=axe.ogg
        	halo="misc/whirl-2.png"
            [/frame]
        [/else]
        [frame]
            begin=-200
            end=-150
            image="units/undead-skeletal/slitherblade-whirlwind3.png"
	    halo="misc/whirl-3.png"
        [/frame]
        [frame]
            begin=-150
            end=-100
            image="units/undead-skeletal/slitherblade-whirlwind1.png"
	    halo="misc/whirl-4.png"
        [/frame]
        [frame]
            begin=-100
            end=-50
            image="units/undead-skeletal/slitherblade-whirlwind1.png"
	    halo="misc/whirl-1.png"
        [/frame]
        [frame]
            begin=-50
            end=0
            image="units/undead-skeletal/slitherblade-whirlwind3.png"
	    halo="misc/whirl-2.png"
        [/frame]
        [frame]
            begin=0
            end=50
            image="units/undead-skeletal/slitherblade-whirlwind1.png"
	    halo="misc/whirl-3.png"
        [/frame]
        [frame]
            begin=50
            end=100
            image="units/undead-skeletal/slitherblade-whirlwind1.png"
	    halo="misc/whirl-4.png"
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/undead-skeletal/slitherblade-whirlwind3.png"
	    halo="misc/whirl-1.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/undead-skeletal/slitherblade-whirlwind1.png"
	    halo="misc/whirl-2.png"
        [/frame]
        [frame]
            begin=200
            end=250
            image="units/undead-skeletal/slitherblade-whirlwind1.png"
	    halo="misc/whirl-3.png"
        [/frame]
        [frame]
            begin=250
            end=300
            image="units/undead-skeletal/slitherblade-whirlwind3.png"
	    halo="misc/whirl-4.png"
        [/frame]
    [/attack_anim]
    {WHIRLWIND_EVENT}
[/unit_type]