#textdomain wesnoth-Invasion_from_the_Unknown

[unit_type]
    id=Dread Knight
    name= _ "Dread Knight"
    race=undead
    image="units/undead-skeletal/draug-mounted.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    #     [movement_anim]
    #         start_time=0
    #         [frame]
    #             duration=150
    #             image="units/undead-skeletal/draug-mounted-move.png"
    #         [/frame]
    #     [/movement_anim]
    hitpoints=62
    movement_type=undeadmountedfoot
    movement=8
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=56
    usage=scout
    description= _ "The forces of darkness know neither honor nor chivalry, but they delight in mocking such virtues with their twisted imitations.A dread knight's sole purpose in its unlife is to cause death and destruction, a goal which it pursues with single-minded intensity."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SUBMERGE}+{SPECIAL_NOTES_CHARGE}
    die_sound=skeleton-big-die.ogg
    [abilities]
        {ABILITY_SUBMERGE}
    [/abilities]
    #{DEFENSE_ANIM "units/undead-skeletal/draug-mounted-defend.png" "units/undead-skeletal/draug-mounted.png" {SOUND_LIST:SKELETON_BIG_HIT} }
    {DEFENSE_ANIM "units/undead-skeletal/draug-mounted.png" "units/undead-skeletal/draug-mounted.png" {SOUND_LIST:SKELETON_BIG_HIT} }
    [attack]
        name=axe
        description="battle axe"
        type=blade
        range=melee
        damage=11
        number=4
        icon=attacks/battleaxe-undead.png
    [/attack]
    [attack]
        name=trample
        icon=attacks/kick-horse.png
        description=_"trample"
        type=impact
        range=melee
        damage=11
        number=2
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]
    [attack]
        name=crossbow
        description="crossbow"
        icon=attacks/crossbow-undead.png
        type=pierce
        range=ranged
        damage=20
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        {MELEE_FRAME_SWOOSH axe.ogg ~}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=axe_old
        [/filter_attack]
        start_time=-150
        [frame]
            duration=75
            image="units/undead-skeletal/draug-mounted.png"
            #image="units/undead-skeletal/draug-mounted-attack1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                duration=150
                image="units/undead-skeletal/draug-mounted.png"
                #image="units/undead-skeletal/draug-mounted-attack2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=150
                image="units/undead-skeletal/draug-mounted.png"
                #image="units/undead-skeletal/draug-mounted-attack2.png"
                sound=axe.ogg
            [/frame]
        [/else]
        [frame]
            duration=25
            image="units/undead-skeletal/draug-mounted.png"
            #image="units/undead-skeletal/draug-mounted-attack1.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=trample
        [/filter_attack]
        start_time=-250
        [frame]
            duration=100
            image="units/undead-skeletal/draug-mounted.png"
            sound=horse-canter.wav
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=125
                image="units/undead-skeletal/draug-mounted.png"
                #image="units/undead-skeletal/draug-mounted-defend.png"
                sound=fist.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=125
                image="units/undead-skeletal/draug-mounted.png"
                #image="units/undead-skeletal/draug-mounted-defend.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/undead-skeletal/draug-mounted.png"
            #image="units/undead-skeletal/draug-mounted-move.png"
        [/frame]
        [frame]
            duration=75
            image="units/undead-skeletal/draug-mounted.png"
            #image="units/undead-skeletal/draug-mounted-defend.png"
        [/frame]
        [frame]
            duration=50
            image="units/undead-skeletal/draug-mounted.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=crossbow
        [/filter_attack]
        start_time=-400
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            duration=100
            image="units/undead-skeletal/draug-mounted.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=150
                image="units/undead-skeletal/draug-mounted.png"
                sound=crossbow.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=150
                image="units/undead-skeletal/draug-mounted.png"
                sound=crossbow-miss.ogg
            [/frame]
        [/else]
        [frame]
            duration=150
            image="units/undead-skeletal/draug-mounted.png"
        [/frame]
    [/attack_anim]
[/unit_type]
