#textdomain wesnoth-units
[unit_type]
    id=Skeleton Recruit
    name= _ "Skeleton Recruit"
    race=undead
    image="units/undead/recruit.png"
    profile="portraits/undead/skeleton.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=18
    movement_type=undeadfoot
    movement=5
    experience=22
    level=0
    alignment=chaotic
    advances_to=Skeleton,Skeleton Archer,Skeleton Sergeant
    cost=8
    usage=fighter
    description= _ "Skeletons are warriors who have been slain in battle and brought back by dark magics. Nearly mindless, and unwavering in their purpose, they fear neither pain, nor death, and their mere presence will often frighten away any who would challenge their master."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SUBMERGE}
    die_sound={SOUND_LIST:SKELETON_DIE}

    {DEFENSE_ANIM "units/undead/recruit-1.png" "units/undead/recruit-defend.png" {SOUND_LIST:SKELETON_HIT} }
    #{STANDING_ANIM_DIRECTIONAL_8_FRAME "units/undead-skeletal/skeleton/skeleton"}
    #{MOVING_ANIM_DIRECTIONAL_12_FRAME "units/undead-skeletal/skeleton/skeleton"}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/undead/transparent/skeleton.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/undead/transparent/skeleton.png"
    [/portrait]
    [abilities]
        {ABILITY_SUBMERGE}
    [/abilities]
    [recruit_anim]
        start_time=-200
        [frame]
            image="units/undead/recruit-7.png:300"
            alpha="0~1:300"
        [/frame]
        [frame]
            image="units/undead/recruit-[6~1].png:100"
        [/frame]
    [/recruit_anim]
    [death]
        start_time=0
        [frame]
            image="units/undead/recruit-die-[1~7].png:100"
        [/frame]
    [/death]
    [resistance]
        blade=60
        pierce=40
        impact=120
    [/resistance]
    [attack]
        name=fist
        description=_"fist"
        icon=attacks/fist-skeletal.png
        type=impact
        range=melee
        damage=4
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/undead/recruit.png:100"
        [/frame]
        [frame]
            image="units/undead/recruit-attack.png:200"
        [/frame]
        {SOUND:HIT_AND_MISS fist.ogg {SOUND_LIST:MISS} -100}
        [frame]
            image="units/undead/recruit.png:100"
        [/frame]
    [/attack_anim]

[/unit_type]
