#textdomain wesnoth-units
[unit_type]
    id=Soulless Mauler
    name= _ "Soulless Mauler"
    race=undead
    image="units/undead/soulless_mauler.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    {TRAIT_FEARLESS_MUSTHAVE}
    hitpoints=56
    movement_type=gruefoot
    movement=5
    experience=90
    level=2
    alignment=chaotic
    advances_to=Soulless Siege Mauler
    cost=34
    usage=fighter
    description= _ ""+{SPECIAL_NOTES}+{SPECIAL_NOTES_PLAGUE}+{SPECIAL_NOTES_REGENERATES}
    die_sound={SOUND_LIST:ZOMBIE_HIT}
    {DEFENSE_ANIM "units/undead/soulless_mauler.png" "units/undead/soulless_mauler.png" {SOUND_LIST:ZOMBIE_HIT} }
	[abilities]
        {ABILITY_SUBMERGE}
    [/abilities]
    [movement_costs]
        deep_water=4
    [/movement_costs]
    [defense]
        deep_water=90
    [/defense]
	[resistance]
		cold=80
		fire=100
		impact=80
		blade=80
		pierce=90
		arcane=140
	[/resistance]
    [death]
        start_time=0
        [frame]
            duration=150
            image="units/undead/soullessmauler-die1.png"
        [/frame]
        [frame]
            duration=150
            image="units/undead/soullesss-die-2.png"
        [/frame]
        [frame]
            duration=150
            image="units/undead/soullesss-die-3.png"
        [/frame]
        [frame]
            duration=150
            image="units/undead/soullesss-die-4.png"
        [/frame]
        [frame]
            duration=150
            image="units/undead/soullesss-die-5.png"
        [/frame]
        [frame]
            duration=150
            image="units/undead/soullesss-die-6.png"
        [/frame]
        [frame]
            duration=150
            image="units/undead/soullesss-die-7.png"
        [/frame]
        [frame]
            duration=150
            image="units/undead/soullesss-die-8.png"
        [/frame]
        [frame]
            duration=150
            image="units/undead/soullesss-die-9.png"
        [/frame]
        [frame]
            duration=150
            image="units/undead/soullesss-die-10.png"
        [/frame]
    [/death]
    [attack]
        name=mace
        description=_"mace"
        icon=attacks/mace.png
        type=impact
        range=melee
        damage=16
        number=2
    [/attack]
    [attack]
        name=touch
        description=_"touch"
        icon=attacks/touch-zombie.png
        type=impact
        range=melee
        damage=9
        number=3
        [specials]
            {WEAPON_SPECIAL_PLAGUE}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]
        offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.7,0.7~0.6,0.6~0.3,0.3~0.0
        start_time=-330
        [frame]
            image="units/undead/soulless_mauler.png:[120*3]"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -400}
    [/attack_anim]
	[attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        [frame]
            begin=-200
            end=200
            image="units/undead/soulless_mauler.png"
            sound=zombie-attack.wav
        [/frame]
    [/attack_anim]
[/unit_type]
