#textdomain wesnoth-units
[unit_type]
    id=Reaper
    name= _ "Reaper"
    race=undead
    image="units/undead/reaper.png"
    profile=portraits/reaper.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=42
    movement_type=undeadspirit
    movement=7
    experience=200
    level=4
    alignment=chaotic
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Spectre
        experience=280
    [/advancefrom]
#endif
    {AMLA_DEFAULT}
    cost=82
    usage=scout
    description= _ "Reapers are abominations, brought from the world of the dead into our world, but maintaining connections to their world to drain excessive amounts of power from it, longing for nothing else but bringing as many souls into the world of the dead. In most cases, they are a creation of a necromancer, forcing a spirit to become a reaper, manipulating it to do what he wants."+{SPECIAL_NOTES}+{SPECIAL_NOTES_DRAIN}+{SPECIAL_NOTES_SPIRIT}+{SPECIAL_NOTES_ARCANE}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/reaper.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/reaper.png"
    [/portrait]
    [abilities]
        {ABILITY_KILLHUNGER 8}
    [/abilities]
    die_sound=wail-long.wav
    [standing_anim]
        start_time=0
        alpha=0.8~0.4:1100,0.4~0.6:450,0.6~0.4:450,0.4~0.8:1100
        [frame]
            image="units/undead/reaper.png:200"
        [/frame]
    [/standing_anim]
    [attack]
        name=baneblade
        description=_"baneblade scythe"	# wmllint: no spellcheck (until name->id)
        icon=attacks/baneblade-scythe.png
        type=arcane
        range=melee
        damage=9
        number=5
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=wail
        description=_"wail"
        type=cold
        range=ranged
        damage=8
        number=3
    [/attack]
    {DEFENSE_ANIM "units/undead/reaper.png" "units/undead/reaper.png" wail.wav}
    [attack_anim]
        [filter_attack]
            name=wail
        [/filter_attack]
        {MISSILE_FRAME_WAIL}
        start_time=-250
        [frame]
            image="units/undead/reaper.png:50"
        [/frame]
        [frame]
            sound=wail.wav
            image="units/undead/reaper.png:250"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=baneblade
        [/filter_attack]
        {MELEE_FRAME_SWOOSH_CUSTOM_MOUNTED {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} wail-sml.wav "~SCALE(138,138)~BLEND(100,101,255,0.7)"}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=baneblade
        [/filter_attack]
#        offset=0.0~0.1,0.1~0.0
        start_time=-400
        [frame]
            image="units/undead/reaper.png:200"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -220}
    [/attack_anim]
[/unit_type]
