#textdomain wesnoth-units
[unit_type]
    id=Walking Mummy
    name= _ "Walking Mummy"
    race=undead
    image="units/undead/mummy.png"
	{TRAIT_FEARLESS_MUSTHAVE}
    hitpoints=25
    movement_type=gruefoot
	[movement_costs]
        sand=1
		hills=1
    [/movement_costs]
    movement=3
    experience=50
    level=0
    alignment=chaotic
    advances_to=null
    cost=12
    usage=fighter
	{AMLA_DEFAULT}
    {MAGENTA_IS_THE_TEAM_COLOR}
    description= _ "A mummy is the corpse of a fallen warrior whose soul was denied entry to the realm of the dead. Filled with hatred, a mummy then roams the dark places of the desert lands seeking a different way to end their suffering."+{SPECIAL_NOTES}+{SPECIAL_NOTES_POISON}
    die_sound={SOUND_LIST:ZOMBIE_WEAK_HIT}
    {DEFENSE_ANIM "units/undead/mummy.png" "units/undead/mummy.png" {SOUND_LIST:ZOMBIE_WEAK_HIT} }
    [resistance]
        blade=100
        pierce=90
        impact=80
        fire=120
        cold=80
        arcane=140
    [/resistance]	
    [attack]
        name=touch
        description=_"touch"
        icon=attacks/touch-zombie.png
        type=impact
        range=melee
        damage=4
        number=2
        [specials]
			{WEAPON_SPECIAL_POISON}
#			{WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=wail
        description=_"wail"
        type=cold
        range=ranged
        damage=4
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.7,0.7~0.6,0.6~0.3,0.3~0.0
        start_time=-330
        [frame]
            image="units/undead/mummy.png:[120*3]"
        [/frame]
        {SOUND:HIT_AND_MISS zombie-attack.wav {SOUND_LIST:MISS} -400}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=wail
        [/filter_attack]
        {MISSILE_FRAME_WAIL}
        start_time=-250
        [frame]
            image="units/undead/mummy.png:50"
        [/frame]
        [frame]
            sound=wail.wav
            image="units/undead/mummy.png:250"
        [/frame]
    [/attack_anim]
[/unit_type]
