#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Dwarves
    name=_"Dwarves"
    image="units/dwarves/fighter.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=Dwarvish Witness,TGA Dwarvish Guardsman,TGA Dwarvish Scout,TGA Dwarvish Fighter,TGA Dwarvish Ulfserker,TGA Dwarvish Thunderer,TGA Gryphon Rider
    random_leader=Dwarvish Witness,TGA Dwarvish Guardsman,TGA Dwarvish Scout,TGA Dwarvish Fighter,TGA Dwarvish Ulfserker,TGA Dwarvish Thunderer,TGA Gryphon Rider
    recruit=Dwarvish Woodcutter
    terrain_liked=Hh, Ha, Mm
    [ai]
        [aspect]
            id=recruitment_pattern
            [facet]
                value=fighter,fighter,fighter,mixed fighter,archer,scout
            [/facet]
        [/aspect]
    [/ai]
[/multiplayer_side]
