#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Loyalists_MIN
    name= _"Loyalists (most variety)"
    image="units/human-loyalists/sergeant.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=Cavalryman,Horseman,Spearman,Infantryman,TGA Fencer,Heavy Infantryman,Bowman,Mage,Merman Fighter
    random_leader=Cavalryman,Horseman,Spearman,Infantryman,TGA Fencer,Heavy Infantryman,Bowman,Mage,Merman Fighter
    recruit=Peasant,Woodsman,Fisherman,Rancher,Militiaman,Signalman
    terrain_liked=Gg, Ww, Wo
    [ai]
        recruitment_pattern=fighter,fighter,fighter,archer,mixed fighter,scout
    [/ai]
[/multiplayer_side]
