#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Orcs
    name= _"Orcs"
    image="units/orcs/novice-shaman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=TGA Orcish Grunt,TGA Orcish Leader,Orcish Berserker,Orcish Novice Shaman,TGA Troll Whelp,Wolf Rider,Orcish Archer,TGA Orcish Assassin,TGA Naga Fighter
    random_leader=TGA Orcish Grunt,TGA Orcish Leader,Orcish Berserker,Orcish Novice Shaman,TGA Troll Whelp,Wolf Rider,Orcish Archer,TGA Orcish Assassin,TGA Naga Fighter
    recruit=Orcish Peon,Goblin Spearman
    terrain_liked=Hh, Ha, Mm, Ss
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,archer,scout
    [/ai]
[/multiplayer_side]
