#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Outlaws
    name= _"Outlaws"
    image="units/human-outlaws/footpad.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=TGA Thug,TGA Thief,TGA Poacher,TGA Footpad,TGA Naga Fighter,TGA Young Ogre
    random_leader=TGA Thug,TGA Thief,TGA Poacher,TGA Footpad,TGA Naga Fighter
    recruit=Vagrant,Ruffian,Pilferer
    terrain_liked=Gg, Ww, Wo
    [ai]
        recruitment_pattern=fighter,fighter,fighter,archer,mixed fighter,scout
    [/ai]
[/multiplayer_side]
