#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Sylvan
    name= _"Sylvan (best)"
    image="units/elves-wood/noble.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=Elvish Noble,Elvish Acolyte,TGA Elvish Fighter,Elvish Hunter,TGA Elvish Archer,TGA Elvish Shaman,Elvish Scout,TGA Wose,Peri,Merman Hunter,Mermaid Initiate
    random_leader=Elvish Noble,Elvish Acolyte,TGA Elvish Fighter,Elvish Hunter,TGA Elvish Archer,TGA Elvish Shaman,Elvish Scout,TGA Wose,Peri,Merman Hunter,Mermaid Initiate
    recruit=Elvish Civilian,Elvish Adept,Wose Sapling,Sprite,Merman Citizen,Wisp,Boar Cub
    terrain_liked=Ff, Fa, Ss, Ww
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,healer,scout
    [/ai]
[/multiplayer_side]
