#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Undead
    name= _"Undead"
    image="units/undead-skeletal/rider.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=TGA Skeleton,Skeleton Archer,Skeleton Rider,Soulless,Ghost,Blood Bat,TGA Dark Adept,TGA Ghoul,Skeleton Steerer,Poltergeist
    random_leader=TGA Skeleton,Skeleton Archer,Skeleton Rider,Ghost,TGA Dark Adept,TGA Ghoul,Poltergeist
    recruit=Walking Corpse,Vampire Bat,Skeleton Recruit,Spook
    terrain_liked=Ss, Hh, Ha, Ww
    [ai]
        recruitment_pattern=fighter,fighter,archer,fighter,scout,archer
    [/ai]
[/multiplayer_side]
