#textdomain wesnoth-units
#ifdef MULTIPLAYER
[unit_type]
    id=TGA Saurian Augur
    [base_unit]
        id=Saurian Augur
    [/base_unit]
    advances_to=TGA Saurian Oracle,TGA Saurian Soothsayer,Saurian Visionnaire
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Saurian Skirmisher
    [base_unit]
        id=Saurian Skirmisher
    [/base_unit]
    advances_to=Saurian Ambusher,Saurian Guard
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Saurian Oracle
    [base_unit]
        id=Saurian Oracle
    [/base_unit]
    advances_to=IQ Saurian Blind Seer
    experience=68
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Saurian Soothsayer
    [base_unit]
        id=Saurian Soothsayer
    [/base_unit]
    advances_to=Bonecaster,Saurian Witchdoctor
    experience=68
    hide_help=false
    do_not_list=no
[/unit_type]
#endif