#textdomain wesnoth-units
#define WEAPON_SPECIAL_LESSER_CHARGE
    # Canned definition of the Charge ability to be included in a
    # [specials] clause.
    [damage]
        id=lesser_charge
        name= _ "lesser charge"
        description= _ "When used offensively, this attack deals 50% more damage to the target. It also causes this unit to take 50% more damage from the target’s counterattack."
        multiply=1.5
        apply_to=both
        active_on=offense
    [/damage]
#enddef
[unit_type]
    id=Battle Toad
    name="Battle Toad"
    race=lizard
    image="units/darkblood-toads/battletoad.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=70
    movement_type=frog
    movement=4
    experience=65
    level=2
    alignment=neutral
    advances_to=Dreadnaught
    cost=33
    usage=fighter
    description= _ "."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SLOW}
    die_sound=naga-die.ogg
    undead_variation=mounted
    [abilities]
        {ABILITY_REGENERATES_VALUE 10}
    [/abilities]
    [resistance]
        pierce=90
    [/resistance]
    [attack]
        name=paw
        description="paw"
        icon=attacks/slam-drake.png
        type=impact
        range=melee
        damage=7
        number=3
    [/attack]
    [attack]
        name=tongue
        description="tongue"
        icon=attacks/tongue-toad.png
        type=impact
        range=ranged
        damage=10
        number=1
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack]
        name=charge
        description="charge"
        icon=attacks/pike.png
        type=pierce
        range=melee
        damage=18
        number=1
        [specials]
            {WEAPON_SPECIAL_LESSER_CHARGE}
        [/specials]
        defense_weight=0
    [/attack]
    [attack]
        name=spear
        description="spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=dart
        description="spear throw"
        icon=attacks/spear.png
        type=pierce
        range=ranged
        damage=8
        number=1
    [/attack]

    [attack_anim]
        [filter_attack]
            name=paw
        [/filter_attack]
        start_time=-250
        [frame]
            duration=250
            image="units/darkblood-toads/battletoad-melee.png"
        [/frame]
        [if]
            hit=hits
            [frame]
                duration=250
                image="units/darkblood-toads/battletoad-melee.png"
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            [frame]
                duration=250
                image="units/darkblood-toads/battletoad-melee.png"
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dart
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/spear-n.png"
            image_diagonal="projectiles/spear-ne.png"
        [/missile_frame]
        [frame]
            begin=-200
            end=-100
            image="units/darkblood-toads/battletoad-ranged1.png"
            sound={SOUND_LIST:THROW}
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/darkblood-toads/battletoad-ranged2.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/darkblood-toads/battletoad-ranged2.png"
            [/frame]
        [/else]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=tongue
        [/filter_attack]
        direction=n
        [missile_frame]
        [/missile_frame]
        [frame]
            begin=-200
            end=-100
            image="units/darkblood-toads/battletoad.png"
            halo=halo/toad-tongue-n1.png
        [/frame]
        [frame]
            begin=-100
            end=50
            image="units/darkblood-toads/battletoad.png"
            halo=halo/toad-tongue-n2.png
        [/frame]
        [frame]
            begin=50
            end=100
            image="units/darkblood-toads/battletoad.png"
            halo=halo/toad-tongue-n1.png
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=tongue
        [/filter_attack]
        direction=ne
        [missile_frame]
        [/missile_frame]
        [frame]
            begin=-200
            end=-100
            image="units/darkblood-toads/battletoad.png"
            halo=halo/toad-tongue-ne1.png
        [/frame]
        [frame]
            begin=-100
            end=50
            image="units/darkblood-toads/battletoad.png"
            halo=halo/toad-tongue-ne2.png
        [/frame]
        [frame]
            begin=50
            end=100
            image="units/darkblood-toads/battletoad.png"
            halo=halo/toad-tongue-ne1.png
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=tongue
        [/filter_attack]
        direction=s
        [missile_frame]
        [/missile_frame]
        [frame]
            begin=-200
            end=-100
            image="units/darkblood-toads/battletoad.png"
            halo=halo/toad-tongue-s1.png
        [/frame]
        [frame]
            begin=-100
            end=50
            image="units/darkblood-toads/battletoad.png"
            halo=halo/toad-tongue-s2.png
        [/frame]
        [frame]
            begin=50
            end=100
            image="units/darkblood-toads/battletoad.png"
            halo=halo/toad-tongue-s1.png
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=tongue
        [/filter_attack]
        direction=se
        [missile_frame]
        [/missile_frame]
        [frame]
            begin=-200
            end=-100
            image="units/darkblood-toads/battletoad.png"
            halo=halo/toad-tongue-se1.png
        [/frame]
        [frame]
            begin=-100
            end=50
            image="units/darkblood-toads/battletoad.png"
            halo=halo/toad-tongue-se2.png
        [/frame]
        [frame]
            begin=50
            end=100
            image="units/darkblood-toads/battletoad.png"
            halo=halo/toad-tongue-se1.png
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=charge
        [/filter_attack]
        start_time=-250
        [frame]
            duration=250
            image="units/darkblood-toads/battletoad-charge.png"
        [/frame]
        [if]
            hit=hits
            [frame]
                duration=250
                image="units/darkblood-toads/battletoad-charge.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            [frame]
                duration=250
                image="units/darkblood-toads/battletoad-melee.png"
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-250
        [frame]
            duration=250
            image="units/darkblood-toads/battletoad-melee.png"
        [/frame]
        [if]
            hit=hits
            [frame]
                duration=50
                image="units/darkblood-toads/battletoad-spear.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            [frame]
                duration=50
                image="units/darkblood-toads/battletoad-spear.png"
            [/frame]
        [/else]
        [frame]
            duration=150
            image="units/darkblood-toads/battletoad.png"
        [/frame]
    [/attack_anim]
[/unit_type]
