#textdomain wesnoth-units
[unit_type]
    id=Saurian Visionnaire
    name= _ "Saurian Visionnaire"
    race=lizard
    image="units/saurians/visionnaire/visionnaire.png"
    profile="portraits/saurians/augur.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=30
    movement_type=lizard
    movement=6
#    vision=7
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Saurian Augur
    [/advancefrom]
#endif
    {AMLA_DEFAULT}
    cost=30
    usage=archer
    description= _ "Saurians have some knowledge of what men call sorcery, but their practice of it reeks of augury and black magic. It is little understood, but rightly regarded with fear by those against whom it is used. Some of them known as Visionnaires are undeniably powerful in the strange magics their kind possess, and with support of Silver Mage can even use their magic stones to project images of distant place in their mind and so to teleport there through astral dimension."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_TELEPORT}
    die_sound=hiss-die.wav
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/saurians/transparent/augur.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/saurians/transparent/augur.png"
    [/portrait]
    [abilities]
        {ABILITY_TELEPORT}
    [/abilities]
    [attack]
        name=curse
        description=_"curse"
        type=cold
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=7
        number=4
        icon=attacks/curse.png
    [/attack]

    {DEFENSE_ANIM_DIRECTIONAL "units/saurians/visionnaire/visionnaire-se-defend2.png" "units/saurians/visionnaire/visionnaire-se-defend1.png" "units/saurians/visionnaire/visionnaire-ne-defend2.png" "units/saurians/visionnaire/visionnaire-ne-defend1.png" hiss-hit.wav }
    {STANDING_ANIM_DIRECTIONAL_6_FRAME "units/saurians/visionnaire/visionnaire"}
    {MOVING_ANIM_DIRECTIONAL_12_FRAME "units/saurians/visionnaire/visionnaire"}
    {DEATH_ANIM_DIRECTIONAL_4_FRAME "units/saurians/visionnaire/visionnaire"}


    [attack_anim]
        [filter_attack]
            name=curse
        [/filter_attack]
        {MISSILE_FRAME_ICE}
        {MAGIC_ARMRAISE_DIRECTIONAL_2_FRAME  "units/saurians/visionnaire/visionnaire"}
        {HALO_FRAME_SAURIAN}
    [/attack_anim]

    [animation]
        apply_to=pre_teleport
        start_time=-1200

        teleport_sparkle_1_start_time=-1200
        teleport_sparkle_2_start_time=-1000
        teleport_sparkle_3_start_time=-800

        [teleport_sparkle_1_frame]
            duration=800
            halo=halo/teleport-[9,8,1~9].png
            halo_x=-10
            halo_y=30~-30
        [/teleport_sparkle_1_frame]
        [teleport_sparkle_2_frame]
            duration=800
            halo=halo/teleport-[9,8,1~9].png
            halo_x=0
            halo_y=40~-40
        [/teleport_sparkle_2_frame]
        [teleport_sparkle_3_frame]
            duration=800
            halo=halo/teleport-[9,8,1~9].png
            halo_x=10
            halo_y=30~-30
        [/teleport_sparkle_3_frame]

        [frame]
            image="units/saurians/visionnaire/visionnaire-teleport-[1~8].png:[200,100*7]"
        [/frame]
        [frame]
            image="misc/blank-hex.png:300"
        [/frame]
    [/animation]

    [animation]
        apply_to=post_teleport
        start_time=-1200

        teleport_sparkle_1_start_time=-1200
        teleport_sparkle_2_start_time=-1000
        teleport_sparkle_3_start_time=-800

        [teleport_sparkle_1_frame]
            duration=800
            halo=halo/teleport-[9,8,1~9].png
            halo_x=10
            halo_y=-30~30
        [/teleport_sparkle_1_frame]
        [teleport_sparkle_2_frame]
            duration=800
            halo=halo/teleport-[9,8,1~9].png
            halo_x=0
            halo_y=-40~40
        [/teleport_sparkle_2_frame]
        [teleport_sparkle_3_frame]
            duration=800
            halo=halo/teleport-[9,8,1~9].png
            halo_x=-10
            halo_y=-30~30
        [/teleport_sparkle_3_frame]
        [frame]
            image="misc/blank-hex.png:300"
        [/frame]
        [frame]
            image="units/saurians/visionnaire/visionnaire-teleport-[8~1].png:[100*7,200]"
        [/frame]
    [/animation]


  
[/unit_type]
