# wmllint: no translatables

[textdomain]
    name="wesnoth-TGA"
    path="data/add-ons/The_Golden_Age/translations"
[/textdomain]
#ifdef MULTIPLAYER
#textdomain wesnoth-TGA
[binary_path]
    path=data/add-ons/The_Golden_Age/
[/binary_path]
{~add-ons/The_Golden_Age/utils/}
{~add-ons/The_Golden_Age/eras/}
{~add-ons/The_Golden_Age/factions/}
{~add-ons/The_Golden_Age/maps/}
[lua]
    code = << wesnoth.dofile("~add-ons/The_Golden_Age/lua.lua") >>
[/lua]
[+units]
    {~add-ons/The_Golden_Age/races.cfg}
    {~add-ons/The_Golden_Age/units/avians.cfg}
    {~add-ons/The_Golden_Age/units/avians/}
    {~add-ons/The_Golden_Age/units/athvari/}
    {~add-ons/The_Golden_Age/units/humans/}
    {~add-ons/The_Golden_Age/units/elves/}
    {~add-ons/The_Golden_Age/units/faeries}
    {~add-ons/The_Golden_Age/units/pixies/}
    {~add-ons/The_Golden_Age/units/dwarves/}
    {~add-ons/The_Golden_Age/units/gryphons/}
    {~add-ons/The_Golden_Age/units/khalifate/}
    {~add-ons/The_Golden_Age/units/monsters/}
    {~add-ons/The_Golden_Age/units/merfolk/}
    {~add-ons/The_Golden_Age/units/nagas/}
    {~add-ons/The_Golden_Age/units/drakes/}
    {~add-ons/The_Golden_Age/units/saurians/}
    {~add-ons/The_Golden_Age/units/salamanders/}
    {~add-ons/The_Golden_Age/units/carapaces/}
    {~add-ons/The_Golden_Age/units/orcs/}
    {~add-ons/The_Golden_Age/units/goblins/}
    {~add-ons/The_Golden_Age/units/trolls/}
    {~add-ons/The_Golden_Age/units/sea_monsters}
    {~add-ons/The_Golden_Age/units/undead}
    {~add-ons/The_Golden_Age/units/woses}
    {~add-ons/The_Golden_Age/units/snow-fairies/}
    {~add-ons/The_Golden_Age/units/wolves/}
    {~add-ons/The_Golden_Age/units/otherworldly/}
[/units]
#ifdef MULTIPLAYER
    [units]
        [hide_help]
            type=Fire Dragon,Elvish Fighter,Elvish Hero,Elvish Champion,Elvish Avenger,Elvish Archer,Elvish Ranger,Elvish Marksman,Elvish Sharpshooter,Elvish Shaman,Elvish Lord,Elvish High Lord,Drake Fighter,Drake Glider,Drake Burner,Footpad,Heavy Infantryman,Shock Trooper,Iron Mauler,Fire Drake,Inferno Drake,Drake Flare,Drake Flameheart,Naga Fighter,Dwarvish Scout,Dwarvish Fighter,Dwarvish Steelclad,Dwarvish Runesmith,Dwarvish Lord,Dwarvish Runemaster,Dwarvish Thunderer,Dwarvish Thunderguard,Dwarvish Dragonguard,Dwarvish Guardsman,Dwarvish Stalwart,Dwarvish Sentinel,Gryphon Rider,Gryphon Master,Dwarvish Ulfserker,Dwarvish Berserker,Saurian Augur,Saurian Skirmisher,Saurian Oracle,Saurian Soothsayer,Wose,Orcish Grunt,Troll Whelp,Troll,Troll Rocklobber,Troll Warrior,Orcish Assassin,Orcish Slayer,Orcish Grunt,Death Knight,Arif,Mudafi,Rasikh,Khaiyal,Hakim,Naffat,Cavalryman,Dark Adept,Dark Sorcerer,Necromancer,Lich,Ancient Lich,Walking Corpse,Soulless,Ghoul,Necrophage,Ghast,Fire Guardian,Orcish Archer,Orcish Leader,Orcish Ruler,Orcish Sovereign,Vampire Bat,Blood Bat,Dread Bat,Giant Rat,Elvish Sorceress,Elvish Enchantress,Elvish Sylph,Elvish Druid,Elvish Shyde,Armageddon Drake,Goblin Spearman,Goblin Impaler,Goblin Rouser,Revenant,Troll Shaman,Mermaid Initiate,Merman Fighter,Shadow,Nightgaunt,Deathblade,Mage,Red Mage,Silver Mage,Bowman,Sergeant,Lieutenant,General,Grand Marshal,Orcish Warrior,Orcish Warlord,Spearman,Javelineer,Faris,Skeleton Archer,Bone Shooter,Banebow,Merman Fighter,Merman Warrior,Merman Hoplite,Horseman,Knight,Lancer,Paladin,Grand Knight,Wraith,Spectre,Thug,Bandit,Highwayman,Thief,Rogue,Assassin,Wolf Rider,Goblin Knight,Dwarvish Pathfinder.Dwarvish Explorer,Ruffian,Arch Mage,Cavalryman,Dragoon,Cavalier,Goblin Pillager,Gryphon,Elvish Rider,Elvish Outcast,Dwarvish Arcanister,Naga Warrior,Naga Myrmidon,Merman Triton,Merman Hunter,Merman Spearman,Merman Javelineer,Merman,Great Mage,Drake Warrior,Drake Blademaster,Jundi,Fencer,Duelist,Master at Arms,Poacher,Trapper,Huntsman,Ranger,Longbowman,Master Bowman,Pikeman,Halberdier
        [/hide_help]
    [/units]
#endif
#ifndef MULTIPLAYER
    [units]
        [hide_help]
            type=Ancient Lich,Fire Guardian,Giant Rat,Young Ogre,Ogre
        [/hide_help]
    [/units]
#endif
#    [units]
#        [hide_help]
#            type=Fire Dragon 
#        [/hide_help]
#    [/units]
#endif
