#textdomain wesnoth-units
[unit_type]
    id=Dwarvish Alchemist
    name= _ "Dwarvish Alchemist"
    race=dwarf
    image="units/dwarves/alchemist.png"
    profile="portraits/transparent/DWalchemist.png"
    small_profile="portraits/transparent/DWalchemist.png~SCALE(215,215)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=46
    movement_type=dwarvishfoot
    movement=5
    level=2
    alignment=neutral
    cost=40
    usage=healer
    advances_to=null
    experience=100
    {AMLA_DEFAULT}
    description= _ "Dwarvish Alchemists are those few dwarves who devoted their lives to the art of alchemy, which often viewed as 'mysterious' by many other races and their fellow kin alike. Their order was created from a crazy wish to be able to turn various metals into gold. They haven't succeeded in their insane quest, but they managed to gain a very important thing in this aspect, knowledge. The kind of knowledge which pretty much every other race lacked due to their strenthening interest in magic, and due to that, dwarvish alchemists are often mistakingly associate them with magic of potioncraft, while in fact the only thing dwarvish alchemists use is pure technology, nothing more, nothing less. One of the plentiful uses of their skill involves making potent healing substances, which can easily heal most major wounds, as well as antidotes for certain illnesses. They have also been know to dip their daggers in battle in various deadly substances which can be as deadly, if not more than most natural poisons."+{SPECIAL_NOTES}+{SPECIAL_NOTES_HEALS}+{SPECIAL_NOTES_CURES}+{SPECIAL_NOTES_POISON}
    {DEFENSE_ANIM "units/dwarves/alchemist.png" "units/dwarves/alchemist.png" {SOUND_LIST:DWARF_HIT} }
    die_sound={SOUND_LIST:DWARF_DIE}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/dwarves/transparent/alchemist.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/dwarves/transparent/alchemist.png"
    [/portrait]
    [abilities]
        {ABILITY_CURES}
    [/abilities]
	[attack]
        name=dagger
        description= _"dagger"
        icon=attacks/blade-nf-poison.png
        type=blade
        range=melee
        damage=7
        number=2
		[specials]
			{WEAPON_SPECIAL_POISON}
		[/specials]
    [/attack]
    [attack]
        name=explosive flask
        description=_"explosive flask"
        icon=icons/potion_red_medium.png
        type=fire
        range=ranged
        damage=11
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        {MELEE_FRAME_SWOOSH dagger-swish.wav "~SCALE(80,80)~BLEND(64,200,0,0.35)"}
        {SOUND:POISON}
    [/attack_anim]
	[attack_anim]
        [filter_attack]
            name=dagger_old
        [/filter_attack]
        offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.5,0.5~0.3,0.3~0.0

        start_time=-300
#        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -75}
        [if]
            hits=yes
            [frame]
                image="units/dwarves/alchemist.png:250"
                sound=dagger-swish.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                image="units/dwarves/alchemist.png":250
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            image="units/dwarves/alchemist.png":400
        [/frame]

        {SOUND:POISON}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=explosive flask
        [/filter_attack]
		start_time=-800
		offset=0.0~0.0:320,0.0~-0.03:250,-0.03~0.0:200
        flame_burst_1_start_time=0
        flame_burst_2_start_time=50
        flame_burst_3_start_time=-100
        [if]
            hits=yes
            direction=n,nw,ne
        	    [sling_stone_frame]
        	        begin=-481
        	        end=-480
        	        image="misc/blank-hex.png"
        	    [/sling_stone_frame]
        	    [sling_stone_frame]
        	        begin=-480
        	        end=0
        	        halo="items/potion-red.png~SCALE(60,60)"
        	        halo_y=10~5,5~2,2~1,1~2,2~5,5~10
	                offset=0.3~1.0
              		sound=fire.wav
         	   [/sling_stone_frame]
                   {FIRE_BURST_SMALL}
            [flame_burst_1_frame]
                halo=halo/flame-burst-[1~8].png~SCALE(80,160):75
                halo_x,halo_y=-12,10
                offset=1.0
            [/flame_burst_1_frame]
            [flame_burst_2_frame]
                halo=halo/flame-burst-[1~8].png~SCALE(80,160):75
                halo_x,halo_y=0,10
                offset=1.0
            [/flame_burst_2_frame]
            [flame_burst_3_frame]
                halo=halo/flame-burst-[1~8].png~SCALE(80,160):75
                halo_x,halo_y=12,10
                offset=1.0
            [/flame_burst_3_frame]
	            [sling_stone_frame]
	                begin=0
	                end=1
	                image="misc/blank-hex.png"
	            [/sling_stone_frame]
        [/if]
	        [else]
	            hits=no
                    direction=n,nw,ne
	            [sling_stone_frame]
	                begin=-481
	                end=-480
	                image="misc/blank-hex.png"
	            [/sling_stone_frame]
	            [sling_stone_frame]
	                begin=-480
	                end=320
	                halo="items/potion-red.png~SCALE(60,60)"
	                halo_y=10~5,5~2,2~1,1~2,2~5,5~10,10~8,8~10,10~9,9~10
	       	         offset=0.3~1.5
        	    [/sling_stone_frame]
        	    [sling_stone_frame]
        	        begin=320
	                end=321
	                image="misc/blank-hex.png"
	            [/sling_stone_frame]
	        [/else]
        [else]
            hits=yes
            direction=s,sw,se
        	    [sling_stone_frame]
        	        begin=-481
        	        end=-480
        	        image="misc/blank-hex.png"
        	    [/sling_stone_frame]
        	    [sling_stone_frame]
        	        begin=-480
        	        end=0
        	        halo="items/potion-red.png~SCALE(60,60)~FL(vert)"
        	        halo_y=10~5,5~2,2~1,1~2,2~5,5~10
	                offset=0.3~1.0
              		sound=fire.wav
         	   [/sling_stone_frame]
                   {FIRE_BURST_SMALL}
            [flame_burst_1_frame]
                halo=halo/flame-burst-[1~8].png~SCALE(80,160)~FL(vert):75
                halo_x,halo_y=-12,10
                offset=1.0
            [/flame_burst_1_frame]
            [flame_burst_2_frame]
                halo=halo/flame-burst-[1~8].png~SCALE(80,160)~FL(vert):75
                halo_x,halo_y=0,10
                offset=1.0
            [/flame_burst_2_frame]
            [flame_burst_3_frame]
                halo=halo/flame-burst-[1~8].png~SCALE(80,160)~FL(vert):75
                halo_x,halo_y=12,10
                offset=1.0
            [/flame_burst_3_frame]
	            [sling_stone_frame]
	                begin=0
	                end=1
	                image="misc/blank-hex.png"
	            [/sling_stone_frame]
        [/else]
	        [else]
	            hits=no
                    direction=s,sw,se
	            [sling_stone_frame]
	                begin=-481
	                end=-480
	                image="misc/blank-hex.png"
	            [/sling_stone_frame]
	            [sling_stone_frame]
	                begin=-480
	                end=320
	                halo="items/potion-red.png~SCALE(60,60)~FL(vert)"
	                halo_y=10~5,5~2,2~1,1~2,2~5,5~10,10~8,8~10,10~9,9~10
	       	         offset=0.3~1.5
        	    [/sling_stone_frame]
        	    [sling_stone_frame]
        	        begin=320
	                end=321
	                image="misc/blank-hex.png"
	            [/sling_stone_frame]
	        [/else]
        [frame]
            begin=-150
            end=50
            image="units/dwarves/alchemist.png"
	    sound={SOUND_LIST:THROW}
        [/frame]
    [/attack_anim]
[/unit_type]
