#textdomain wesnoth-units
#ifdef MULTIPLAYER
[unit_type]
    id=TGA Dwarvish Scout
    [base_unit]
        id=Dwarvish Scout
    [/base_unit]
    advances_to=TGA Dwarvish Pathfinder,Dwarvish Wanderer
    experience=40
    hide_help=false
    do_not_list=no
    [attack]
        name=axe
        description= _"axe"
        type=blade
        range=melee
        damage=6
        number=3
    [/attack]
    [attack]
        name=axe
        description= _"axe"
        type=blade
        range=ranged
        damage=7
        number=2
    [/attack]
[/unit_type]
[unit_type]
    id=TGA Dwarvish Pathfinder
    [base_unit]
        id=Dwarvish Pathfinder
    [/base_unit]
    advances_to=TGA Dwarvish Explorer
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Dwarvish Explorer
    [base_unit]
        id=Dwarvish Explorer
    [/base_unit]
    advances_to=TGA Dwarvish Geologist
    experience=180
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Dwarvish Fighter
    [base_unit]
        id=Dwarvish Fighter
    [/base_unit]
    advances_to=TGA Dwarvish Steelclad,TGA Dwarvish Runesmith
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Dwarvish Steelclad
    [base_unit]
        id=Dwarvish Steelclad
    [/base_unit]
    advances_to=TGA Dwarvish Lord
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Dwarvish Runesmith
    [base_unit]
        id=Dwarvish Runesmith
    [/base_unit]
    advances_to=Dwarvish Runemaster,Dwarvish Runecaster
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Dwarvish Lord
    [base_unit]
        id=Dwarvish Lord
    [/base_unit]
    advances_to=Dwarvish Mountain King,Dwarvish Monarch
    experience=220
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Dwarvish Runemaster
    [base_unit]
        id=Dwarvish Runemaster
    [/base_unit]
    advances_to=TGA Dwarvish Arcanister
    experience=220
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Dwarvish Arcanister
    [base_unit]
        id=Dwarvish Arcanister
    [/base_unit]
    advances_to=Dwarvish Runic Lord
    experience=500
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Dwarvish Thunderer
    [base_unit]
        id=Dwarvish Thunderer
    [/base_unit]
    advances_to=TGA Dwarvish Thunderguard,Dwarvish Flamethrower,Dwarvish Gunslinger
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Dwarvish Thunderguard
    [base_unit]
        id=Dwarvish Thunderguard
    [/base_unit]
    advances_to=TGA Dwarvish Dragonguard
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Dwarvish Dragonguard
    [base_unit]
        id=Dwarvish Dragonguard
    [/base_unit]
    advances_to=Dwarvish Royal Dragonier
    experience=200
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Gryphon Rider
    [base_unit]
        id=Gryphon Rider
    [/base_unit]
    advances_to=TGA Gryphon Master,Gryphon Knight,Gryphon Scout
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Gryphon Master
    [base_unit]
        id=Gryphon Master
    [/base_unit]
    advances_to=Gryphon Lord
    experience=82
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Dwarvish Guardsman
    [base_unit]
        id=Dwarvish Guardsman
    [/base_unit]
    advances_to=TGA Dwarvish Stalwart
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Dwarvish Stalwart
    [base_unit]
        id=Dwarvish Stalwart
    [/base_unit]
    advances_to=TGA Dwarvish Sentinel,Dwarvish Phalanx,Dwarvish Protector
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Dwarvish Sentinel
    [base_unit]
        id=Dwarvish Sentinel
    [/base_unit]
    advances_to=Dwarvish Warden
    experience=220
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Dwarvish Ulfserker
    [base_unit]
        id=Dwarvish Ulfserker
    [/base_unit]
    advances_to=TGA Dwarvish Berserker,Dwarvish Tyrserker
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Dwarvish Berserker
    [base_unit]
        id=Dwarvish Berserker
    [/base_unit]
    advances_to=Dwarvish Ormserker,Dwarvish Rokrserker
    experience=75
    hide_help=false
    do_not_list=no
[/unit_type]
#endif