#textdomain wesnoth-units
[unit_type]
    id=Dwarvish Tundra Hunter
    name= _ "Dwarvish Tundra Hunter"
    race=dwarf
    image="units/dwarves/tundra_hunter.png"
#    profile="units/dwarves/tundra_hunter.png~SCALE(288,288)~RC(magenta>red)"
    {MAGENTA_IS_THE_TEAM_COLOR}
	#halo=halo/runic_protection.png
    hitpoints=73
    movement_type=dwarvishfoot
    movement=7
    level=3
    alignment=neutral
    cost=54
    usage=fighter
    experience=176
	advances_to=Dwarvish Iron Bear
	{AMLA_DEFAULT}
    description= _ "Bear Riders often leave their caves when they strengthened the bound with their bear. As such, the tundra hunters roam the plains and the foothills of the Heart Mountains. "
    {DEFENSE_ANIM "units/dwarves/tundra_hunter.png" "units/dwarves/tundra_hunter.png" {SOUND_LIST:DWARF_HIT}}
    die_sound={SOUND_LIST:DWARF_DIE}
    [defense]
        flat=60
        forest=60
        sand=60
        mountains=40
        hills=50
	frozen=50
    [/defense]
    [movement_costs]
        frozen=1
    [/movement_costs]
    [resistance]
        blade=75
        pierce=75
        cold=80
    [/resistance]
    [attack]
        name=ram
        description=_"ram"
        icon=attacks/ram-bear.png
        type=impact
        range=melee
        damage=18
        number=1
		[specials]
			{WEAPON_SPECIAL_CHARGE}
#			{WEAPON_SPECIAL_KNOCKBACK}
		[/specials]
    [/attack]
    [attack]
        name=javelin
        description=_"javelin"
        icon=attacks/javelin-human.png
        type=pierce
        range=ranged
        damage=11
        number=3
    [/attack]
    [attack]
        name=thunderstick
        description=_"thunderstick"
        type=pierce
        range=ranged
        damage=30
        number=1
        icon=attacks/thunderstick.png
    [/attack]
    [attack]
        name=bite
        description=_"bite"
        icon=attacks/fangs-animal.png
        type=blade
        range=melee
        damage=8
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/dwarves/tundra_hunter.png:50"
        [/frame]
        [frame]
            image="units/dwarves/tundra_hunter.png:50"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -100}
        [frame]
            image="units/dwarves/tundra_hunter.png:150"
        [/frame]
        [frame]
            image="units/dwarves/tundra_hunter.png:25"
        [/frame]
        [frame]
            image="units/dwarves/tundra_hunter.png:75"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=javelin
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/spear-n.png"
            image_diagonal="projectiles/spear-ne.png"
        [/missile_frame]
        start_time=-250
        [frame]
            image="units/dwarves/tundra_hunter.png:100"
            sound={SOUND_LIST:THROW}
        [/frame]
        {SOUND:HIT spear.ogg -150}
        [frame]
            image="units/dwarves/tundra_hunter.png:100"
        [/frame]
        [frame]
            image="units/dwarves/tundra_hunter.png:50"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
        start_time=-500

        [frame]
            duration=50
            offset=0.0~-0.1
        [/frame]
        [frame]
            duration=500
            offset=-0.1~-0.2.0:200,-0.2~0.0:150,0.0~0.6:100,0.6~0.4:100
            sound=yeti-hit.ogg
        [/frame]
        [frame]
            duration=100
            offset=0.4~0.0
        [/frame]

        {SOUND:HIT_AND_MISS bite.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]	
    [attack_anim]
        [filter_attack]
            name=ram
        [/filter_attack]
        start_time=-500

        [frame]
            duration=50
            offset=0.0~-0.1
        [/frame]
        [frame]
            duration=500
            offset=-0.1~-0.2.0:200,-0.2~0.0:150,0.0~0.6:100,0.6~0.4:100
            sound=yeti-hit.ogg
        [/frame]
        [frame]
            duration=100
            offset=0.4~0.0
        [/frame]

        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]	
    [attack_anim]
        [filter_attack]
            name=thunderstick
        [/filter_attack]
        [frame]
            begin=-600
            end=-400
        [/frame]
        [if]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_SOUTH 0 0}
            direction=se,sw
            hits=yes
            [frame]
                begin=-400
                end=0
                sound=dragonstick.ogg
            [/frame]
        [/if]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 3 24}
            direction=se,sw
            hits=no
            [frame]
                begin=-400
                end=0
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_NORTH 0 20}
            direction=ne,nw
            hits=yes
            [frame]
                begin=-400
                end=0
                sound=dragonstick.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 3 24}
            direction=ne,nw
            hits=no
            [frame]
                begin=-400
                end=0
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_NORTH 0 20}
            hits=yes
            direction=n
            [frame]
                begin=-400
                end=0
                sound=dragonstick.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 3 24}
            hits=no
            direction=n
            [frame]
                begin=-400
                end=0
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_SOUTH 0 0}
            direction=s
            hits=yes
            [frame]
                begin=-400
                end=0
                sound=dragonstick.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 3 24}
            direction=s
            hits=no
            [frame]
                begin=-400
                end=0
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=0
            end=1
        [/frame]
    [/attack_anim]
[/unit_type]
