#textdomain wesnoth-units
[unit_type]
    id=Dwarvish Bear Dragoon
    name= _ "Dwarvish Bear Dragoon"
    race=dwarf
    image="units/dwarves/bear_dragoon.png"
#    profile="units/dwarves/bear_dragoon.png~SCALE(288,288)~RC(magenta>red)"
    {MAGENTA_IS_THE_TEAM_COLOR}
	#halo=halo/runic_protection.png
    hitpoints=75
    movement_type=dwarvishfoot
    movement=7
    level=3
    alignment=neutral
    experience=181
    advances_to=Dwarvish Mounted King 
    {AMLA_DEFAULT}
    cost=54
    usage=fighter
    description= _ "The bears of the valleys of the Heart Mountains are one of the fiercest yet tameable creatures of the Northlands. As both dwarves and bears inhabit these mountains, it was just a matter of time the dwarves managed to tame them. The Shorbear Clan was the first one to do so."
    {DEFENSE_ANIM "units/dwarves/bear_dragoon.png" "units/dwarves/bear_dragoon.png" {SOUND_LIST:DWARF_HIT}}
    die_sound={SOUND_LIST:DWARF_DIE}
    [defense]
        flat=60
        forest=60
        sand=60
        mountains=50
        hills=60
	frozen=60
	cave=60
	fungus=60
    [/defense]
    [movement_costs]
        frozen=1
    [/movement_costs]
    [resistance]
        blade=70
        pierce=70
        cold=80
    [/resistance]
    [attack]
        name=ram
        description=_"ram"
        icon=attacks/ram-bear2.png
        type=impact
        range=melee
        damage=26
        number=1
		[specials]
			{WEAPON_SPECIAL_CHARGE}
#			{WEAPON_SPECIAL_KNOCKBACK}
		[/specials]
    [/attack]
    [attack]
        name=hammer
        description=_"hammer"
        icon=attacks/hammer-dwarven.png
        type=pierce
        range=melee
        damage=14
        number=3
    [/attack]
    [attack]
        name=bite
        description=_"bite"
        icon=attacks/fangs-animal.png
        type=blade
        range=melee
        damage=11
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        start_time=-500

        [frame]
            duration=50
            offset=0.0~-0.1
        [/frame]
        [frame]
            duration=500
            offset=-0.1~-0.2.0:200,-0.2~0.0:150,0.0~0.6:100,0.6~0.4:100
        [/frame]
        [frame]
            duration=100
            offset=0.4~0.0
        [/frame]

        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]	
    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
        start_time=-500

        [frame]
            duration=50
            offset=0.0~-0.1
        [/frame]
        [frame]
            duration=500
            offset=-0.1~-0.2.0:200,-0.2~0.0:150,0.0~0.6:100,0.6~0.4:100
            sound=yeti-hit.ogg
        [/frame]
        [frame]
            duration=100
            offset=0.4~0.0
        [/frame]

        {SOUND:HIT_AND_MISS bite.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]	
    [attack_anim]
        [filter_attack]
            name=ram
        [/filter_attack]
        start_time=-500

        [frame]
            duration=50
            offset=0.0~-0.1
        [/frame]
        [frame]
            duration=500
            offset=-0.1~-0.2.0:200,-0.2~0.0:150,0.0~0.6:100,0.6~0.4:100
            sound=yeti-hit.ogg
        [/frame]
        [frame]
            duration=100
            offset=0.4~0.0
        [/frame]

        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]	
[/unit_type]
