#textdomain wesnoth-units
[unit_type]
    id=TGA Catapult
    name= _ "Catapult"
    race=mechanical
    image="units/mechanical/thunderthrow.png"
    hitpoints=60
    movement_type=tower
    movement=2
    experience=80
    level=2
    alignment=neutral
    advances_to=Trebuchet
#    {AMLA_DEFAULT}
    cost=40
    usage=archer
    #wmllint: local spelling ballistas
    description= _ ""
    {DEFENSE_ANIM "units/mechanical/thunderthrow.png" "units/mechanical/thunderthrow.png" mace.wav}
    die_sound=wose-die.ogg
    [movement_costs]
        deep_water=99
        shallow_water=99
        swamp_water=99
        flat=1
        sand=2
        forest=2
        hills=2
        mountains=99
        village=1
        castle=1
        cave=2
        frozen=2
        unwalkable=99
        impassable=99
        fungus=2
    [/movement_costs]
    [defense]
        deep_water=100
        shallow_water=100
        swamp_water=90
        flat=80
        sand=90
        forest=80
        hills=70
        mountains=60
        village=70
        castle=60
        cave=90
        frozen=90
        fungus=90
    [/defense]
    [resistance]
        blade=100
        pierce=90
        impact=100
        fire=120
        cold=90
        arcane=100
    [/resistance]
	[abilities]
		{ABILITY_DISTANT_SHOOT Boulder sling-big.ogg misc/catapult.png 3}
	[/abilities]
    [attack]
        name=boulder
        description=_"boulder"
        icon=attacks/rock_thrown.png
        type=impact
        range=ranged
        damage=30
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=boulder
        [/filter_attack]

        start_time=-1000
        offset=0

        sling_stone_start_time=-800
        [if]
            hits=yes
            [sling_stone_frame]
                halo="projectiles/stone-large.png:800"
                halo_x=24~0
                halo_y=0~-10,-10~-18,-18~-22,-22~-24,-24~-25,-25~-24,-24~-22,-22~-18,-18~-10,-10~-0
                offset=0.0~1.0
            [/sling_stone_frame]

            [frame]
                image="units/mechanical/thunderthrow-attack-1.png:200"
                sound=sling-big.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [sling_stone_frame]
                halo="projectiles/stone-large.png:900"
                halo_x=24~0
                halo_y=0~-10,-10~-16,-16~-20,-20~-22,-22~-20,-20~-16,-16~-10,-10~0,0~-4,-4~0,0~-2,-2~0
                offset=0.0~1.5
            [/sling_stone_frame]

            [frame]
                image="units/mechanical/thunderthrow-attack-2.png:200"
                sound=sling-big-miss.ogg
            [/frame]
        [/else]
        [frame]
            image="units/mechanical/thunderthrow-attack-2.png:600"
        [/frame]
        [frame]
            image="units/mechanical/thunderthrow-attack-3.png:100"
        [/frame]
        [frame]
            image="units/mechanical/thunderthrow.png:100"
        [/frame]
    [/attack_anim]
[/unit_type]
