#textdomain wesnoth-thot
[unit_type]
    id=Dwarvish Sage Futuristic
    name= _ "Dwarvish Sage Futuristic"
    # wmllint: general spelling loremaster loremasters
    race=dwarf
    image=units/dwarves/sage_futuristic.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    profile="portraits/witness.png"
    hitpoints=60
    movement_type=dwarvishfoot
    [resistance]
        blade=50
        pierce=50
        impact=50
    [/resistance]
    movement=5
    level=4
    alignment=neutral
    cost=80
    experience=200
    advances_to=null
    usage=mixed fighter
    {AMLA_DEFAULT}
    description= _ "Loremasters are the sages of the dwarvish race. Futuristics are the ultimate sages who can have mastered lore and rune and can proficy the future. Their counsel is greatly valued by war-leaders and chieftains, and they are viewed with awe by ordinary dwarves, for they alone have plumbed the deepest and most closely-held secrets of dwarven knowledge. It is said that where a loremaster stands, there is the soul of the dwarves. To the abilities of the Annalist they add a limited ability to heal."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SLOW}+{SPECIAL_NOTES_CURES}+{SPECIAL_NOTES_LEADERSHIP}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_HEALS}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/transparent/witness.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/transparent/witness.png"
    [/portrait]
    [abilities]
        {ABILITY_INSPIRE_LEVEL_4}
        {ABILITY_CURES}
#        {ABILITY_HEALS}
    [/abilities]
    die_sound={SOUND_LIST:DWARF_DIE}

    #{LEADING_ANIM units/dwarves/sage_futuristic-lead.png units/dwarves/sage_futuristic-lead.png 27,10}

    [attack]
        name=morningstar
        description= _"morningstar"	# wmllint: no spellchheck (until name->id)
        icon=attacks/mace-and-chain.png
        type=impact
        range=melee
        damage=12
        number=2
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=bolas
        description= _"bolas"
        type=impact
        range=ranged
        damage=8
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        icon=attacks/bolas.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=morningstar
            range=melee
        [/filter_attack]
        [frame]
            begin=-250
            end=-225
            image=units/dwarves/sage_futuristic.png
        [/frame]
        [frame]
            begin=-225
            end=-200
            image=units/dwarves/sage_futuristic.png
        [/frame]
        [frame]
            begin=-200
            end=-175
            image=units/dwarves/sage_futuristic.png
        [/frame]
        [frame]
            begin=-175
            end=-150
            image=units/dwarves/sage_futuristic.png
        [/frame]
        [frame]
            begin=-150
            end=-100
            image=units/dwarves/sage_futuristic.png
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image=units/dwarves/sage_futuristic.png
                sound=flail.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image=units/dwarves/sage_futuristic.png
                sound=flail-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=100
            end=175
            image=units/dwarves/sage_futuristic.png
        [/frame]
        [frame]
            begin=175
            end=225
            image=units/dwarves/sage_futuristic.png
        [/frame]
        [frame]
            begin=225
            end=300
            image=units/dwarves/sage_futuristic.png
        [/frame]
        [frame]
            begin=300
            end=375
            image=units/dwarves/sage_futuristic.png
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bolas
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image=projectiles/bolas-n.png
            image_diagonal=projectiles/bolas-ne.png
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-300
                end=-200
                image=units/dwarves/sage_futuristic.png
                sound=hatchet.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-300
                end=-200
                image=units/dwarves/sage_futuristic.png
                sound=hatchet-miss.wav
            [/frame]
        [/else]
        [frame]
            begin=-200
            end=-100
            image=units/dwarves/sage_futuristic.png
        [/frame]
        {SOUND:SLOW}
    [/attack_anim]
#define NOTUSED
    [defend]
        [frame]
            begin=-126
            end=-125
            image="units/dwarves/sage_futuristic.png"
        [/frame]
        [frame]
            begin=-125
            end=-42
            image="units/dwarves/sage_futuristic-defend1.png"
        [/frame]
        [frame]
            begin=-42
            end=41
            image="units/dwarves/sage_futuristic-defend2.png"
        [/frame]
        [frame]
            begin=41
            end=125
            image="units/dwarves/sage_futuristic-defend3.png"
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/dwarves/sage_futuristic.png"
        [/frame]
    [/defend]
#enddef
[/unit_type]
