#textdomain wesnoth-sof
[unit_type]
    id=Dwarvish Foreman
    name= _ "Dwarvish Foreman"
    race=dwarf
    image=units/dwarves/foreman.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=52
    movement_type=dwarvishfoot
    movement=5
    level=2
    alignment=neutral
    advances_to=Dwarvish Owner
    {AMLA_DEFAULT}
    experience=75
#ifndef MULTIPLAYER
#    cost=40
#endif
#ifdef MULTIPLAYER
#    cost=30
#endif
    cost=30
    usage=fighter
    description= _ "Dwarvish miners are the grunt workers of Dwarvish society. They take the precious ores out of the ground, but do not ever take part in the crafting of weapons or artifacts."
    die_sound={SOUND_LIST:DWARF_DIE}
#ifndef MULTIPLAYER
    [abilities]
#        {ABILITY_DIG}
    [/abilities]
#endif
    [attack]
        name=pick
        description= _"pick"
        type=pierce
        range=melee
        damage=9
        number=3
        icon=attacks/pick-axe.png
    [/attack]
    [attack]
        name=bomb
        description="bomb"
        icon=attacks/bomb.png
        type=impact
        range=ranged
        damage=11
        number=2
    [/attack]
    {MISSILE_FRAME_BOMB (name=bomb)}
    {DEFENSE_ANIM "units/dwarves/foreman.png" "units/dwarves/foreman.png" {SOUND_LIST:DWARF_HIT}}
     die_sound={SOUND_LIST:DWARF_DIE}
    [attack_anim]
        [filter_attack]
            name=pick
        [/filter_attack]
         start_time=-350
         offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.5,0.5~0.3,0.3~0.0
         [frame]
            image=units/dwarves/foreman.png:100
         [/frame]
         {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -50}
        [frame]
            image=units/dwarves/foreman.png:350
        [/frame]
     [/attack_anim]
[/unit_type]
