#textdomain wesnoth-units
[unit_type]
    id=Dwarvish Thane
    name= _ "Dwarvish Thane"
    race=dwarf
    image="units/dwarves/thane.png"
    profile=portraits/thane.png
    small_profile="portraits/thane.png~SCALE(215,215)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=84
    movement_type=dwarvishfoot
    movement=4
    experience=200
    level=4
    alignment=neutral
    advances_to=null
   {AMLA_DEFAULT}
    cost=68
    usage=fighter
    description= _ "Not many dwarves are allowed to wears helmets that cover their faces, as the face of a dwarf is perceived as a mirror of his personality. The thanes nonetheless are allowed since no one dares to question the loyalty of these heavily armoured dwarves. Thanes are often seen in the throne room of the high kings of the mountains."
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/dwarves/thane.png" "units/dwarves/thane.png" {SOUND_LIST:DWARF_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/thane.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/thane.png"
    [/portrait]
#    [abilities]
#        {ABILITY_PROTECTION 15}
#    [/abilities]
    [defense]
        flat=60
        forest=60
        sand=60
        mountains=40
        hills=50
    [/defense]
    [resistance]
        blade=60
        pierce=60
        impact=60
    [/resistance]
    [attack]
        name=spear
        description=_"spear"
        icon=attacks/pike.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
        type=pierce
        range=melee
        damage=25
        number=2
    [/attack]
    [attack]
        name=shield bash
        description= _ "shield bash"
        icon=attacks/shield_tower_gold.png
        type=impact
        range=melee
        damage=21
        number=2
#		defense_weight=1
		[specials]
			{WEAPON_SPECIAL_KNOCKBACK}
		[/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=shield bash
        [/filter_attack]

        start_time=-200

        [frame]
            image="units/dwarves/thane.png:300"
        [/frame]

        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/dwarves/thane.png"
        [/frame]
        [frame]
            begin=-150
            end=-100
            image="units/dwarves/thane.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/dwarves/thane.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/dwarves/thane.png"
                sound=spear-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=50
            end=75
            image="units/dwarves/thane.png"
        [/frame]
        [frame]
            begin=75
            end=150
            image="units/dwarves/thane.png"
        [/frame]
    [/attack_anim]
[/unit_type]
