#textdomain wesnoth-units
[unit_type]
    id=Dwarvish Monarch
    name= _ "Dwarvish Monarch"
    race=dwarf
    image=units/dwarves/guardian/dwarf_guardian.png
#    halo="halo/empowered-[1~15].png~SCALE(100,100)~CS(-40,50,-50):50"
    hitpoints=73
    movement_type=dwarvishfoot
    movement=5
    level=4
    alignment=neutral
    cost=100
    usage=mixed fighter
    experience=200
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Dwarvish Lord
        experience=220
    [/advancefrom]
#endif
    {MAGENTA_IS_THE_TEAM_COLOR}
    {AMLA_DEFAULT}
    undead_variation=dwarf
    description= _ "TODO"
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/dwarves/guardian/dwarf_guardian-defense.png" "units/dwarves/guardian/dwarf_guardian.png" {SOUND_LIST:DWARF_HIT} }
    [abilities]        
#        {ABILITY_LEADERSHIP_LEVEL_4}
        {ABILITY_PROTECTION 10}
    [/abilities]
    [resistance]
        blade=60
        pierce=70
        impact=70
    [/resistance]
    [attack]
        name=axe
        description= _ "battle axe"
        type=blade
        range=melee
        damage=23
        number=2
        icon="attacks/battleaxe.png"
        [specials]
            {WEAPON_SPECIAL_LESSER_MARKSMAN}
        [/specials]
    [/attack]
    [attack]
        name=earth emerald
        description= _ "earth emerald"
        type=impact
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=14
        number=3
        icon="attacks/earth_emerald.png"
    [/attack]
    [attack]
        name=earthquake
        description= _ "earthquake"
        type=impact
        [specials]
            {WEAPON_SPECIAL_LESSER_MARKSMAN}
            {WEAPON_SPECIAL_WHIRLWIND}
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        range=ranged
        damage=23
        number=1
        icon="attacks/drum.png"
    [/attack]
    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        [frame]
            image="units/dwarves/guardian/axe_[1~3].png:150"
        [/frame]
        [frame]
            image="units/dwarves/guardian/axe_[4~6].png:100"
        [/frame]
        [if]
            hits=yes
            [frame]
                sound=axe.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            image="units/dwarves/guardian/axe_[7~8].png:100"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=earth emerald
        [/filter_attack]
        [frame]
            begin=-1100
            end=20
            image="units/dwarves/guardian/dwarf_guardian-attack-gem-[1~10].png"
        [/frame]
        start_time=-1100
        missile_start_time=-300   
        [missile_frame]
	  duration=310
	  offset=0.5~1.0
	  image="projectiles/gemmissile-n.png,projectiles/gemmissile-impact-[1~8].png"
	  image_diagonal="projectiles/gemmissile-ne.png,projectiles/gemmissile-impact-[1~8].png"
        [/missile_frame]
        
        [if]
            hits=yes
            [frame]
                sound=melee-fire.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                sound=flame-big-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=earthquake
        [/filter_attack]
        [if]
            hits=yes
        [frame]
            begin=-1100
            end=20
            image="units/dwarves/guardian/dwarf_guardian-attack-gem-[1~10].png"
            halo="projectiles/gemmissile-impact-[1~8].png"
            halo_y=-16
            sound=mace.wav
        [/frame]
        [/if]
        [else]
            hits=no
        [frame]
            begin=-1100
            end=20
            image="units/dwarves/guardian/dwarf_guardian-attack-gem-[1~10].png"
            sound=mace.wav
        [/frame]
        [/else]
        offset=0.0
        start_time=-1100
#        missile_start_time=-1100
        
        [if]
            hits=yes
            [frame]
                sound=rumble.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                sound=rumble.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [idle_anim]
        start_time=0
        [frame]
            image=units/dwarves/guardian/dwarf_guardian.png:50
            halo="halo/empowered-[1~15].png~SCALE(100,100)~CS(-40,50,-50):50"
        [/frame]
    [/idle_anim]        
#define DWARVISH_GUARDIAN_LIGHTNING DIRECTION_NUMBER
    [attack_anim]
        [filter_attack]
            name=lightning
        [/filter_attack]

        {LIGHTNING_BOLT {DIRECTION_NUMBER} }

        start_time=-750
        {SOUND:HIT_AND_MISS lightning.ogg lightning-miss.ogg -750}
        [frame]
            image="units/dwarves/guardian/dwarf_guardian-attack-gem-[1~10].png:[145*10]"
        [/frame]
    [/attack_anim]
#enddef

    {DWARVISH_GUARDIAN_LIGHTNING 1}
    {DWARVISH_GUARDIAN_LIGHTNING 2}
    {DWARVISH_GUARDIAN_LIGHTNING 3}
    {WHIRLWIND_EVENT}
[/unit_type]
