#textdomain wesnoth-units
[unit_type]
    id=Dwarvish Woodcutter
    name= _ "Dwarvish Woodcutter"
    race=dwarf
    image="units/dwarves/woodcutter.png"
    profile="portraits/dwarves/fighter.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=20
    movement_type=dwarvishfoot
    [resistance]
        blade=90
        pierce=90
        impact=90
    [/resistance]
    movement=5
    level=0
    alignment=neutral
    cost=8
    usage=fighter
    experience=24
#ifdef MULTIPLAYER
    advances_to=TGA Dwarvish Fighter,TGA Dwarvish Thunderer,TGA Dwarvish Scout,TGA Dwarvish Guardsman,TGA Dwarvish Ulfserker
#endif
#ifndef MULTIPLAYER
    advances_to=Dwarvish Fighter,Dwarvish Thunderer,Dwarvish Scout,Dwarvish Guardsman,Dwarvish Ulfserker
#endif
    undead_variation=dwarf
    description="."
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/dwarves/woodcutter.png" "units/dwarves/woodcutter.png" {SOUND_LIST:DWARF_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/dwarves/transparent/fighter.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/dwarves/transparent/fighter.png"
    [/portrait]
    [attack]
        name=axe
        description=_"axe"
        range=melee
        type=blade
        damage=6
        number=2
        icon=attacks/axe.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        start_time=-350
        offset=0.0~-0.15,-0.15~0.1,0.1~0.5,0.5~0.6,0.6~0.6,0.6~0.15,0.15~0.0
        [frame]
            image="units/dwarves/woodcutter.png:350"
        [/frame]
        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -150}
    [/attack_anim]
[/unit_type]