#textdomain wesnoth-units
#define AMLA_UTHAIN
	[advancement]
		id=earth_emerald_boost
		description=" [1/1]
" + "    better with earth emerald"
        image="attacks/earth_emerald.png"
		always_display=yes
		max_times=1
        [effect]
            apply_to=attack
            name=earth emerald
            increase_attacks=1
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
	[/advancement]
	
	[advancement]
		id=bear
        description= _ "Meister Petz [1/1]
" + "    calls forth Meister Petz, gaining improved stats"
        image=units/dwarves/uthain_bear.png
		always_display=yes
		max_times=1
		[effect]
			apply_to=variation
			name=Dwarvish Bear Hammerdin
		[/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
		exclude_amla=shield
	[/advancement]
	[advancement]
		id=shield
        description= _ "Magical Halo [1/1]
" + "    gains +10% resistance to all damage types"
        image="halo/stormcloak.png~CS(-30,0,-75)"
	exclude_amla=bear
		always_display=yes
		max_times=1
        [effect]
            apply_to=resistance
            replace=no
            [resistance]
                blade=-10
                pierce=-10
                impact=-10
                arcane=-10
                fire=-10
                cold=-10
            [/resistance]
        [/effect]
		[effect]
			apply_to=halo
                        halo="halo/stormcloak.png~CS(-30,0,-75)"
		[/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
	[/advancement]
#enddef

[unit_type]
    id=Dwarvish Hammerdin
    name= _ "Dwarvish Hammerdin"
    race=dwarf
    image="units/dwarves/uthain.png"
    profile="portraits/dwarves/transparent/fighter-2.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=57
    movement_type=dwarvishfoot
    [resistance]
        blade=50
        pierce=60
        impact=60
    [/resistance]
    movement=6
        [movement_costs]
            shallow_water=1
            reef=2
            swamp_water=2
            flat=1
            sand=1
            forest=2
            hills=2
            mountains=3
            village=1
            castle=1
            cave=2
            frozen=2
            fungus=2
        [/movement_costs]
    level=2
    alignment=neutral
    cost=50
    usage=fighter
    experience=100
    advances_to=null
    {AMLA_UTHAIN}
    description= _ "Eager to explore the world in search of ancient and forgotten artifacts, the dwarvish hammerdin are mostly lone survivors who will, nevertheless, embrace the company of others if that helps to advance their cause. Their travels and artifacts collected in the span of their lives have made them tough adversaries for any foe foolish enough to pose an obstacle to their everlasting quest, leading them away from the usual paths of the dwarvish people."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}
    {DEFENSE_ANIM "units/dwarves/uthain.png" "units/dwarves/uthain.png" {SOUND_LIST:DWARF_HIT} }
    die_sound={SOUND_LIST:DWARF_DIE}
    [attack]
        name=hammer
        description= _"hammer"
        icon=attacks/hammer-dwarven-runic-green.png
        type=impact
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=melee
        damage=14
        number=2
    [/attack]
    [attack]
        name=earth emerald
        description= _ "earth emerald"
        type=impact
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=12
        number=1
        icon="attacks/earth_emerald.png"
    [/attack]
    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.5,0.5~0.3,0.3~0.0
        start_time=-350
        [frame]
            image=units/dwarves/uthain.png:250
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
        [frame]
            image=units/dwarves/uthain.png:400
        [/frame]
		
		[if]
            hits=yes
			[missile_frame]
				halo=halo/empowered-[1~15].png~SCALE(100,100)~BLEND(60,196,70,0.6):80
				offset=1.0
				auto_vflip=false
			[/missile_frame]
		[/if]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=earth emerald
        [/filter_attack]
        [frame]
            begin=-1100
            end=20
#            image="units/dwarves/uthain.png"
	    halo=halo/empowered-[1~15].png~SCALE(100,100)~BLEND(60,196,70,0.6):80
        [/frame]
        start_time=-1100
        missile_start_time=-300   
        [missile_frame]
	  duration=310
	  offset=0.5~1.0
	  image="projectiles/gemmissile-n.png,projectiles/gemmissile-impact-[1~8].png"
	  image_diagonal="projectiles/gemmissile-ne.png,projectiles/gemmissile-impact-[1~8].png"
        [/missile_frame]
        
        [if]
            hits=yes
            [frame]
                sound=melee-fire.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                sound=flame-big-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
	

    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
        start_time=-500

        [frame]
            duration=50
            offset=0.0~-0.1
        [/frame]
        [frame]
            duration=500
            offset=-0.1~-0.2.0:200,-0.2~0.0:150,0.0~0.6:100,0.6~0.4:100
            sound=yeti-hit.ogg
        [/frame]
        [frame]
            duration=100
            offset=0.4~0.0
        [/frame]

        {SOUND:HIT_AND_MISS bite.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]	

[variation]
	variation_name="Dwarvish Bear-Hammerdin"
	variation_id=Dwarvish Bear Hammerdin
	inherit=yes
	image_icon="units/dwarves/uthain_bear.png~CROP(4,7,72,72)"
    image="units/dwarves/uthain_bear.png"
    hitpoints=72
		
    {DEFENSE_ANIM "units/dwarves/uthain_bear.png" "units/dwarves/uthain_bear.png" {SOUND_LIST:DWARF_HIT} }
    die_sound={SOUND_LIST:DWARF_DIE}
    [attack]
        name=hammer
        description= _"hammer"
        icon=attacks/hammer-dwarven-runic.png
        type=impact
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=melee
        damage=16
        number=2
    [/attack]
	
    [attack]
        name=bite
        description=_"bite"
        icon=attacks/fangs-animal.png
        type=blade
        range=melee
        damage=7
        number=4
    [/attack]

    [attack]
        name=earth emerald
        description= _ "earth emerald"
        type=impact
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=12
        number=1
        icon="attacks/earth_emerald.png"
    [/attack]
    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        start_time=-500

        [frame]
            image="units/dwarves/uthain_bear.png:50"
            offset=0.0~-0.1
        [/frame]
        [frame]
            image="units/dwarves/uthain_bear.png:500"
            offset=-0.1~-0.2.0:200,-0.2~0.0:150,0.0~0.6:100,0.6~0.4:100
        [/frame]
        [frame]
            image="units/dwarves/uthain_bear.png:100"
            offset=0.4~0.0
        [/frame]

        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bite,ram
        [/filter_attack]
        start_time=-500

        [frame]
            image="units/dwarves/uthain_bear.png:50"
            offset=0.0~-0.1
        [/frame]
        [frame]
            image="units/dwarves/uthain_bear.png:500"
            offset=-0.1~-0.2.0:200,-0.2~0.0:150,0.0~0.6:100,0.6~0.4:100
        [/frame]
        [frame]
            image="units/dwarves/uthain_bear.png:100"
            offset=0.4~0.0
        [/frame]

        {SOUND:HIT_AND_MISS yeti-hit.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=earth emerald
        [/filter_attack]
        [frame]
            begin=-1100
            end=20
#            image="units/dwarves/uthain.png"
	    halo=halo/empowered-[1~15].png~SCALE(100,100)~BLEND(60,196,70,0.6):80
        [/frame]
        start_time=-1100
        missile_start_time=-300   
        [missile_frame]
	  duration=310
	  offset=0.5~1.0
	  image="projectiles/gemmissile-n.png,projectiles/gemmissile-impact-[1~8].png"
	  image_diagonal="projectiles/gemmissile-ne.png,projectiles/gemmissile-impact-[1~8].png"
        [/missile_frame]
        
        [if]
            hits=yes
            [frame]
                sound=melee-fire.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                sound=flame-big-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
[/variation]
[/unit_type]
