#textdomain wesnoth-units
[unit_type]
    id=Dwarvish Gunslinger
    name= _ "Dwarvish Gunslinger"
    race=dwarf
    image="units/dwarves/saboteur.png"
    profile="portraits/dwarves/thunderer.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=50
    movement_type=dwarvishfoot
    movement=4
#    experience=100
    experience=50
    level=2
    alignment=neutral
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Dwarvish Thunderer
    [/advancefrom]
#endif
    {AMLA_DEFAULT}
    cost=32
    usage=archer
    description= _ "TODO

Special Notes:this unit has custom AMLA."
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM_RANGE "units/dwarves/saboteur-defend.png" units/dwarves/saboteur.png {SOUND_LIST:DWARF_HIT} melee}
    {DEFENSE_ANIM_RANGE "units/dwarves/saboteur-defend.png" units/dwarves/saboteur.png {SOUND_LIST:DWARF_HIT} ranged}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/dwarves/transparent/thunderer.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/dwarves/transparent/thunderer.png"
    [/portrait]
    [attack]
        name=thunderstick
        description=_"thunderstick"
        type=pierce
        range=ranged
        damage=18
        number=2
        icon=attacks/thunderstick-modern.png
    [/attack]
    [attack]
        name=thunderstick2
        description=_"split fire"
        type=pierce
        range=ranged
        damage=18
        number=1
        [specials]
           {WEAPON_SPECIAL_SPLIT_FIRE "Dwarvish Gunslinger" thunderstick2}
        [/specials]
        icon=attacks/thunderstick-modern.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=thunderstick,thunderstick2
        [/filter_attack]
        [if]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_SOUTH -3 7}
            offset=0.0:300,0.0~-0.25:250,-0.25~-0.0:51
            direction=se,sw
            hits=yes
            [frame]
                begin=-400
                end=-200
                image="units/dwarves/saboteur-attack-1.png"
                sound=thunderstick.ogg
            [/frame]
            [frame]
                begin=-200
                end=0
                image="units/dwarves/saboteur-attack-2.png"
                sound=thunderstick.ogg
            [/frame]
            [frame]
                begin=0
                end=200
                image="units/dwarves/saboteur.png"
                sound=thunderstick.ogg
            [/frame]
        [/if]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 11 8}
            direction=se,sw
            offset=0.0
            hits=no
            [frame]
                begin=-400
                end=-200
                image="units/dwarves/saboteur-attack-1.png"
                sound=thunderstick.ogg
            [/frame]
            [frame]
                begin=-200
                end=0
                image="units/dwarves/saboteur-attack-2.png"
                sound=thunderstick.ogg
            [/frame]
            [frame]
                begin=0
                end=200
                image="units/dwarves/saboteur.png"
                sound=thunderstick.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_NORTH -1 16}
            direction=ne,nw
            offset=0.0:300,0.0~-0.25:250,-0.25~-0.0:51
            hits=yes
            [frame]
                begin=-400
                end=-200
                image="units/dwarves/saboteur-attack-1.png"
                sound=thunderstick.ogg
            [/frame]
            [frame]
                begin=-200
                end=0
                image="units/dwarves/saboteur-attack-2.png"
                sound=thunderstick.ogg
            [/frame]
            [frame]
                begin=0
                end=200
                image="units/dwarves/saboteur.png"
                sound=thunderstick.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 8 -1}
            direction=ne,nw
            offset=0.0
            hits=no
            [frame]
                begin=-400
                end=-200
                image="units/dwarves/saboteur-attack-1.png"
                sound=thunderstick.ogg
            [/frame]
            [frame]
                begin=-200
                end=0
                image="units/dwarves/saboteur-attack-2.png"
                sound=thunderstick.ogg
            [/frame]
            [frame]
                begin=0
                end=200
                image="units/dwarves/saboteur.png"
                sound=thunderstick.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_NORTH -10 19}
            direction=n
            offset=0.0:300,0.0~-0.25:250,-0.25~-0.0:51
            hits=yes
            [frame]
                begin=-400
                end=-200
                image="units/dwarves/saboteur-attack-1.png"
                sound=thunderstick.ogg
            [/frame]
            [frame]
                begin=-200
                end=0
                image="units/dwarves/saboteur-attack-2.png"
                sound=thunderstick.ogg
            [/frame]
            [frame]
                begin=0
                end=200
                image="units/dwarves/saboteur.png"
                sound=thunderstick.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS -9 -4}
            direction=n
            offset=0.0
            hits=no
            [frame]
                begin=-400
                end=-200
                image="units/dwarves/saboteur-attack-1.png"
                sound=thunderstick.ogg
            [/frame]
            [frame]
                begin=-200
                end=0
                image="units/dwarves/saboteur-attack-2.png"
                sound=thunderstick.ogg
            [/frame]
            [frame]
                begin=0
                end=200
                image="units/dwarves/saboteur.png"#used to be '-attack-3'
                sound=thunderstick.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_SOUTH 2 1}
            direction=s
            offset=0.0:300,0.0~-0.25:250,-0.25~-0.0:51
            hits=yes
            [frame]
                begin=-400
                end=-200
                image="units/dwarves/saboteur-attack-1.png"
                sound=thunderstick.ogg
            [/frame]
            [frame]
                begin=-200
                end=0
                image="units/dwarves/saboteur-attack-2.png"
                sound=thunderstick.ogg
            [/frame]
            [frame]
                begin=0
                end=200
                image="units/dwarves/saboteur.png"
                sound=thunderstick.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 4 7}
            direction=s
            offset=0.0
            hits=no
            [frame]
                begin=-400
                end=-200
                image="units/dwarves/saboteur-attack-1.png"
                sound=thunderstick.ogg
            [/frame]
            [frame]
                begin=-200
                end=0
                image="units/dwarves/saboteur-attack-2.png"
                sound=thunderstick.ogg
            [/frame]
            [frame]
                begin=0
                end=200
                image="units/dwarves/saboteur.png"
                sound=thunderstick.ogg
            [/frame]
        [/else]
        [frame]
            begin=0
            end=1
            image="units/dwarves/saboteur-attack-1.png"
        [/frame]
    [/attack_anim]
	[standing_anim]
        start_time=0
        [frame]
            image="units/dwarves/saboteur-bob-[1~3,2,1].png:[180,180,320,180,180]"
        [/frame]
    [/standing_anim]
[event]
    name=die
    first_time_only=no
    [filter_second]
#        id=second_unit.id
        ability=spurt
    [/filter_second]
    {VARIABLE_OP second_unit.moves add 1}
    [unstore_unit]
        variable=second_unit
        {COLOR_HEAL}
        text= _ "SPURT!"
        find_vacant=no
    [/unstore_unit]
[/event]
[event]
    name=attack_end
    first_time_only=no
    [filter]
        x,y=$x1,$y1
        ability=hitandrun
    [/filter]
    {VARIABLE_OP unit.moves add 1}
    [unstore_unit]
        variable=unit
        {COLOR_HARM}
        text= _ "FLEE!"
        find_vacant=no
    [/unstore_unit]
[/event]
    [advancement]
        strict_amla=yes
        max_times=3
        id=damage
        description= _ "better with thunderstick (+2 damage, +2 hp)"
        image=attacks/thunderstick-modern.png
        [effect]
            apply_to=attack
            name=thunderstick
            increase_damage=2
        [/effect]
        [effect]
            apply_to=attack
            name=thunderstick2
            increase_damage=2
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=accuracy
        require_amla=damage
        description= _ "more accurate with thunderstick (+2 hp)"
        image=attacks/thunderstick-modern.png
        [effect]
            apply_to=attack
            name=thunderstick
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_MARKSMAN}
                [/set_specials]
        [/effect]
        [effect]
            apply_to=attack
            name=thunderstick2
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_MARKSMAN}
                [/set_specials]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=firststrike
        require_amla=unavailable#accuracy
        description= _ "Learn shooting techniques from Han Solo :) (Firststrike,+2 hp)"
        image=attacks/thunderstick-modern.png
        [effect]
            apply_to=attack
            name=thunderstick
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_FIRSTSTRIKE}
                [/set_specials]
        [/effect]
        [effect]
            apply_to=attack
            name=thunderstick2
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_FIRSTSTRIKE}
                [/set_specials]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        description= _ "adds a spearhead to each thunderstick, making them usable as self-defense melee weapons"
        id=melee
        max_times=1
        strict_amla=no
        image=attacks/javelin-human.png
        [effect]
            apply_to=new_attack
            name=spear
            description=_"bayonet"
            icon=attacks/javelin-human.png
            type=pierce
            range=melee
            damage=6
            number=1
        [/effect]
        [effect]
            apply_to=new_animation
            [attack_anim]
                [filter_attack]
                    name=spear
                [/filter_attack]
                start_time=-200
                missile_start_time=-150
                [frame]
                    image="units/dwarves/saboteur-attack-2.png:200"
                [/frame]
                {SOUND:HIT_AND_MISS spear.ogg {SOUND_LIST:MISS} -200}
            [/attack_anim]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase=2
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=15%
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=damage_melee1
        require_amla=melee
        description= _ "better with bayonet (+1 damage,+1 strikes, +2 hp)"
        image=attacks/javelin-human.png
        [effect]
            apply_to=attack
            name=spear
            increase_damage=1
            increase_attacks=1
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=firststrike_melee
        require_amla=damage_melee1
        description= _ "longer bayonet (+1 damage, firststrike, +2 hp)"
        image=attacks/javelin-human.png
        [effect]
            apply_to=attack
            name=spear
            increase_damage=1
                [set_specials]
                    mode=append
                    {WEAPON_SPECIAL_FIRSTSTRIKE}
                [/set_specials]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=damage_melee2
        require_amla=firststrike_melee
        description= _ "better with bayonet (+3 damage, +2 hp)"
        image=attacks/javelin-human.png
        [effect]
            apply_to=attack
            name=spear
            increase_damage=3
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=spurt
        require_amla=""
        description= _ "able to regain 1 movement point after killing an enemy (spurt, +2 hp)"        
        image=icons/boots_elven.png
		[effect]
			apply_to=new_ability
			[abilities]
				{ABILITY_SPURT}
			[/abilities]
		[/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
	always_display=yes
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=hitandrun
        require_amla="spurt"
        description= _ "able to regain 1 movement point after attacking (hitandrun, +2 hp)"        
        image=icons/boots_elven.png
		[effect]
			apply_to=new_ability
			[abilities]
				{ABILITY_HITANDRUN 1}
			[/abilities]
		[/effect]
		[effect]
			apply_to=remove_ability
			[abilities]
				{ABILITY_SPURT}
			[/abilities]
		[/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=25%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
	always_display=yes
    [/advancement]
[advancement]
    max_times=1
    always_display=yes
    id=movement
    description= _ "faster"
    image=icons/boots_elven.png
    strict_amla=yes
    require_amla="spurt"
    [effect]
        apply_to=movement
        increase=1
    [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=15%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
[/unit_type]
