#textdomain wesnoth-units
#define ICEBROTHER_STANDARD NAME FILE ATTNAME ATTSOUND
    id={NAME}
    name= _ "{NAME}"
    race=dwarf
    image="units/dwarves/ice-brotherhood/{FILE}.png"
     profile="portraits/{FILE}.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
#    level=2
    alignment=neutral
#    cost=48
    usage=mixed fighter
    advances_to=null
    movement_type=dwarvishfoot
	[resistance]
        blade=60
        pierce=60
        impact=60
        cold=50
    [/resistance]
	[defense]
		frozen=50
	[/defense]
	[movement_costs]
        frozen=1
    [/movement_costs]
    description= _ "Dwarvish ice brothers are servants of the Iceghosts, ancient and powerful beings responsible for the change of seasons. It is said, as children the dwarvish icesaints were lost in the mountains but saved by the iceghosts."
	
    movement=4
#	hitpoints=52
	
#    experience=30
    {DEFENSE_ANIM "units/dwarves/ice-brotherhood/{FILE}.png" "units/dwarves/ice-brotherhood/{FILE}.png" {SOUND_LIST:DWARF_HIT} }
    die_sound={SOUND_LIST:DWARF_DIE}
			[abilities]
				{ABILITY_TELEPORT}
			[/abilities]	
		[standing_anim]
			start_time=0
			[frame]
				image="units/dwarves/ice-brotherhood/{FILE}-bob-[1~3,2,1].png:[180*5]"
			[/frame]
		[/standing_anim]	
		[attack_anim]
			[filter_attack]
				name=shield bash
			[/filter_attack]
			{SOUND:SLOW}

			start_time=-200

			[frame]
				image="units/dwarves/ice-brotherhood/{FILE}.png:100"
			[/frame]
			[if]
				hits=yes
				[frame]
					image="units/dwarves/ice-brotherhood/{FILE}.png:200"
					sound=mace.wav
				[/frame]
			[/if]
			[else]
				hits=no
				[frame]
					image="units/dwarves/ice-brotherhood/{FILE}.png:200"
					sound={SOUND_LIST:MISS}
				[/frame]
			[/else]
		[/attack_anim]
		[attack_anim]
			[filter_attack]
				name={ATTNAME}
			[/filter_attack]
			start_time=-200

			[frame]
				image="units/dwarves/ice-brotherhood/{FILE}.png:100"
			[/frame]
			[if]
				hits=yes
				[frame]
					image="units/dwarves/ice-brotherhood/{FILE}.png:200"
					sound={ATTSOUND}
				[/frame]
			[/if]
			[else]
				hits=no
				[frame]
					image="units/dwarves/ice-brotherhood/{FILE}.png:200"
					sound={SOUND_LIST:MISS}
				[/frame]
			[/else]
		[/attack_anim]
    [attack_anim]
        [filter_attack]
            name=cold flash
        [/filter_attack]
        {MISSILE_FRAME_FOAP_COLD_FLASH}

        start_time=-450
        [if]
            hits=yes
            [frame]
                duration=200
                image="units/dwarves/ice-brotherhood/{FILE}.png"
                sound=magic-missile-1.ogg,magic-missile-2.ogg,magic-missile-3.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=200
                image="units/dwarves/ice-brotherhood/{FILE}.png"
                sound=magic-missile-1-miss.ogg,magic-missile-2-miss.ogg,magic-missile-3-miss.ogg
            [/frame]
        [/else]        
        [frame]
            duration=325
            image="units/dwarves/ice-brotherhood/{FILE}.png"
        [/frame]
     [/attack_anim]
		[animation]
			apply_to=pre_teleport
			start_time=-1200

			[frame]
				image="units/dwarves/ice-brotherhood/{FILE}-teleport-[1~5].png:[250*5]"
			[/frame]
			[frame]
				image="misc/blank-hex.png:300"
			[/frame]
		[/animation]

		[animation]
			apply_to=post_teleport
			start_time=-1200

			[frame]
				image="misc/blank-hex.png:300"
			[/frame]
			[frame]
				image="units/dwarves/ice-brotherhood/{FILE}-teleport-[5~1].png:[250*5]"
			[/frame]
		[/animation]
#enddef


[unit_type]
    {ICEBROTHER_STANDARD (Dwarvish Frostmancer) durmenthrain touch magic-faeriefire.ogg }
    hitpoints=57
    movement=5
    level=2
#		[attack]
#			name=touch
#			description= _ "touch"
#			icon=attacks/touch-faerie.png
#                        [specials]
#                            {WEAPON_SPECIAL_MAGICAL}
#                        [/specials]
#			type=cold
#			range=melee
#			damage=11
#			number=1
#        [specials]
#            {WEAPON_SPECIAL_}
#        [/specials]
#		[/attack]
		[attack]
			name=shield bash
			description= _ "shield bash"
			icon=attacks/heater-shield.png
			type=impact
			range=melee
			damage=7
			number=2
			[specials]
				{WEAPON_SPECIAL_SLOW}
			[/specials]
		[/attack]
    [attack]
        name=blizzard
        description=_ "blizzard"
        icon=attacks/iceball.png
        type=cold
        range=ranged
        damage=6
        number=4
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        defense_weight=4.0
    [/attack]
    [attack]
        name=cold flash
        description= _ "cold flash"
        icon=attacks/faerie-fire.png
        type=cold
        range=ranged
        damage=9
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    {BLIZZARD_ATTACK blizzard "units/dwarves/ice-brotherhood/durmenthrain-bob-3.png" "units/dwarves/ice-brotherhood/durmenthrain-bob-2.png" ()}
[/unit_type]
[unit_type]
    {ICEBROTHER_STANDARD (Dwarvish Avalanche) aisalting mace_old mace.wav}
    hitpoints=52
    movement=5
    level=2
		[attack]
			name=mace
			description= _ "mace"
			icon=attacks/mace-spiked.png
			type=impact
			range=melee
			damage=7
			number=3
		[/attack]
		[attack]
			name=shield bash
			description= _ "shield bash"
			icon=attacks/heater-shield.png
			type=impact
			range=melee
			damage=15
			number=1
			[specials]
				{WEAPON_SPECIAL_SLOW}
			[/specials]
		[/attack]
    [attack]
        name=cold flash
        description= _ "cold flash"
        icon=attacks/faerie-fire.png
        type=cold
        range=ranged
        damage=8
        number=1
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]
        {MELEE_FRAME_SWOOSH mace.wav ~}
    [/attack_anim]
[/unit_type]
[unit_type]
    {ICEBROTHER_STANDARD (Dwarvish Glacierblade) guldarmaadh longsword_old {SOUND_LIST:SWORD_SWISH}}
    hitpoints=55
    movement=5
    level=2
		[attack]
			name=longsword
			description= _ "longsword"
			icon=attacks/sword-steel.png
			type=blade
			range=melee
			damage=25
			number=1
#			defense_weight=0 #use only on attack, otherwise you accumulate extra damage very fast.
		[/attack]
		[attack]
			name=shield bash
			description= _ "shield bash"
			icon=attacks/heater-shield.png
			type=impact
			range=melee
			damage=7
			number=2
			[specials]
				{WEAPON_SPECIAL_SLOW}
			[/specials]
		[/attack]
    [attack]
        name=cold flash
        description= _ "cold flash"
        icon=attacks/faerie-fire.png
        type=cold
        range=ranged
        damage=11
        number=1
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=longsword
        [/filter_attack]
        {MELEE_FRAME_SWOOSH {SOUND_LIST:SWORD_SWISH} "~SCALE(135,135)"}
    [/attack_anim]
[/unit_type]
	##Abilities:
	[event]
		id=ability_sharpen_die
		name=die
		first_time_only=no

		[filter_second_attack]
			special=sharpen
		[/filter_second_attack]

		[unstore_unit]
			variable=second_unit
			{COLOR_HEAL}
			text= _ "+1 damage"
			find_vacant=no
		[/unstore_unit]
		
		[object]
			silent=yes
			duration=forever

			[filter]
				x,y=$x2,$y2
			[/filter]

			[effect]
				apply_to=attack
				name=$second_weapon.name
				increase_damage=1
			[/effect]
		[/object]
	[/event]
