#textdomain wesnoth-units
[unit_type]
    id=Dwarvish Ice Mage
    name= _ "Dwarvish Ice Mage"
    race=dwarf
    image="units/dwarves/ice-brotherhood/icesaint.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=52
    movement_type=dwarvishfoot
    movement=5
    level=2
    alignment=neutral
    cost=58
    usage=mixed fighter
    advances_to=null
    experience=76
    {AMLA_DEFAULT}
    description= _ "Dwarvish icesaints are servants of the Frost spirits, ancient and powerful beings responsible for the change of seasons. It is said, as children the dwarvish icesaints were lost in the mountains but saved by the souls of cold."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SLOW}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_TELEPORT}
    {DEFENSE_ANIM "units/dwarves/ice-brotherhood/icesaint.png" "units/dwarves/ice-brotherhood/icesaint.png" {SOUND_LIST:DWARF_HIT} }
    die_sound={SOUND_LIST:DWARF_DIE}
	[resistance]
        blade=70
        pierce=70
        impact=70
        cold=50
    [/resistance]

	[defense]
		frozen=50
	[/defense]
	[movement_costs]
        frozen=1
    [/movement_costs]

	[abilities]
        {ABILITY_TELEPORT}
    [/abilities]

	[attack]
        name=staff
        description= _ "staff"
        icon=attacks/staff-elven.png
        type=impact
        range=melee
	    [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]	
        damage=7
        number=2
    [/attack]
    [attack]
        name=icicles
        description=_"icicles"
        icon=attacks/icicles.png
        type=pierce
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=4
        number=7
    [/attack]
    [attack]
        name=blizzard
        description=_ "blizzard"
        icon=attacks/iceball.png
        type=cold
        range=ranged
        damage=8
        number=3
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

    [death]
        start_time=0
        [frame]
            image="units/dwarves/ice-brotherhood/icesaint-teleport-[1~8].png:80"
        [/frame]
    [/death]
    {BLIZZARD_ATTACK blizzard "units/dwarves/ice-brotherhood/icesaint.png" "units/dwarves/ice-brotherhood/icesaint.png" ()}

	[attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
#        {SOUND:SLOW}
        start_time=-200
        [frame]
            image="units/dwarves/ice-brotherhood/icesaint.png:100"
        [/frame]
        [if]
            hits=yes
            [frame]
                image="units/dwarves/ice-brotherhood/icesaint.png:200"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                image="units/dwarves/ice-brotherhood/icesaint.png:200"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
	
	[animation]
        apply_to=pre_teleport
        start_time=-1550
        [frame]
            image="units/dwarves/ice-brotherhood/icesaint-teleport-[1~8].png:[200,150*7]"
        [/frame]
        [frame]
            image="misc/blank-hex.png:300"
        [/frame]
    [/animation]

    [animation]
        apply_to=post_teleport
        start_time=-1550
        [frame]
            image="misc/blank-hex.png:300"
        [/frame]
        [frame]
            image="units/dwarves/ice-brotherhood/icesaint-teleport-[8~1].png:[150*7,200]"
        [/frame]
    [/animation]
    [attack_anim]
        [filter_attack]
            name=icicles
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=75
            image="halo/icicles1.png"
            image_diagonal="halo/icicles-ne1.png"
            offset=0.5
        [/missile_frame]
        [missile_frame]
            duration=75
            image="halo/icicles2.png"
            image_diagonal="halo/icicles-ne2.png"
            offset=0.5
        [/missile_frame]
        [missile_frame]
            duration=75
            image="halo/icicles3.png"
            image_diagonal="halo/icicles-ne3.png"
            offset=0.5
        [/missile_frame]
        start_time=-225
        [frame]
            duration=225
            image="units/dwarves/ice-brotherhood/icesaint.png"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -400}
    [/attack_anim]
[/unit_type]
