#textdomain wesnoth-units
#define AMLA_ROAMER
	[advancement]
        id=amla_roamer_wanderer_1
        description= _ "Wanderer [1/3] 
" + _ "      grants +1 movement point"
        image="icons/wild-acid-1.png"
		always_display=yes
		[effect]
            apply_to=movement
			increase=1
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
    [/advancement]
	[advancement]
        id=amla_roamer_wanderer_2
		require_amla=amla_roamer_wanderer_1
        description= _ "Wanderer [2/3] 
" + _ "      grants +1 movement point
" + _ "      grants the ambush ability"
        image="icons/wild-acid-2.png"
		always_display=yes
		[effect]
            apply_to=movement
			increase=1
        [/effect]
		[effect]
			apply_to=new_ability
			[abilities]
				{ABILITY_AMBUSH}
			[/abilities]
		[/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
    [/advancement]
	[advancement]
        id=amla_roamer_wanderer_3
		require_amla=amla_roamer_wanderer_2
        description= _ "Wanderer [2/3] 
" + _ "      grants +1 movement point
" + _ "      grants the skirmisher ability"
        image="icons/wild-acid-3.png"
		always_display=yes
		[effect]
            apply_to=movement
			increase=1
        [/effect]
		[effect]
			apply_to=new_ability
			[abilities]
				{ABILITY_SKIRMISHER}
			[/abilities]
		[/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
    [/advancement]
	
	[advancement]
		id=amla_roamer_herbalist_1
		description= _ "Herbalist [1/3] 
" + _ "      grants a +4 heal ability"
		image="icons/leaf-acid-1.png"
		always_display=yes
		[effect]
			apply_to=new_ability
			[abilities]
				{ABILITY_HEALS}
			[/abilities]
		[/effect]
#		{HEAL_EFFECT}
    [/advancement]
	[advancement]
		id=amla_roamer_herbalist_2
		require_amla=amla_roamer_herbalist_1
		description= _ "Herbalist [2/3] 
" + _ "      grants a +8 heal and cure ability"
		image="icons/leaf-acid-2.png"
		always_display=yes
		[effect]
			apply_to=remove_ability
			[abilities]
				{ABILITY_HEALS}
			[/abilities]
		[/effect]
		[effect]
			apply_to=new_ability
			[abilities]
				{ABILITY_CURES}
			[/abilities]
		[/effect]
#		{HEAL_EFFECT}
    [/advancement]
	[advancement]
		id=amla_roamer_herbalist_3
		require_amla=amla_roamer_herbalist_2
		description= _ "Herbalist [3/3] 
" + _ "      grants the regeneration ability"
		image="icons/leaf-acid-3.png"
		always_display=yes
		[effect]
			apply_to=new_ability
			[abilities]
				{ABILITY_REGENERATES}
			[/abilities]
		[/effect]
#		{HEAL_EFFECT}
    [/advancement]
	[advancement]
        id=amla_roamer_bear
		require_amla=#amla_roamer_wanderer_3,amla_roamer_herbalist_3
        description= _ "Bear [1/1] 
" + _ "      deals an additional +9 d"
        image="units/dwarves/roamer_bear.png"
		always_display=yes
		[effect]
			apply_to=variation
			name=Bear_Roamer
		[/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
    [/advancement]
#enddef

[unit_type]
    id=Dwarvish Roamer
    name= _ "Dwarvish Roamer"
    race=dwarf
    image="units/dwarves/roamer.png"
    profile="portraits/dwarves/scout.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=38
    movement_type=dwarvishfoot
	[defense]
		forest=40
                swamp_water=60
		flat=60
	[/defense]
    movement=5
    level=2
    alignment=neutral
    cost=32
    usage=fighter
    advances_to=null
	ignore_race_traits=yes
	{AMLA_DEFAULT}
	{AMLA_ROAMER}
    experience=30
    description= _ "Dwarvish roamers easily infiltrate the fortifications of his enemies, assassinating leaders without ever be seen."+{SPECIAL_NOTES}
    {DEFENSE_ANIM "units/dwarves/roamer.png" "units/dwarves/roamer.png" {SOUND_LIST:DWARF_HIT} }
    die_sound={SOUND_LIST:DWARF_DIE}
			[abilities]
				{ABILITY_AMBUSH}
			[/abilities]
	[attack]
        name=axe
        description= _"axe"
        type=blade
        range=melee
        damage=6
        number=3
    [/attack]
    [attack]
        name=net
        description=_"net"
        type=impact
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=7
        number=2
        range=ranged
        icon=attacks/net.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        {MELEE_FRAME_SWOOSH axe.ogg "~SCALE(112,112)"}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=net
        [/filter_attack]
        start_time=-1110
        missile_start_time=-200        
        [missile_frame]
            duration=50
            image="projectiles/fisherman-net-1.png"
            image_diagonal="projectiles/fisherman-net-1.png"
        [/missile_frame]
        [missile_frame]
            duration=75
            image="projectiles/fisherman-net-2.png"
            image_diagonal="projectiles/fisherman-net-1.png"
        [/missile_frame]
        [missile_frame]
            duration=75
            image="projectiles/fisherman-net-3.png"
            image_diagonal="projectiles/fisherman-net-1.png"
        [/missile_frame]
        [frame]
            image="units/dwarves/roamer-bob-1.png:90"
        [/frame]
        [frame]
            image="units/dwarves/roamer-net-1.png:105"
        [/frame]
        [frame]
            image="units/dwarves/roamer-net-2.png:250"
        [/frame]
        [if]
            hits=yes
            [frame]
                sound=net.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
        start_time=-500

        [frame]
            duration=50
            offset=0.0~-0.1
        [/frame]
        [frame]
            duration=500
            offset=-0.1~-0.2.0:200,-0.2~0.0:150,0.0~0.6:100,0.6~0.4:100
            sound=yeti-hit.ogg
        [/frame]
        [frame]
            duration=100
            offset=0.4~0.0
        [/frame]

        {SOUND:HIT_AND_MISS bite.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]	
	
	[standing_anim]
        start_time=0
        [frame]
            image="units/dwarves/roamer-bob-[1~3,2,1].png:[180,180,280,180,180]"
        [/frame]
        #[frame]
         #   image="units/dwarves/dwarvish_protector/protector-bob-[1~5].png:[150*2,300,100*2]"
        #[/frame]
    [/standing_anim]
	
	[variation]
		variation_id=Bear_Roamer
		variation_name=_"Roamer"
		inherit=yes
		hitpoints=82
		movement=7
		
		image="units/dwarves/roamer_bear.png"
		{DEFENSE_ANIM "units/dwarves/roamer_bear.png" "units/dwarves/roamer_bear.png" {SOUND_LIST:DWARF_HIT} }
		
		[attack]
			name=axe
			description= _"axe"
			type=blade
			range=melee
			damage=9
			number=3
		[/attack]
		[attack]
			name=net
			description=_"net"
			type=impact
			[specials]
				{WEAPON_SPECIAL_SLOW}
			[/specials]
			damage=11
			number=2
			range=ranged
			icon=attacks/net.png
		[/attack]
		[attack]
			name=bite
			description=_"bite"
			icon=attacks/fangs-animal.png
			type=blade
			range=melee
			damage=8
			number=4
			[specials]
				{WEAPON_SPECIAL_POISON}
			[/specials]
		[/attack]
    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        {MELEE_FRAME_SWOOSH axe.ogg "~SCALE(112,112)"}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=net
        [/filter_attack]
        start_time=-1110
        missile_start_time=-200        
        [missile_frame]
            duration=50
            image="projectiles/fisherman-net-1.png"
            image_diagonal="projectiles/fisherman-net-1.png"
        [/missile_frame]
        [missile_frame]
            duration=75
            image="projectiles/fisherman-net-2.png"
            image_diagonal="projectiles/fisherman-net-1.png"
        [/missile_frame]
        [missile_frame]
            duration=75
            image="projectiles/fisherman-net-3.png"
            image_diagonal="projectiles/fisherman-net-1.png"
        [/missile_frame]
        [frame]
            image="units/dwarves/roamer_bear.png:90"
        [/frame]
        [frame]
            image="units/dwarves/roamer_bear.png:105"
        [/frame]
        [frame]
            image="units/dwarves/roamer_bear.png:250"
        [/frame]
        [if]
            hits=yes
            [frame]
                sound=net.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
		[standing_anim]
			start_time=0
			[frame]
				image="units/dwarves/roamer_bear.png:[180,180,280,180,180]"
			[/frame]
			#[frame]
			 #   image="units/dwarves/dwarvish_protector/protector-bob-[1~5].png:[150*2,300,100*2]"
			#[/frame]
		[/standing_anim]
	[/variation]
[/unit_type]
