#textdomain wesnoth-units
[unit_type]
    id=Dwarvish Rokrserker
    name= _ "Dwarvish Rokrserker"
    race=dwarf
    image="units/dwarves/rokrserker.png"
    profile="portraits/dwarves/ulfserker.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=53
    movement_type=dwarvishfoot
    movement=6
    experience=150
    level=3
    alignment=neutral
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Dwarvish Berserker
        experience=75
    [/advancefrom]
#endif
    {AMLA_DEFAULT}
    cost=52
    usage=fighter
    description= _ "rokrserkers are a rare caste of Dwarves, who work themselves into a towering rage before combat. These warriors disdain all notion of defense, thinking only of the unrelenting assaults for which they are legendary."+{SPECIAL_NOTES}+{SPECIAL_NOTES_BERSERK}
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/dwarves/rokrserker.png" "units/dwarves/rokrserker.png" {SOUND_LIST:DWARF_HIT} }
	[abilities]
            {ABILITY_SKIRMISHER}
	[/abilities]
    [defense]
        hills=60
        mountains=50
        village=60
        cave=60
        castle=60
    [/defense]
    [attack]
        name=berserker frenzy
        description=_"berserker frenzy"
        icon=attacks/frenzy.png
        type=blade
        [specials]
            {WEAPON_SPECIAL_BERSERK}
            {WEAPON_SPECIAL_MOVEMENT_USED 4}
        [/specials]
        range=melee
        damage=10
        number=4
        movement_used=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=berserker frenzy
        [/filter_attack]
        {MELEE_FRAME_SWOOSH {SOUND_LIST:SWORD_SWISH} "~SCALE(105,105)"}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=berserker frenzy_old
        [/filter_attack]
        [if]
            [filter_second_attack]
            [/filter_second_attack]
            value_second=1
            ### all units with any melee attack (because the dwarf's attack is melee) will pass the above filter, and execute this block instead of the following block

            start_time=-240
            offset=0.0~-0.15:20,-0.15~0.1:30,0.1~0.5:190,0.5~0.6:30,0.6~0.6:30,0.6~0.15:100,0.15~0.0:30
        [/if]

        [else]
            ### when a unit with no melee attack is attacked by a berzerk unit, they are highly likely to die.  We play an easter egg when this happens - the zerk looks at the victim for a moment, and then lets out a diabolical laugh.

            start_time=-3640
            offset=0.0~0.0:3400,0.0~-0.15:20,-0.15~0.1:30,0.1~0.5:190,0.5~0.6:30,0.6~0.6:30,0.6~0.15:100,0.15~0.0:30

            value_second=1
            [frame]
                image="units/dwarves/rokrserker.png:200"
            [/frame]
            [frame]
                image="units/dwarves/rokrserker.png:400"
            [/frame]
            [frame]
                image="units/dwarves/rokrserker.png:200"
                sound=dwarf-laugh.wav
            [/frame]
        [/else]
        [else]
            start_time=-241
            [frame]
                image="units/dwarves/rokrserker.png:1"
            [/frame]
        [/else]

        [frame]
            image="units/dwarves/rokrserker.png:[300]"
        [/frame]
        [frame]
            image="units/dwarves/rokrserker.png:30"
        [/frame]

        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -50}
    [/attack_anim]
[/unit_type]
