#textdomain wesnoth-units
[unit_type]
    id=Dwarvish Scoundrel
    name= _ "Dwarvish Scoundrel"
    race=dwarf
    image="units/dwarves/scoundrel.png"
#    profile="portraits/dwarves/scout.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=32
    movement_type=dwarvishfoot
    movement=5
    level=1
    alignment=neutral
    cost=18
    usage=archer
    advances_to=Dwarvish Smuggler
    experience=41
    description= _ "Equipped with a crossbow the dwarvish scoundrel is able to quickly eradicate his enemies from behind. Scoundrels are not often seen in dwarvish armies as they are often perceived as outlaws in the ranks of the dwarves."
    {DEFENSE_ANIM "units/dwarves/scoundrel.png" "units/dwarves/scoundrel.png" {SOUND_LIST:DWARF_HIT} }
    die_sound={SOUND_LIST:DWARF_DIE}
    [attack]
        name=fist
        description=_"fist"
        icon=attacks/fist-human.png
        type=impact
        range=melee
        damage=4
        number=2
    [/attack]
    [attack]
        name=crossbow
        description=_"crossbow"
        icon=attacks/crossbow-iron.png
        type=pierce
        range=ranged
        damage=10
        number=2
		[specials]
			{WEAPON_SPECIAL_MARKSMAN}
		[/specials]
    [/attack]
	
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/dwarves/scoundrel.png:250"
        [/frame]
        {SOUND:HIT_AND_MISS fist.ogg {SOUND_LIST:MISS} -150}
        [frame]
            image="units/dwarves/scoundrel.png:50"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=crossbow
            type=pierce
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        start_time=-300
        {SOUND:HIT_AND_MISS crossbow.ogg crossbow-miss.ogg -300}
        [frame]
            image="units/dwarves/scoundrel-ranged.png:300"
        [/frame]
    [/attack_anim]
	
	[standing_anim]
		start_time=0
		[frame]
			image="units/dwarves/scoundrel-bob-[1~3,2,1].png:[180*5]"
		[/frame]
	[/standing_anim]
[/unit_type]
