#textdomain wesnoth-units
[unit_type]
    id=Dwarvish Smuggler
    name= _ "Dwarvish Smuggler"
    race=dwarf
    image="units/dwarves/smuggler.png"
#    profile="portraits/dwarves/scout.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=43
    movement_type=dwarvishfoot
    movement=5
    level=2
    alignment=neutral
    cost=32
    usage=archer
    advances_to=Dwarvish Headhunter,Dwarvish Rapidfire
    experience=90
#    {AMLA_DEFAULT}
    description= _ "Equipped with a crossbow the dwarvish smuggler is able to quickly eradicate his enemies from behind. Smugglers are not often seen in dwarvish armies as they are often perceived as outlaws in the ranks of the dwarves."
    {DEFENSE_ANIM "units/dwarves/smuggler.png" "units/dwarves/smuggler.png" {SOUND_LIST:DWARF_HIT} }
    die_sound={SOUND_LIST:DWARF_DIE}
    [defense]
        forest=60
    [/defense]
    [attack]
        name=fist
        description=_"fist"
        icon=attacks/fist-human.png
        type=impact
        range=melee
        damage=7
        number=2
    [/attack]
    [attack]
        name=crossbow
        description=_"crossbow"
        icon=attacks/crossbow-iron.png
        type=pierce
        range=ranged
        damage=15
        number=2
		[specials]
			{WEAPON_SPECIAL_MARKSMAN}
		[/specials]
    [/attack]
    [attack]
        name=crossbow
        description=_"crossbow"
        icon=attacks/crossbow-iron-fire.png
        type=fire
        range=ranged
        damage=12
        number=2
		[specials]
			{WEAPON_SPECIAL_MARKSMAN}
		[/specials]
    [/attack]	
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/dwarves/smuggler.png:250"
        [/frame]
        {SOUND:HIT_AND_MISS fist.ogg {SOUND_LIST:MISS} -150}
        [frame]
            image="units/dwarves/smuggler.png:50"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=crossbow
            type=pierce
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        start_time=-300
        {SOUND:HIT_AND_MISS crossbow.ogg crossbow-miss.ogg -300}
        [frame]
            image="units/dwarves/smuggler-ranged.png:300"
        [/frame]
    [/attack_anim]
	
	[standing_anim]
		start_time=0
		[frame]
			image="units/dwarves/smuggler-bob-[1~3,2,1].png:[180*5]"
		[/frame]
	[/standing_anim]
    [attack_anim]
        [filter_attack]
            name=crossbow
            type=fire
        [/filter_attack]
        missile_start_time=-150
        start_time=-350
        [if]
            hits=yes

            [missile_frame]
                duration=150
                image="projectiles/missile-fire-n.png"
                image_diagonal="projectiles/missile-fire-ne.png"
                offset=0~0.8
            [/missile_frame]

            {FIRE_BURST_SMALL}

            [frame]
                image="units/dwarves/smuggler-ranged.png:50"
            [/frame]
            [frame]
                image="units/dwarves/smuggler-ranged.png:100"
                sound=crossbow-fire.ogg
            [/frame]
            [frame]
                image="units/dwarves/smuggler-ranged.png:250"
            [/frame]
        [/if]
        [else]
            hits=no

            [missile_frame]
                duration=150
                image="projectiles/missile-fire-n.png"
                image_diagonal="projectiles/missile-fire-ne.png"
            [/missile_frame]

            [frame]
                image="units/dwarves/smuggler-ranged.png:50"
            [/frame]
            [frame]
                image="units/dwarves/smuggler-ranged.png:100"
                sound=crossbow-fire-miss.ogg
            [/frame]
            [frame]
                image="units/dwarves/smuggler-ranged.png:250"
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
