#textdomain wesnoth-units

[unit_type]
    id=Steamcopter
    name="Steamcopter"
    race=dwarf
    ignore_race_traits=yes
    {TRAIT_MECHANICAL}
    image="units/dwarves/steamcopter.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=45
    movement_type=fly
    movement=8
    [resistance]
        blade=110
        pierce=80
        impact=100
        fire=120
        cold=100
        arcane=90
    [/resistance]
    [movement_costs]
        cave=5
        fungus=5
    [/movement_costs]
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=28
    undead_variation=dwarf
    usage=scout
    description="With the aid of steam genies, Steamcopters are able to move faster and carry more bombs than Gyrocopters."
    die_sound={SOUND_LIST:DWARF_DIE}
    [standing_anim]
        start_time=0
        [frame]
            image="units/dwarves/steamcopter.png:150"
        [/frame]
        [frame]
            image="units/dwarves/steamcopter[2~6].png:150"
        [/frame]
    [/standing_anim]
    [defend]
        start_time=-150
        sound_start_time=0

        [frame]
            image="units/dwarves/steamcopter.png:100"
        [/frame]
        [frame]
            image="units/dwarves/steamcopter[2,3].png:100"
        [/frame]

        [if]
            hits=hit
            [sound_frame]
                sound={SOUND_LIST:DWARF_HIT}
            [/sound_frame]
        [/if]
    [/defend]
    [defend]
        start_time=-150
        sound_start_time=0

        [frame]
            image="units/dwarves/steamcopter[4~6].png:100"
        [/frame]

        [if]
            hits=hit
            [sound_frame]
                sound={SOUND_LIST:DWARF_HIT}
            [/sound_frame]
        [/if]
    [/defend]
#    [attack]
#        name=fist
#        description=_"fist"
#        icon=attacks/fist-human.png
#        type=impact
#        range=melee
#        damage=9
#        number=1
#        attack_weight=0
#    [/attack]
    [attack]
        name=bombs
        description="bombs"
        icon=attacks/bomb.png
        type=impact
        range=ranged
        damage=10
        number=3
    [/attack]
    [attack]
        name=thunderstick
        description=_"small thundersticks"
        type=pierce
        range=ranged
        damage=4
        number=7
        icon=attacks/thunderstick-modern.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/dwarves/steamcopter.png:250"
        [/frame]
        {SOUND:HIT_AND_MISS fist.ogg {SOUND_LIST:MISS} -150}
        [frame]
            image="units/dwarves/steamcopter2.png:50"
        [/frame]
    [/attack_anim]

    {MISSILE_FRAME_BOMB (name=bombs)}
    [attack_anim]
        [filter_attack]
            name=thunderstick
        [/filter_attack]
        [frame]
            begin=-600
            end=-400
            image="units/dwarves/steamcopter.png"
        [/frame]
        [if]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_SOUTH 0 0}
            direction=se,sw
            hits=yes
            [frame]
                begin=-400
                end=0
                image="units/dwarves/steamcopter.png"
                sound=thunderstick.ogg
            [/frame]
        [/if]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 3 24}
            direction=se,sw
            hits=no
            [frame]
                begin=-400
                end=0
                image="units/dwarves/steamcopter.png"
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_NORTH 0 20}
            direction=ne,nw
            hits=yes
            [frame]
                begin=-400
                end=0
                image="units/dwarves/steamcopter.png"
                sound=thunderstick.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 3 24}
            direction=ne,nw
            hits=no
            [frame]
                begin=-400
                end=0
                image="units/dwarves/steamcopter.png"
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_NORTH 0 20}
            hits=yes
            direction=n
            [frame]
                begin=-400
                end=0
                image="units/dwarves/steamcopter.png"
                sound=thunderstick.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 3 24}
            hits=no
            direction=n
            [frame]
                begin=-400
                end=0
                image="units/dwarves/steamcopter.png"
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_SOUTH 0 0}
            direction=s
            hits=yes
            [frame]
                begin=-400
                end=0
                image="units/dwarves/steamcopter.png"
                sound=thunderstick.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 3 24}
            direction=s
            hits=no
            [frame]
                begin=-400
                end=0
                image="units/dwarves/steamcopter.png"
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=0
            end=1
            image="units/dwarves/steamcopter2.png"
        [/frame]
    [/attack_anim]
[/unit_type]
