#textdomain wesnoth-units
[unit_type]
    id=Dwarvish Tyrserker
    name= _ "Dwarvish Tyrserker"
    race=dwarf
    image="units/dwarves/tyrserker.png"
    profile="portraits/dwarves/ulfserker.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=46
    movement_type=dwarvishfoot
    movement=6
    level=2
    alignment=neutral
    cost=38
    usage=fighter
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Dwarvish Ulfserker
    [/advancefrom]
#endif
    experience=60
    {AMLA_DEFAULT}
    description= _ ""
    {DEFENSE_ANIM "units/dwarves/tyrserker.png" "units/dwarves/tyrserker.png" {SOUND_LIST:DWARF_HIT} }
    die_sound={SOUND_LIST:DWARF_DIE}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/dwarves/transparent/ulfserker.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/dwarves/transparent/ulfserker.png"
    [/portrait]
    [defense]
        hills=50
        mountains=40
        village=60
        cave=60
        castle=60
    [/defense]
    [resistance]
	blade=70
	pierce=70
	impact=70
    [/resistance]
    [abilities]
        {ABILITY_FURY}
    [/abilities]
    [attack]
        name=axe
        description= _"axe"
        icon=attacks/axe-crude.png
        type=blade
        [specials]
			[swarm]
				id=ravage
				name= _ "Ravage"
				description= _ "The less hitpoints the calik has, the more attacks he gets. Up to a max. of 6."
				swarm_attacks_max=3
				swarm_attacks_min=6
			[/swarm]
        [/specials]
        range=melee
        damage=7
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.7,0.7~0.6,0.6~0.3,0.3~0.0
        start_time=-630
        [frame]
            image="units/dwarves/tyrserker-attack-[1,2,3,4,5,6,7].png:[90*7]"
        [/frame]
        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -500}
        [frame]
            image="units/dwarves/tyrserker-attack-[2,1].png:[90*2]"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=laugh
        [/filter_attack]
        {MISSILE_FRAME_WAIL}
        start_time=-1000
        missile_start_time=-100
	    [frame]
            image="units/dwarves/tyrserker-laugh-1.png:400"
        [/frame]
        [frame]
            image="units/dwarves/tyrserker-laugh-[2,1,2,1,2,1,2,1,2,1,2,1,2,1].png:200"
#            sound=dwarf-laugh.wav
            sound=laugh-evil.ogg
        [/frame]
    [/attack_anim]
	
	[standing_anim]
        start_time=0
        [frame]
            image="units/dwarves/tyrserker-bob-[1~3,2,1].png:[150,150,300,150,150]"
        [/frame]
        #[frame]
         #   image="units/dwarves/tyrserker-bob-[1~5].png:[150*2,300,100*2]"
        #[/frame]
    [/standing_anim]
			
	[victory_anim]
        start_time=0
	    [frame]
            image="units/dwarves/tyrserker-laugh-1.png:400"
        [/frame]
        [frame]
            image="units/dwarves/tyrserker-laugh-[2,1,2,1,2,1,2,1,2,1,2,1,2,1].png:200"
            sound=dwarf-laugh.wav
        [/frame]
    [/victory_anim]
    [variation]
        variation_id=furhat
        variation_name="furhat"
        inherit=yes
        hitpoints=50
        image="units/dwarves/tyrserker2.png"
        {DEFENSE_ANIM "units/dwarves/tyrserker2.png" "units/dwarves/tyrserker2.png" {SOUND_LIST:DWARF_HIT} }
    [defense]
        hills=50
        forest=60
        mountains=40
        village=60
        cave=60
        castle=60
    [/defense]
    [resistance]
	blade=70
	pierce=70
	impact=70
	cold=70
    [/resistance]
    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.7,0.7~0.6,0.6~0.3,0.3~0.0
        start_time=-630
        [frame]
            image="units/dwarves/tyrserker2-attack-[1,2,3,4,5,6,7].png:[90*7]"
        [/frame]
        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -500}
        [frame]
            image="units/dwarves/tyrserker2-attack-[2,1].png:[90*2]"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=laugh
        [/filter_attack]
        {MISSILE_FRAME_WAIL}
        start_time=-1000
        missile_start_time=-100
	    [frame]
            image="units/dwarves/tyrserker2-laugh-1.png:400"
        [/frame]
        [frame]
            image="units/dwarves/tyrserker2-laugh-[2,1,2,1,2,1,2,1,2,1,2,1,2,1].png:200"
            sound=laugh-evil.ogg
        [/frame]
    [/attack_anim]
	
	[standing_anim]
        start_time=0
        [frame]
            image="units/dwarves/tyrserker2-bob-[1~3,2,1].png:[150,150,300,150,150]"
        [/frame]
        #[frame]
         #   image="units/dwarves/tyrserker2-bob-[1~5].png:[150*2,300,100*2]"
        #[/frame]
    [/standing_anim]
			
	[victory_anim]
        start_time=0
	    [frame]
            image="units/dwarves/tyrserker2-laugh-1.png:400"
        [/frame]
        [frame]
            image="units/dwarves/tyrserker2-laugh-[2,1,2,1,2,1,2,1,2,1,2,1,2,1].png:200"
            sound=dwarf-laugh.wav
        [/frame]
    [/victory_anim]
    [/variation]
    [advancement]
        strict_amla=yes
        max_times=2
        id=damage
        description= _ "better with axe (+2 damage, +2 hp)"
        image=attacks/axe-crude.png
        [effect]
            apply_to=attack
            name=axe
            increase_damage=2
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=furhat
        description= _ "a fancy fur hat (+20% cold resistance, 40% forest defense instead of 30%, +4 hp)"
        image=units/dwarves/tyrserker2.png
        [effect]
            apply_to=variation
            name=furhat
        [/effect]
        [effect]
            apply_to=hitpoints
            heal_full=yes
            increase=4
        [/effect]
        [effect]
            apply_to=max_experience
            increase=15%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
	[advancement]
		id=hunger
		require_amla=
		description= _ "Hunger [1/1]
" + _ "      heals +2hp per hit (+2 hp)"
		image="attacks/horror-red-1.png"
		always_display=yes
		[effect]
			apply_to=attack
			name=axe
			[set_specials]
				id=hunger
				name="hunger"
				description="heals 2 per hit"
				mode=append
				[heal_on_hit]
					value=2
				[/heal_on_hit]
			[/set_specials]
		[/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
	[advancement]
		id=bloodlust
		require_amla=
		description= _ "Bloodlust [1/1]
" + _ "      able to move 1 hex after killing an enemy (+2 hp)"
		image="attacks/horror-red-3.png"
		always_display=yes
		[effect]
			apply_to=new_ability
			[abilities]
				{ABILITY_BLOODLUST 1}
			[/abilities]
		[/effect]
		[effect]
			apply_to=remove_ability
			[abilities]
				{ABILITY_FURY}
			[/abilities]
		[/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=terror
        require_amla=""
        description= _ "Terror [1/5]
" + _ "      able to strike fear into the hearts of weaker enemies (terror lvl1, +2 hp) (+2 hp)"        
        image=attacks/horror-eerie-1.png
		[effect]
			apply_to=new_ability
			[abilities]
				{ABILITY_TERROR_LEVEL_1}
			[/abilities]
		[/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=30%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
	always_display=yes
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=terror2
        require_amla="terror"
        description= _ "Terror [2/5]
" + _ "      able to laugh in such a manic way, that it is as terrifying as a ghost's wailing (8-1 attack with 'dread' special, recovers 4 hp on hit +2 hp)"        
        image=attacks/horror-eerie-1.png
	always_display=yes
		[effect]
			apply_to=new_attack
#                   [attack]
        name=laugh
        description="evil laugh"
        type=cold
#       [specials]
#           {WEAPON_SPECIAL_MAGICAL}
#           {WEAPON_SPECIAL_WHIRLWIND}
#           {WEAPON_SPECIAL_ATTACK_ONLY}
#            {WEAPON_SPECIAL_LIFE_CONSUMER_16}
#        [/specials]
        range=ranged
        damage=8
        number=1
        icon=attacks/horror-eerie-1.png
        [specials]
            {WEAPON_SPECIAL_DREAD}
			[set_specials]
				id=mockery
				name="mockery"
				description="heals 4 hp per hit"
				mode=append
				[heal_on_hit]
					value=4
				[/heal_on_hit]
			[/set_specials]
        [/specials]
#        defense_weight=0.0
#                   [/attack]
		[/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=25%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=terror3
        require_amla="terror2"
        description= _ "Terror [3/5]
" + _ "      able to terrify even lvl2s (terror lvl2, +2 hp)"        
        image=attacks/horror-eerie-2.png
		[effect]
			apply_to=remove_ability
			[abilities]
				{ABILITY_TERROR_LEVEL_1}
			[/abilities]
		[/effect]
		[effect]
			apply_to=new_ability
			[abilities]
				{ABILITY_TERROR_LEVEL_2}
			[/abilities]
		[/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=30%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
	always_display=yes
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=terror4
        require_amla="terror3"
        description= _ "Terror [4/5]
" + _ "      even more terrifying laugh (more damage, recovers 8 hp on hit, +2 hp)"        
        image=attacks/horror-eerie-2.png
        [effect]
            apply_to=attack
            name=laugh
            increase_damage=6
			[set_specials]
                                remove_specials=mockery
                                id=mockery2
				name="mockery"
				description="heals 8 hp per hit"
				mode=append
				[heal_on_hit]
					value=8
				[/heal_on_hit]
			[/set_specials]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=25%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
	always_display=yes
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=terror5
        require_amla="terror4"
        description= _ "Terror [5/5]
" + _ "      dread special for axe and +1 damage (+2 hp)"        
        image=attacks/horror-eerie-3.png
        [effect]
            apply_to=attack
            name=axe
            increase_damage=1
			[set_specials]
				mode=append
                                {WEAPON_SPECIAL_DREAD}
			[/set_specials]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=30%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
	always_display=yes
    [/advancement]
	[advancement]
		id=bulwark1
		require_amla=
		description= _ "Bulwark [1/3]
" + _ "      +12 hp"
		image="icons/armor_leather.png"
		always_display=yes
        [effect]
            apply_to=hitpoints
            increase_total=12
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
	[advancement]
		id=bulwark2
		require_amla=bulwark1
		description= _ "Bulwark [2/3]
" + _ "      gains bonus 10% resistances on defense (+6 hp)"
		image="icons/armor_leather.png"
		always_display=yes
		[effect]
			apply_to=new_ability
			[abilities]
				{ABILITY_TOUGH 10}
			[/abilities]
		[/effect]
        [effect]
            apply_to=hitpoints
            increase_total=6
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
	[advancement]
		id=bulwark3
		require_amla=bulwark2
		description= _ "Bulwark [3/3]
" + _ "      gains bonus 15% resistances on defense instead of 10% (+8 hp)"
		image="icons/armor_leather.png"
		always_display=yes
		[effect]
			apply_to=remove_ability
			[abilities]
				{ABILITY_TOUGH 10}
			[/abilities]
		[/effect]
		[effect]
			apply_to=new_ability
			[abilities]
				{ABILITY_TOUGH 15}
			[/abilities]
		[/effect]
        [effect]
            apply_to=hitpoints
            increase_total=8
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
[event]
    name=die
    first_time_only=no
    [filter_second]
        side=$side_number
        ability=bloodlust
    [/filter_second]

    [store_unit]
        variable=bloodlusty
        [filter]
            x,y=$x2,$y2
        [/filter]
    [/store_unit]
    {VARIABLE_OP bloodlusty.attacks_left add 1}
    {VARIABLE_OP bloodlusty.moves add 1}
    [unstore_unit]
        variable=bloodlusty
        {COLOR_HARM}
        text= _ "BLOODLUST!"
        find_vacant=no
    [/unstore_unit]
[/event]
[/unit_type]
