#textdomain wesnoth-units
[unit_type]
    id=Naga Centurion
    name= _ "Naga Centurion"
    race=naga
    gender=male,female
    image="units/nagas/centurion.png"
    profile=portraits/nagas/myrmidon.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=60
    movement_type=naga
    movement=7
    experience=200
    level=4
    alignment=neutral
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Naga Myrmidon
        experience=140
    [/advancefrom]
#endif
    {AMLA_DEFAULT}
    cost=48
    usage=fighter
    # wmllint: local spelling blademasters
    description= _ "The most practiced of the naga blademasters are initiated into the caste of the Centurion, masters of their twin-bladed art. They strike as fast as the snakes which they resemble, and dance away from attacks with grace. Not only are they potent enemies on any open terrain, but their ability to swim allows them deadly mobility in water."
    die_sound=naga-die.ogg
    {DEFENSE_ANIM "units/nagas/centurion.png" "units/nagas/centurion.png" {SOUND_LIST:NAGA_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/nagas/transparent/myrmidon.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/nagas/transparent/myrmidon.png"
    [/portrait]
    [defense]
        flat=50
        sand=40
    [/defense]
    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-orcish.png
        type=blade
        range=melee
        damage=11
        number=5
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        offset=0.0~0.3,0.3~0.5,0.5~0.60,0.60~0.3,0.3~0.0
        start_time=-450
        [frame]
            image="units/nagas/centurion.png:570"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -120}
    [/attack_anim]
    [female]
        name= _ "Nagini Centurion"
        gender=female
        description= _ "The most practiced of the nagini blademasters are initiated into the caste of the Centurion, masters of their twin-bladed art. They strike as fast as the snakes which they resemble, and dance away from attacks with grace. Not only are they potent enemies on any open terrain, but their ability to swim allows them a deadly mobility."
    [/female]
[/unit_type]
