#textdomain wesnoth-units
#ifdef MULTIPLAYER
[unit_type]
    id=TGA Goblin Spearman
    [base_unit]
        id=Goblin Spearman
    [/base_unit]
    advances_to=TGA Goblin Impaler,TGA Goblin Rouser,Thundergobo
[/unit_type]
[unit_type]
    id=TGA Goblin Impaler
    [base_unit]
        id=Goblin Impaler
    [/base_unit]
    advances_to=Goblin Spearmaster
    experience=36
[/unit_type]
[unit_type]
    id=TGA Goblin Rouser
    [base_unit]
        id=Goblin Rouser
    [/base_unit]
    advances_to=Goblin Spearmaster
    experience=36
[/unit_type]
[unit_type]
    id=TGA Wolf Rider
    [base_unit]
        id=Wolf Rider
    [/base_unit]
    advances_to=TGA Goblin Knight,Goblin Pillager
[/unit_type]
[unit_type]
    id=TGA Goblin Knight
    [base_unit]
        id=Goblin Knight
    [/base_unit]
    advances_to=Direwolf Rider,Wolf Archer
[/unit_type]
[unit_type]
    id=TGA Goblin Pillager
    [base_unit]
        id=Goblin Pillager
    [/base_unit]
    advances_to=Goblin Ravager
    experience=80
[/unit_type]
#endif