#textdomain wesnoth-Fate_of_a_Princess
[unit_type]
    id=Goblin Firearrow
    name= _ "Goblin Firearrow"
    race=goblin
    image="units/southern-orcs/archer2.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=37
    movement_type=smallfoot
    movement=5
    experience=100
    level=2
    alignment=chaotic
#    advances_to=Goblin Sharpshooter
    advances_to=null
    {AMLA_DEFAULT}
    cost=30
    usage=archer
    description= _ "Southern Archers know well they could not stand up to a trained solder in a melee, but they are quite sneaky enough to play to their strengths; they love to skulk under cover and shoot fire-arrows at their foes without ever letting them get near enough to retaliate. Call a southern archer a coward and his response will likely be an evil snigger and another volley of flaming missiles."+{SPECIAL_NOTES}
    die_sound={SOUND_LIST:GOBLIN_DIE}
    [death]
        [frame]
            begin=-100
            end=0
            image="units/southern-orcs/archer2-die-01.png"
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/southern-orcs/archer2-die-02.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/southern-orcs/archer2-die-03.png"
        [/frame]
        [frame]
            begin=200
            end=300
            image="units/southern-orcs/archer2-die-04.png"
        [/frame]
        [frame]
            begin=300
            end=400
            image="units/southern-orcs/archer2-die-05.png"
        [/frame]
        [frame]
            begin=400
            end=500
            image="units/southern-orcs/archer2-die-06.png"
        [/frame]
    [/death]
    {DEFENSE_ANIM "units/southern-orcs/archer2.png" "units/southern-orcs/archer2.png" {SOUND_LIST:GOBLIN_HIT} }
    [attack]
        name=dagger
        description= _ "dagger"
        icon=attacks/dagger-orcish.png
        type=blade
        range=melee
        damage=7
        number=2
    [/attack]
    [attack]
        name=bow
        description= _ "bow"
        icon=attacks/bow-orcish.png
        type=fire
        range=ranged
        damage=6
        number=5
    [/attack]
    [attack]
        name=bow
        description=_"bow"
        icon=attacks/bow-orcish.png
        type=pierce
        range=ranged
        damage=7
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        [frame]
            begin=-250
            end=-200
            image="units/southern-orcs/archer2.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/southern-orcs/archer2-melee-1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=100
                end=200
                image="units/southern-orcs/archer2-melee-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=100
                end=200
                image="units/southern-orcs/archer2-melee-2.png"
                sound=dagger-swish.wav
            [/frame]
        [/else]
        [frame]
            begin=200
            end=250
            image="units/southern-orcs/archer2-melee-2.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/southern-orcs/archer2.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bow
            type=fire
        [/filter_attack]
        start_time=-400
        [frame]
            image="units/southern-orcs/archer2-ranged-1.png:100"
        [/frame]
        missile_start_time=-100
        [if]
            hits=no

            [missile_frame]
                duration=150
                image="projectiles/missile-fire-n.png"
                image_diagonal="projectiles/missile-fire-ne.png"
            [/missile_frame]

            [frame]
                image="units/southern-orcs/archer2-ranged-1.png:50"
                sound=bow-puny-fire-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes

            [missile_frame]
                duration=150
                image="projectiles/missile-fire-n.png"
                image_diagonal="projectiles/missile-fire-ne.png"
                offset=0~0.8
            [/missile_frame]

            {FIRE_BURST_SMALL}

            [frame]
                image="units/southern-orcs/archer2-ranged-2.png:50"
                sound=bow-puny-fire.ogg
            [/frame]
        [/else]
        [frame]
            image="units/southern-orcs/archer2-ranged-2.png:150"
        [/frame]

    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bow
            type=pierce
        [/filter_attack]
        start_time=-450
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            image="units/southern-orcs/archer2-ranged-[1~2].png:300"
        [/frame]
        {SOUND:HIT_AND_MISS bow-puny.ogg bow-puny-miss.ogg -150}
    [/attack_anim]
[/unit_type]
