#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Drakes
    name= _"Drakes"
    image="units/drakes/sword.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=TGA Drake Flare,TGA Fire Drake,Drake Mage,Sword Drake,Drake Adventurer,Drake Arbiter,Drake Thrasher,TGA Drake Warrior,Saurian Guard,Guardian Carapace,Elder Carapace,Javelin Carapace,Infiltrative Carapace,TGA Saurian Oracle,Saurian Visionnaire,TGA Saurian Soothsayer
    random_leader=TGA Drake Flare,TGA Fire Drake,Drake Mage,Sword Drake,Drake Arbiter,Drake Thrasher,TGA Drake Warrior
    recruit=TGA Drake Burner,Drake Clasher,TGA Drake Glider,Protective Carapace,Hunting Carapace,Foraging Carapace,TGA Drake Fighter,Salamander,TGA Saurian Skirmisher,Saurian Devotee,Young Saurian,TGA Saurian Augur,Saurian Husk,Toad,Drake Apprentice,Chameleon
    terrain_liked=Hh, Ha, Ds, Ss
[/multiplayer_side]
