#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Dwarves
    name=_"Dwarves"
    image="units/dwarves/saboteur.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=Dwarvish Frostmancer,Dwarvish Glacierblade,Dwarvish Avalanche,Dwarvish Annalist,TGA Dwarvish Steelclad,TGA Dwarvish Runesmith,Dwarvish Wanderer,TGA Dwarvish Thunderguard,Dwarvish Flamethrower,Dwarvish Gunslinger,Dwarvish Pathfinder,TGA Dwarvish Stalwart,Dwarvish Foreman,Dwarvish Alchemist,Dwarvish Warlock
    random_leader=Dwarvish Frostmancer,Dwarvish Glacierblade,Dwarvish Avalanche,Dwarvish Annalist,TGA Dwarvish Steelclad,TGA Dwarvish Thunderguard,Dwarvish Flamethrower,Dwarvish Pathfinder,TGA Dwarvish Stalwart,Dwarvish Alchemist,Dwarvish Warlock
    recruit=Dwarvish Witness,TGA Dwarvish Guardsman,TGA Dwarvish Scout,Dwarvish Woodcutter,TGA Dwarvish Fighter,TGA Dwarvish Ulfserker,TGA Dwarvish Thunderer,TGA Gryphon Rider,Gyrocopter,Dwarvish Miner,Dwarvish Brewer,Dwarvish Bear Rider,Dwarvish Torch Bearer,Dwarvish Scoundrel,Dwarvish Mage,Rock Golem,Animated Rock
    terrain_liked=Hh, Ha, Mm
    [ai]
        [aspect]
            id=recruitment_pattern
            [facet]
                value=fighter,fighter,fighter,mixed fighter,archer,scout
            [/facet]
        [/aspect]
    [/ai]
[/multiplayer_side]
