#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Loyalists
    name= _"Loyalists"
    image="units/human-loyalists/sentry.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=TGA Lieutenant,Swordsman,Sentry,TGA Pikeman,Javelineer,TGA Shock Trooper,TGA Longbowman,White Mage,Cleric,TGA Red Mage,Sworded Mage
    random_leader=TGA Lieutenant,Swordsman,Sentry,TGA Pikeman,Javelineer,TGA Longbowman,White Mage,Cleric,TGA Red Mage,Sworded Mage
    recruit=TGA Cavalryman,TGA Horseman,Jouster,Chariot,Heavy Cavalry,Spearman,TGA Sergeant,Infantryman,TGA Fencer,TGA Heavy Infantryman,TGA Bowman,Healer Mage,TGA Mage,TGA Merman Fighter,Peasant,Rancher,Militiaman,Fisherman,Signalman
    terrain_liked=Gg, Ww, Wo
    [ai]
        recruitment_pattern=fighter,fighter,fighter,archer,mixed fighter,scout
    [/ai]
[/multiplayer_side]
