#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Magical
    name= _"Magical"
    image="units/magical/fire-warden.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=Cockatrice,Fire Warden,Ice Giant,Stone Titan,Dracoatl,Mother Mudcrawler
    random_leader=Cockatrice,Fire Warden,Ice Giant,Stone Titan
    recruit=TGA Fire Guardian,Fire Wisp,Ice Golem,Mudcrawler,Giant Mudcrawler,Animated Rock,Rock Golem,Magical Scimitar,Magical Book,Unicorn
    terrain_liked=Ff, Fa, Ss, Ww
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,healer,scout
    [/ai]
[/multiplayer_side]
