#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Monsters
    name= _"Monsters"
    image="units/monsters/cockatrice.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=Cockatrice,Big Eye,Wild Boar,Dracoatl,Fire Warden,TGA Bear,Young Dune Worm,Mother Mudcrawler
    random_leader=Cockatrice,Wild Boar,Dracoatl,Fire Warden
    recruit=TGA Fire Guardian,Young Cockatrice,TGA Vampire Bat,Boar,Floating Eye,TGA Giant Rat,Small Ratpack,Fire Wisp,Young Gryphon,Boar Cub,Mudcrawler,Giant Mudcrawler,IQ Clam,Rabbit,Dire Rabbit
    terrain_liked=Ff, Fa, Ss, Ww
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,healer,scout
    [/ai]
[/multiplayer_side]
