#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Northerners
    name= _"Northerners"
    image="units/elves-mixed/guardian.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=Northern Druid,Northern Frostbow,Northern Wolffang,Northern Duelist,Ice Sorceress,Snow Druid,Frost Guardian,Ice Giant,Silver Unicorn
    random_leader=Northern Druid,Northern Frostbow,Northern Wolffang,Ice Sorceress,Snow Druid,Frost Guardian,Ice Giant
    recruit=Northern Shaman,Northern Archer,Northern Wolfpelt,Snow Shaman,Ice Golem,Unicorn,Young Gryphon,Northern Wolfhide
    terrain_liked=Ff, Fa, Ss, At
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,healer,scout
    [/ai]
[/multiplayer_side]
