#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Orcs
    name= _"Orcs"
    image="units/orcs/shaman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=TGA Orcish Warrior,Orcish Pikeman,Orcish Savage,TGA Orcish Ruler,Orcish Warlock,Orcish Witchdoctor,Orcish Fireline,TGA Troll,TGA Troll Rocklobber,TGA Troll Shaman,Orcish Crossbowman,TGA Orcish Slayer,Orcish Flamethrower
    random_leader=TGA Orcish Warrior,Orcish Pikeman,Orcish Savage,TGA Orcish Ruler,Orcish Warlock,Orcish Witchdoctor,Orcish Fireline,TGA Troll,TGA Troll Rocklobber,TGA Troll Shaman,Orcish Crossbowman,TGA Orcish Slayer,Orcish Flamethrower
    recruit=TGA Orcish Grunt,TGA Orcish Leader,Orcish Brute,Orcish Berserker,Orcish Shaman,TGA Troll Whelp,TGA Wolf Rider,TGA Orcish Archer,TGA Orcish Assassin,Sea Orc,TGA Naga Fighter,TGA Goblin Spearman,Bow Goblin,Orcish Peon,Goblin Transport
    terrain_liked=Hh, Ha, Mm, Ss
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,archer,scout
    [/ai]
[/multiplayer_side]
