#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Outlaws
    name= _"Outlaws"
    image="units/human-outlaws/leader.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=Rogue Leader,Exile,Witch,Demolitionist,TGA Bandit,TGA Trapper,Outlaw,TGA Rogue,Messenger,Ogre
    random_leader=Rogue Leader,Exile,Witch,Demolitionist,TGA Bandit,TGA Trapper,Outlaw,TGA Rogue
    recruit=Outcast,Cunning Woman,Basher,TGA Thug,TGA Thief,TGA Poacher,TGA Footpad,TGA Naga Fighter,Ruffian,Pilferer,Vagrant,TGA Young Ogre,Brigand,Arsonist,Naga Hunter,Merman Corsair
    terrain_liked=Gg, Ww, Wo
    [ai]
        recruitment_pattern=fighter,fighter,fighter,archer,mixed fighter,scout
    [/ai]
[/multiplayer_side]
