#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Sylvan
    name= _"Sylvan"
    image="units/faeries/fire.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=Fire Faerie,Night Nymph,Naiad,Faerie Domain Guard,Elder Wose,Wose Shaman
    random_leader=Fire Faerie,Night Nymph,Naiad,Faerie Domain Guard,Elder Wose,Wose Shaman
    recruit=TGA Wose,Wose Sapling,Pixie,Dusk Faerie,Faerie Sprite
    terrain_liked=Ff, Fa, Ss, Ww
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,healer,scout
    [/ai]
[/multiplayer_side]
