#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Sylvan
    name= _"Sylvan"
    image="units/faeries/fire.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=TGA Elvish Lord,Elvish Captain,TGA Elvish Hero,Elvish Pikeman,Elvish Trapper,TGA Elvish Ranger,TGA Elvish Marksman,TGA Elvish Druid,TGA Elvish Sorceress,Elvish Zealot,Elvish Treewalker,Fire Faerie,Night Nymph,Faerie Domain Guard,Elder Wose,Wose Shaman
    random_leader=TGA Elvish Lord,Elvish Captain,TGA Elvish Hero,Elvish Pikeman,Elvish Trapper,TGA Elvish Ranger,TGA Elvish Marksman,TGA Elvish Druid,TGA Elvish Sorceress,Elvish Zealot,Elvish Treewalker,Fire Faerie,Night Nymph,Faerie Domain Guard
    recruit=Elvish Maiden,Elvish Noble,Elvish Acolyte,TGA Elvish Fighter,Elvish Hunter,TGA Elvish Archer,TGA Elvish Shaman,Elvish Adept,TGA Elvish Scout,Elvish Spearman,Elvish Civilian,TGA Wose,Wose Sapling,Pixie,TGA Merman Hunter,TGA Mermaid Initiate,Faerie Sprite,Dusk Faerie,Will_o_Wisp
    terrain_liked=Ff, Fa, Ss, Ww
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,healer,scout
    [/ai]
[/multiplayer_side]
