#textdomain wesnoth-units
[unit_type]
    id=Armoured Troll
    name= _ "Armoured Troll"
    race=troll
    image="units/trolls/armoured_troll.png"
    profile="portraits/trolls/troll-warrior.png"
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/trolls/transparent/troll-warrior.png"
    [/portrait]
    [portrait] 
        size=400
        side="right"
        mirror="true"
        image="portraits/trolls/transparent/troll-warrior.png"
    [/portrait]
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=95
    movement_type=largefoot
    movement=5
    level=4
    alignment=chaotic
    cost=80
    usage=fighter
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Troll Warrior
        experience=200
    [/advancefrom]
#endif
    experience=200
    {AMLA_DEFAULT}
    description= _ "."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}
    {DEFENSE_ANIM "units/trolls/armoured_troll.png" "units/trolls/armoured_troll.png" {SOUND_LIST:TROLL_HIT} }
    die_sound={SOUND_LIST:TROLL_DIE}
    [abilities]
		{ABILITY_REGENERATES}
		{ABILITY_STEADFAST}
    [/abilities]
    [resistance]
        blade=70
        pierce=70
        impact=90
        cold=90
    [/resistance]
    [attack]
        name=hammer
        description=_"hammer"
        icon=attacks/hammer-troll.png
        type=impact
        range=melee
        damage=25
        number=2
        [specials]
    [dummy]
        id=shockwave
        name="shockwave"
        name_inactive="shockwave"
        description= _ "If this attack misses, it will still do 20% of the original damage due to the sheer power of the shockwave caused by the attack. Damage dealt this way won't be able kill though."
    [/dummy]
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        start_time=-300
        [sound_frame]
           sound=rumble.ogg
        [/sound_frame]
        sound_start_time=-100
        [frame]
            image="units/trolls/armoured_troll.png:25"
        [/frame]
        [frame]
            image="units/trolls/armoured_troll-attack-[1~4,3,1].png:[75,50,75,175,75,25]"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -75}
        [frame]
            image="units/trolls/armoured_troll.png:50"
        [/frame]
    [/attack_anim]
    [event]
        name=attacker misses
        first_time_only=no
        [filter_attack]
            special=shockwave
        [/filter_attack]
        [set_variable]
          name=weapon.damage
          multiply=0.2
        [/set_variable]
        [harm_unit]
            [filter]
                    x,y=$x2,$y2
            [/filter]
            [filter_second]
                x,y=$x1,$y1
            [/filter_second]
            amount=$weapon.damage
            alignment=$unit.alignment
            damage_type=$weapon.type
            experience=no
            kill=no
            fire_event=yes
	    animate=no
        [/harm_unit] 
    [/event]
    [event]
        name=defender misses
        first_time_only=no
        [filter_second_attack]
            special=shockwave
        [/filter_second_attack]
        [set_variable]
          name=second_weapon.damage
          multiply=0.2
        [/set_variable]
        [harm_unit]
            [filter]
                    x,y=$x1,$y1
            [/filter]
            [filter_second]
                x,y=$x2,$y2
            [/filter_second]
            amount=$second_weapon.damage
            alignment=$second_unit.alignment
            damage_type=$second_weapon.type
            experience=no
            kill=no
            fire_event=yes
	    animate=no
        [/harm_unit] 
    [/event]
[/unit_type]
