#textdomain wesnoth-units
#ifdef MULTIPLAYER
[unit_type]
    id=TGA Troll Whelp
    [base_unit]
        id=Troll Whelp
    [/base_unit]
    advances_to=TGA Troll,TGA Troll Rocklobber,TGA Troll Shaman
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Troll
    [base_unit]
        id=Troll
    [/base_unit]
    advances_to=TGA Troll Warrior
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Troll Warrior
    [base_unit]
        id=Troll Warrior
    [/base_unit]
    advances_to=Armoured Troll,Troll Giant
    experience=200
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Troll Rocklobber
    [base_unit]
        id=Troll Rocklobber
    [/base_unit]
    advances_to=Troll Boulderlobber
    experience=74
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Troll Shaman
    [base_unit]
        id=Troll Shaman
    [/base_unit]
    hide_help=false
    do_not_list=no
    [attack]
        name=fist
        description= _"fist"
        icon=attacks/fist-troll.png
        type=impact
        range=melee
        damage=8
        number=2
    [/attack]
    [attack]
        name=flame blast
        description= _"flame blast"
        type=fire
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=8
        number=3
        icon=attacks/fire-blast.png
    [/attack]
[/unit_type]
#endif
#ifndef MULTIPLAYER
[unit_type]
    id=TGA Troll Shaman
    [base_unit]
        id=Troll Shaman
    [/base_unit]
    [advancefrom]
        unit=Troll Whelp
    [/advancefrom]
    hide_help=false
    do_not_list=no
    [attack]
        name=fist
        description= _"fist"
        icon=attacks/fist-troll.png
        type=impact
        range=melee
        damage=8
        number=2
    [/attack]
    [attack]
        name=flame blast
        description= _"flame blast"
        type=fire
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=8
        number=3
        icon=attacks/fire-blast.png
    [/attack]
[/unit_type]
#endif
