#textdomain wesnoth-units
[unit_type]
    id=Archaic Wose
    name= _ "Archaic Wose"
    race=wose
    image="units/woses/wose-archaic.png"
	image_icon="units/woses/wose-archaic.png~CROP(5,10,72,72)"
    profile="portraits/woses/ancient-wose.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=98
    movement_type=treefolk
    movement=4
    experience=455
    level=4
    alignment=lawful
    advances_to=Immemorial Wose
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Ancient Wose
        experience=200
    [/advancefrom]
#endif
#    {AMLA_DEFAULT}
    cost=75
    usage=fighter
    description= _ "Few have seen them, for few exist. Found somewhere in the deepest of forests, The Archaic. These creatures seem nothing more than a tree, yet they are a tree of epic proportions and suddenly with a crash like thunder the ancientest of trees is gone. A large as giants and mammoths these trees can creep through a forest without a sound. Peaceful, these centuries old creatures hate nothing, yet alas for the man who crosses an Archaic Wose, for when it comes to battle this ancient goliath leaves a trail of obliteration and few can survive the blows of these monsters."+{SPECIAL_NOTES}+{SPECIAL_NOTES_AMBUSH}+{SPECIAL_NOTES_REGENERATES}
    die_sound=wose-die.ogg
    {DEFENSE_ANIM "units/woses/wose-archaic.png" "units/woses/wose-archaic.png" wose-hit.ogg }
    [abilities]
        {ABILITY_AMBUSH}
        {ABILITY_REGENERATES_VALUE 10}
    [/abilities]

    [attack]
        name=crush
        description=_"crush"
        icon=attacks/crush-wose.png
        type=impact
        range=melee
        damage=31
        number=2
    [/attack]

    [death]
        start_time=0
        [frame]
            image="units/woses/wose-archaic.png:100"
        [/frame]
    [/death]

    [attack_anim]
        [filter_attack]
            name=crush
        [/filter_attack]
        start_time=-500
        {SOUND:HIT_AND_MISS wose-attack.ogg wose-miss.ogg -500}
        [frame]
            image="units/woses/wose-archaic.png:[400,200,100]"
        [/frame]
    [/attack_anim]
[/unit_type]
