#textdomain wesnoth-units
[unit_type]
    id=Immemorial Wose
    name= _ "Immemorial Wose"
    race=wose
    image="units/woses/wose-arch.png"
    image_icon="units/woses/wose-arch.png~CROP(1,1,100,100"
    profile="portraits/woses/ancient-wose.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=120
    movement_type=treefolk
    movement=4
    experience=250
    level=5
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=90
    description= _ "Few have seen them, for few exist. Found somewhere in the deepest of forests, The Immemorial Wose. These creatures seem nothing more than a tree, yet they are a tree of epic proportions and suddenly with a crash like thunder the ancientest of trees is gone. A large as giants and mammoths these trees can creep through a forest without a sound. Peaceful, these centuries old creatures hate nothing, yet alas for the man who crosses an Immemorial Wose, for when it comes to battle this ancient goliath leaves a trail of obliteration and few can survive the blows of these monsters."+{SPECIAL_NOTES}+{SPECIAL_NOTES_AMBUSH}+{SPECIAL_NOTES_REGENERATES}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/woses/transparent/ancient-wose.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/woses/transparent/ancient-wose.png"
    [/portrait]
    usage=fighter
    die_sound=wose-die.ogg
    [abilities]
        {ABILITY_AMBUSH}
        {ABILITY_REGENERATES_VALUE 12}
    [/abilities]
    [death]
        start_time=0
        [frame]
            image="units/woses/wose-ancient-die-fall-[1~15].png:100"
        [/frame]
    [/death]
    [attack]
        name=crush
        description=_"crush"
        icon=attacks/crush-wose.png
        type=impact
        range=melee
        damage=38
        number=2
    [/attack]
    {DEFENSE_ANIM "units/woses/wose-arch-attack-2.png" "units/woses/wose-arch.png" wose-hit.ogg }
    [attack_anim]
        [filter_attack]
            name=crush
        [/filter_attack]
        start_time=-500
        {SOUND:HIT_AND_MISS wose-attack.ogg wose-miss.ogg -500}
        [frame]
            image="units/woses/wose-arch-attack-[1,2,1].png:[400,200,100]"
        [/frame]
    [/attack_anim]
[/unit_type]
