#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Drakes
    name= _"Drakes"
    image="units/drakes/swordmaster.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=TGA Drake Flameheart,TGA Inferno Drake,Drake Archmage,Drake Swordmaster,Drake Ranger,Drake Enforcer,Drake Warden,TGA Drake Blademaster,Smashing Carapace,Heroic Carapace,Monstrous Carapace,Saurian Champion,IQ Saurian Blind Seer,Saurian Witchdoctor
    random_leader=TGA Drake Flameheart,Drake Swordmaster,Drake Archmage,Drake Ranger,TGA Inferno Drake,Drake Enforcer,Drake Warden,TGA Drake Blademaster
    recruit=TGA Drake Burner,TGA Fire Drake,Drake Clasher,Drake Adventurer,TGA Drake Glider,Sword Drake,TGA Drake Fighter,TGA Saurian Skirmisher,Saurian Devotee,TGA Saurian Augur,TGA Drake Warrior,TGA Drake Flare,Drake Thrasher,Sky Drake,Drake Arbiter,Guardian Carapace,Javelin Carapace,Foraging Carapace,Protective Carapace,Hunting Carapace,Infiltrative Carapace,Black Salamander,Green Salamander,Blue Salamander,Salamander,Saurian Ambusher,Saurian Guard,TGA Saurian Soothsayer,TGA Saurian Oracle,Saurian Visionnaire,Saurian Husk,Saurian Lurker,Toad,Battle Toad,Ranged Toad,Auguric Toad,Drake Apprentice,Drake Mage,Chameleon,Assassin Chameleon
    terrain_liked=Hh, Ha, Ds, Ss
    [ai]
        recruitment_pattern=fighter,fighter,archer,healer,scout,scout
    [/ai]
[/multiplayer_side]
