#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Dwarves
    name= _"Dwarves"
    image="units/dwarves/protector.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=Dwarvish Loremaster,TGA Dwarvish Runemaster,Dwarvish Explorer,Dwarvish Pioneer,TGA Dwarvish Lord,TGA Dwarvish Dragonguard,Dwarvish Blazer,TGA Dwarvish Sentinel,Dwarvish Protector,Dwarvish Owner
    recruit=Dwarvish Annalist,Dwarvish Witness,TGA Dwarvish Guardsman,TGA Dwarvish Stalwart,TGA Dwarvish Fighter,TGA Dwarvish Steelclad,TGA Dwarvish Ulfserker,TGA Dwarvish Berserker,Dwarvish Wanderer,Dwarvish Pathfinder,TGA Dwarvish Scout,Dwarvish Woodcutter,TGA Dwarvish Thunderer,TGA Dwarvish Thunderguard,Dwarvish Flamethrower,TGA Gryphon Rider,TGA Gryphon Master,Gyrocopter,Steamcopter,Dwarvish Miner,Dwarvish Foreman,Dwarvish Brewer,Dwarvish Alchemist,Dwarvish Gunslinger,Dwarvish Bear Rider,Dwarvish Bear Cavalry,Dwarvish Bear Patrol
    terrain_liked=Hh, Ha, Mm
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,archer,scout
    [/ai]
[/multiplayer_side]
