#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Monsters
    name= _"Monsters"
    image="units/monsters/chimera.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=Chimera,Gazer Eye,Raging Boar,Thunderboar,Fire Avatar,Dune Worm
    recruit=Cockatrice,Young Cockatrice,Big Eye,Floating Eye,Boar,Wild Boar,Dracoatl,Fire Warden,TGA Bear,Young Dune Worm,Mother Mudcrawler,IQ Clam,IQ Giant Clam,Young Gryphon,TGA Gryphon,TGA Fire Guardian,Vampire Bat,Blood Bat,TGA Giant Rat,Small Ratpack,Rabbit,Fire Wisp,Young Gryphon,Boar Cub,Mudcrawler,Giant Mudcrawler,Rabbit,Dire Rabbit
    terrain_liked=Ff, Fa, Ss, Ww
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,healer,scout
    [/ai]
[/multiplayer_side]
