#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Sylvan
    name= _"Sylvan"
    image="units/faeries/dryad.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=Elvish High Lord,Elvish Marshal,TGA Elvish Champion,Elvish Vanquisher,Elvish Glavier,Elvish Halberdier,Elvish Prowler,TGA Elvish Avenger,TGA Elvish Sharpshooter,TGA Elvish Shyde,TGA Elvish Enchantress,Elvish High Priest,Elvish Wisp,Faerie Dryad,Eventide Dancer,Faerie Domain Protector,Ancient Wose
    random_leader=Elvish High Lord,Elvish Marshal,TGA Elvish Champion,Elvish Vanquisher,Elvish Glavier,Elvish Halberdier,Elvish Prowler,TGA Elvish Avenger,TGA Elvish Sharpshooter,TGA Elvish Shyde,TGA Elvish Enchantress,Elvish High Priest,Elvish Wisp,Faerie Dryad,Eventide Dancer,Faerie Domain Protector
    recruit=Elvish Captain,TGA Elvish Hero,Elvish Pikeman,TGA Elvish Lord,Elvish Trapper,TGA Elvish Ranger,TGA Elvish Marksman,TGA Elvish Druid,TGA Elvish Sorceress,Elvish Zealot,Elvish Treewalker,Elder Wose,Wose Shaman,Elvish Acolyte,TGA Elvish Fighter,Elvish Noble,Elvish Hunter,TGA Elvish Archer,TGA Elvish Shaman,Elvish Adept,TGA Elvish Scout,Elvish Rider,Elvish Bowrider,Elvish Civilian,TGA Wose,Wose Sapling,Pixie,Peri,Merman Hunter,Merman Spearman,Merman Netcaster,Mermaid Initiate,Mermaid Priestess,Mermaid Enchantress,Faerie Sprite,Fire Faerie,Dusk Faerie,Night Nymph,Faerie Domain Guard,Dracoatl,Will_o_Wisp,Great Wisp
    terrain_liked=Ff, Fa, Ss, Ww
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,healer,scout
    [/ai]
[/multiplayer_side]
