#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Undead
    name= _"Undead"
    image="units/undead-skeletal/deathknight.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=TGA Lich,TGA Necromancer,TGA Death Knight,Draug,Forgotten Sentinel,Banebow,TGA Ghast
    random_leader=TGA Lich,TGA Necromancer,Death Knight,Draug,Banebow
    recruit=TGA Skeleton,TGA Revenant,TGA Deathblade,Death Baron,Skeleton Rider,Bone Knight,Barrow Rider,Black Rider,Black Horseman,Dullohan,Skeleton Archer,Bone Shooter,Walking Corpse,Soulless,Monstrosity,TGA Ghost,Wraith,Shadow,Faceless Knight,Vampire Bat,Blood Bat,TGA Ghoul,TGA Necrophage,TGA Dark Adept,TGA Dark Sorcerer,Basilisk Cultist,Skeleton Steerer,Skeleton Fish Knight,Chocobone,Familiar,Poltergeist,Blood Monster,Blood Hulk,Flesh Golem,Spook,Skeleton Recruit
    terrain_liked=Ss, Hh, Ha, Ww
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,archer,scout
    [/ai]
[/multiplayer_side]
