#textdomain wesnoth-multiplayer

[era]
    id=The_Golden_Age
    name= _ "The Golden Age"
    description=_"{TGA_DESC}
    
    Includes Humans,Sylvan,Outlaws,Dwarves,Drakes,Undead,Orcs"
    require_era=yes
    {RANDOM_SIDE}
    {~add-ons/The_Golden_Age/factions/default/human.cfg}
    {~add-ons/The_Golden_Age/factions/default/sylvan.cfg}
    {~add-ons/The_Golden_Age/factions/default/outlaw.cfg}
    {~add-ons/The_Golden_Age/factions/default/dwarf.cfg}
    {~add-ons/The_Golden_Age/factions/default/drake.cfg}
    {~add-ons/The_Golden_Age/factions/default/orc.cfg}
    {~add-ons/The_Golden_Age/factions/default/undead.cfg}
    {~add-ons/The_Golden_Age/factions/default/khalifate.cfg}
[/era]
[era]
    id=The_Golden_Age_Extended
    name= _ "The Golden Age Extended"
    description=_"{TGA_DESC}
    
    like normal TGA, but with Khalifate,Northerners,Monsters,Magical,Avians"
    require_era=yes
    {RANDOM_SIDE}
    {~add-ons/The_Golden_Age/factions/default/human.cfg}
    {~add-ons/The_Golden_Age/factions/default/sylvan.cfg}
    {~add-ons/The_Golden_Age/factions/default/outlaw.cfg}
    {~add-ons/The_Golden_Age/factions/default/dwarf.cfg}
    {~add-ons/The_Golden_Age/factions/default/drake.cfg}
    {~add-ons/The_Golden_Age/factions/default/undead.cfg}
    {~add-ons/The_Golden_Age/factions/default/orc.cfg}
    {~add-ons/The_Golden_Age/factions/default/khalifate.cfg}
    {~add-ons/The_Golden_Age/factions/default/north.cfg}
    {~add-ons/The_Golden_Age/factions/default/monster.cfg}
    {~add-ons/The_Golden_Age/factions/default/magical.cfg}
    {~add-ons/The_Golden_Age/factions/default/avian.cfg}
[/era]
[era]
    id=The_Golden_Age_AOH
    name= _ "TGA+Age of Heroes"
    description=_"{TGA_DESC}
    
    Includes Humans,Sylvan,Outlaws,Dwarves,Drakes,Undead,Orcs."
    require_era=yes
    {RANDOM_SIDE}
    {~add-ons/The_Golden_Age/factions/aoh/human_aoh.cfg}
    {~add-ons/The_Golden_Age/factions/aoh/sylvan_aoh.cfg}
#    {~add-ons/The_Golden_Age/factions/aoh/outlaw_aoh.cfg}
    {~add-ons/The_Golden_Age/factions/aoh/dwarf_aoh.cfg}
    {~add-ons/The_Golden_Age/factions/aoh/drake_aoh.cfg}
    {~add-ons/The_Golden_Age/factions/aoh/undead_aoh.cfg}
#    {~add-ons/The_Golden_Age/factions/aoh/orc_aoh.cfg}
[/era]
[era]
    id=The_Golden_Age_AOH_extended
    name= _ "TGA+Age of Heroes Extended"
    description=_"{TGA_DESC}
    
    Includes Humans,Sylvan,Outlaws,Dwarves,Drakes,Undead,Orcs,Monsters"
    require_era=yes
    {RANDOM_SIDE}
    {~add-ons/The_Golden_Age/factions/aoh/human_aoh.cfg}
    {~add-ons/The_Golden_Age/factions/aoh/sylvan_aoh.cfg}
#    {~add-ons/The_Golden_Age/factions/aoh/outlaw_aoh.cfg}
    {~add-ons/The_Golden_Age/factions/aoh/dwarf_aoh.cfg}
    {~add-ons/The_Golden_Age/factions/aoh/drake_aoh.cfg}
    {~add-ons/The_Golden_Age/factions/aoh/undead_aoh.cfg}
#    {~add-ons/The_Golden_Age/factions/aoh/orc_aoh.cfg}
    {~add-ons/The_Golden_Age/factions/aoh/monster_aoh.cfg}
[/era]
[era]
    id=The_Golden_Age_AOL
    name= _ "TGA+Age of Legends"
    description=_"{TGA_DESC}
    
    Includes Humans,Sylvan,Outlaws,Dwarves,Drakes."
    require_era=yes
    {RANDOM_SIDE}
    {~add-ons/The_Golden_Age/factions/aol/human_aol.cfg}
    {~add-ons/The_Golden_Age/factions/aol/sylvan_aol.cfg}
#    {~add-ons/The_Golden_Age/factions/aol/outlaw_aol.cfg}
    {~add-ons/The_Golden_Age/factions/naval/sea_aol.cfg}
    {~add-ons/The_Golden_Age/factions/aol/dwarf_aol.cfg}
    {~add-ons/The_Golden_Age/factions/aol/drake_aol.cfg}
    {~add-ons/The_Golden_Age/factions/aol/undead_aol.cfg}
#    {~add-ons/The_Golden_Age/factions/aol/orc_aol.cfg}
[/era]
#[era]
#    id=The_Golden_Age_AOEON
#    name= _ "TGA+Age of Eons"
#    description=_"{TGA_DESC}
#    
#    Includes Humans,Sylvan,Outlaws,Dwarves,Drakes."
#    require_era=yes
#    {RANDOM_SIDE}
#    {~add-ons/The_Golden_Age/factions/aol/human_aol.cfg}
#    {~add-ons/The_Golden_Age/factions/aol/sylvan_aol.cfg}
#    {~add-ons/The_Golden_Age/factions/aol/outlaw_aol.cfg}
#    {~add-ons/The_Golden_Age/factions/naval/sea_aol.cfg}
#    {~add-ons/The_Golden_Age/factions/aol/dwarf_aol.cfg}
#    {~add-ons/The_Golden_Age/factions/aol/drake_aol.cfg}
#    {~add-ons/The_Golden_Age/factions/aol/undead_aol.cfg}
#    {~add-ons/The_Golden_Age/factions/aol/orc_aol.cfg}
#[/era]
[era]
    id=The_Golden_Age_MIN
    name= _ "TGA Minimalist"
    description=_"{TGA_DESC}
    
    Includes Humans,Sylvan,Outlaws,Dwarves,Undead,Orcs,Khalifate."
    require_era=yes
    {RANDOM_SIDE}
    {~add-ons/The_Golden_Age/factions/min/human_min.cfg}
    {~add-ons/The_Golden_Age/factions/min/dwarf_min.cfg}
    {~add-ons/The_Golden_Age/factions/min/sylvan_min.cfg}
    {~add-ons/The_Golden_Age/factions/min/outlaw_min.cfg}
#    {~add-ons/The_Golden_Age/factions/min/sea_min.cfg}
#    {~add-ons/The_Golden_Age/factions/min/drake_min.cfg}
    {~add-ons/The_Golden_Age/factions/min/undead_min.cfg}
    {~add-ons/The_Golden_Age/factions/min/orc_min.cfg}
    {~add-ons/The_Golden_Age/factions/min/khalifate_min.cfg}
[/era]
[era]
    id=The_Golden_Age_RPG
    name= _ "TGA+RPG"
    description=_"{TGA_DESC}
    
    Includes Humans,Sylvan,Outlaws,Dwarves,Sea Creatures,Drakes,Undead,Orcs."
    require_era=yes
    {RANDOM_SIDE}
    {~add-ons/The_Golden_Age/factions/rpg/human_rpg.cfg}
    {~add-ons/The_Golden_Age/factions/rpg/dwarf_rpg.cfg}
    {~add-ons/The_Golden_Age/factions/rpg/sylvan_rpg.cfg}
    {~add-ons/The_Golden_Age/factions/rpg/outlaw_rpg.cfg}
    {~add-ons/The_Golden_Age/factions/rpg/sea_rpg.cfg}
    {~add-ons/The_Golden_Age/factions/rpg/drake_rpg.cfg}
    {~add-ons/The_Golden_Age/factions/rpg/undead_rpg.cfg}
    {~add-ons/The_Golden_Age/factions/rpg/orc_rpg.cfg}
    {~add-ons/The_Golden_Age/factions/rpg/khalifate_rpg.cfg}
[/era]
[era]
    id=The_Golden_Age_RPG_Extended
    name= _ "TGA+RPG Extended"
    description=_"{TGA_DESC}
    
    Includes Humans,Sylvan,Outlaws,Dwarves,Sea Creatures,Drakes,Undead,Orcs, Northerners,Monsters,Avians"
    require_era=yes
    {RANDOM_SIDE}
    {~add-ons/The_Golden_Age/factions/rpg/human_rpg.cfg}
    {~add-ons/The_Golden_Age/factions/rpg/dwarf_rpg.cfg}
    {~add-ons/The_Golden_Age/factions/rpg/sylvan_rpg.cfg}
    {~add-ons/The_Golden_Age/factions/rpg/outlaw_rpg.cfg}
    {~add-ons/The_Golden_Age/factions/rpg/sea_rpg.cfg}
    {~add-ons/The_Golden_Age/factions/rpg/drake_rpg.cfg}
    {~add-ons/The_Golden_Age/factions/rpg/undead_rpg.cfg}
    {~add-ons/The_Golden_Age/factions/rpg/orc_rpg.cfg}
    {~add-ons/The_Golden_Age/factions/rpg/khalifate_rpg.cfg}
[/era]
[era]
    id=TGA_Naval
    name= _ "TGA Naval"
    description=_"A separate era including water factions (because land faction VS water faction is REEEEALYYY unbalanced)

Includes:Sea Monsters, Nagas, Merfolk."
    require_era=yes
    {RANDOM_SIDE}
    {~add-ons/The_Golden_Age/factions/naval/sea.cfg}
    {~add-ons/The_Golden_Age/factions/naval/naga.cfg}
    {~add-ons/The_Golden_Age/factions/naval/merman.cfg}
[/era]
[era]
    id=TGA_Naval_AOH
    name= _ "TGA Naval+AOH"
    description=_"A separate era including water factions (because land faction VS water faction is REEEEALYYY unbalanced)

Includes:Sea Monsters, Nagas."
    require_era=yes
    {RANDOM_SIDE}
    {~add-ons/The_Golden_Age/factions/naval/sea_aoh.cfg}
    {~add-ons/The_Golden_Age/factions/naval/naga_aoh.cfg}
    {~add-ons/The_Golden_Age/factions/naval/merman_aoh.cfg}
[/era]
[era]
    id=TGA_Naval_AOL
    name= _ "TGA Naval+AOL"
    description=_"A separate era including water factions (because land faction VS water faction is REEEEALYYY unbalanced)

Includes:Sea Monsters, Nagas."
    require_era=yes
    {RANDOM_SIDE}
    {~add-ons/The_Golden_Age/factions/naval/sea_aol.cfg}
    {~add-ons/The_Golden_Age/factions/naval/naga_aol.cfg}
[/era]
