#textdomain wesnoth-units
[unit_type]
    id=Fire Avatar
    name= _ "Fire Avatar"
    race=magical
    image="units/monsters/fire-god-1.png"
    profile=portraits/fire-guardian.png
    hitpoints=48
    movement_type=drakefly
    [resistance]
        blade=70
        pierce=70
        impact=70
        fire=0
        cold=150
        arcane=130
        impact=70
    [/resistance]
    movement=6
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=50
    usage=fighter
    description= _ "."
    die_sound=drake-die.ogg
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/transparent/fire-guardian.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/transparent/fire-guardian.png"
    [/portrait]
    [abilities]
    [regenerate]
        value=10
        id=fireborn
        name= _ "fireborn"
        description="This unit is made of fire. If it stands in lava, it will receive 10 hp."
        name_inactive= _ "fireborn"
        description_inactive="This unit is made of fire. If it stands in lava, it will receive 10 hp."
        affect_self=yes
        poison=cured
        [filter_self]
            [filter_location]
                terrain=Ql,Qlf
            [/filter_location]
        [/filter_self]
    [/regenerate]
    [/abilities]
    [defense]
        reef=70
        flat=50
        sand=50
        forest=70
        hills=50
        mountains=50
        village=50
        castle=50
        cave=50
        unwalkable=60
        fungus=70
    [/defense]
    [standing_anim]
        [frame]
            begin=0
            end=100
            image="units/monsters/fire-god-1.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/monsters/fire-god-2.png"
        [/frame]
        [frame]
            begin=200
            end=300
            image="units/monsters/fire-god-3.png"
        [/frame]
        [frame]
            begin=300
            end=400
            image="units/monsters/fire-god-2.png"
        [/frame]
    [/standing_anim]
    [defend]
        #hits=miss
        [frame]
            begin=-125
            end=-42
            image="units/monsters/fire-god-1.png"
        [/frame]
        [frame]
            begin=-42
            end=41
            image="units/monsters/fire-god-2.png"
        [/frame]
        [frame]
            begin=41
            end=125
            image="units/monsters/fire-god-3.png"
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/monsters/fire-god-2.png"
        [/frame]
    [/defend]
    [death]
        start_time=0
        [frame]
            duration=100
            image="units/monsters/fire-god-die1.png"
        [/frame]
        [frame]
            duration=100
            image="units/monsters/fire-god-die2.png"
        [/frame]
        [frame]
            duration=100
            image="units/monsters/fire-god-die3.png"
        [/frame]
        [frame]
            duration=100
            image="units/monsters/fire-god-die4.png"
        [/frame]
        [frame]
            duration=100
            image="units/monsters/fire-god-die5.png"
        [/frame]
    [/death]
    [attack]
        name=fire claws
        description= _ "fire claws"
        type=fire
        icon=attacks/claws-fire-elemental.png
        range=melee
        damage=7
        number=5
    [/attack]
    [attack]
        name=fire breath
        description= _ "fire breath"
        icon=attacks/fire-blast.png
        type=fire
        range=ranged
        damage=9
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=fire claws
        [/filter_attack]
        offset=0.0~-0.1:100,-0.1~0.0:50,0.0~0.3:50,0.3~0.5:100,0.5~0.6:50,0.6~0.4:100,0.4~0.2:50,0.2~0.0:100
        start_time=-350
        {SOUND:HIT_AND_MISS claws.ogg {SOUND_LIST:MISS} -350}
        [frame]
            image="units/monsters/fire-god-[1~3,attack,3~1].png:250"
            sound=fire.wav
        [/frame]
        [frame]
            image="units/monsters/fire-god-1.png:100"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fire breath
        [/filter_attack]
        {MISSILE_FRAME_FIRE_BREATH 11,-34 11,15 24,-22 26,10}
        start_time=-500
        [frame]
            image="units/monsters/fire-god-1.png:100"
        [/frame]
        {SOUND:HIT_AND_MISS flame-big.ogg flame-big-miss.ogg -400}
        [frame]
            image="units/monsters/fire-god-2.png:50,units/monsters/fire-god-attack.png:200"
        [/frame]
        [frame]
            image="units/monsters/fire-god-1.png:150"
        [/frame]
    [/attack_anim]
[/unit_type]
