#textdomain wesnoth-units
[unit_type]
    id=Avian Kingfisher
    name= _ "Avian Kingfisher"
    race=avian
    gender=female
    image="units/avians/kingfisher.png"
    ellipse="misc/ellipse"
    profile="portraits/avians/kingfisher.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=40
    movement_type=avian
    movement=6
    experience=40
    level=1
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=18
    usage=fighter
    description= _ "Unit description: The core of the avian army, these men and women are trained to make use of their superiority with their wings amongst land-dwellers. They possess superb skills with their spears and manoeuvres gracefully in the sky, breaking the formation of enemies by diving into them with their spears in unison before flying away again, leaving the enemies in terror and confusion. Their precision with the spear were rumoured to be how their namesake came to be. To the shrikes however, it is always a gamble when they dive, as that might be their last."
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}	
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/avians/transparent/kingfisher.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/avians/transparent/kingfisher.png"
    [/portrait]
    [resistance]
        blade=80
        pierce=90
    [/resistance]
    [attack]
        name=spear
        description=_"spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=11
        number=2
    [/attack]
    [attack]
        name=spear
        description=_"spear"
        icon=attacks/spear.png
        type=blade
        range=melee
        damage=10
        number=2
    [/attack]
	
	{DEFENSE_ANIM "units/avians/kingfisher-defend1.png" "units/avians/kingfisher-defend2.png" {SOUND_LIST:HUMAN_FEMALE_HIT}}
    [attack_anim]
        [filter_attack]
            name=spear
            type=pierce
        [/filter_attack]
        direction=se,ne,sw,nw
        start_time=-200
        terrain_type=!,W*,Qx*,Ql*,Ss
        [frame]
            image="units/avians/kingfisher.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-attack1.png"
        [/frame]
		[if]
			hits=yes
			[frame]
				duration=100
				image="units/avians/kingfisher-attack2.png"
				sound=spear.ogg
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=100
				image="units/avians/kingfisher-attack2.png"
				sound=spear-miss.ogg
			[/frame]
		[/else]
        [frame]
            duration=100
            image="units/avians/kingfisher-attack3.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-attack4.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-attack5.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-attack6.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-attack7.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-attack8.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-attack9.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-attack10.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-attack11.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-attack12.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-attack13.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-attack14.png"
        [/frame]
	[frame]
            duration=50
            image="units/avians/kingfisher.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spear
            type=pierce
        [/filter_attack]
        direction=n
        start_time=-200
        terrain_type=!,W*,Qx*,Ql*,Ss
        [frame]
            image="units/avians/kingfisher.png"
        [/frame]
		[frame]
            duration=200
            image="units/avians/kingfisher-n-attack1.png"
        [/frame]
		[if]
			hits=yes
			[frame]
				duration=200
				image="units/avians/kingfisher-n-attack2.png"
				sound=spear.ogg
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=200
				image="units/avians/kingfisher-n-attack2.png"
				sound=spear-miss.ogg
			[/frame]
		[/else]
        [frame]
            duration=200
            image="units/avians/kingfisher-n-attack2.png"
        [/frame]
		[frame]
            duration=200
            image="units/avians/kingfisher-n-attack1.png"
        [/frame]
	[frame]
            duration=100
            image="units/avians/kingfisher.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spear
            type=pierce
        [/filter_attack]
        direction=s
        start_time=-200
        terrain_type=!,W*,Qx*,Ql*,Ss
        [frame]
            image="units/avians/kingfisher.png"
        [/frame]
		[frame]
            duration=200
            image="units/avians/kingfisher-s-attack1.png"
        [/frame]
		[if]
			hits=yes
			[frame]
				duration=200
				image="units/avians/kingfisher-s-attack2.png"
				sound=spear.ogg
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=200
				image="units/avians/kingfisher-s-attack2.png"
				sound=spear-miss.ogg
			[/frame]
		[/else]
        [frame]
            duration=200
            image="units/avians/kingfisher-s-attack2.png"
        [/frame]
		[frame]
            duration=200
            image="units/avians/kingfisher-s-attack1.png"
        [/frame]
	[frame]
            duration=100
            image="units/avians/kingfisher.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spear
            type=pierce
        [/filter_attack]
        start_time=-200
        terrain_type=W*,Qx*,Ql*,Ss
        [frame]
            image="units/avians/kingfisher.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-air-attack1.png"
        [/frame]
		[if]
			hits=yes
			[frame]
				duration=100
				image="units/avians/kingfisher-air-attack2.png"
				sound=spear.ogg
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=100
				image="units/avians/kingfisher-air-attack2.png"
				sound=spear-miss.ogg
			[/frame]
		[/else]
        [frame]
            duration=100
            image="units/avians/kingfisher-air-attack3.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-air-attack4.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-air-attack5.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-air-attack6.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-air-attack7.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-air-attack8.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-air-attack9.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-air-attack10.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-air-attack11.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-air-attack12.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-air-attack13.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-air-attack14.png"
        [/frame]
	[frame]
            duration=100
            image="units/avians/kingfisher-air-attack15.png"
        [/frame]
	[frame]
            duration=100
            image="units/avians/kingfisher-air-attack16.png"
        [/frame]
	[frame]
            duration=50
            image="units/avians/kingfisher.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spear
            type=blade
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/avians/kingfisher.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-blade-attack1.png"
        [/frame]
		[if]
			hits=yes
			[frame]
				duration=100
				image="units/avians/kingfisher-blade-attack2.png"
				sound={SOUND_LIST:SWORD_SWISH}
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=100
				image="units/avians/kingfisher-blade-attack2.png"
				sound={SOUND_LIST:MISS}
			[/frame]
		[/else]
        [frame]
            duration=100
            image="units/avians/kingfisher-blade-attack3.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-blade-attack4.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-blade-attack5.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-blade-attack6.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-blade-attack7.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-blade-attack8.png"
        [/frame]
	[frame]
            duration=50
            image="units/avians/kingfisher.png"
        [/frame]
    [/attack_anim]
	
	[pre_movement_anim]
        terrain_type=!,W*,Qx*,Ql*,Ss
		[frame]
			duration=100
			image="units/avians/kingfisher-ground-air1.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/kingfisher-ground-air2.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/kingfisher-ground-air3.png"
		[/frame]
	[/pre_movement_anim]
	
	[movement_anim]
		[frame]
			duration=100
			image="units/avians/kingfisher-move-flying1.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/kingfisher-move-flying2.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/kingfisher-move-flying3.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/kingfisher-move-flying4.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/kingfisher-move-flying5.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/kingfisher-move-flying6.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/kingfisher-move-flying7.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/kingfisher-move-flying8.png"
		[/frame]
	[/movement_anim]
	
	[post_movement_anim]
        terrain_type=!,W*,Qx*,Ql*,Ss
		[frame]
			duration=100
			image="units/avians/kingfisher-air-ground1.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/kingfisher-air-ground2.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/kingfisher-air-ground3.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/kingfisher-air-ground4.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/kingfisher-air-ground5.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/kingfisher-air-ground6.png"
		[/frame]
	[/post_movement_anim]
	
	[standing_anim]
        start_time=0
        layer=60
        submerge=0.01
        terrain_type=W*,Qx*,Ql*,Ss
		[frame]
			duration=100
			image="units/avians/kingfisher-flying1.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/kingfisher-flying2.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/kingfisher-flying3.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/kingfisher-flying4.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/kingfisher-flying5.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/kingfisher-flying6.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/kingfisher-flying7.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/kingfisher-flying8.png"
		[/frame]
	[/standing_anim]
	
	[standing_anim]
        start_time=0
        terrain_type=!,W*,Qx*,Ql*,Ss
		[frame]
			duration=150
			image="units/avians/kingfisher.png"
		[/frame]
	[/standing_anim]
[/unit_type]
