#textdomain wesnoth-units
[unit_type]
    id=Gryphon Knight
    name= _ "Gryphon Knight"
    race=gryphon
    image="units/gryphons/gryphon-knight.png"
    small_profile="portraits/dwarves/transparent/gryphon-rider.png~SCALE(205,205)"
    profile="portraits/dwarves/transparent/gryphon-rider.png"
    hitpoints=58
    {MAGENTA_IS_THE_TEAM_COLOR}
    movement_type=fly
    movement=7
    experience=150
    level=2
    alignment=neutral
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Gryphon Rider
    [/advancefrom]
#endif
    advances_to=null
    {AMLA_DEFAULT}
    cost=36
    usage=scout
    description= _ "Gryphon Knights have long experience flying the Gryphons, which have become an extension of themselves. This special relationship makes the heart of the earth-bound tremble, for these mighty birds of prey may strike from anywhere."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/dwarves/transparent/gryphon-rider.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/dwarves/transparent/gryphon-rider.png"
    [/portrait]
    [defense]
        mountains=40
    [/defense]
    [resistance]
        arcane=90
        blade=80
        pierce=80
        impact=90
    [/resistance]
    [attack]
        name=claws
        description=_"claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=16
        number=2
    [/attack]
    [attack]
        name=hatchet
        description=_"hatchet"
        type=blade
        range=ranged
        damage=10
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=hatchet
        [/filter_attack]
        start_time=-550
        {MISSILE_FRAME_HATCHET}
            [frame]
                image="units/gryphons/gryphon-knight-flying-[3,4].png:350"
            [/frame]
        {SOUND:HIT_AND_MISS hatchet.wav hatchet-miss.wav -150}
    [/attack_anim]
    [standing_anim]
        layer=60
        start_time=0
        [frame]
            duration=150
            image="units/gryphons/gryphon-knight-flying-1.png"
        [/frame]
        [frame]
            duration=150
            image="units/gryphons/gryphon-knight-flying-2.png"
        [/frame]
        [frame]
            duration=150
            image="units/gryphons/gryphon-knight-flying-3.png"
        [/frame]
        [frame]
            duration=150
            image="units/gryphons/gryphon-knight-flying-4.png"
        [/frame]
        [frame]
            duration=150
            image="units/gryphons/gryphon-knight-flying-5.png"
        [/frame]
        [frame]
            duration=150
            image="units/gryphons/gryphon-knight-flying-6.png"
        [/frame]
        [frame]
            duration=150
            image="units/gryphons/gryphon-knight-flying-7.png"
        [/frame]
        [frame]
            duration=150
            image="units/gryphons/gryphon-knight-flying-8.png"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        [frame]
            duration=150
            image="units/gryphons/gryphon-knight-flying-1.png"
        [/frame]
        [frame]
            duration=150
            image="units/gryphons/gryphon-knight-flying-2.png"
        [/frame]
        [frame]
            duration=150
            image="units/gryphons/gryphon-knight-flying-3.png"
        [/frame]
        [frame]
            duration=150
            image="units/gryphons/gryphon-knight-flying-4.png"
        [/frame]
        [frame]
            duration=150
            image="units/gryphons/gryphon-knight-flying-5.png"
        [/frame]
        [frame]
            duration=150
            image="units/gryphons/gryphon-knight-flying-6.png"
        [/frame]
        [frame]
            duration=150
            image="units/gryphons/gryphon-knight-flying-7.png"
        [/frame]
        [frame]
            duration=150
            image="units/gryphons/gryphon-knight-flying-8.png"
        [/frame]
    [/movement_anim]

    {DEFENSE_ANIM "units/gryphons/gryphon-knight-flying-5.png" "units/gryphons/gryphon-knight-flying-4.png" {SOUND_LIST:GRYPHON_HIT} }
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/gryphons/gryphon-knight-flying-4.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/gryphons/gryphon-knight-flying-5.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/gryphons/gryphon-knight-flying-5.png"
                sound=claws.ogg
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/gryphons/gryphon-knight-flying-4.png"
        [/frame]
    [/attack_anim]
[/unit_type]
