#textdomain wesnoth-units
[unit_type]
    id=Pixie
    name="Pixie"
    race=pixie
    gender=female
    image="units/faeries/pixie.png"
    profile="portraits/sprite.png"
    halo=halo/elven/shyde-stationary-halo[1~6].png:150
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=14
    movement_type=smallfly
    movement=7
    experience=28
    level=0
    alignment=neutral
    advances_to=Peri
    cost=12
    usage=scout
    description="Pixies are among the smallest manifestations of Faerie."+{SPECIAL_NOTES}+{SPECIAL_NOTES_ARCANE}+{SPECIAL_NOTES_MAGICAL}
    die_sound=hellbent-1.ogg
    {DEFENSE_ANIM "units/faeries/pixie-attack.png" "units/faeries/pixie.png" {SOUND_LIST:BAT_HIT} }
    [defense]
        forest=30
    [/defense]
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/sprite.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/sprite.png"
    [/portrait]
    [attack]
        name=faerie touch
        description="faerie touch"
        type=impact
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=3
        number=2
        range=melee
        icon=attacks/touch-faerie.png
    [/attack]
    [attack]
        name=pixie dust
        description="pixie dust"
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=3
        number=3
        range=ranged
        icon=attacks/pixie-dust.png
    [/attack]
    [idle_anim]
        start_time=0

        {STORMKIND_ATTACK_HALO}

        halo1_halo_mod="~CS(-128,0,-64)~O(20%)~SCALE(50,50)"
        halo2_halo_mod="~CS(-64,0,-32)~O(30%)~SCALE(50,50)"
        halo3_halo_mod="~CS(-128,0,-64)~O(20%)~SCALE(50,50)"
    [/idle_anim]
    [death]
        start_time=0

    halo1_start_time=0
    halo1_auto_vflip=false
    [halo1_frame]
        halo="halo/saurian-magic-halo-[1~7].png:100"
        halo_y=-10
    [/halo1_frame]

    halo2_start_time=00
    halo2_auto_vflip=false
    [halo2_frame]
        halo="halo/saurian-magic-halo-[7~1].png:100"
        halo_y=0
    [/halo2_frame]

    halo3_start_time=0
    halo3_auto_vflip=false
    [halo3_frame]
        halo="halo/saurian-magic-halo-[1~7].png:100"
        halo_y=10
    [/halo3_frame]

        halo1_halo_mod="~O(20%)~SCALE(50,50)"
        halo2_halo_mod="~O(30%)~SCALE(50,50)"
        halo3_halo_mod="~O(20%)~SCALE(50,50)"
        [frame]
            image="units/faeries/pixie-attack.png~O(50%):100"
        [/frame]
        [frame]
            image="projectiles/icemissile-n-[1~7].png~SCALE(50,50):80"
        [/frame]
    [/death]
    [attack_anim]
        [filter_attack]
            name=pixie dust
        [/filter_attack]

        start_time=-600

        {STORMKIND_ATTACK_HALO}

        halo1_halo_mod="~CS(-32,0,0)~SCALE(50,50)~O(50%)"
        halo2_halo_mod="~CS(-16,0,0)~SCALE(50,50)~O(50%)"
        halo3_halo_mod="~CS(-32,0,0)~SCALE(50,50)~O(50%)"
        #halo3_halo_mod="~CS(0,-128,-128)"

        missile_start_time=-400
        missile_halo="halo/elven/druid-healing[1~5].png:70,halo/elven/druid-healing6.png~O(0.75):70,halo/elven/druid-healing7.png~O(0.5):70,halo/elven/druid-healing8.png~O(0.25):70"
        missile_halo_mod="~CS(0,0,0)~SCALE(36,36)"
        missile_halo_x=0
        missile_halo_y=-10
        missile_offset="0.0~1.25"
        missile_alpha="1.0:480,1.0~0.0:16"

        [missile_frame]
            image="projectiles/icemissile-n-[1~7].png:80"
            image_diagonal="projectiles/icemissile-ne-[1~7].png:80"
        [/missile_frame]

        [frame]
            image="units/faeries/pixie-attack.png:600"
        [/frame]

        {SOUND:HIT_AND_MISS hellbent-1.ogg magic-faeriefire-miss.ogg -525}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=pixie dust_old
        [/filter_attack]
    missile_start_time=-500
    [missile_frame]
        image="projectiles/icemissile-n-[1~7].png:[250,150*2,50*4]"
        image_diagonal="projectiles/icemissile-ne-[1~7].png:[250,150*2,50*4]"
#        halo=halo/elven/ice-halo[1~5,1,2,6~9].png:[100*4,50*7]
#        halo_x,halo_y=0,0
    [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-450
                end=-375
                image="units/faeries/pixie-attack.png"
                sound=magic-faeriefire.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-450
                end=-375
                image="units/faeries/pixie-attack.png"
                sound=magic-faeriefire-miss.ogg
            [/frame]
        [/else]

        [frame]
            begin=-375
            end=-300
            image="units/faeries/pixie-attack.png"
        [/frame]
        [frame]
            begin=-300
            end=-225
            image="units/faeries/pixie-attack.png"
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/faeries/pixie-attack.png"
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/faeries/pixie-attack.png"
        [/frame]
        [frame]
            begin=-75
            end=0
            image="units/faeries/pixie-attack.png"
        [/frame]
        [frame]
            begin=-0
            end=75
            image="units/faeries/pixie.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=faerie touch
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/faeries/pixie-attack.png:400"
        [/frame]
    [/attack_anim]
[/unit_type]
