#textdomain wesnoth-units
#ifdef MULTIPLAYER
[unit_type]
    id=TGA Merman Fighter
    [base_unit]
        id=Merman Fighter
    [/base_unit]
    advances_to=TGA Merman Warrior,Merman Storm Caller
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Merman Warrior
    [base_unit]
        id=Merman Warrior
    [/base_unit]
    advances_to=TGA Merman Triton,TGA Merman Hoplite
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Merman Hoplite
    [base_unit]
        id=Merman Hoplite
    [/base_unit]
    advances_to=Merman Praetorian Guard
    experience=152
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Merman Triton
    [base_unit]
        id=Merman Triton
    [/base_unit]
    advances_to=Merman Admiral
    experience=152
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Mermaid Initiate
    [base_unit]
        id=Mermaid Initiate
    [/base_unit]
    advances_to=Mermaid Priestess,Mermaid Enchantress,Mermaid Nymph
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Merman Hunter
    [base_unit]
        id=Merman Hunter
    [/base_unit]
    advances_to=TGA Merman Spearman,Merman Netcaster
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Merman Spearman
    [base_unit]
        id=Merman Spearman
    [/base_unit]
    advances_to=TGA Merman Javelineer
    hide_help=false
    do_not_list=no
    [attack]
        name=spear
        description=_"spear"
        type=pierce
        range=melee
        damage=6
        number=2
    [/attack]
    [attack]
        name=spear
        description=_"spear"
        type=pierce
        range=ranged
        damage=6
        number=4
    [/attack]
        [specials]
           {WEAPON_SPECIAL_LESSER_MARKSMAN}
        [/specials]
[/unit_type]
[unit_type]
    id=TGA Merman Javelineer
    [base_unit]
        id=Merman Javelineer
    [/base_unit]
    advances_to=Merman Spear Master
    experience=160
    hide_help=false
    do_not_list=no
    [attack]
        name=spear
        description=_"spear"
        type=pierce
        range=melee
        damage=8
        number=2
    [/attack]
    [attack]
        name=spear
        description=_"spear"
        type=pierce
        range=ranged
        damage=9
        number=4
        [specials]
           {WEAPON_SPECIAL_LESSER_MARKSMAN}
        [/specials]
    [/attack]
[/unit_type]
[unit_type]
    id=TGA Merman Netcaster
    [base_unit]
        id=Merman Netcaster
    [/base_unit]
    advances_to=TGA Merman Entangler
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Merman Entangler
    [base_unit]
        id=Merman Entangler
    [/base_unit]
    advances_to=Merman Retairius
    experience=152
    hide_help=false
    do_not_list=no
[/unit_type]
#endif
