#textdomain wesnoth-units
[unit_type]
    id=Merman Pirate
    name= _ "Merman Pirate"
    race=merman
    image="units/merfolk/pirate.png"
    hitpoints=49
    movement_type=swimmer
    movement=6
    experience=80
    level=2
    {MAGENTA_IS_THE_TEAM_COLOR}
    alignment=chaotic
    advances_to=Merman Buccaneer
    cost=34
    usage=fighter
    description= _ ""
    die_sound=mermen-die.ogg
         {DEFENSE_ANIM "units/merfolk/pirate.png" "units/merfolk/pirate.png" mermen-hit.wav }
    [attack]
        name=sabre
        description=_"ice sabre"
        type=cold
        range=melee
        icon=attacks/scimitar2.png
#	  [specials]
#            {WEAPON_SPECIAL_}
#	  [/specials]
        damage=7
        number=4
    [/attack]
	[attack]
		name=hook
		description=_"hook"
                [specials]
                    {WEAPON_SPECIAL_BACKSTAB}
                [/specials]
		type=pierce
		icon=attacks/sickle.png
		range=melee
		damage=8
		number=2
	[/attack]
    [attack_anim]
        [filter_attack]
            name=hook
        [/filter_attack]
        {MELEE_FRAME_SWOOSH spear.ogg "~SCALE(80,80)"}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=hook
        [/filter_attack]
        {MELEE_FRAME_SWOOSH2 spear.ogg "~SCALE(80,80)"}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sabre
        [/filter_attack]
        {MELEE_FRAME_SWOOSH {SOUND_LIST:SWORD_SWISH} "~SCALE(112,112)~BLEND(0,125,250,0.35)"}
    [/attack_anim]	
         [attack_anim]
             [filter_attack]
                 name=sword
             [/filter_attack]
             start_time=-500
             [frame]
                 image=units/merfolk/pirate.png:[100*2,50*3,150,100*3]
             [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
             [frame]
                 image=units/merfolk/pirate.png:150
             [/frame]
         [/attack_anim]
[/unit_type]
