#textdomain wesnoth-units
[unit_type]
    id=Avian Cotinga
    name= _ "Avian Cotinga"
    race=avian
    gender=female
    image="units/avians/cotinga.png"
    ellipse="misc/ellipse"
    profile="portraits/avians/kingfisher.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=48
    movement_type=avian_fighterfoot
    movement=6
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=32
    usage=fighter
    description= _ "The core of the avian army, these men and women are trained to make use of their superiority with their wings amongst land-dwellers. They possess superb skills with their spears and manoeuvres gracefully in the sky, breaking the formation of enemies by diving into them with their spears in unison before flying away again, leaving the enemies in terror and confusion. Their precision with the spear were rumoured to be how their namesake came to be. To the shrikes however, it is always a gamble when they dive, as that might be their last."
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}	
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/avians/transparent/kingfisher.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/avians/transparent/kingfisher.png"
    [/portrait]
	[abilities]
		{ABILITY_AVIAN_FLIGHT}
#		{ABILITY_LEADERSHIP_LEVEL_2}
	[/abilities]
    [attack]
        name=spear
        description=_"spear"
        icon=attacks/spear.png~CS(0,-255,-40)
        type=pierce
        range=melee
        damage=15
        number=2
    [/attack]
    [attack]
        name=spear
        description=_"spear"
        icon=attacks/spear.png~CS(0,-255,-40)
        type=blade
        range=melee
        damage=15
        number=2
    [/attack]
	
	{DEFENSE_ANIM "units/avians/cotinga-defend1.png" "units/avians/cotinga-defend2.png" {SOUND_LIST:HUMAN_FEMALE_HIT}}
    [attack_anim]
        [filter_attack]
            name=spear
            type=pierce
        [/filter_attack]
        direction=se,ne,sw,nw
        start_time=-200
        [frame]
            image="units/avians/cotinga.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/cotinga-attack1.png"
        [/frame]
		[if]
			hits=yes
			[frame]
				duration=100
				image="units/avians/cotinga-attack2.png"
				sound=spear.ogg
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=100
				image="units/avians/cotinga-attack2.png"
				sound=spear-miss.ogg
			[/frame]
		[/else]
        [frame]
            duration=100
            image="units/avians/cotinga-attack3.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/cotinga-attack4.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/cotinga-attack5.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/cotinga-attack6.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/cotinga-attack7.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/cotinga-attack8.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/cotinga-attack9.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/cotinga-attack10.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/cotinga-attack11.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/cotinga-attack12.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/cotinga-attack13.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/cotinga-attack14.png"
        [/frame]
	[frame]
            duration=50
            image="units/avians/cotinga.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spear
            type=pierce
        [/filter_attack]
        direction=n
        start_time=-200
        [frame]
            image="units/avians/cotinga.png"
        [/frame]
		[frame]
            duration=200
            image="units/avians/cotinga-n-attack1.png"
        [/frame]
		[if]
			hits=yes
			[frame]
				duration=200
				image="units/avians/cotinga-n-attack2.png"
				sound=spear.ogg
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=200
				image="units/avians/cotinga-n-attack2.png"
				sound=spear-miss.ogg
			[/frame]
		[/else]
        [frame]
            duration=200
            image="units/avians/cotinga-n-attack2.png"
        [/frame]
		[frame]
            duration=200
            image="units/avians/cotinga-n-attack1.png"
        [/frame]
	[frame]
            duration=100
            image="units/avians/cotinga.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spear
            type=pierce
        [/filter_attack]
        direction=s
        start_time=-200
        [frame]
            image="units/avians/cotinga.png"
        [/frame]
		[frame]
            duration=200
            image="units/avians/cotinga-s-attack1.png"
        [/frame]
		[if]
			hits=yes
			[frame]
				duration=200
				image="units/avians/cotinga-s-attack2.png"
				sound=spear.ogg
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=200
				image="units/avians/cotinga-s-attack2.png"
				sound=spear-miss.ogg
			[/frame]
		[/else]
        [frame]
            duration=200
            image="units/avians/cotinga-s-attack2.png"
        [/frame]
		[frame]
            duration=200
            image="units/avians/cotinga-s-attack1.png"
        [/frame]
	[frame]
            duration=100
            image="units/avians/cotinga.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spear
            type=blade
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/avians/cotinga.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/cotinga-blade-attack1.png"
        [/frame]
		[if]
			hits=yes
			[frame]
				duration=100
				image="units/avians/cotinga-blade-attack2.png"
				sound={SOUND_LIST:SWORD_SWISH}
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=100
				image="units/avians/cotinga-blade-attack2.png"
				sound={SOUND_LIST:MISS}
			[/frame]
		[/else]
        [frame]
            duration=100
            image="units/avians/cotinga-blade-attack3.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/cotinga-blade-attack4.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/cotinga-blade-attack5.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/cotinga-blade-attack6.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/cotinga-blade-attack7.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/cotinga-blade-attack8.png"
        [/frame]
	[frame]
            duration=50
            image="units/avians/cotinga.png"
        [/frame]
    [/attack_anim]
	
	[pre_movement_anim]
        terrain_type=!,W*,Qx*,Ql*,Ss
		[frame]
			duration=100
			image="units/avians/cotinga-ground-air1.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/cotinga-ground-air2.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/cotinga-ground-air3.png"
		[/frame]
	[/pre_movement_anim]
	
	[movement_anim]
		[frame]
			duration=100
			image="units/avians/cotinga-move-flying1.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/cotinga-move-flying2.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/cotinga-move-flying3.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/cotinga-move-flying4.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/cotinga-move-flying5.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/cotinga-move-flying6.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/cotinga-move-flying7.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/cotinga-move-flying8.png"
		[/frame]
	[/movement_anim]
	
	[post_movement_anim]
        terrain_type=!,W*,Qx*,Ql*,Ss
		[frame]
			duration=100
			image="units/avians/cotinga-air-ground1.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/cotinga-air-ground2.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/cotinga-air-ground3.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/cotinga-air-ground4.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/cotinga-air-ground5.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/cotinga-air-ground6.png"
		[/frame]
	[/post_movement_anim]
	[animation]
		apply_to=flying
		[frame]
			duration=150
			image="units/avians/cotinga-ground-air1.png"
		[/frame]
		[frame]
			duration=150
			image="units/avians/cotinga-ground-air2.png"
		[/frame]
		[frame]
			duration=150
			image="units/avians/cotinga-ground-air3.png"
		[/frame]
	[/animation]
[/unit_type]
