#textdomain wesnoth-units
[unit_type]
    id=Avian Hummingbird_Flying
    name= _ "Avian Hummingbird"
    race=avian
    gender=female
    image="units/avians/hummingbird.png"
    ellipse="misc/ellipse"
    profile="portraits/avians/hummingbird.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=26
    movement_type=avian_smallfly
    movement=8
    experience=40
    level=1
    alignment=neutral
    advances_to=Avian Thorntail_Flying
#    advances_to=null
#    {AMLA_DEFAULT}
    hide_help=true
#    do_not_list=yes
    cost=17
    usage=archer
    description= _ "The hummingbirds are the core ranged infantry of the avians, acting mostly as scouts. Equipped lightly, the hummingbirds soar the skies for prolonged periods to scout the lands ahead. They jeer and harass enemy infantries with a flurry of arrows from their shortbows. Staying most of the time in the sky, they avert the dangers of close quarter combat - leaving most enemies to only curse or throw rocks at them, or return fire the help of a bow. Considered by many to be simple nuisances, these scouts cannot be taken lightly when they surround a helpless infantry. Pulled to the ground however, they are usually helpless."
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}	
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/avians/transparent/hummingbird.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/avians/transparent/hummingbird.png"
    [/portrait]
	[abilities]
		{ABILITY_AVIAN_LAND}
		{ABILITY_SKIRMISHER}
	[/abilities]
    [attack]
        name=slam
        description=_"slam"
        icon=attacks/kick-boot.png
        type=impact
        range=melee
        damage=6
        number=2
    [/attack]
    [attack]
        name=bow
        description=_"bow"
        icon=attacks/bow-short.png
        [specials]
            {WEAPON_SPECIAL_LESSER_MARKSMAN}
        [/specials]
        type=pierce
        range=ranged
        damage=3
        number=6
    [/attack]	
	{DEFENSE_ANIM "units/avians/hummingbird-flying1.png" "units/avians/hummingbird-flying1.png" {SOUND_LIST:HUMAN_FEMALE_HIT}}
    [attack_anim]
        [filter_attack]
            name=slam
        [/filter_attack]
        offset=0.0~0.2,0.2~0.7,0.7~0.2,0.2~0.0
        start_time=-400
        [frame]
            image="units/avians/hummingbird-flying1.png:300"
        [/frame]
        {SOUND:HIT_AND_MISS club.ogg {SOUND_LIST:MISS} -200}
    [/attack_anim]
	[attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        start_time=-200
        offset=0
		[missile_frame]
            begin=-50
            end=-0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
		[if]
            hits=yes
            [frame]
                duration=45
                image="units/avians/hummingbird-air-bow1.png"
                sound=bow.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=45
                image="units/avians/hummingbird-air-bow1.png"
                sound=bow-miss.ogg
            [/frame]
        [/else]
        [frame]
            duration=45
            image="units/avians/hummingbird-air-bow2.png"
        [/frame]
        [frame]
            duration=45
            image="units/avians/hummingbird-air-bow3.png"
        [/frame]
        [frame]
            duration=45
            image="units/avians/hummingbird-air-bow4.png"
        [/frame]
		[frame]
            duration=45
            image="units/avians/hummingbird-air-bow5.png"
        [/frame]
        [frame]
            duration=45
            image="units/avians/hummingbird-air-bow6.png"
        [/frame]
        [frame]
            duration=45
            image="units/avians/hummingbird-air-bow7.png"
        [/frame]
        [frame]
            duration=45
            image="units/avians/hummingbird-air-bow8.png"
        [/frame]
    [/attack_anim]
	
	[standing_anim]
        start_time=0
        submerge=0
        [frame]
            duration=100
            image="units/avians/hummingbird-flying1.png"
        [/frame]
        [frame]
            duration=100
            image="units/avians/hummingbird-flying2.png"
        [/frame]
        [frame]
            duration=100
            image="units/avians/hummingbird-flying3.png"
        [/frame]
        [frame]
            duration=100
            image="units/avians/hummingbird-flying4.png"
        [/frame]
        [frame]
            duration=100
            image="units/avians/hummingbird-flying5.png"
        [/frame]
        [frame]
            duration=100
            image="units/avians/hummingbird-flying6.png"
        [/frame]
        [frame]
            duration=100
            image="units/avians/hummingbird-flying7.png"
        [/frame]
        [frame]
            duration=100
            image="units/avians/hummingbird-flying8.png"
        [/frame]
    [/standing_anim]
	[animation]
		apply_to=landing
		[frame]
			duration=100
			image="units/avians/hummingbird-flying1.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/hummingbird-flying1.png"
		[/frame]
		[frame]
			duration=100
			image="units/avians/hummingbird.png"
		[/frame]
	[/animation]
[/unit_type]
