#textdomain wesnoth-units
[unit_type]
    id=Avian Kingfisher_Flying
    name= _ "Avian Kingfisher"
    race=avian
    gender=female
    image="units/avians/kingfisher.png"
    ellipse="misc/ellipse"
    profile="portraits/avians/kingfisher.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=30
    movement_type=avian_fighterfly
    movement=7
    experience=40
    level=1
    alignment=neutral
    advances_to=Avian Cotinga_Flying,Avian Rhea
#    advances_to=null
#    {AMLA_DEFAULT}
    hide_help=true
#    do_not_list=yes
    cost=17
    description=_"The core of the avian army, these men and women are trained to make use of their superiority with their wings amongst land-dwellers. They possess superb skills with their spears and manoeuvres gracefully in the sky, breaking the formation of enemies by diving into them with their spears in unison before flying away again, leaving the enemies in terror and confusion. Their precision with the spear were rumoured to be how their namesake came to be. To the shrikes however, it is always a gamble when they dive, as that might be their last."
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}	
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/avians/transparent/kingfisher.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/avians/transparent/kingfisher.png"
    [/portrait]	
	[abilities]
		{ABILITY_AVIAN_LAND}
	[/abilities]
    [attack]
        name=dive
        description=_"dive attack"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=16
        number=1
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]
    [attack]
        name=spear
        description=_"spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=9
        number=2
    [/attack]
	[attack_anim]
        [filter_attack]
            name=spear,dive
        [/filter_attack]
        start_time=-200
        #direction=s
        offset="0~0.5,0.5~0"
        [frame]
            duration=100
            image="units/avians/kingfisher-air-attack1.png"
        [/frame]
        [frame]
            duration=100
            image="units/avians/kingfisher-air-attack2.png"
        [/frame]
        [frame]
            duration=100
            image="units/avians/kingfisher-air-attack3.png"
        [/frame]
        [frame]
            duration=100
            image="units/avians/kingfisher-air-attack4.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-air-attack5.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/avians/kingfisher-air-attack6.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/avians/kingfisher-air-attack6.png"
                sound=spear-miss.ogg
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/avians/kingfisher-air-attack7.png"
        [/frame]
        [frame]
            duration=100
            image="units/avians/kingfisher-air-attack8.png"
        [/frame]
        [frame]
            duration=100
            image="units/avians/kingfisher-air-attack9.png"
        [/frame]
        [frame]
            duration=100
            image="units/avians/kingfisher-air-attack10.png"
        [/frame]
        [frame]
            duration=100
            image="units/avians/kingfisher-air-attack11.png"
        [/frame]
        [frame]
            duration=100
            image="units/avians/kingfisher-air-attack12.png"
        [/frame]
        [frame]
            duration=100
            image="units/avians/kingfisher-air-attack13.png"
        [/frame]
        [frame]
            duration=100
            image="units/avians/kingfisher-air-attack14.png"
        [/frame]
        [frame]
            duration=100
            image="units/avians/kingfisher-air-attack15.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/kingfisher-air-attack16.png"
        [/frame]
    [/attack_anim]
	
	[standing_anim]
        start_time=0
        submerge=0
        [frame]
            duration=100
            image="units/avians/kingfisher-flying1.png"
        [/frame]
        [frame]
            duration=100
            image="units/avians/kingfisher-flying2.png"
        [/frame]
        [frame]
            duration=100
            image="units/avians/kingfisher-flying3.png"
        [/frame]
        [frame]
            duration=100
            image="units/avians/kingfisher-flying4.png"
        [/frame]
        [frame]
            duration=100
            image="units/avians/kingfisher-flying5.png"
        [/frame]
        [frame]
            duration=100
            image="units/avians/kingfisher-flying6.png"
        [/frame]
        [frame]
            duration=100
            image="units/avians/kingfisher-flying7.png"
        [/frame]
        [frame]
            duration=100
            image="units/avians/kingfisher-flying8.png"
        [/frame]
    [/standing_anim]
	
	[movement_anim]
        start_time=0
        [frame]
			duration=100
			image="units/avians/kingfisher-move-flying1.png"
        [/frame]
		[frame]
			duration=100
			image="units/avians/kingfisher-move-flying2.png"
        [/frame]
		[frame]
			duration=100
			image="units/avians/kingfisher-move-flying3.png"
        [/frame]
		[frame]
			duration=100
			image="units/avians/kingfisher-move-flying4.png"
        [/frame]
		[frame]
			duration=100
			image="units/avians/kingfisher-move-flying5.png"
        [/frame]
		[frame]
			duration=100
			image="units/avians/kingfisher-move-flying6.png"
        [/frame]
		[frame]
			duration=100
			image="units/avians/kingfisher-move-flying7.png"
        [/frame]
		[frame]
			duration=100
			image="units/avians/kingfisher-move-flying8.png"
        [/frame]
	[/movement_anim]
	{DEFENSE_ANIM "units/avians/kingfisher-air-defend1.png" "units/avians/kingfisher-flying1.png" {SOUND_LIST:HUMAN_FEMALE_HIT}}	
	[animation]
		apply_to=landing
		[frame]
			duration=125
			image="units/avians/kingfisher-air-ground1.png"
		[/frame]
		[frame]
			duration=125
			image="units/avians/kingfisher-air-ground2.png"
		[/frame]
		[frame]
			duration=125
			image="units/avians/kingfisher-air-ground3.png"
		[/frame]
		[frame]
			duration=125
			image="units/avians/kingfisher-air-ground4.png"
		[/frame]
		[frame]
			duration=125
			image="units/avians/kingfisher-air-ground5.png"
		[/frame]
		[frame]
			duration=125
			image="units/avians/kingfisher-air-ground6.png"
		[/frame]
	[/animation]
[/unit_type]
