#textdomain wesnoth-units
[unit_type]
    id=Avian Rhea
    name= _ "Avian Rhea"
    race=avian
    gender=female
    image="units/avians/rhea.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=51
    movement_type=avian_rheafoot
    movement=6
    experience=100
     level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=32
    usage=fighter
    description= _ "As avian warriors, losing their wings in battle is quite easy, and for that they pay a hefty price of losing their most treasured ability - to fly. However, their tenacity for battle has groomed the handicapped into a new breed of warriors capable of possessing extreme versatility on foot."
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}	
	[abilities]
		{ABILITY_SKIRMISHER}
		{ABILITY_INSPIRE_LEVEL_2}
	[/abilities]
    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=8
        number=4
    [/attack]
	
	{DEFENSE_ANIM "units/avians/rhea.png" "units/avians/rhea.png" {SOUND_LIST:HUMAN_FEMALE_HIT}}
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        {MELEE_FRAME_SWOOSH {SOUND_LIST:SWORD_SWISH} "~"}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword_old
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/avians/rhea.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/rhea.png"
        [/frame]
		[if]
			hits=yes
			[frame]
				duration=100
				image="units/avians/rhea.png"
				sound={SOUND_LIST:SWORD_SWISH}
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=100
				image="units/avians/rhea.png"
				sound={SOUND_LIST:MISS}
			[/frame]
		[/else]
        [frame]
            duration=100
            image="units/avians/rhea.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/rhea.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/rhea.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/rhea.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/rhea.png"
        [/frame]
		[frame]
            duration=100
            image="units/avians/rhea.png"
        [/frame]
	[frame]
            duration=50
            image="units/avians/rhea.png"
        [/frame]
    [/attack_anim]
[/unit_type]
