[multiplayer]
     id=CF_scenario_pvp
     name= _ "2p - Corrupted Forest PvP"
     description= _ "two sides fight either fight eachother as usual. the main difference here, is the fact that the forest is infested with sneaky monsters, furious woses, ghosts of those who didn't survive here, and fallen faeries.

use map settings"
     map_data="{~add-ons/The_Golden_Age/maps/Corrupted_Forest.map}"
     
     experience_modifier=70%
     turns=-1
     random_start_time=no
#     fog=yes
#     shroud=yes
     
	{DUSK}
	{FIRST_WATCH}
	{SECOND_WATCH}
	{SECOND_WATCH}
	{DAWN}
	{MORNING}
     [music]
          name="underground.ogg"
     [/music]
          
     [event]
          name=prestart
          [objectives]
               side=0
               [objective]
                    description= _ "Death of your enemy's leader."
                    condition=win
               [/objective]
               [objective]
                    description= _ "Bonus: clear the forest."
                    condition=win
                    [show_if]
                       [have_unit]
                         side=3
                       [/have_unit]
                    [/show_if]
               [/objective]
               [objective]
                    description= _ "Death of your leader."
                    condition=lose
               [/objective]
          [/objectives]
     [/event]
     [side]
          side=1
          controller=human
          canrecruit="yes"
          fog=yes
          shroud=yes
          village_gold=2
          village_support=3
          income=2
          gold=125
        [village]
            x=1
            y=2
        [/village]
        [village]
            x=2
            y=3
        [/village]
        [village]
            x=6
            y=1
        [/village]
        [village]
            x=9
            y=1
        [/village]
     [/side]
     
     [side]
          side=2
          controller=human
          canrecruit="yes"
          fog=yes
          shroud=yes
          village_gold=2
          village_support=3
          income=2
          gold=125
        [village]
            x=16
            y=20
        [/village]
        [village]
            x=19
            y=20
        [/village]
        [village]
            x=23
            y=18
        [/village]
        [village]
            x=24
            y=19
        [/village]
     [/side]
     [side]
          side=3
          controller=ai
          allow_player=no
          team_name=enemies
          user_team_name="Enemies"
          no_leader=yes
          color=black
          fog=no
          shroud=no
          [ai]
               aggression=5.0
#               leader_value=3.0
               caution=5.0
               village_value=0.0
          [/ai]
     [/side]
    [event]
        name=prestart
        {TGA_PLACE_UNIT_NOID_AMBUSH "Fallen Faerie" 3 16 12}
        {TGA_PLACE_UNIT_NOID_AMBUSH "Fallen Sprite" 3 15 12}
        {TGA_PLACE_UNIT_NOID_AMBUSH "Fallen Faerie" 3 9 9}
        {TGA_PLACE_UNIT_NOID_AMBUSH "Fallen Sprite" 3 10 8}
        {TGA_PLACE_UNIT_NOID_NIGHTSTALK2 Ghost 3 19 7}
        {TGA_PLACE_UNIT_NOID_NIGHTSTALK2 Ghost 3 6 14}
        {TGA_PLACE_UNIT_NOID_NIGHTSTALK2 Ghost 3 18 3}
        {TGA_PLACE_UNIT_NOID_NIGHTSTALK2 Ghost 3 7 18}
    [/event]
    [event]
        name=start
        [message]
            speaker=narrator
            message=_"Welcome to the corrupted forest map.
a few things to keep in mind:
1. in case you are playing as undead, you won't be able to recruit fallen sprite/fallen faeries due to storyline-related reasons. same stuff applies for woses.
2.the ToD cycle is different than usual, it's 1 turn day, 3 turns night, and 2 turns dawn/dusk.
3.the ai enemies here are given abilites like ambush/nightstalk/ect. to make stuff even spookier (having enemies appear out of nowhere ;)).
4.when you hear a sound when the turn starts, it means that some new ai enemies spawn"
        [/message]
	[disallow_recruit]
		side=1
		type=Fallen Sprite,Fallen Faerie,Wose Sapling,TGA Wose,Elder Wose,Wose Shaman,Ancient Wose
	[/disallow_recruit]
	[disallow_recruit]
		side=2
		type=Fallen Sprite,Fallen Faerie,Wose Sapling,TGA Wose,Elder Wose,Wose Shaman,Ancient Wose
	[/disallow_recruit]
    [/event]
    [event]
        name=turn 3
        [sound]
          name=wail-long.wav
        [/sound]
        {TGA_PLACE_UNIT_NOID_NIGHTSTALK2 Spook 3 19 7}
        {TGA_PLACE_UNIT_NOID_NIGHTSTALK2 Spook 3 6 14}
        {TGA_PLACE_UNIT_NOID_NIGHTSTALK2 Spook 3 18 3}
        {TGA_PLACE_UNIT_NOID_NIGHTSTALK2 Spook 3 7 18}
    [/event]
    [event]
        name=turn 7
        [sound]
          name=wose=hit.ogg
        [/sound]
        {TGA_PLACE_UNIT_NOID_CHAOTIC Wose 3 2 8}
        {TGA_PLACE_UNIT_NOID_CHAOTIC Wose 3 14 4}
        {TGA_PLACE_UNIT_NOID_CHAOTIC Wose 3 11 17}
        {TGA_PLACE_UNIT_NOID_CHAOTIC Wose 3 23 13}
        {TGA_PLACE_UNIT_NOID_CHAOTIC Wose 3 4 13}
        {TGA_PLACE_UNIT_NOID_CHAOTIC Wose 3 21 8}
    [/event]
    [event]
        name=turn 11
        [sound]
          name=squishy-hit.ogg
        [/sound]
#Northeast farm
        {TGA_PLACE_UNIT_NOID_CHAOTIC "Giant Mudcrawler" 3 18 6}
        {TGA_PLACE_UNIT_NOID_CHAOTIC Mudcrawler 3 19 6}
        {TGA_PLACE_UNIT_NOID_CHAOTIC Mudcrawler 3 20 6}
#Sothwest farm
        {TGA_PLACE_UNIT_NOID_CHAOTIC Mudcrawler 3 7 16}
        {TGA_PLACE_UNIT_NOID_CHAOTIC "Giant Mudcrawler" 3 7 15}
        {TGA_PLACE_UNIT_NOID_CHAOTIC Mudcrawler 3 5 15}
        {TGA_PLACE_UNIT_NOID_CHAOTIC Mudcrawler 3 8 15}
    [/event]
    [event]
        name=turn 14
        [sound]
          name=wail.wav
        [/sound]
#haunted villages
        {TGA_PLACE_UNIT_NOID_NIGHTSTALK2 Spook 3 19 7}
        {TGA_PLACE_UNIT_NOID_NIGHTSTALK2 Spook 3 6 14}
        {TGA_PLACE_UNIT_NOID_NIGHTSTALK2 Spook 3 18 3}
        {TGA_PLACE_UNIT_NOID_NIGHTSTALK2 Spook 3 7 18}
    [/event]
    [event]
        name=turn 16
        [sound]
          name=magic-dark.ogg
        [/sound]
#convieniently-placed great trees
        {TGA_PLACE_UNIT_NOID_AMBUSH "Fallen Sprite" 3 2 8}
        {TGA_PLACE_UNIT_NOID_AMBUSH "Fallen Sprite" 3 14 4}
        {TGA_PLACE_UNIT_NOID_AMBUSH "Fallen Sprite" 3 11 17}
        {TGA_PLACE_UNIT_NOID_AMBUSH "Fallen Sprite" 3 23 13}
        {TGA_PLACE_UNIT_NOID_AMBUSH "Fallen Sprite" 3 4 13}
        {TGA_PLACE_UNIT_NOID_AMBUSH "Fallen Sprite" 3 21 8}
    [/event]
    [event]
        name=turn 17
        [sound]
          name=fire.wav
        [/sound]
#campfires
        {TGA_PLACE_UNIT_NOID_CHAOTIC "Fire Wisp" 3 4 5}
        {TGA_PLACE_UNIT_NOID_CHAOTIC "Fire Wisp" 3 8 2}
        {TGA_PLACE_UNIT_NOID_CHAOTIC "Fire Wisp" 3 17 19}
        {TGA_PLACE_UNIT_NOID_CHAOTIC "Fire Wisp" 3 21 16}
    [/event]
    [event]
        name=turn 19
        [sound]
          name={SOUND_LIST:GRYPHON_HIT}
        [/sound]
#mountain
        {TGA_PLACE_UNIT_NOID_CHAOTIC "Gryphon" 3 19 1}
        {TGA_PLACE_UNIT_NOID_CHAOTIC "Young Gryphon" 3 18 1}
        {TGA_PLACE_UNIT_NOID_CHAOTIC "Young Gryphon" 3 19 2}
        {TGA_PLACE_UNIT_NOID_CHAOTIC "Young Gryphon" 3 20 1}
        {TGA_PLACE_UNIT_NOID_CHAOTIC "Gryphon" 3 6 19}
        {TGA_PLACE_UNIT_NOID_CHAOTIC "Young Gryphon" 3 5 20}
        {TGA_PLACE_UNIT_NOID_CHAOTIC "Young Gryphon" 3 6 20}
        {TGA_PLACE_UNIT_NOID_CHAOTIC "Young Gryphon" 3 7 20}
    [/event]
[/multiplayer]
