#textdomain wesnoth-units
[unit_type]
    id=Drake Kensai
    name= _ "Drake Kensai"
    race=drake
    image="units/drakes/kensai.png"
    profile="portraits/drakes/kensai.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=98
    movement_type=drakefly
    movement=6
    experience=200
    level=4
    alignment=lawful
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Drake Blademaster
        experience=210
    [/advancefrom] 
#endif
    {AMLA_DEFAULT}
    cost=70
    usage=fighter
    #wmllint: local spelling Kensais
    description= _ "Black armor marks the elite order of the Fighter caste: the Kensais. Only a few manage to gain the skill and power necessary to be admitted to this highest rank without perishing in battle. Though other drakes may disparage the Fighter caste, they always check twice to be sure none are around; Kensais fiercely protect their fellows’ honor, and no-one would dispute their right to do so."
    die_sound=drake-die.ogg
    {DEFENSE_ANIM "units/drakes/kensai-defend-2.png" "units/drakes/kensai-defend-1.png" {SOUND_LIST:DRAKE_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/drakes/transparent/kensai.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/drakes/transparent/kensai.png"
    [/portrait]
    {DRAKE_STANDING_ANIM kensai}
    {DRAKE_MOVEMENT_ANIM kensai}
    {DRAKE_WEAPON_ANIM kensai}
    [resistance]
        pierce=100
        fire=40
    [/resistance]
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    [attack]
        name=war talon
        description=_"war talon"
        type=blade
        range=melee
        damage=22
        number=3
        icon=attacks/scimitar.png
    [/attack]
    [attack]
        name=fire breath
        description=_"fire breath"
        icon=attacks/fire-breath-drake.png
        type=fire
        range=ranged
        damage=12
        number=3
    [/attack]
    {DRAKE_FIRE_ANIM_S_DIAGONAL kensai 35,40}
    {DRAKE_FIRE_ANIM_N_DIAGONAL_CURRENT kensai 35,-20}
    {DRAKE_FIRE_ANIM_S kensai 8,50}
    {DRAKE_FIRE_ANIM_N_CURRENT kensai 8,-50}

    [attack_anim]
        [filter_attack]
            name=war talon
        [/filter_attack]
        offset=0.0~0.2,0.2~0.7,0.7~0.2,0.2~0.0
        start_time=-400
        [frame]
            image="units/drakes/kensai-melee-[1~6].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
