#textdomain wesnoth
#define BOSS1_SPELLCAST_EVENT
    [event]
	    name=side 3 turn
#            side=3
	    first_time_only=no
		[if]
                       [have_unit]
                            id=Boss1
                       [/have_unit]
#                       [and]
#                       [variable]
#			    name=bossstage
#		            greater_than=1
#			[/variable]
#                       [/and]
		    [then]
[store_unit]
    [filter]
#        side=whatever
         id=Boss1
        [filter_location]
#             x,y=whatever
             radius=6
        [/filter_location]
    [/filter]
    kill=no
    variable=target_selection
[/store_unit]
		[if]
		    [variable]
			    name=bosstage
		            greater_than=1
			[/variable]
			[then]
			{VARIABLE_OP spelltype rand (teleportshield,shockwave,summon_ghosts)}
		    [/then]
                    [else]
#			{VARIABLE_OP spelltype rand (darkbeams,darkbeams,teleport,incinerate,petrify,hypnotise)}
			{VARIABLE_OP spelltype rand (shockwave,summon_ghosts)}
                    [/else]
		[/if]
{CHECK_SPELL_1}
{CHECK_SPELL_2}
{CHECK_SPELL_3}
		    [/then]
		[/if]
	[/event]
#enddef
#define SPELLRAND NUMBER
{VARIABLE_OP target_idx{NUMBER} rand "0..$($target_selection.length - 1)"}
#enddef
#define TP_SPELL NUMBER
		[store_unit]
		    [filter]
#                          x,y==$target_selection[$target_idx{NUMBER}].x,$target_selection[$target_idx{NUMBER}].y
                          side=1,2
			[/filter]
                        [filter_adjacent]
                           id=Boss1
                        [/filter_adjacent]
			kill=yes
			variable=teleported
		[/store_unit]
		[if]
		    [variable]
			    name=teleported.side
		            equals=1
			[/variable]
			[then]
		[set_variable]
		    name=tpxy
		    value=5,4
        	[/set_variable]
		    [/then]
                    [else]
		    [variable]
			    name=teleported.side
		            equals=2
			[/variable]
			[then]
		[set_variable]
		    name=tpxy
		    value=20,17
        	[/set_variable]
		    [/then]
                    [/else]
		[/if]
		[scroll_to]
			x,y=$tpwy
		[/scroll_to]
        {WHITE_SCREEN}
        [sound]
          name=lightning.ogg
        [/sound]
        [delay]
            time=100
        [/delay]
        {RESET_SCREEN}
		[unstore_unit]
		    variable=teleported
			find_vacant=yes
			x,y=$tpwy
		[/unstore_unit]
		        [message]
		            speaker=unit
			        message= _ "Whoah, what was that?"
		        [/message]
#enddef
#define CHECK_SPELL_1
		[if]
		    [variable]
			    name=spelltype
		            equals=teleportshield
			[/variable]
			[then]
		[if]
		    [variable]
			    name=hardmode
		            greater_than=0
			[/variable]
			[then]
		[set_variable]
		    name=tpshieldnumber
		    value=4
       	        [/set_variable]
		    [/then]
                    [else]
		[set_variable]
		    name=tpshieldnumber
		    value=3
       	        [/set_variable]
                    [/else]
		[/if]
		[scroll_to]
	          id=Boss1
		[/scroll_to]
                        {FADE_TO_BLACK}
                        [message]
                            speaker=Boss1
                            message= _ "<i>This character whispers words in a strange tongue and prepares a powerful spell: <b>$spelltype| ($tpshieldnumber|)</b>!</i>"
                            duration=1000
                        [/message]
                        {FADE_IN}
	    [set_variable]
		    name=tpshield
		    add=$tpshieldnumber
	    [/set_variable]
		    [/then]
#                   [else]
#                   [/else]
#		    [/then]
		[/if]
		[if]
		    [variable]
			    name=spelltype
		            equals=summon_ghosts
			[/variable]
			[then]
		[scroll_to]
	          id=Boss1
		[/scroll_to]
                        {FADE_TO_BLACK}
                        [message]
                            speaker=Boss1
                            message= _ "<i>This character whispers words in a strange tongue and prepares a powerful spell: <b>$spelltype|</b>!</i>"
                            duration=1000
                        [/message]
                        {FADE_IN}
		[store_unit]
			[filter]
                            id=Boss1
			[/filter]
			variable=boss
		[/store_unit]
{GHOST_PORTAL_LESSER 5 $boss.x| $boss.y|}
{GHOST_PORTAL_LESSER 6 $boss.x| $boss.y|}
{GHOST_PORTAL_LESSER 7 $boss.x| $boss.y|}
		[if]
		    [variable]
			    name=bossstage
		            greater_than=1
			[/variable]
			[then]
{GHOST_PORTAL_LESSER 8 $boss.x| $boss.y|}
		    [/then]
                    [else]
                    [/else]
		[/if]
		[if]
		    [variable]
			    name=hardmode
		            greater_than=0
			[/variable]
			[then]
{GHOST_PORTAL_LESSER 9 $boss.x| $boss.y|}
		    [/then]
                    [else]
                    [/else]
		[/if]
		    [/then]
#                   [else]
#                   [/else]
#		    [/then]
		[/if]
#enddef
#define CHECK_SPELL_2
		[if]
		    [variable]
			    name=spelltype
		            equals=shockwave
			[/variable]
			[then]
		[scroll_to]
	          id=Boss1
		[/scroll_to]
                        {FADE_TO_BLACK}
                        [message]
                            speaker=Boss1
                            message= _ "<i>This character whispers words in a strange tongue and prepares a powerful spell: <b>$spelltype|</b>!</i>"
                            duration=1000
                        [/message]
                        {FADE_IN}
[store_unit]
    [filter]
#        side=whatever
         id=Boss1
    [/filter]
    kill=no
    variable=boss
[/store_unit]
        [sound]
          name=rumble.ogg
        [/sound]
                            [item]
                                x,y=$boss.x,$boss.y
                                halo="halo/magical-shield-1.png~SCALE(160,160)~CS(-40,-80,-200)"
                            [/item]
                            [delay]
                                time=100
                            [/delay]
                            [item]
                                x,y=$boss.x,$boss.y
                                halo="halo/magical-shield-2.png~SCALE(260,260)~CS(-40,-80,-200)"
                            [/item]
                            [delay]
                                time=100
                            [/delay]
                            [item]
                                x,y=$boss.x,$boss.y
                                halo="halo/magical-shield-3.png~SCALE(360,360)~CS(-40,-80,-200)~O(90%)"
                            [/item]
                            [delay]
                                time=100
                            [/delay]
                            [item]
                                x,y=$boss.x,$boss.y
                                halo="halo/magical-shield-4.png~SCALE(460,460)~CS(-40,-80,-200)~O(70%)"
                            [/item]
                            [delay]
                                time=100
                            [/delay]
                            [item]
                                x,y=$boss.x,$boss.y
                                halo="halo/magical-shield-5.png~SCALE(560,560)~CS(-40,-80,-200)~O(50%)"
                            [/item]
                            [delay]
                                time=100
                            [/delay]
                            [item]
                                x,y=$boss.x,$boss.y
                                halo="halo/magical-shield-6.png~SCALE(660,660)~CS(-40,-80,-200)~O(30%)"
                            [/item]
                            [delay]
                                time=100
                            [/delay]
                            [remove_item]
                                x,y=$boss.x,$boss.y
                            [/remove_item]
		[if]
		    [variable]
			    name=bossstage
#		            #		            equals=yes
		            greater_than=1
			[/variable]
			[then]
        [harm_unit]
            [filter]
               side=1,2
              [filter_location]
               x,y=$boss.x,$boss.y
               radius=3
              [/filter_location]
            [/filter]
            amount=20
            damage_type=impact
            fire_event=yes
	    animate=no
        [/harm_unit] 
		    [/then]
                    [else]
        [harm_unit]
            [filter]
               side=1,2
              [filter_location]
               x,y=$boss.x,$boss.y
               radius=3
              [/filter_location]
            [/filter]
            amount=16
            damage_type=impact
            fire_event=yes
	    animate=no
        [/harm_unit] 
                    [/else]
		[/if]
		[if]
		    [variable]
			    name=hardmode
#		            #		            equals=yes
		            greater_than=0
			[/variable]
			[then]
		    [/then]
		[/if]
		    [/then]
#                   [else]
#                   [/else]
#		    [/then]
		[/if]
#enddef
#define CHECK_SPELL_3
		[if]
		    [variable]
			    name=spelltype
		            equals=thunderstorm
			[/variable]
			[then]
		[scroll_to]
	          id=Boss1
		[/scroll_to]
                        {FADE_TO_BLACK}
                        [message]
                            speaker=Boss1
                            message= _ "<i>This character whispers words in a strange tongue and prepares a powerful spell: <b>$spelltype|</b>!</i>"
                            duration=1000
                        [/message]
                        {FADE_IN}
                         {RAND_LIGHTNING_BIG 1}
                         {RAND_LIGHTNING_BIG 2}
                         {RAND_LIGHTNING_BIG 3}
		[if]
		    [variable]
			    name=bossstage
#		            #		            equals=yes
		            greater_than=1
			[/variable]
			[then]
                         {RAND_LIGHTNING_BIG 4}
		    [/then]
		[/if]
		[if]
		    [variable]
			    name=hardmode
#		            #		            equals=yes
		            greater_than=0
			[/variable]
			[then]
                         {RAND_LIGHTNING_BIG 5}
		    [/then]
		[/if]
		    [/then]
#                   [else]
#                   [/else]
#		    [/then]
		[/if]
#enddef
#define CHECK_SPELL_4
#enddef
#define CHECK_SPELL_5
#enddef
#define RAND_LIGHTNING_BIG NUMBER
#no x 1-6 / 19-24  or y 1-5 / 16-20 to make sure the lightning won't hit the camp or hexes next to it :)
			{VARIABLE_OP lightning{NUMBER}x rand (7,8,9,10,11,12,13,14,15,16,17,18,19)}
			{VARIABLE_OP lightning{NUMBER}y rand (5,6,7,8,9,10,11,12,13,14,15,16)}
		[if]
		    [variable]
			    name=hardmode
		            #		            equals=yes
		            greater_than=0
			[/variable]
			[then]
			{VARIABLE_OP lightning{NUMBER}damage rand (30,35,40,45,50,55,60)}
		    [/then]
                    [else]
			{VARIABLE_OP lightning{NUMBER}damage rand (20,25,30,35,40,45)}
                    [/else]
		[/if]
			{VARIABLE_OP lightning{NUMBER}type rand (1,2,3)}
                            # impactanimation
        [scroll_to]
                                x,y=$lightning{NUMBER}x,$lightning{NUMBER}y
        [/scroll_to]
        [sound]
          name=lightning.ogg
        [/sound]
        [sound]
          name=lightning.ogg
        [/sound]
        [sound]
          name=lightning.ogg
        [/sound]
                            [item]
                                x,y=$lightning{NUMBER}x,$lightning{NUMBER}y
                                halo="halo/lightning-item/lightning-bolt-$lightning{NUMBER}type|-1.png~SIZE(400,970)"
                            [/item]
                            [delay]
                                time=100
                            [/delay]
                            [item]
                                x,y=$lightning{NUMBER}x,$lightning{NUMBER}y
                                halo="halo/lightning-item/lightning-bolt-$lightning{NUMBER}type|-2.png~SIZE(400,970)"
#                                halo_y=-125
                            [/item]
                            [delay]
                                time=100
                            [/delay]
                            [item]
                                x,y=$lightning{NUMBER}x,$lightning{NUMBER}y
                                halo="halo/lightning-item/lightning-bolt-$lightning{NUMBER}type|-3.png~SIZE(400,970)"
                            [/item]
                            [delay]
                                time=100
                            [/delay]
                            [item]
                                x,y=$lightning{NUMBER}x,$lightning{NUMBER}y
                                halo="halo/lightning-item/lightning-bolt-$lightning{NUMBER}type|-4.png~SIZE(400,970)"
                            [/item]
                            [delay]
                                time=100
                            [/delay]
                            [remove_item]
                                x,y=$lightning{NUMBER}x,$lightning{NUMBER}y
                            [/remove_item]
	    [set_variable]
		    name=lightning{NUMBER}y
		    add=1
	    [/set_variable]
		[if]
                       [have_unit]
                            side=1,2
                            x,y=$lightning{NUMBER}x,$lightning{NUMBER}y                             
                       [/have_unit]
			[then]
        [harm_unit]
            [filter]
#               side=1,2
                                x,y=$lightning{NUMBER}x,$lightning{NUMBER}y
            [/filter]
            amount=$lightning{NUMBER}damage
            damage_type=fire
            fire_event=yes
	    animate=yes
        [/harm_unit] 
        [modify_unit]
         [filter]
                                x,y=$lightning{NUMBER}x,$lightning{NUMBER}y
         [/filter]
            [status]
                slowed=yes
            [/status]
        [/modify_unit]
#i'll need to make the effext last during 'every' side's turn
		[store_unit]
			[filter]
                            side=1,2
                            x,y=$lightning{NUMBER}x,$lightning{NUMBER}y 
                         [not]
                          canrecruit=yes
                         [/not]
			[/filter]
			variable=stunnedtemp
		[/store_unit]
#                {VARIABLE stunnedtemp.moves 0}
#                {VARIABLE stunnedtemp.attacks_left 0}
		[unstore_unit]
			variable=stunnedtemp
			find_vacant=no
			text="slowed"
		        {COLOR_HARM}
		[/unstore_unit]
		    [/then]
		[/if]
		[if]
                       [have_unit]
                            side=3
                            x,y=$lightning{NUMBER}x,$lightning{NUMBER}y                          
                             [or]
                            side=1,2
                            canrecruit=yes
                            x,y=$lightning{NUMBER}x,$lightning{NUMBER}y 
                             [/or]
                       [/have_unit]
			[then]
		[store_unit]
			[filter]
                            side=3
                            x,y=$lightning{NUMBER}x,$lightning{NUMBER}y 
			[/filter]
			variable=enemytemp
		[/store_unit]
		[unstore_unit]
			variable=enemytemp
			find_vacant=no
			text="blocked"
		        {COLOR_HEAL}
		[/unstore_unit]
		    [/then]
		[/if]
                {CLEAR_VARIABLE lightning{NUMBER}x}
                {CLEAR_VARIABLE lightning{NUMBER}y}
                {CLEAR_VARIABLE lightning{NUMBER}damage}
                {CLEAR_VARIABLE lightning{NUMBER}type}
#enddef
