#textdomain wesnoth-units
#ifdef MULTIPLAYER
[unit_type]
    id=TGA Elvish Fighter
    [base_unit]
        id=Elvish Fighter
    [/base_unit]
    advances_to=TGA Elvish Hero,Elvish Captain,Elvish Pikeman
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Elvish Hero
    [base_unit]
        id=Elvish Hero
    [/base_unit]
    advances_to=TGA Elvish Champion,Elvish Vanquisher,Elvish Glavier
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Elvish Champion
    [base_unit]
        id=Elvish Champion
    [/base_unit]
    advances_to=Elvish Juggernaut
    experience=210
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Elvish Shaman
    [base_unit]
        id=Elvish Shaman
    [/base_unit]
    advances_to=TGA Elvish Druid,TGA Elvish Sorceress,Elvish Treewalker
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Elvish Sorceress
    [base_unit]
        id=Elvish Sorceress
    [/base_unit]
    advances_to=TGA Elvish Enchantress
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Elvish Enchantress
    [base_unit]
        id=Elvish Enchantress
    [/base_unit]
    advances_to=TGA Elvish Sylph,Elvish Grand Sorceress
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Elvish Sylph
    [base_unit]
        id=Elvish Sylph
    [/base_unit]
    advances_to=Elvish Avatar,Elvish Windwaker
    experience=500
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Elvish Druid
    [base_unit]
        id=Elvish Druid
    [/base_unit]
    advances_to=TGA Elvish Shyde
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Elvish Shyde
    [base_unit]
        id=Elvish Shyde
    [/base_unit]
    advances_to=Nature Faerie
    experience=200
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Elvish Archer
    [base_unit]
        id=Elvish Archer
    [/base_unit]
    advances_to=TGA Elvish Ranger,TGA Elvish Marksman
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Elvish Ranger
    [base_unit]
        id=Elvish Ranger
    [/base_unit]
    advances_to=TGA Elvish Avenger
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Elvish Marksman
    [base_unit]
        id=Elvish Marksman
    [/base_unit]
    advances_to=TGA Elvish Sharpshooter
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Elvish Avenger
    [base_unit]
        id=Elvish Avenger
    [/base_unit]
    advances_to=Elvish Forest Warden
    experience=220
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Elvish Lord
    [base_unit]
        id=Elvish Lord
    [/base_unit]
    advances_to=TGA Elvish High Lord
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Elvish High Lord
    [base_unit]
        id=Elvish High Lord
    [/base_unit]
    advances_to=Elvish Overlord
    experience=250
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Elvish Sharpshooter
    [base_unit]
        id=Elvish Sharpshooter
    [/base_unit]
    advances_to=Elvish Mystical Archer,Elvish Assassin
    experience=250
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Elvish Scout
    [base_unit]
        id=Elvish Scout
    [/base_unit]
    advances_to=TGA Elvish Rider,Elvish Bowrider
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Elvish Rider
    [base_unit]
        id=Elvish Rider
    [/base_unit]
    advances_to=TGA Elvish Outrider
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Elvish Outrider
    [base_unit]
        id=Elvish Outrider
    [/base_unit]
    advances_to=Elvish Mounted Expeditionary
    hide_help=false
    do_not_list=no
[/unit_type]
#endif