#textdomain wesnoth-units

[unit_type]
    id=Elvish Bloodmaiden
    name= _ "Elvish Bloodmaiden"
    race=elf
    gender=female
    image="units/elves-wood/bloodmaiden.png"
    profile="portraits/bloodmaiden.png"
    hitpoints=44
    movement_type=woodland
    movement=6
    experience=110
    level=2
    alignment=neutral
    advances_to=Elvish Vengeance
    cost=43
    usage=fighter
    [movement_costs]
        cave=2
        hills=1
        mountains=2
        sand=1
    [/movement_costs]
    # These gals have a better defense in swamp water and sands
    [defense]
        swamp_water=60
        cave=60
        mountains=40
        hills=50
        sand=60
    [/defense]
    {MAGENTA_IS_THE_TEAM_COLOR}
    description= _ "Most elves are usually a peaceful and isolationist folk, who usually only take up weapons when the lives of their kin depend on it. Horewer, the elvish council has been secretly training a new, deadly kind of female warriors whom they call 'Bloodmaidens'. They have their personality erased almost entirely, and replaced with a cold-blooded thirst to annihilate whoever the elvish council orders them to, as well as anybody who is standing in their way of doing so, at all costs. Such philosophy has made them prone to temporarily ally with almost anyone, as long as they share a common enemy. They are always seen wearing specially enchanted blindfolds, which enhance their eyesight, and more importantly, allow them to sense their target's presense using their inner faerie powers. Such an ability, horewer, comes at a price, when they take their blindfolds off, they can barely see anything due to the insane blurriness in their eyes, such thing is caused by the over-exposure of their eyes to the faerie magic, which seriously harms their mundane eyesight. Due to that, Bloodmaidens prefer never to take their blindfolds off.
"+{SPECIAL_NOTES}+{SPECIAL_NOTES_SKIRMISHER}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    {DEFENSE_ANIM "units/elves-wood/bloodmaiden.png" "units/elves-wood/bloodmaiden.png" {SOUND_LIST:ELF_FEMALE_HIT} }
	[abilities]
		{ABILITY_SKIRMISHER}
	[/abilities]
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/sword-elven.png
        [specials]
            {WEAPON_SPECIAL_LESSER_MARKSMAN}
        [/specials]
        type=blade
        range=melee
        damage=6
        number=6
    [/attack]
    [attack]
        name=whirlwind-sword
        description="whirlwind"
        icon=attacks/sword-elven.png
        [specials]
            {WEAPON_SPECIAL_WHIRLWIND}
            {WEAPON_SPECIAL_LESSER_MARKSMAN}
        [/specials]
        type=blade
        range=melee
        damage=6
        number=3
        defense_weight=0.0
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        {MELEE_FRAME_SWOOSH {SOUND_LIST:SWORD_SWISH} ~}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
              name=whirlwind-sword
        [/filter_attack]
        offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.7,0.7~0.6,0.6~0.3,0.3~0.0
        start_time=-330
        [frame]
            image="units/elves-wood/bloodmaiden.png:[120*6]"
			halo="misc/whirl-[1~4].png:[180*4]"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -400}
    [/attack_anim]
    {WHIRLWIND_EVENT}
[/unit_type]
