#textdomain wesnoth-units
[unit_type]
    id=Elvish Windwaker
    name= _ "female^Elvish Windwaker"
    race=elf
    gender=female
    image="units/elves-wood/windwaker.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    profile="portraits/faerie-incarnation.png"
    halo=halo/elvish-spell-[1~9].png~O(50%):150
    hitpoints=68
    movement_type=woodlandfloat
    movement=7
    experience=250
    level=5
    alignment=neutral
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit="Elvish Sylph"
        experience=500
    [/advancefrom]
#endif
    {AMLA_DEFAULT}
    cost=90
    usage=mixed fighter
    description= _ ""+{SPECIAL_NOTES}+{SPECIAL_NOTES_SLOW}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_ARCANE}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/transparent/faerie-incarnation.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/transparent/faerie-incarnation.png"
    [/portrait]
    [resistance]
        arcane=80
        cold=90
    [/resistance]
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    [attack]
        name=faerie touch
        description=_"faerie touch"
        icon=attacks/touch-faerie.png~CS(-16,0,-64)
        type=impact
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=melee
        damage=12
        number=2
        range=melee
    [/attack]
    [attack]
        name=tornado
        description=_"tornado"
        type=impact
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_WHIRLWIND}
        [/specials]
        range=ranged
        damage=22
        number=2
        icon=attacks/wind-storm.png
    [/attack]
#textdomain wesnoth-utbs
    [attack]
        name=sand storm
        description= _ "sand storm"
        icon=attacks/sand-storm.png
        type=impact
        [specials]
#            {WEAPON_SPECIAL_SWARM}
            {WEAPON_SPECIAL_LESSER_MARKSMAN}
        [/specials]
        range=ranged
        damage=6
        number=10
    [/attack]
    {DEFENSE_ANIM_RANGE "units/elves-wood/windwaker.png" "units/elves-wood/windwaker.png" {SOUND_LIST:ELF_FEMALE_HIT} melee }
    {DEFENSE_ANIM_ELVEN_RANGE "units/elves-wood/windwaker.png" "units/elves-wood/windwaker.png" {SOUND_LIST:ELF_FEMALE_HIT} ranged }
    [attack_anim]
        [filter_attack]
            name=tornado
        [/filter_attack]
        offset=0.0
        {MISSILE_FRAME_TGA_TORNADO_SELF_BIG 125 150 175 -32 0 -128}


        [frame]
            image="units/elves-wood/windwaker.png:100"
#            sound=magic-dark-big.ogg
        [/frame]

        [frame]
            image="units/elves-wood/windwaker.png:100"
        [/frame]
        {SOUND:HIT_AND_MISS magic-faeriefire.ogg magic-faeriefire-miss.ogg -50}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sand storm
        [/filter_attack]
        [if]
            direction=sw,s,se
            [missile_frame]
                offset=1.0
                begin=-200
                end=120
                halo="projectiles/sand-storm-1.png:40,projectiles/sand-storm-2.png:40,projectiles/sand-storm-3.png:40,projectiles/sand-storm-4.png:40,projectiles/sand-storm-5.png:40,projectiles/sand-storm-6.png:40,projectiles/sand-storm-7.png:40,projectiles/sand-storm-8.png:40"
            [/missile_frame]
        [/if]
        [else]
            direction=ne,n,nw
            [missile_frame]
                offset=1.0
                begin=-200
                end=120
                halo="projectiles/sand-storm-1.png~FL(vert):40,projectiles/sand-storm-2.png~FL(vert):40,projectiles/sand-storm-3.png~FL(vert):40,projectiles/sand-storm-4.png~FL(vert):40,projectiles/sand-storm-5.png~FL(vert):40,projectiles/sand-storm-6.png~FL(vert):40,projectiles/sand-storm-7.png~FL(vert):40,projectiles/sand-storm-8.png~FL(vert):40"
            [/missile_frame]
        [/else]
        [if]
            hits=yes
            [frame]
                begin=-200
                end=100
                sound=magic-faeriefire.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-200
                end=100
                sound=magic-faeriefire-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=faerie touch
        [/filter_attack]
        start_time=-240

        [frame]
            image="units/elves-wood/windwaker.png:280"
        [/frame]
        [frame]
            image="units/elves-wood/windwaker.png"
            halo="halo/elven/druid-healing[1~8].png~CS(-32,0,-128):75"
            halo_x,halo_y=10,14
        [/frame]

#        {SOUND:HIT_AND_MISS fist.ogg {SOUND_LIST:MISS} -50}
    [/attack_anim]
    {WHIRLWIND_EVENT}
[/unit_type]
