#textdomain wesnoth-units
[unit_type]
    id=Elvish Glavier
    name= _ "Elvish Glavier"
    race=elf
    ignore_race_traits=yes
    {TRAIT_QUICK}
    {TRAIT_STRONG}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    image="units/elves-wood/elvish-glavier.png"
    profile="portraits/elvish_glavier.png"
    [leading_anim]
        [frame]
            begin=-150
            end=150
            image="units/elves-wood/elvish-glavier-defend-1.png"
        [/frame]
    [/leading_anim]
    {MAGENTA_IS_THE_TEAM_COLOR}
    {LESS_NIMBLE_ELF}
    hitpoints=64
    movement_type=woodland
    movement=4
    experience=150
    level=3
    alignment=neutral
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit="Elvish Hero"
    [/advancefrom]
#endif
    {AMLA_DEFAULT}
    cost=50
    usage=fighter
    description= _ "These elves are the toughest of all elves. In addition they are also better armored. This makes them incredibly resistant to all kinds of damage. They are the guardians of the secrets of the elves."+{SPECIAL_NOTES}+{SPECIAL_NOTES_STEADFAST}
    die_sound={SOUND_LIST:ELF_HIT}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/elvish_glavier.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/elvish_glavier.png"
    [/portrait]
    {DEFENSE_ANIM "units/elves-wood/elvish-glavier.png" "units/elves-wood/elvish-glavier.png" {SOUND_LIST:ELF_HIT}}
    [abilities]
	{ABILITY_STEADFAST}
	{ABILITY_LEAD_ANIM}
	{ABILITY_PROTECTION 10}
    [/abilities]
	[resistance]
        pierce=85
        blade=85
        impact=90
        fire=105
        cold=105
    [/resistance]
    [attack]
        name=glaive
        description=_"glaive"
        icon=attacks/glaive.png
        type=blade
        range=melee
        damage=19
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=glaive
        [/filter_attack]
        [frame]
            image="units/elves-wood/elvish-glavier-melee-1.png:125"
        [/frame]
        [frame]
            image="units/elves-wood/elvish-glavier-melee-2.png:75"
        [/frame]
        [if]
            hits=yes
            [frame]
                image="units/elves-wood/elvish-glavier-melee-3.png:100"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                image="units/elves-wood/elvish-glavier-melee-3.png:100"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=175
            image="units/elves-wood/elvish-glavier-melee-4.png:100"
        [/frame]
        [frame]
            begin=100
            end=175
            image="units/elves-wood/elvish-glavier-melee-5.png:125"
        [/frame]
        [frame]
            image="units/elves-wood/elvish-glavier.png:50"
        [/frame]
    [/attack_anim]
    [standing_anim]
        start_time=0
        [frame]
            image="units/elves-wood/elvish-glavier.png:190"
        [/frame]
        [frame]
            image="units/elves-wood/elvish-glavier-bob-[1~4,3~1].png:[190,190,190,225,190,190,190]"
        [/frame]
        [frame]
            image="units/elves-wood/elvish-glavier.png:190"
        [/frame]
    [/standing_anim]
[/unit_type]
