#textdomain wesnoth-units
[unit_type]
    id=Elvish Grand Sorceress
    name= _ "female^Elvish Grand Sorceress"
    race=elf
    gender=female
    image="units/elves-wood/ElvenGS.png"
    profile="portraits/transparent/GSorceress.png"
    small_profile="portraits/GSorceress.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=62
    movement_type=woodland
    movement=6
    experience=200
    level=4
    alignment=neutral
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit="Elvish Enchantress"
    [/advancefrom]
#endif
    {AMLA_DEFAULT}
    cost=80
    usage=mixed fighter
    description= _ "Although a very rare occurance, some elven enchantresses choose not to acess their faerie side fully, but rather use their longevity and intellect to study magic used by other races. After decades, even centuries of wandering and practice, they manage something truly unique - the joning of both magic types. 
Titled as a Grand Sorceress, this elven maiden can unleash a wide veriety of spells she learned in her travels."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_SLOW}+{SPECIAL_NOTES_ARCANE}}+{SPECIAL_NOTES_HEALS}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}

    [abilities]
        {ABILITY_HEALS}
    [/abilities]
    [resistance]
        arcane=90
	fire=80
	cold=80
    [/resistance]
    [attack]
        name=staff
        description=_"staff"
        type=impact
        range=melee
        damage=8
        number=3
        range=melee
        icon=attacks/staff-elven.png
    [/attack]
    [attack]
        name=shock
        description=_"shock"
        type=impact
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_STUN}
            {WEAPON_SPECIAL_FOCUSED}
        [/specials]
        damage=22
        number=1
        range=ranged
 	  icon=attacks/lightning.png
    [/attack]
    [attack]
        name=fireball
        description=_"fireball"
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=18
        number=3
    [/attack]
    [attack]
        name=magic nova
        description=_"magic nova"
        type=arcane
        damage=26
        number=2
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        icon=attacks/nova.png
    [/attack]
    {DEFENSE_ANIM_RANGE "units/elves-wood/ElvenGSdefend.png" "units/elves-wood/ElvenGSdefend.png" {SOUND_LIST:ELF_FEMALE_HIT} melee }
    {DEFENSE_ANIM_ELVEN_RANGE "units/elves-wood/ElvenGSdefend.png" "units/elves-wood/ElvenGSdefend.png" {SOUND_LIST:ELF_FEMALE_HIT} ranged }
	
#Magic Nova anim
    [attack_anim]
        [filter_attack]
            name=magic nova
        [/filter_attack]
		start_time=-900
        {MISSILE_FRAME_NOVA}


        [frame]
            duration=100
            image="units/elves-wood/ElvenGS_MA1.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGS_MA2.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGS_MA3.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGS_MA4.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGS_MA4b.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGS_MA5.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGS_MA6.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGS_MA7.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGS_MA8.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGS_MA9.png"
        [/frame]

   	  [if]
            hits=yes
            [frame]
            duration=100
                image="units/elves-wood/ElvenGS_MA9.png"
                sound=magic-faeriefire.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
            duration=100
                image="units/elves-wood/ElvenGS_MA9.png"
                sound=magic-faeriefire-miss.ogg
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGS_MA9R2.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGS_MA9R.png"
        [/frame]

        [frame]
            duration=100
            image="units/elves-wood/ElvenGS_MA1.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGS_MA0.png"
        [/frame]
    [/attack_anim]



 #define ES_LIGHTNING DIRECTION_NUMBER
    [attack_anim]
        [filter_attack]
            name=shock
        [/filter_attack]
	start_time=-1400
        {LIGHTNING_BOLT {DIRECTION_NUMBER} }
		
        [frame]
            duration=75
            image="units/elves-wood/ElvenGSMagic2.png"
        [/frame]
        [frame]
            duration=75
            image="units/elves-wood/ElvenGSMagic3.png"
            sound=entangle.wav
        [/frame]
        [frame]
            duration=75
            image="units/elves-wood/ElvenGSMagic4.png"
        [/frame]
        [frame]
            duration=75
            image="units/elves-wood/ElvenGSMagic5.png"
        [/frame]
        [frame]
            duration=75
            image="units/elves-wood/ElvenGSMagic6.png"
        [/frame]
        [frame]
            duration=75
            image="units/elves-wood/ElvenGSMagicL1.png"
        [/frame]
        [frame]
            duration=75
            image="units/elves-wood/ElvenGSMagicL2.png"
        [/frame]
        [frame]
            duration=75
            image="units/elves-wood/ElvenGSMagicL3.png"
        [/frame]
        [frame]
            duration=75
            image="units/elves-wood/ElvenGSMagicL4.png"
        [/frame]
        [frame]
            duration=75
            image="units/elves-wood/ElvenGSMagicL5.png"
        [/frame]
        [frame]
            duration=75
            image="units/elves-wood/ElvenGSMagicL6.png"
        [/frame]
        [if]
            hits=yes
            [frame]
            duration=75
                image="units/elves-wood/ElvenGSMagic7.png"
                sound=lightning.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
            duration=75
                image="units/elves-wood/ElvenGSMagic7.png"
                sound=lightning-miss.ogg
            [/frame]
        [/else]
        [frame]
            duration=75
            image="units/elves-wood/ElvenGSMagicL5.png"
        [/frame]
        [frame]
            duration=75
            image="units/elves-wood/ElvenGSMagic2.png"
        [/frame]
    [/attack_anim]
#enddef

    {ES_LIGHTNING 1}
    {ES_LIGHTNING 2}
    {ES_LIGHTNING 3}


#Staff Melee
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        start_time=-300

        [frame]
            duration=100
            image="units/elves-wood/ElvenGS_Melee1.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGS_Melee2.png"
        [/frame]

        [if]
            hits=yes
            [frame]
                duration=100
                image="units/elves-wood/ElvenGS_Melee3.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/elves-wood/ElvenGS_Melee3.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGS_Melee2.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGS_Melee1.png"
        [/frame]
    [/attack_anim]


	
#Healing
 [healing_anim]
        [frame]
            begin=-300
            end=-225
            image="units/elves-wood/ElvenGSMagic2.png"
            halo="halo/elven/druid-healing1.png"
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/elves-wood/ElvenGSMagic3.png"
            halo="halo/elven/druid-healing2.png"
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/elves-wood/ElvenGSMagic4.png"
            halo="halo/elven/druid-healing3.png"
        [/frame]
        [frame]
            begin=-75
            end=0
            image="units/elves-wood/ElvenGSMagic5.png"
            halo="halo/elven/druid-healing4.png"
        [/frame]
        [frame]
            begin=0
            end=75
            image="units/elves-wood/ElvenGSMagic5.png"
            halo="halo/elven/druid-healing5.png"
        [/frame]
        [frame]
            begin=75
            end=150
            image="units/elves-wood/ElvenGSMagicH1.png"
            halo="halo/elven/druid-healing6.png"
        [/frame]
        [frame]
            begin=150
            end=225
            image="units/elves-wood/ElvenGSMagicH2.png"
            halo="halo/elven/druid-healing7.png"
        [/frame]
        [frame]
            begin=225
            end=300
            image="units/elves-wood/ElvenGSMagic5.png"
            halo="halo/elven/druid-healing8.png"
        [/frame]
    [/healing_anim]

	
#Idle dress cleaning animation
[idle_anim]
        {STANDARD_IDLE_FILTER}
        [frame]
            duration=100
            image="units/elves-wood/ElvenGSIdle1.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGSIdle2.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGSIdle3.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGSIdle3b.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGSIdle4.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGSIdle5.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGSIdle4.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGSIdle5.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGSIdle4.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGSIdle5.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGSIdle4.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGSIdle5.png"
        [/frame]
		[frame]
            duration=100
            image="units/elves-wood/ElvenGSIdle4.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGSIdle5.png"
        [/frame]		
		[frame]
            duration=100
            image="units/elves-wood/ElvenGSTits1.png"
        [/frame]
		[frame]
            duration=200
            image="units/elves-wood/ElvenGSTits2.png"
        [/frame]
		[frame]
            duration=100
            image="units/elves-wood/ElvenGSTits1.png"
        [/frame]
		[frame]
            duration=200
            image="units/elves-wood/ElvenGSTits2.png"
        [/frame]	
        [frame]
            duration=100
            image="units/elves-wood/ElvenGSIdle6.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGSIdle7.png"
        [/frame]
    [/idle_anim]

	
#Fireball animation
    [attack_anim]
        [filter_attack]
            name=fireball
        [/filter_attack]
		start_time=-600
        {MISSILE_FRAME_FIREBALL}


        [frame]
            duration=100
            image="units/elves-wood/ElvenGS_MA1.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGSMagicF1.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGSMagicF2.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGSMagicF3.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGSMagicF4.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGSMagicF5.png"
        [/frame]
   	  [if]
            hits=yes
            [frame]
            duration=100
                image="units/elves-wood/ElvenGSMagicF5B.png"
                sound=fire.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
            duration=100
                image="units/elves-wood/ElvenGSMagicF5B.png"
                sound=fire.wav
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/elves-wood/ElvenGSMagicF4.png"
        [/frame]
    [/attack_anim]
    [event]
        name=attacker_hits
        first_time_only=no

        [filter_attack]
            special=tail_stun
        [/filter_attack]

        [filter_second]
            [not]
                level=0
                [or]
                    [filter_wml]
                        [status]
                            stunned=yes
                        [/status]
                    [/filter_wml]
                [/or]
            [/not]
        [/filter_second]

        {VARIABLE second_unit.status.stunned yes}

        [if]
            [variable]
                name=second_unit.gender
                equals=female
            [/variable]

            [then]
                [set_variable]
                    name=tmp_stunned_text
                    value= _ "female^stunned"
                [/set_variable]
            [/then]

            [else]
                [set_variable]
                    name=tmp_stunned_text
                    value= _ "stunned"
                [/set_variable]
            [/else]
        [/if]

        [unstore_unit]
            variable=second_unit
            find_vacant=no
            text=$tmp_stunned_text
            red,green,blue=196,196,128
        [/unstore_unit]

        [object]
            silent=yes
            duration=turn

            [filter]
                x,y=$x2,$y2
            [/filter]

            [effect]
                apply_to=image_mod
                replace="CS(50,50,0)"
            [/effect]

            [effect]
                apply_to=zoc
                value=no
            [/effect]
        [/object]

        [clear_variable]
            name=tmp_stunned_text
        [/clear_variable]
    [/event]

    [event]
        name=defender_hits
        first_time_only=no

        [filter_second_attack]
            special=tail_stun
        [/filter_second_attack]

        [filter]
            [not]
                level=0
                [or]
                    [filter_wml]
                        [status]
                            stunned=yes
                        [/status]
                    [/filter_wml]
                [/or]
            [/not]
        [/filter]

        {VARIABLE unit.status.stunned yes}

        [if]
            [variable]
                name=unit.gender
                equals=female
            [/variable]

            [then]
                [set_variable]
                    name=tmp_stunned_text
                    value= _ "female^stunned"
                [/set_variable]
            [/then]

            [else]
                [set_variable]
                    name=tmp_stunned_text
                    value= _ "stunned"
                [/set_variable]
            [/else]
        [/if]

        [unstore_unit]
            variable=unit
            find_vacant=no
            text=$tmp_stunned_text
            red,green,blue=196,196,128
        [/unstore_unit]

        [object]
            silent=yes
            duration=turn

            [filter]
                x,y=$x1,$y1
            [/filter]

            [effect]
                apply_to=image_mod
                replace="CS(50,50,0)"
            [/effect]

            [effect]
                apply_to=zoc
                value=no
            [/effect]
        [/object]

        [clear_variable]
            name=tmp_stunned_text
        [/clear_variable]
    [/event]

    [event]
        name=turn refresh
        first_time_only=no

        [store_unit]
            [filter]
                side=$side_number
                [filter_wml]
                    [status]
                        stunned=yes
                    [/status]
                [/filter_wml]
            [/filter]
            variable=stunned
        [/store_unit]

        {FOREACH stunned i}
            {CLEAR_VARIABLE stunned[$i].status.stunned}

            [unstore_unit]
                variable=stunned[$i]
            [/unstore_unit]
        {NEXT i}

        {CLEAR_VARIABLE stunned}
    [/event]	
[/unit_type]

