#textdomain wesnoth-units
[unit_type]
    id=Elvish Pikeman
    name= _ "Elvish Pikeman"
    race=elf    
    ignore_race_traits=yes
    {TRAIT_QUICK}
    {TRAIT_STRONG}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    gender=male#,female
    image="units/elves-wood/pikeman.png"
    profile="portraits/elvish_pikeman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=50
    movement_type=woodland
    movement=5
    {LESS_NIMBLE_ELF}
    experience=80
    level=2
    alignment=neutral
    advances_to=Elvish Halberdier,Elvish Glavier
#ifndef MULTIPLAYER
    [advancefrom]
        unit="Elvish Fighter"
    [/advancefrom]
#endif
    cost=28
    usage=fighter
    description= _ "TODO."
    die_sound={SOUND_LIST:ELF_HIT}
    {DEFENSE_ANIM_RANGE "units/elves-wood/pikeman-defend.png" "units/elves-wood/pikeman.png" {SOUND_LIST:ELF_HIT} melee}
    {DEFENSE_ANIM_RANGE "units/elves-wood/pikeman-defend.png" "units/elves-wood/pikeman.png" {SOUND_LIST:ELF_HIT} ranged }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/elvish_pikeman.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/elvish_pikeman.png"
    [/portrait]
    [resistance]
        blade=90
        pierce=90
        impact=90
    [/resistance]	
    [attack]
        name=pike
        description=_"pike"
        icon=attacks/pike.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
        type=pierce
        range=melee
        damage=10
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=pike
        [/filter_attack]
        [frame]
            begin=-200
            end=-175
            image="units/elves-wood/pikeman-attack-1.png"
        [/frame]
        [frame]
            begin=-175
            end=-100
            image="units/elves-wood/pikeman-attack-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/elves-wood/pikeman-attack-2.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/elves-wood/pikeman-attack-2.png"
                sound=spear-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=100
            end=175
            image="units/elves-wood/pikeman-attack-2.png"
        [/frame]
        [frame]
            begin=175
            end=225
            image="units/elves-wood/pikeman-attack-1.png"
        [/frame]
    [/attack_anim]
[/unit_type]