#textdomain wesnoth-units

[unit_type]
    id=Elvish Vengeance
    name= _ "Elvish Vengeance"
    race=elf
    gender=female
    image="units/elves-wood/vengeance.png"
	profile="portraits/vengeance.png"
    hitpoints=56
    movement_type=woodlandfloat
    movement=7
    experience=250
    level=3
    alignment=neutral
    cost=62
    usage=fighter
	{AMLA_DEFAULT}
    [movement_costs]
        cave=2
        hills=1
        mountains=2
        sand=1
    [/movement_costs]
    # These gals have a better defense in swamp water and sands
    [defense]
        swamp_water=60
        cave=60
        mountains=40
        hills=50
        sand=60
    [/defense]
    {MAGENTA_IS_THE_TEAM_COLOR}
    description= _ "A bloodmaiden's eyes are covered up as she has an inner connection with the fairy world that grants her new senses. Having now achieved a great bond with the fairy world, though not the way the sylphs do, the fairy world now tries to break through the body of the bloodmaiden, and she is becoming the ones called vengeance."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SKIRMISHER}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    {DEFENSE_ANIM "units/elves-wood/vengeance.png" "units/elves-wood/vengeance.png" {SOUND_LIST:ELF_FEMALE_HIT} }
	[abilities]
		{ABILITY_SKIRMISHER}
	[/abilities]
    [resistance]
        arcane=100
        blade=90
        pierce=90
        impact=90
    [/resistance]	
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/sword-faerie.png
        [specials]
            {WEAPON_SPECIAL_LESSER_MARKSMAN}
        [/specials]
        type=arcane
        range=melee
        damage=7
        number=6
    [/attack]
    [attack]
        name=whirlwind-sword
        description="whirlwind"
        icon=attacks/sword-faerie.png
        [specials]
            {WEAPON_SPECIAL_WHIRLWIND}
            {WEAPON_SPECIAL_LESSER_MARKSMAN}
        [/specials]
        type=arcane
        range=melee
        damage=7
        number=3
        defense_weight=0.0
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        {MELEE_FRAME_SWOOSH {SOUND_LIST:SWORD_SWISH} "~BLEND(146,101,255,0.7)"}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
              name=whirlwind-sword
        [/filter_attack]
        offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.7,0.7~0.6,0.6~0.3,0.3~0.0
        start_time=-330
        [frame]
            image="units/elves-wood/vengeance.png:[120*6]"
			halo="misc/whirl-[1~4].png~BLEND(146,101,255,0.7):[180*4]"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -400}
    [/attack_anim]
[/unit_type]
