#textdomain wesnoth-Fate_of_a_Princess
[unit_type]
    id=Frost Guardian 
    name= _ "Frost Guardian"
    race=snow fairy
    gender=female
    image="units/elves-mixed/guardian.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=48
    movement_type=snowfairyfoot
    movement=5
    experience=120
    level=2
    alignment=neutral 
    advances_to=Lady Blizzard
    cost=38
    usage=fighter
    description= _ "The mission of Frost Guardians is to protect the area that Snow Fairies live by using their magical staffs."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}
    {DEFENSE_ANIM "units/elves-mixed/guardian-defend.png" "units/elves-mixed/guardian.png" {SOUND_LIST:ELF_FEMALE_HIT} }

    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    [attack]
        name=froststaff
        description= _ "frost staff"
        type=impact
        range=melee
        damage=9
        number=3
        range=melee
        icon=attacks/frost-staff.png
    [/attack]
    [attack]
        name=cold flash
        description= _ "cold flash"
        icon=attacks/iceball.png
        type=cold
        range=ranged
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=froststaff
        [/filter_attack]
        start_time=-350
        offset=0.0~0.3,0.3~0.6,0.6~0.0
        [frame]
            image="units/elves-mixed/guardian-magic.png:100"
        [/frame]
        [frame]
            image="units/elves-mixed/guardian-melee-[1~3].png:100"
        [/frame]

        {SOUND:HIT_AND_MISS staff.wav {SOUND_LIST:MISS} -150}

    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=cold flash
        [/filter_attack]
        {MISSILE_FRAME_FOAP_COLD_FLASH}

        start_time=-300
        [frame]
            image="units/elves-mixed/guardian-magic.png"
            halo="halo/elven/nature-halo[1~8].png:75"
            halo_x,halo_y=0,-12
        [/frame]
        {SOUND:HIT_AND_MISS magic-missile-1.ogg,magic-missile-2.ogg,magic-missile-3.ogg magic-missile-1-miss.ogg,magic-missile-2-miss.ogg,magic-missile-3-miss.ogg 0}

     [/attack_anim]
[/unit_type]
