#textdomain wesnoth-loti
#define WEAPON_SPECIAL_INFECT
    [poison]
        id=infect
        name= _ "infect"
        description= _ "The target of this weapon specials becomes poisoned in a special way, so that if it dies from the poison, it becomes a Walking Corpse."
    [/poison]
#enddef
#define WEAPON_SPECIAL_GREATER_INFECT
    [poison]
        id=greater infect
        name= _ "greater infect"
        description= _ "The target of this weapon specials becomes poisoned in a special way, so that if it dies from the poison, it becomes a Soulless."
    [/poison]
#enddef

    [event]
        name=attacker_hits
        first_time_only=no
        [filter_attack]
            special=infect
        [/filter_attack]
        [filter_second]
            [not]
                [filter_wml]
                    [status]
                        not_living=yes
                    [/status]
                [/filter_wml]
            [/not]
        [/filter_second]
        [modify_unit]
            [filter]
                id=$second_unit.id
            [/filter]
            [status]
                infected=yes
            [/status]
            [variables]
                infected_by_side=$unit.side
                infected_type=Walking Corpse
                canrecruit=no
            [/variables]
        [/modify_unit]
    [/event]
    [event]
        name=defender_hits
        first_time_only=no
        [filter_second_attack]
            special=infect
        [/filter_second_attack]
        [filter]
            [not]
                [filter_wml]
                    [status]
                        not_living=yes
                    [/status]
                [/filter_wml]
            [/not]
        [/filter]
        [modify_unit]
            [filter]
                id=$unit.id
            [/filter]
            [status]
                infected=yes
            [/status]
            [variables]
                infected_by_side=$second_unit.side
                infected_type=Walking Corpse
                canrecruit=no
            [/variables]
        [/modify_unit]
    [/event]
    [event]
        name=attacker_hits
        first_time_only=no
        [filter_attack]
            special=greater infect
        [/filter_attack]
        [filter_second]
            [not]
                [filter_wml]
                    [status]
                        not_living=yes
                    [/status]
                [/filter_wml]
            [/not]
        [/filter_second]
        [modify_unit]
            [filter]
                id=$second_unit.id
            [/filter]
            [status]
                infected=yes
            [/status]
            [variables]
                infected_by_side=$unit.side
                infected_type=Soulless
                canrecruit=no
            [/variables]
        [/modify_unit]
    [/event]
    [event]
        name=defender_hits
        first_time_only=no
        [filter_second_attack]
            special=greater infect
        [/filter_second_attack]
        [filter]
            [not]
                [filter_wml]
                    [status]
                        not_living=yes
                    [/status]
                [/filter_wml]
            [/not]
        [/filter]
        [modify_unit]
            [filter]
                id=$unit.id
            [/filter]
            [status]
                infected=yes
            [/status]
            [variables]
                infected_by_side=$second_unit.side
                infected_type=Soulless
                canrecruit=no
            [/variables]
        [/modify_unit]
    [/event]
    [event]
        name=turn refresh
        first_time_only=no
        [store_unit]
            [filter]
                [filter_wml]
                    [status]
                        infected=yes
                    [/status]
                [/filter_wml]
                [and]
                    [filter_side]
                        side=$side_number
                    [/filter_side]
                [/and]
                [and]
                    [filter_wml]
                        hitpoints=1
                    [/filter_wml]
                [/and]
            [/filter]
            variable=zombie_store
            kill=yes
        [/store_unit]
        {FOREACH zombie_store i}
            [unit]
                side=$zombie_store[$i].variables.infected_by_side
                x=$zombie_store[$i].x
                y=$zombie_store[$i].y
                variation=$zombie_store[$i].undead_variation
                type=$zombie_store[$i].variables.infected_type
                moves=0
                facing=$zombie_store[$i].facing
                attacks_left=0
                animate=no
            [/unit]
            [fire_event]
                name=last_breath
                [primary_unit]
                    x,y=$zombie_store[$i].x,$zombie_store[$i].y
                [/primary_unit]
            [/fire_event]
            [fire_event]
                name=die
                [primary_unit]
                    x,y=$zombie_store[$i].x,$zombie_store[$i].y
                [/primary_unit]
            [/fire_event]
        {NEXT i}
        {CLEAR_VARIABLE zombie_store}

        [store_unit]
            [filter]
                [filter_wml]
                    [status]
                        infected=yes
                    [/status]
                [/filter_wml]
                [and]
                    [filter_side]
                        side=$side_number
                    [/filter_side]
                [/and]
                [and]
                    [filter_adjacent]
                        ability=healing
                    [/filter_adjacent]
                [/and]
                [or]
                    [filter_wml]
                        [status]
                            infected=yes
                        [/status]
                    [/filter_wml]
                    [and]
                        [filter_side]
                            side=$side_number
                        [/filter_side]
                    [/and]
                    [and]
                        [filter_location]
                            terrain=*^V*
                        [/filter_location]
                    [/and]
                [/or]
            [/filter]
            variable=unzombie_store
            kill=yes
        [/store_unit]
        {FOREACH unzombie_store i}
            {CLEAR_VARIABLE unzombie_store[$i].status.infected}
            {CLEAR_VARIABLE unzombie_store[$i].variables.infected_by_side}
            {CLEAR_VARIABLE unzombie_store[$i].variables.infected_type}
            [unstore_unit]
                variable=unzombie_store[$i]
                find_vacant=no
            [/unstore_unit]
        {NEXT i}
        {CLEAR_VARIABLE unzombie_store}
    [/event]
    [event]
        name=die
        first_time_only=no
        [filter]
            [filter_wml]
                [status]
                    infected=yes
                [/status]
            [/filter_wml]
        [/filter]
        [store_unit]
            [filter]
                id=$unit.id
            [/filter]
            variable=zombie_store
            kill=yes
        [/store_unit]
        [unit]
            side=$zombie_store.variables.infected_by_side
            x=$zombie_store.x
            y=$zombie_store.y
            variation=$zombie_store.undead_variation
            type=$zombie_store.variables.infected_type
            moves=0
            facing=$zombie_store.facing
            attacks_left=0
            animate=no
        [/unit]
        {CLEAR_VARIABLE zombie_store}
    [/event]
    [event]
	name=victory
	first_time_only=no
        [store_unit]
            [filter]
                [filter_wml]
                    [status]
                        infected=yes
                    [/status]
                [/filter_wml]
            [/filter]
            variable=unzombie_store
            kill=yes
        [/store_unit]
        {FOREACH unzombie_store i}
            {CLEAR_VARIABLE unzombie_store[$i].status.infected}
            {CLEAR_VARIABLE unzombie_store[$i].variables.infected_by_side}
            {CLEAR_VARIABLE unzombie_store[$i].variables.infected_type}
            [unstore_unit]
                variable=unzombie_store[$i]
                find_vacant=no
            [/unstore_unit]
        {NEXT i}
        {CLEAR_VARIABLE unzombie_store}
    [/event] 
