#textdomain wesnoth-httt

#define ABILITY_INITIATIVE
    [dummy]
        id=initiative
        name= _ "initiative"
        description="Adjacent allies are granted Firststrike with all weapons."
    [/dummy]
#[/abilities]
#enddef
[event]
    name=attack
    first_time_only=no

    [filter]
        [filter_adjacent]
            is_enemy=no
        [/filter_adjacent]
    [/filter]

    {FOREACH unit.attack i}
        {VARIABLE unit.attack[$i].specials.firststrike.id "firststrike"}
    {NEXT i}

    [unstore_unit]
        variable=unit
    [/unstore_unit]
[/event]
[event]
    name=attack
    first_time_only=no

    [filter_second]
        [filter_adjacent]
            is_enemy=no
        [/filter_adjacent]
    [/filter_second]

    {FOREACH second_unit.attack i}
        {VARIABLE second_unit.attack[$i].specials.firststrike.id "firststrike"}
    {NEXT i}

    [unstore_unit]
        variable=second_unit
    [/unstore_unit]
[/event]
[event]
    name=attack_end
    first_time_only=no

    [filter]
        [wml_filter]
            [attack]
                [specials]
                    [firststrike]
                        id=firststrike
                    [/firststrike]
                [/specials]
            [/attack]
        [/wml_filter]
    [/filter]

    {FOREACH unit.attack i}
        {CLEAR_VARIABLE unit.attack[$i].specials.firststrike}
    {NEXT i}

    [unstore_unit]
        variable=unit
    [/unstore_unit]
[/event]
[event]
    name=attack_end
    first_time_only=no

    [filter_second]
        [wml_filter]
            [attack]
                [specials]
                    [firststrike]
                        id=firststrike
                    [/firststrike]
                [/specials]
            [/attack]
        [/wml_filter]
    [/filter_second]

    {FOREACH second_unit.attack i}
        {CLEAR_VARIABLE second_unit.attack[$i].specials.firststrike}
    {NEXT i}

    [unstore_unit]
        variable=second_unit
    [/unstore_unit]
[/event]
#[+abilities]
