#textdomain wesnoth-Age_of_Tentacles

#define ABILITY_LEADERSHIP_LEVEL_7
    # Canned definition of the Leadership (level 7) ability to be included in an
    # [abilities] clause.
    [leadership]
        id=leadership
        value=175
        cumulative=no
        name={STR_LEADERSHIP_NAME}
        female_name={STR_LEADERSHIP_FEMALE_NAME}
        description={STR_LEADERSHIP_DESCRIPTION}
        affect_self=no
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=0
            [/filter]
        [/affect_adjacent]
    [/leadership]
    [leadership]
        id=leadership
        value=150
        cumulative=no
        affect_self=no
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=1
            [/filter]
        [/affect_adjacent]
    [/leadership]
    [leadership]
        id=leadership
        value=125
        cumulative=no
        affect_self=no
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=2
            [/filter]
        [/affect_adjacent]
    [/leadership]
    [leadership]
        id=leadership
        value=100
        cumulative=no
        affect_self=no
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=3
            [/filter]
        [/affect_adjacent]
    [/leadership]
    [leadership]
        id=leadership
        value=75
        cumulative=no
        affect_self=no
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=4
            [/filter]
        [/affect_adjacent]
    [/leadership]
    [leadership]
        id=leadership
        value=50
        cumulative=no
        affect_self=no
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=5
            [/filter]
        [/affect_adjacent]
    [/leadership]
#enddef

#define ABILITY_CHAMELEON
    # Canned definition of the Chameleon ability to be included in an
    # [abilities] clause.
    [hides]
        id=chameleon
        name=_"chameleon"
        female_name=_"female^chameleon"
        description=_"The unit can change its color like a chameleon.

Enemy units cannot see this unit when it's standing on place, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
        affect_self=yes
        # alert=_"Chameleon!"
        [filter] # why do official abilities use filter_self instead?
            [and]
                [filter_wml]
                    moves=$this_unit.max_moves
                [/filter_wml]
                [or]
                    [not]
                        side=$side_number
                    [/not]
                [/or]
            [/and]
            [not]
                [filter_location]
                    terrain=W*
                [/filter_location]
            [/not]
        [/filter]
    [/hides]
#enddef

#define ANIM_CHAMELEON
    # definition of animations needed for chameleons
    # to be added after [movement_anim] clause

    [+movement_anim]
        alpha=0.9
    [/movement_anim]

    [pre_movement_anim]
        alpha=0.8~0.9
        [frame]
            duration=150
        [/frame]
    [/pre_movement_anim]

    [standing_anim]
        alpha=0.8~0.3:5000,0.3,0.3~0.8:5000
        [frame]
            duration=3600000
        [/frame]
    [/standing_anim]

    [post_movement_anim]
        alpha=0.9~0.8
        [frame]
            duration=200
        [/frame]
    [/post_movement_anim]
#enddef

# Weapon specials

# Infection special macros #

#define INFECTION_RESULT
"Walking Corpse" #enddef

#define WEAPON_SPECIAL_INFECTION2
    # Canned definition of the Infection ability to be included in a
    # [specials] clause. Must be used with {EVENTS_INFECTION}
    [plague]
        # infection also implies plague, though this tag doesn't seem to matter anymore
        id=infection
        name=_"infection"
        description= _ "This attack infects living targets. Infected units lose 8 HP every turn until the plague destroy their mind and body, turning them into walking mindless corpses. infected units are unable to recieve healing. infected units can be cured by either leveling up, when the scenario ends"
        type={INFECTION_RESULT}
    [/plague]
#enddef


#Icinerates
#define WEAPON_SPECIAL_INCINERATE
    [dummy]
        id=incinerate
        name= _ "incinerate"
        description= _ "This attack incinerates its targets. Burning units lose 12 HP every turn until they are cured. It can be cured either by normal healing, or by standing in water. Flames can kill a unit, the attacker that incinerated the unit gets the experience. Note: this special doesn't have any effect on drakes,fire elementals and units standing in water"
    [/dummy]
#enddef

#define EVENTS_INCINERATE
    [event]
        name=attacker_hits
        first_time_only=no
        [filter_attack]
            special=incinerate
        [/filter_attack]
        [filter_second]
          [not]
            race=drake
             [or]
               ability=fireborn
             [/or]
             [or]
                        [filter_location]
                            terrain=W*,W**,St,Sm
                        [/filter_location]
             [/or]
             [or]
               type=Fire Dragon,Black Dragon
             [/or]
          [/not]
        [/filter_second]
        {VARIABLE second_unit.status.incinerated yes}
        {VARIABLE second_unit.variables.incinerator $unit.id}
        [unstore_unit]
            variable=second_unit
            find_vacant=no
        [/unstore_unit]
        [object]
            silent=yes
            sort=potion-like
            [filter]
                find_in=second_unit
            [/filter]
            [effect]
                apply_to=image_mod
                replace="CS(100,50,0)"
            [/effect]
        [/object]
    [/event]
    [event]
        name=defender_hits
        first_time_only=no
        [filter_second_attack]
            special=incinerate
        [/filter_second_attack]
        {VARIABLE unit.status.incinerated yes}
        {VARIABLE unit.variables.incinerator $second_unit.id}
        [unstore_unit]
            variable=unit
            find_vacant=no
        [/unstore_unit]

        [object]
            silent=yes
            sort=potion-like
            [filter]
                find_in=unit
            [/filter]
            [effect]
                apply_to=image_mod
                replace="CS(100,50,0)"
            [/effect]
        [/object]
    [/event]
    [event]
        name=turn refresh
        first_time_only=no

        [store_unit]
            [filter]
                [filter_wml]
                    [status]
                        incinerated=yes
                    [/status]
                [/filter_wml]
                [and]
                    [filter_side]
                        side=$side_number
                    [/filter_side]
                [/and]
                [and]
                    [filter_adjacent]
                        ability=healing
                    [/filter_adjacent]
                [/and]
                [or]
                    [filter_wml]
                        [status]
                            incinerated=yes
                        [/status]
                    [/filter_wml]
                    [and]
                        [filter_side]
                            side=$side_number
                        [/filter_side]
                    [/and]
                    [and]
                        [filter_location]
                            terrain=*^V*,W*
                        [/filter_location]
                    [/and]
                [/or]
             [or]
                    [filter_wml]
                        [status]
                            incinerated=yes
                        [/status]
                    [/filter_wml]
                    [and]
                        [filter_side]
                            side=$side_number
                        [/filter_side]
                    [/and]
                    [and]
                        [filter_location]
                            terrain=W*,W**,St,Sm
                        [/filter_location]
                    [/and]
             [/or]
            [/filter]
            variable=unburn_store
            kill=yes
        [/store_unit]
        {FOREACH unburn_store i}
            {CLEAR_VARIABLE unburn_store[$i].status.incinerated}
            {CLEAR_VARIABLE unburn_store[$i].variables.incinerator}
            [unstore_unit]
                variable=unburn_store[$i]
                find_vacant=no
            [/unstore_unit]
            [object]
                silent=yes
                sort=potion-like
                [filter]
                    find_in=unburn_store[$i]
                [/filter]
                [effect]
                    apply_to=image_mod
                    replace="CS(0,0,0)"
                [/effect]
            [/object]
        {NEXT i}
        {CLEAR_VARIABLE unburn_store}

        [store_unit]
            [filter]
                [filter_wml]
                    [status]
                        incinerated=yes
                    [/status]
                [/filter_wml]
                [and]
                    [filter_side]
                        side=$side_number
                    [/filter_side]
                [/and]
            [/filter]
            variable=burn_store
            kill=no
        [/store_unit]
        {FOREACH burn_store i}
            [harm_unit]
                [filter]
                    id=$burn_store[$i].id
                [/filter]
                amount=12
                damage_type=fire
                fire_event=yes
                kill=no
                animate=yes
            [/harm_unit]
        {NEXT i}
        {CLEAR_VARIABLE burn_store}
        [store_unit]
            [filter]
                [filter_wml]
                    [status]
                        incinerated=yes
                    [/status]
                [/filter_wml]
                [and]
                    [filter_side]
                        side=$side_number
                    [/filter_side]
                [/and]
                [and]
                    [filter_wml]
                        hitpoints=1
                    [/filter_wml]
                [/and]
            [/filter]
            variable=burn_store
            kill=no
        [/store_unit]
        {FOREACH burn_store ti}
            [kill]
                id=$burn_store[$ti].id
                animate=yes
                fire_event=yes
		experience=yes
		[filter_second]
			id=$burn_store[$ti].variables.incinerator
		[/filter_second]
            [/kill]
            [fire_event]
                    name=force respec
                    [primary_unit]
                        id=$burn_store[$ti].variables.incinerator
                    [/primary_unit]
            [/fire_event]
        {NEXT ti}
        {CLEAR_VARIABLE burn_store}
    [/event]
    [event]
        name=victory
        [store_unit]
            [filter]
                [filter_wml]
                    [status]
                        incinerated=yes
                    [/status]
                [/filter_wml]
            [/filter]
            variable=unburn_store
            kill=yes
        [/store_unit]
        {FOREACH unburn_store i}
            {CLEAR_VARIABLE unburn_store[$i].status.incinerated}
            {CLEAR_VARIABLE unburn_store[$i].variables.incinerator}
            [unstore_unit]
                variable=unburn_store[$i]
                find_vacant=no
            [/unstore_unit]
            [object]
                silent=yes
                sort=potion-like
                [filter]
                    find_in=unburn_store[$i]
                [/filter]
                [effect]
                    apply_to=image_mod
                    replace="CS(0,0,0)"
                [/effect]
            [/object]
        {NEXT i}
        {CLEAR_VARIABLE unburn_store}
    [/event]
#enddef
