#textdomain wesnoth-TGA
#define ABILITY_CAGEPUTTER
[dummy]
	id=cageputter
	name= _"cage putter"
	description = _"This unit can put cages. Open the right-click menu to put them. (Note:the menu shows up only after someone moves)"
[/dummy]
[/abilities]
#cage menu item
[event]
#	name=moveto,side turn
        id=cagemenu
        first_time_only=no
	[set_menu_item]
		id=cage
		description = _"put a cage"
                image=misc/flightoption.png
		[filter_location]
			[filter]
				ability=cageputter
				[filter_wml]
					[not]
						moves=0
					[/not]
				[/filter_wml]
				side=$side_number
			[/filter]
		[/filter_location]
		#[default_hotkey] ###soon
			#key = v
		#[/default_hotkey]
		[command]
                            [item]
        			x,y=$x1,$y1
                                halo="items/cage.png"
                            [/item]
#                            [petrify]
#        			x,y=$x1,$y1
#                            [/petrify]
    # Record information about the stoning
    [set_variables]
        name=cage_information
        mode=append
        [value]
            id=$second_unit.id
            cage_side=$second_unit.side
            turn_of_unstoning=$"($turn_number| + 2)"
        [/value]
    [/set_variables]
		[/command]
	[/set_menu_item]
[/event]
[event]
	name=moveto
        id=cageevent
        first_time_only=no
			[filter]
				ability=cageputter
				[filter_wml]
					[not]
						moves=0
					[/not]
				[/filter_wml]
				side=$side_number
			[/filter]
                            [item]
        			x,y=$x1,$y1
                                halo="items/cage.png"
                            [/item]
        [modify_unit]
            [filter]
                id=$second_unit.id
            [/filter]
            [status]
                infected=yes
            [/status]
            [variables]
                infected_by_side=$unit.side
                infected_type=Walking Corpse
                canrecruit=no
            [/variables]
        [/modify_unit]
#                            [petrify]
#        			x,y=$x1,$y1
#                            [/petrify]
[/event]
[+abilities]
#enddef
