#textdomain wesnoth-TGA
#define ABILITY_SPAWN_ILLUSION TYPE SOUND SOUND_FAIL GOLD
    [dummy]
        id=spawn_illusion
        name= _ "spawn illusion"
	description= _ "This unit can create illusion of himself/herself. the illusions are much weaker than their creators, look a bit different, and last only a single turn. it costs {GOLD} gold to summon one illusion."
    [/dummy]
    [/abilities]
[event]
    name=side turn
    {SPAWN_ILLUSION_MENU {TYPE} {SOUND} {SOUND_FAIL} {GOLD}}
[/event]
    [+abilities]
#enddef
#define ABILITY_ILLUSION
    [dummy]
        id=illusion
        name= _ "illusion"
	description= _ "This unit disappears at the start of the next turn"
    [/dummy]
    [/abilities]
    [event]
        name=side turn
        first_time_only=no
             [kill]
		 ability=illusion
                 side=$side_number
                 animate=yes
                 fire_event=yes
             [/kill]
    [/event]
    [+abilities]
#enddef
#define SPAWN_ILLUSION_MENU TYPE SOUND SOUND_FAIL GOLD

    [set_menu_item]
        id=spawn_illusion_menu
        image=misc/illusion_option.png
        description= _ "spawn an illusion of the unit for {GOLD} gold"
#        [show_if]
#        [/show_if]

            [filter_location]
              [filter]
                ability=spawn_illusion
                side=$side_number
              [/filter]
            [/filter_location]
        [command]
                [store_unit]
                    [filter]
                      x,y=$x1,$y1
                    [/filter]
                    variable=spawner
                    kill=no
                [/store_unit]
                [store_gold]
                    side=$spawner.side
                    variable=gold
                [/store_gold]
                            [if]
                                [variable]
                                    name=gold
                                    greater_than_equal_to={GOLD}
                                [/variable]

                                [then]
        [sound]
           name={SOUND}
        [/sound]
        [unit]
            type={TYPE}
            name=$spawner.name
            side=$spawner.side
            x,y=$spawner.x,$spawner.y
            random_traits=yes
        [/unit]
                                    [gold]
                                        side=1
                                        amount=-{GOLD}
                                    [/gold]
                {FOREACH spawner i}
                    [unstore_unit]
                        variable=spawner[$i]
                    [/unstore_unit]
                {NEXT i}
                                [/then]
                                [else]
        [sound]
           name={SOUND_FAIL}
        [/sound]
                {FOREACH spawner i}
    [unstore_unit]
        variable=spawner[$i]
        {COLOR_HARM}
        text= _ "Not enough gold!"
        find_vacant=no
    [/unstore_unit]
                {NEXT i}
                                [/else]
                            [/if]
                {CLEAR_VARIABLE spawner}
        [/command]
    [/set_menu_item]
#enddef
 
