#textdomain wesnoth-TGA
#define ABILITY_IMMORTAL HP ID
    [dummy]
        id=immortal{ID}
        name="immortal"
	description="When this unit is about to die, he/she manages to cheat death, and recovers {HP} hitpoints. can be bypassed by using arcane attacks."
    [/dummy]
    [/abilities]
    [event]
        name=last breath
        first_time_only=no
                        [filter]
			     ability=immortal{ID}
                        [/filter]
                        [filter_second_attack]
                          [not]
#                           [filter_weapon]
                                 type=arcane
#                           [/filter_weapon]
                          [/not]
                        [/filter_second_attack]
#        {UPDATE_STATS}
                    [store_unit]
                        [filter]
			     x,y=$x1,$y1
                        [/filter]
                        variable=reborn
                        kill=no
                    [/store_unit]
                    [store_unit]
                        [filter]
			     x,y=$x2,$y2
                        [/filter]
                        variable=expsub
                        kill=no
                    [/store_unit]
                    [set_variable]
                        name=expsub_value
                        value=$unit.level
                    [/set_variable]
                    [set_variable]
                        name=expsub_value
                        multiply=8
                    [/set_variable]
                    [set_variable]
                        name=second_unit.experience
                        sub=$expsub_value
                    [/set_variable]
                     {VARIABLE reborn.hitpoints 0}
#                    {ADVANCE_UNIT x,y=$x1,$y1 ()}
        [unstore_unit]
            variable=reborn
            find_vacant=no
#            animate=yes
#	    text="reborn"
#	    {COLOR_HEAL}
        [/unstore_unit]
        [unstore_unit]
            variable=second_unit
            find_vacant=no
#            animate=yes
#	    text="reborn"
#	    {COLOR_HEAL}
        [/unstore_unit]
	[heal_unit]
		[filter]
                    x,y=$x1,$y1
		[/filter]
		amount={HP}
		animate=yes
		restore_statuses=yes
	[/heal_unit]
    [/event]
    [+abilities]
#enddef
#define ABILITY_IMMORTAL_1
    [dummy]
        id=immortal1
        name="immortal"
	description="When this unit is about to die, he/she manages to cheat death, and recovers 1 hitpoint. can be bypassed by using arcane attacks."
    [/dummy]
    [/abilities]
    [event]
        name=last breath
        first_time_only=no
                        [filter]
			     ability=immortal1
                        [/filter]
                        [filter_second_attack]
                          [not]
#                           [filter_weapon]
                                 type=arcane
#                           [/filter_weapon]
                          [/not]
                        [/filter_second_attack]
#        {UPDATE_STATS}
                    [store_unit]
                        [filter]
			     x,y=$x1,$y1
                        [/filter]
                        variable=reborn
                        kill=no
                    [/store_unit]
                    [store_unit]
                        [filter]
			     x,y=$x2,$y2
                        [/filter]
                        variable=expsub
                        kill=no
                    [/store_unit]
                    [set_variable]
                        name=expsub_value
                        value=unit.level
                    [/set_variable]
                    [set_variable]
                        name=expsub_value
                        multiply=8
                    [/set_variable]
                    [set_variable]
                        name=second_unit.experience
                        sub=$expsub_value
                    [/set_variable]
                    {VARIABLE reborn.hitpoints 0}
#                    {ADVANCE_UNIT x,y=$x1,$y1 ()}
        [unstore_unit]
            variable=reborn
            find_vacant=no
#            animate=yes
#	    text="reborn"
#	    {COLOR_HEAL}
        [/unstore_unit]
        [unstore_unit]
            variable=second_unit
            find_vacant=no
#            animate=yes
#	    text="reborn"
#	    {COLOR_HEAL}
        [/unstore_unit]
	[heal_unit]
		[filter]
                    x,y=$x1,$y1
		[/filter]
		amount=1
		animate=yes
		restore_statuses=yes
	[/heal_unit]
    [/event]
    [+abilities]
#enddef
#define ABILITY_IMMORTAL_25
    [dummy]
        id=immortal25
        name="immortal"
	description="When this unit is about to die, he/she manages to cheat death, and recovers 25 hitpoints. can be bypassed by using arcane attacks."
    [/dummy]
    [/abilities]
    [event]
        name=last breath
        first_time_only=no
                        [filter]
			     ability=immortal25
                        [/filter]
                        [filter_second_attack]
                          [not]
#                           [filter_weapon]
                                 type=arcane
#                           [/filter_weapon]
                          [/not]
                        [/filter_second_attack]
#        {UPDATE_STATS}
                    [store_unit]
                        [filter]
			     x,y=$x1,$y1
                        [/filter]
                        variable=reborn
                        kill=no
                    [/store_unit]
                    [store_unit]
                        [filter]
			     x,y=$x2,$y2
                        [/filter]
                        variable=expsub
                        kill=no
                    [/store_unit]
                    [set_variable]
                        name=expsub_value
                        value=unit.level
                    [/set_variable]
                    [set_variable]
                        name=expsub_value
                        multiply=8
                    [/set_variable]
                    [set_variable]
                        name=second_unit.experience
                        sub=$expsub_value
                    [/set_variable]
                    {VARIABLE reborn.hitpoints 0}
#                    {ADVANCE_UNIT x,y=$x1,$y1 ()}
        [unstore_unit]
            variable=reborn
            find_vacant=no
#            animate=yes
#	    text="reborn"
#	    {COLOR_HEAL}
        [/unstore_unit]
        [unstore_unit]
            variable=second_unit
            find_vacant=no
#            animate=yes
#	    text="reborn"
#	    {COLOR_HEAL}
        [/unstore_unit]
	[heal_unit]
		[filter]
                    x,y=$x1,$y1
		[/filter]
		amount=25
		animate=yes
		restore_statuses=yes
	[/heal_unit]
    [/event]
    [+abilities]
#enddef
#define ABILITY_IMMORTAL_75
    [dummy]
        id=immortal75
        name="immortal"
	description="When this unit is about to die, he/she manages to cheat death, and recovers 75 hitpoints. can be bypassed by using arcane attacks."
    [/dummy]
    [/abilities]
    [event]
        name=last breath
        first_time_only=no
                        [filter]
			     ability=immortal75
                        [/filter]
                        [filter_second_attack]
                          [not]
#                           [filter_weapon]
                                 type=arcane
#                           [/filter_weapon]
                          [/not]
                        [/filter_second_attack]
#        {UPDATE_STATS}
                    [store_unit]
                        [filter]
			     x,y=$x1,$y1
                        [/filter]
                        variable=reborn
                        kill=no
                    [/store_unit]
                    [store_unit]
                        [filter]
			     x,y=$x2,$y2
                        [/filter]
                        variable=expsub
                        kill=no
                    [/store_unit]
                    [set_variable]
                        name=expsub_value
                        value=unit.level
                    [/set_variable]
                    [set_variable]
                        name=expsub_value
                        multiply=8
                    [/set_variable]
                    [set_variable]
                        name=second_unit.experience
                        sub=$expsub_value
                    [/set_variable]
                    {VARIABLE reborn.hitpoints 0}
#                    {ADVANCE_UNIT x,y=$x1,$y1 ()}
        [unstore_unit]
            variable=reborn
            find_vacant=no
#            animate=yes
#	    text="reborn"
#	    {COLOR_HEAL}
        [/unstore_unit]
        [unstore_unit]
            variable=second_unit
            find_vacant=no
#            animate=yes
#	    text="reborn"
#	    {COLOR_HEAL}
        [/unstore_unit]
	[heal_unit]
		[filter]
                    x,y=$x1,$y1
		[/filter]
		amount=75
		animate=yes
		restore_statuses=yes
	[/heal_unit]
    [/event]
    [+abilities]
#enddef
#define ABILITY_IMMORTAL_125
    [dummy]
        id=immortal125
        name="immortal"
	description="When this unit is about to die, he/she manages to cheat death, and recovers 125 hitpoints. can be bypassed by using arcane attacks."
    [/dummy]
    [/abilities]
    [event]
        name=last breath
        first_time_only=no
                        [filter]
			     ability=immortal125
                        [/filter]
                        [filter_second_attack]
                          [not]
#                           [filter_weapon]
                                 type=arcane
#                           [/filter_weapon]
                          [/not]
                        [/filter_second_attack]
#        {UPDATE_STATS}
                    [store_unit]
                        [filter]
			     x,y=$x1,$y1
                        [/filter]
                        variable=reborn
                        kill=no
                    [/store_unit]
                    [store_unit]
                        [filter]
			     x,y=$x2,$y2
                        [/filter]
                        variable=expsub
                        kill=no
                    [/store_unit]
                    [set_variable]
                        name=expsub_value
                        value=$unit.level
                    [/set_variable]
                    [set_variable]
                        name=expsub_value
                        multiply=8
                    [/set_variable]
                    [set_variable]
                        name=second_unit.experience
                        sub=$expsub_value
                    [/set_variable]
                    {VARIABLE reborn.hitpoints 0}
#                    {ADVANCE_UNIT x,y=$x1,$y1 ()}
        [unstore_unit]
            variable=reborn
            find_vacant=no
#            animate=yes
#	    text="reborn"
#	    {COLOR_HEAL}
        [/unstore_unit]
        [unstore_unit]
            variable=second_unit
            find_vacant=no
#            animate=yes
#	    text="reborn"
#	    {COLOR_HEAL}
        [/unstore_unit]
	[heal_unit]
		[filter]
                    x,y=$x1,$y1
		[/filter]
		amount=125
		animate=yes
		restore_statuses=yes
	[/heal_unit]
    [/event]
    [+abilities]
#enddef
#define ABILITY_IMMORTAL2
    [dummy]
        id=immortal2
        name="immortal"
	description="This unit restores all of his or her health after fighting."
    [/dummy]
    [/abilities] 
	[event]
		name=attack_end
		first_time_only=no
		
		[filter_second]
			ability=immortal2
		[/filter_second]
		
		[if]
			[variable]
				name=second_unit.hitpoints
				less_than_equal_to=0
			[/variable]
			[then]
			
			[/then]
			[else]
				[heal_unit]
					[filter]
						id=$second_unit.id
					[/filter]
					animate=yes
					amount=full
				[/heal_unit]
			[/else]
		[/if]
	[/event]
	
	[event]
		name=attack_end
		first_time_only=no
		
		[filter]
			ability=immortal2
		[/filter]
		
		[if]
			[variable]
				name=unit.hitpoints
				less_than_equal_to=0
			[/variable]
			[then]
			
			[/then]
			[else]
				[heal_unit]
					[filter]
						id=$unit.id
 					[/filter]
					animate=yes
					amount=full
				[/heal_unit]
			[/else]
		[/if]
	[/event]
    [+abilities] 
#enddef
#define ABILITY_IMMORTAL3
    [dummy]
        id=immortal3
        name="immortal"
	description="This unit restores all of his or her health after being hit."
    [/dummy]
    [/abilities] 
	[event]
		name=attacker hits
		first_time_only=no
		
		[filter_second]
			ability=immortal2
		[/filter_second]
		
		[if]
			[variable]
				name=second_unit.hitpoints
				less_than_equal_to=0
			[/variable]
			[then]
			
			[/then]
			[else]
				[heal_unit]
					[filter]
						id=$second_unit.id
					[/filter]
					animate=yes
					amount=full
				[/heal_unit]
			[/else]
		[/if]
	[/event]
	
	[event]
		name=defender hits
		first_time_only=no
		
		[filter]
			ability=immortal2
		[/filter]
		
		[if]
			[variable]
				name=unit.hitpoints
				less_than_equal_to=0
			[/variable]
			[then]
			
			[/then]
			[else]
				[heal_unit]
					[filter]
						id=$unit.id
 					[/filter]
					animate=yes
					amount=full
				[/heal_unit]
			[/else]
		[/if]
	[/event]
    [+abilities] 
#enddef
