#textdomain wesnoth-TGA
#define ABILITY_LICH_TRANSFORMATION HP DAM
    [dummy]
        id=lich transformation
        name= _ "lich transformation"
	description= _ "when this unit dies, he/she is reborn as a Lich, but hith only {HP} hitpoints, the unit also deals {DAM} cold damage and slows the enemies around him/her while doing so to ensure the survival of the lich."
    [/dummy]
    [/abilities]
    [event]
        name=last breath
        first_time_only=no
                        [filter]
			     ability=lich transformation
                        [/filter]
        [unstore_unit]
            variable=unit
            find_vacant=no
        [/unstore_unit]
#        {UPDATE_STATS}
                    {ADVANCE_UNIT x,y=$x1,$y1 "Lich"}
                    [modify_unit]
                        [filter]
			     x,y=$x1,$y1
                        [/filter]
                        experience=$unit.experience
                        hitpoints={HP}
                    [/modify_unit]
        [harm_unit]
            [filter]
                [filter_adjacent]
                    x,y=$x1,$y1
                [/filter_adjacent]
                [filter_side]
                    [enemy_of]
                        side=$unit.side
                    [/enemy_of]
                [/filter_side]
            [/filter]
            amount={DAM}
            damage_type=cold
            kill=no
            fire_event=yes
            slowed=yes
#	    animate=yes
        [/harm_unit] 
    [/event]
    [+abilities]
#enddef
#define SPAWN_ILLUSION_MENU TYPE SOUND SOUND_FAIL GOLD

    [set_menu_item]
        id=spawn_illusion_menu
        image=misc/illusion_option.png
        description= _ "spawn an illusion of the unit for {GOLD} gold"
#        [show_if]
#        [/show_if]

            [filter_location]
              [filter]
                ability=spawn_illusion
                side=$side_number
              [/filter]
            [/filter_location]
        [command]
                [store_unit]
                    [filter]
                      x,y=$x1,$y1
                    [/filter]
                    variable=spawner
                    kill=no
                [/store_unit]
                [store_gold]
                    side=$spawner.side
                    variable=gold
                [/store_gold]
                            [if]
                                [variable]
                                    name=gold
                                    greater_than_equal_to={GOLD}
                                [/variable]

                                [then]
        [sound]
           name={SOUND}
        [/sound]
        [unit]
            type={TYPE}
            name=$spawner.name
            side=$spawner.side
            x,y=$spawner.x,$spawner.y
            random_traits=yes
        [/unit]
                                    [gold]
                                        side=1
                                        amount=-{GOLD}
                                    [/gold]
                {FOREACH spawner i}
                    [unstore_unit]
                        variable=spawner[$i]
                    [/unstore_unit]
                {NEXT i}
                                [/then]
                                [else]
        [sound]
           name={SOUND_FAIL}
        [/sound]
                {FOREACH spawner i}
    [unstore_unit]
        variable=spawner[$i]
        {COLOR_HARM}
        text= _ "Not enough gold!"
        find_vacant=no
    [/unstore_unit]
                {NEXT i}
                                [/else]
                            [/if]
                {CLEAR_VARIABLE spawner}
        [/command]
    [/set_menu_item]
#enddef
 
