#textdomain wesnoth-drusi

#define ABILITY_RESURRECT
	[resurrect]
		id=resurrect
		name=_"resurrect"
		female_name=_"female^resurrect"
		description=_"The ability to bring back the dead is extremely rare. When a unit dies next to this one, they will be returned to the recall list where you may retrieve them in a keep.note: the units resurrected this way lose half of their former exp."
		cumulative=no
		affect_allies=yes
	[/resurrect]
#enddef

#define SPECIAL_NOTES_RESURRECT
_" This unit is capable of restoring people to life. When a unit adjacent to this unit is killed in battle, she will resurrect him, returning him to your recall list at the cost of half of experience points from the killed unit."#enddef

# Resurrection implementation
#define RESURRECT_EVENT
[event]
	name=last breath
	first_time_only=no
	id=unit_resurrection
	[filter]
		[filter_adjacent]
			count=1-6
			is_enemy=no
			ability=resurrect
		[/filter_adjacent]
		canrecruit=no
	[/filter]
	[animate_unit]
		flag=resurrect
		[filter]
			ability=resurrect
			[filter_adjacent]
				id=$unit.id
				is_enemy=no
			[/filter_adjacent]
		[/filter]
		text=_"resurrected!"
		{COLOR_HEAL}
		[facing]
			[filter]
				id=$unit.id
			[/filter]
		[/facing]
	[/animate_unit]
	[store_unit]
		[filter]
			x,y=$x1,$y1
		[/filter]
		variable=killed_unit
		kill=yes
	[/store_unit]
	[if]
		[variable]
			name=killed_unit.experience
			greater_than_equal_to=2
		[/variable]
		[then]
			[set_variable]
				name=killed_unit.experience
			        multiply=0.5
			[/set_variable]
		[/then]
	[/if]
	[set_variable]
		name=killed_unit.hitpoints
		to_variable=killed_unit.max_hitpoints
	[/set_variable]
	[set_variable]
		name=killed_unit.moves
		to_variable=killed_unit.max_moves
	[/set_variable]
	[set_variable]
		name=killed_unit.status.poisoned
		value=no
	[/set_variable]
	[set_variable]
		name=killed_unit.status.slowed
		value=no
	[/set_variable]
	[unstore_unit]
		variable=killed_unit
		x,y=recall,recall
	[/unstore_unit]
[/event]
#enddef