#textdomain wesnoth-ah

#define PRESENCE_OF_THE_DRAGONHEART
    [time]
        id=presence_of_the_dragonheart
        name= _ "Presence of the Dragonheart"
        image=schedule/presence_of_the_dragonheart.png
        red=+20
		blue=+8
        green=-20
		lawful_bonus=25
    [/time]
#enddef

#define TEMPLE_OF_DRAKES
    [time]
        id=temple_of_drakes
        name= _ "Temple of drakes"
        image=schedule/temple_of_drakes.png
        red=+12
		blue=+2
        green=-10
		lawful_bonus=0
    [/time]
#enddef