#textdomain wesnoth-help

#define DESERT_DAY
    [time]
        id=desert_day
        name= _ "Desert Day"
        image=schedule/presence_of_the_dragonheart.png
        red=+20
		blue=+8
        green=-20
		lawful_bonus=25
    [/time]
#enddef

#define TEMPLE_OF_DRAKES
    [time]
        id=temple_of_drakes
        name= _ "Temple of drakes"
        image=schedule/temple_of_drakes.png
        red=+12
		blue=+2
        green=-10
		lawful_bonus=0
    [/time]
#enddef

#define FLASHBACK
    [time]
        id=flashback
        name= _ "Flashback"
        image=schedule/flashback.png
        lawful_bonus=0
        red=-10
        green=-40
        blue=0
        sound=ambient/morning.ogg
    [/time]
#enddef

# 6-turn clock time-of-day macros, rainy.

#define DAWN_RAINY
    [time]
        id=dawn_rainy
        name= _ "Dawn"
        image=misc/tod-schedule-rainy.png~CROP(0,0,125,39)
        lawful_bonus=-5
        red=-25
        green=-25
        sound=ambient/morning.ogg
    [/time]
#enddef

#define MORNING_RAINY
    [time]
        id=morning_rainy
        name= _ "Morning"
        image=misc/tod-schedule-rainy.png~CROP(126,0,125,39)
        red=-5
        green=-5
        lawful_bonus=20
    [/time]
#enddef

#define MIDDAY_RAINY
    [time]
        id=midday_rainy
        name= _ "Midday"
        image=misc/time-schedules/tod-schedule-24hrs.png~CROP(0,39,125,39)
        image=misc/tod-schedule-rainy.png~CROP(126,0,125,39)
        lawful_bonus=20
    [/time]
#enddef

#define AFTERNOON_RAINY
    [time]
        id=afternoon_rainy
        name= _ "Afternoon"
        image=misc/tod-schedule-rainy.png~CROP(256,0,125,39)
        lawful_bonus=20
    [/time]
#enddef

#define DUSK_RAINY
    [time]
        id=dusk_rainy
        name= _ "Dusk"
        image=misc/tod-schedule-rainy.png~CROP(0,40,125,39)
        lawful_bonus=-5
        green=-25
        blue=-25
        sound=ambient/night.ogg
    [/time]
#enddef

#define FIRST_WATCH_RAINY
    [time]
        id=first_watch_rainy
        name= _ "First Watch"
        image=misc/tod-schedule-rainy.png~CROP(126,40,125,39)
        lawful_bonus=-30
        red=-50
        green=-40
        blue=-10
    [/time]
#enddef

#define SECOND_WATCH_RAINY
    [time]
        id=second_watch_rainy
        name= _ "Second Watch"
        image=misc/tod-schedule-rainy.png~CROP(256,40,125,39)
        lawful_bonus=-30
        red=-55
        green=-45
        blue=-10
    [/time]
#enddef

# 6-turn clock time-of-day macros, cloudy.

#define DAWN_CLOUDY
    [time]
        id=dawn_cloudy
        name= _ "Dawn"
        image=misc/tod-schedule-cloudy.png~CROP(0,0,125,39)
        lawful_bonus=-5
        red=-25
        green=-25
        sound=ambient/morning.ogg
    [/time]
#enddef

#define MORNING_CLOUDY
    [time]
        id=morning_cloudy
        name= _ "Morning"
        image=misc/tod-schedule-cloudy.png~CROP(126,0,125,39)
        red=-5
        green=-5
        lawful_bonus=20
    [/time]
#enddef

#define MIDDAY_CLOUDY
    [time]
        id=midday_cloudy
        name= _ "Midday"
        image=misc/time-schedules/tod-schedule-24hrs.png~CROP(0,39,125,39)
        image=misc/tod-schedule-cloudy.png~CROP(126,0,125,39)
        lawful_bonus=20
    [/time]
#enddef

#define AFTERNOON_CLOUDY
    [time]
        id=afternoon_cloudy
        name= _ "Afternoon"
        image=misc/tod-schedule-cloudy.png~CROP(256,0,125,39)
        lawful_bonus=20
    [/time]
#enddef

#define DUSK_CLOUDY
    [time]
        id=dusk_cloudy
        name= _ "Dusk"
        image=misc/tod-schedule-cloudy.png~CROP(0,40,125,39)
        lawful_bonus=-5
        green=-25
        blue=-25
        sound=ambient/night.ogg
    [/time]
#enddef

#define FIRST_WATCH_CLOUDY
    [time]
        id=first_watch_cloudy
        name= _ "First Watch"
        image=misc/tod-schedule-cloudy.png~CROP(126,40,125,39)
        lawful_bonus=-30
        red=-50
        green=-40
        blue=-10
    [/time]
#enddef

#define SECOND_WATCH_CLOUDY
    [time]
        id=second_watch_cloudy
        name= _ "Second Watch"
        image=misc/tod-schedule-cloudy.png~CROP(256,40,125,39)
        lawful_bonus=-30
        red=-55
        green=-45
        blue=-10
    [/time]
#enddef

# 6-turn clock time-of-day macros, cloudy, bright.

#define DAWN_CLOUDY_BRIGHT
    [time]
        id=dawn_cloudy_bright
        name= _ "Dawn"
        image=misc/tod-schedule-cloudy.png~CROP(0,0,125,39)~BLIT(misc/tod-bright.png)
        lawful_bonus=20
        red=-25
        green=-25
        sound=ambient/morning.ogg
    [/time]
#enddef

#define MORNING_CLOUDY_BRIGHT
    [time]
        id=morning_cloudy_bright
        name= _ "Morning"
        image=misc/tod-schedule-cloudy.png~CROP(126,0,125,39)~BLIT(misc/tod-bright.png)
        red=-5
        green=-5
        lawful_bonus=25
    [/time]
#enddef

#define MIDDAY_CLOUDY
    [time]
        id=midday_cloudy
        name= _ "Midday"
        image=misc/time-schedules/tod-schedule-24hrs.png~CROP(0,39,125,39)
        image=misc/tod-schedule-cloudy.png~CROP(126,0,125,39)
        lawful_bonus=20
    [/time]
#enddef

#define AFTERNOON_CLOUDY_BRIGHT
    [time]
        id=afternoon_cloudy_bright
        name= _ "Afternoon"
        image=misc/tod-schedule-cloudy.png~CROP(256,0,125,39)~BLIT(misc/tod-bright.png)
        lawful_bonus=25
    [/time]
#enddef

#define DUSK_CLOUDY_BRIGHT
    [time]
        id=dusk_cloudy_bright
        name= _ "Dusk"
        image=misc/tod-schedule-cloudy.png~CROP(0,40,125,39)~BLIT(misc/tod-bright.png)
        lawful_bonus=20
        green=-25
        blue=-25
        sound=ambient/night.ogg
    [/time]
#enddef

#define FIRST_WATCH_CLOUDY_BRIGHT
    [time]
        id=first_watch_cloudy_bright
        name= _ "First Watch"
        image=misc/tod-schedule-cloudy.png~CROP(126,40,125,39)~BLIT(misc/tod-bright.png)
        lawful_bonus=-10
        red=-50
        green=-40
        blue=-10
    [/time]
#enddef

#define SECOND_WATCH_CLOUDY_BRIGHT
    [time]
        id=second_watch_cloudy_bright
        name= _ "Second Watch"
        image=misc/tod-schedule-cloudy.png~CROP(256,40,125,39)~BLIT(misc/tod-bright.png)
        lawful_bonus=-10
        red=-55
        green=-45
        blue=-10
    [/time]
#enddef
