#textdomain wesnoth-TGA
#define ABILITY_TRANSPORT_GOBO
    [dummy]
        id=transport_gobo
        name= _ "transport"
#		description= _ "This unit transports 3 goblin spearmen whom he can unload anywhere he wants (currently incomplete), also does that on death, but then the spawned units only have some of their health (works). the spawned goblins recieve 1/3 of the transport's former exp. (warning: sometimes the ability doesn't work properly, spawning more units than it should.)"
		description= _ "This unit transports 3 goblin spearmen who come out when the transport dies, but then they spawn with only some of their health. the spawned goblins recieve 1/3 of the transport's former exp. (warning: sometimes the ability doesn't work properly, spawning more units than it should.)"
    [/dummy]
#enddef
#define ABILITY_TRANSPORT_GOBO2
    [dummy]
        id=transport_gobo2
        name= _ "transport"
#		description= _ "This unit transports 6 goblin spearmen whom he can unload anywhere he wants (currently incomplete), also does that on death (works), but then the spawned units only have some of their health. the spawned goblins recieve 1/3 of the transport's former exp. (warning: sometimes the ability doesn't work properly, spawning more units than it should.)"
		description= _ "This unit transports 6 goblin spearmen who come out when the transport dies, but then they spawn with only some of their health. the spawned goblins recieve 1/3 of the transport's former exp. (warning: sometimes the ability doesn't work properly, spawning more units than it should.)"
    [/dummy]
#enddef
#define ABILITY_TRANSPORT_ZOMBIE
    [dummy]
        id=transport_zombie
        name= _ "transport"
#		description= _ "This unit transports 3 goblin spearmen whom he can unload anywhere he wants (currently incomplete), also does that on death, but then the spawned units only have some of their health (works). the spawned goblins recieve 1/3 of the transport's former exp. (warning: sometimes the ability doesn't work properly, spawning more units than it should.)"
		description= _ "This unit transports 3 walking corpses who come out when the transport dies, but then they spawn with only some of their health. the spawned goblins recieve 1/3 of the transport's former exp. (warning: sometimes the ability doesn't work properly, spawning more units than it should.)"
    [/dummy]
#enddef
#define PLACE_DEPLOY_UNIT TYPE HP
        [unit]
            type={TYPE}
            side=$transport.side
            x,y=$transport.x,$transport.y
            experience=$transport.experience
            hitpoints=${HP}
            random_traits=yes
        [/unit]
#enddef
#define TRANSPORT_EVENT
[event]
    name=recruit,side turn
#    [if]
#        [have_unit]
#            ability=transport_gobo
#        [/have_unit]
#        [then]
            {TRANSPORT_GOBO_MENU}
#        [/then]
#    [/if]
[/event]
[event]
    name=recruit,side turn
#    [if]
#        [have_unit]
#            ability=transport_gobo2
#        [/have_unit]
#        [then]
            {TRANSPORT_GOBO2_MENU}
#        [/then]
#    [/if]
[/event]
    [event]
#        name=last breath
        name=die
        first_time_only=no

                        [filter]
								ability=transport_gobo
                        [/filter]
                [store_unit]
                    [filter]
                      x,y=$x1,$y1
                    [/filter]
                    variable=transport
                    kill=yes
                [/store_unit]
#			{VARIABLE_OP hp1 rand (3,4,5,6,7,7,8,8,8,8,9,9,9,10,10,11,11,12,12)}
#			{VARIABLE_OP hp2 rand (3,4,5,6,7,7,8,8,8,8,9,9,9,10,10,11,11,12,12)}
#			{VARIABLE_OP hp3 rand (3,4,5,6,7,7,8,8,8,8,9,9,9,10,10,11,11,12,12)}
#			{VARIABLE_OP hp4 rand (3,4,5,6,7,7,8,8,8,8,9,9,9,10,10,11,11,12,12)}
			{VARIABLE_OP hp1 rand (6,7,7,7,8,8,8,8,9,9,9,10,10,10.11,11,12,12,13,14)}
			{VARIABLE_OP hp2 rand (6,7,7,7,8,8,8,8,9,9,9,10,10,10.11,11,12,12,13,14)}
			{VARIABLE_OP hp3 rand (6,7,7,7,8,8,8,8,9,9,9,10,10,10.11,11,12,12,13,14)}
			{VARIABLE_OP hp4 rand (6,7,7,7,8,8,8,8,9,9,9,10,10,10.11,11,12,12,13,14)}
	    [set_variable]
		name=transport.experience
		multiply=0.33
	    [/set_variable]
#ifndef MULTIPLAYER
        {PLACE_DEPLOY_UNIT "Goblin Spearman" hp1}
        {PLACE_DEPLOY_UNIT "Goblin Spearman" hp2}
        {PLACE_DEPLOY_UNIT "Goblin Spearman" hp3}
        {PLACE_DEPLOY_UNIT "Goblin Spearman" hp4}
#endif
#ifdef MULTIPLAYER
        {PLACE_DEPLOY_UNIT "TGA Goblin Spearman" hp1}
        {PLACE_DEPLOY_UNIT "TGA Goblin Spearman" hp2}
        {PLACE_DEPLOY_UNIT "TGA Goblin Spearman" hp3}
        {PLACE_DEPLOY_UNIT "TGA Goblin Spearman" hp4}
#endif
#the fourth one is there because we need one extra since the first one dissappears


                # drain moves ? attacks ? do whatever you want here.
#                {VARIABLE transport.moves 0}
#                {VARIABLE transport.attacks_left 0}

                # note that if more than one unit was adjacent the first stored is modified and all others just stay where they were
                {FOREACH transport i}
                    [unstore_unit]
                        variable=transport[$i]
                    [/unstore_unit]
                {NEXT i}

#                [redraw]
#                    clear_shroud=yes
#                [/redraw]
                {CLEAR_VARIABLE transport}
                {CLEAR_VARIABLE hp1}
                {CLEAR_VARIABLE hp2}
                {CLEAR_VARIABLE hp3}
                {CLEAR_VARIABLE hp4}
    [/event]
    [event]
#        name=last breath
        name=die
        first_time_only=no

                        [filter]
								ability=transport_gobo2
                        [/filter]
                [store_unit]
                    [filter]
                      x,y=$x1,$y1
                    [/filter]
                    variable=transport
                    kill=yes
                [/store_unit]
			{VARIABLE_OP hp1 rand (6,7,7,7,8,8,8,8,9,9,9,10,10,10.11,11,12,12,13,14)}
			{VARIABLE_OP hp2 rand (6,7,7,7,8,8,8,8,9,9,9,10,10,10.11,11,12,12,13,14)}
			{VARIABLE_OP hp3 rand (6,7,7,7,8,8,8,8,9,9,9,10,10,10.11,11,12,12,13,14)}
			{VARIABLE_OP hp4 rand (6,7,7,7,8,8,8,8,9,9,9,10,10,10.11,11,12,12,13,14)}
			{VARIABLE_OP hp5 rand (6,7,7,7,8,8,8,8,9,9,9,10,10,10.11,11,12,12,13,14)}
			{VARIABLE_OP hp6 rand (6,7,7,7,8,8,8,8,9,9,9,10,10,10.11,11,12,12,13,14)}
			{VARIABLE_OP hp7 rand (6,7,7,7,8,8,8,8,9,9,9,10,10,10.11,11,12,12,13,14)}
	    [set_variable]
		name=transport.experience
		multiply=0.33
	    [/set_variable]
#ifndef MULTIPLAYER
        {PLACE_DEPLOY_UNIT "Goblin Spearman" hp1}
        {PLACE_DEPLOY_UNIT "Goblin Spearman" hp2}
        {PLACE_DEPLOY_UNIT "Goblin Spearman" hp3}
        {PLACE_DEPLOY_UNIT "Goblin Spearman" hp4}
        {PLACE_DEPLOY_UNIT "Goblin Spearman" hp5}
        {PLACE_DEPLOY_UNIT "Goblin Spearman" hp6}
        {PLACE_DEPLOY_UNIT "Goblin Spearman" hp7}
#endif
#ifdef MULTIPLAYER
        {PLACE_DEPLOY_UNIT "TGA Goblin Spearman" hp1}
        {PLACE_DEPLOY_UNIT "TGA Goblin Spearman" hp2}
        {PLACE_DEPLOY_UNIT "TGA Goblin Spearman" hp3}
        {PLACE_DEPLOY_UNIT "TGA Goblin Spearman" hp4}
        {PLACE_DEPLOY_UNIT "TGA Goblin Spearman" hp5}
        {PLACE_DEPLOY_UNIT "TGA Goblin Spearman" hp6}
        {PLACE_DEPLOY_UNIT "TGA Goblin Spearman" hp7}
#endif


                # drain moves ? attacks ? do whatever you want here.
#                {VARIABLE transport.moves 0}
#                {VARIABLE transport.attacks_left 0}

                # note that if more than one unit was adjacent the first stored is modified and all others just stay where they were
                {FOREACH transport i}
                    [unstore_unit]
                        variable=transport[$i]
                    [/unstore_unit]
                {NEXT i}

#                [redraw]
#                    clear_shroud=yes
#                [/redraw]
                {CLEAR_VARIABLE transport}
                {CLEAR_VARIABLE hp1}
                {CLEAR_VARIABLE hp2}
                {CLEAR_VARIABLE hp3}
                {CLEAR_VARIABLE hp4}
                {CLEAR_VARIABLE hp5}
                {CLEAR_VARIABLE hp6}
                {CLEAR_VARIABLE hp7}
    [/event]
#enddef
#define TRANSPORT_GOBO_MENU

    [set_menu_item]
        id=deploy_gobo_menu
        image=misc/gobo_option.png
        description= _ "deploy goblin spearmen"
#        [show_if]
#        [/show_if]

        [filter_location]
            [filter]
                ability=transport_gobo
                side=$side_number
            [/filter]
        [/filter_location]
        [command]
                [store_unit]
                    [filter]
                      x,y=$x1,$y1
                    [/filter]
                    variable=transport
                    kill=yes
                [/store_unit]
			{VARIABLE_OP hp1 rand (15,16,17,18)}
			{VARIABLE_OP hp2 rand (15,16,17,18)}
			{VARIABLE_OP hp3 rand (15,16,17,18)}
			{VARIABLE_OP hp4 rand (15,16,17,18)}
	    [set_variable]
		name=transport.experience
		multiply=0.33
	    [/set_variable]
#ifndef MULTIPLAYER
        {PLACE_DEPLOY_UNIT "Goblin Spearman" hp1}
        {PLACE_DEPLOY_UNIT "Goblin Spearman" hp2}
        {PLACE_DEPLOY_UNIT "Goblin Spearman" hp3}
        {PLACE_DEPLOY_UNIT "Goblin Spearman" hp4}
#endif
#ifdef MULTIPLAYER
        {PLACE_DEPLOY_UNIT "TGA Goblin Spearman" hp1}
        {PLACE_DEPLOY_UNIT "TGA Goblin Spearman" hp2}
        {PLACE_DEPLOY_UNIT "TGA Goblin Spearman" hp3}
        {PLACE_DEPLOY_UNIT "TGA Goblin Spearman" hp4}
#endif
#the fourth one is there because we need one extra since the first one dissappears


                # drain moves ? attacks ? do whatever you want here.
#                {VARIABLE transport.moves 0}
#                {VARIABLE transport.attacks_left 0}

                # note that if more than one unit was adjacent the first stored is modified and all others just stay where they were
                {FOREACH transport i}
                    [unstore_unit]
                        variable=transport[$i]
                    [/unstore_unit]
                                {TRANSFORM_UNIT x,y=$x1,$y1 Wolf}
                {NEXT i}

#                [redraw]
#                    clear_shroud=yes
#                [/redraw]
                {CLEAR_VARIABLE transport}
                {CLEAR_VARIABLE hp1}
                {CLEAR_VARIABLE hp2}
                {CLEAR_VARIABLE hp3}
                {CLEAR_VARIABLE hp4}
        [/command]
    [/set_menu_item]
#enddef
#define TRANSPORT_GOBO2_MENU

    [set_menu_item]
        id=deploy_gobo2_menu
        image=misc/gobo_option.png
        description= _ "deploy goblin spearmen"
#        [show_if]
#        [have_unit]
#            [filter]
#                ability=transport_gobo2
#                side=$side_number
#            [/filter]
#        [/have_unit]
#        [/show_if]

        [filter_location]
            [filter]
                ability=transport_gobo2
                side=$side_number
            [/filter]
        [/filter_location]
        [command]
                [store_unit]
                    [filter]
                      x,y=$x1,$y1
                    [/filter]
                    variable=transport
                    kill=yes
                [/store_unit]
			{VARIABLE_OP hp1 rand (15,16,17,18)}
			{VARIABLE_OP hp2 rand (15,16,17,18)}
			{VARIABLE_OP hp3 rand (15,16,17,18)}
			{VARIABLE_OP hp4 rand (15,16,17,18)}
			{VARIABLE_OP hp5 rand (15,16,17,18)}
			{VARIABLE_OP hp6 rand (15,16,17,18)}
			{VARIABLE_OP hp7 rand (15,16,17,18)}
	    [set_variable]
		name=transport.experience
		multiply=0.33
	    [/set_variable]
#ifndef MULTIPLAYER
        {PLACE_DEPLOY_UNIT "Goblin Spearman" hp1}
        {PLACE_DEPLOY_UNIT "Goblin Spearman" hp2}
        {PLACE_DEPLOY_UNIT "Goblin Spearman" hp3}
        {PLACE_DEPLOY_UNIT "Goblin Spearman" hp4}
        {PLACE_DEPLOY_UNIT "Goblin Spearman" hp5}
        {PLACE_DEPLOY_UNIT "Goblin Spearman" hp6}
        {PLACE_DEPLOY_UNIT "Goblin Spearman" hp7}
#endif
#ifdef MULTIPLAYER
        {PLACE_DEPLOY_UNIT "TGA Goblin Spearman" hp1}
        {PLACE_DEPLOY_UNIT "TGA Goblin Spearman" hp2}
        {PLACE_DEPLOY_UNIT "TGA Goblin Spearman" hp3}
        {PLACE_DEPLOY_UNIT "TGA Goblin Spearman" hp4}
        {PLACE_DEPLOY_UNIT "TGA Goblin Spearman" hp5}
        {PLACE_DEPLOY_UNIT "TGA Goblin Spearman" hp6}
        {PLACE_DEPLOY_UNIT "TGA Goblin Spearman" hp7}
#endif


                # drain moves ? attacks ? do whatever you want here.
#                {VARIABLE transport.moves 0}
#                {VARIABLE transport.attacks_left 0}

                # note that if more than one unit was adjacent the first stored is modified and all others just stay where they were
                {FOREACH transport i}
                    [unstore_unit]
                        variable=transport[$i]
                    [/unstore_unit]
                    {TRANSFORM_UNIT x,y=$x1,$y1 "Great Wolf"}
                {NEXT i}

#                [redraw]
#                    clear_shroud=yes
#                [/redraw]
                {CLEAR_VARIABLE transport}
                {CLEAR_VARIABLE hp1}
                {CLEAR_VARIABLE hp2}
                {CLEAR_VARIABLE hp3}
                {CLEAR_VARIABLE hp4}
                {CLEAR_VARIABLE hp5}
                {CLEAR_VARIABLE hp6}
                {CLEAR_VARIABLE hp7}
        [/command]
    [/set_menu_item]
#enddef
 
