#textdomain wesnoth-TGA
#define ABILITY_VISION NAME RAD
    [dummy]
        id={NAME}
        name= _ "{NAME}"
	description= _ "this unit can detect invisible enemies in a radius of {RAD} hexes from himself when moving"
    [/dummy]
    [/abilities]
    [event]
#        name=moveto
        first_time_only=no
                        [filter]
			     ability={NAME}
                        [/filter]
        [store_unit]
            [filter]
    [filter_side]
       [not]
        [allied_with]
          x,y=$x1,$y1
        [/allied_with]
       [/not]
    [/filter_side]
                            [filter_location]
			     x,y=$x1,$y1
                             radius=4
                            [/filter_location]           
            [/filter]
            variable=unitsstored
            kill=no
        [/store_unit]
        {VARIABLE unitsstored.status.hidden no}
            [unstore_unit]
                variable=unitsstored
                find_vacant=no
            [/unstore_unit]
    [/event]
    [+abilities]
#enddef
 
