#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Merfolk
    name= _"Merfolk"
    image="units/merfolk/entangler.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=TGA Merman Javelineer,TGA Merman Triton,TGA Merman Hoplite,TGA Merman Entangler,Mermaid Diviner,Mermaid Siren
    random_leader=TGA Merman Javelineer,TGA Merman Triton,TGA Merman Hoplite,TGA Merman Entangleer,Mermaid Diviner,Mermaid Siren,
    recruit=TGA Merman Spearman,TGA Merman Netcaster,Mermaid Priestess,Mermaid Enchantress,Merman Boxer,TGA Merman Fighter,TGA Merman Warrior,Merman Storm Caller,TGA Merman Hunter,TGA Mermaid Initiate,Merman Citizen,Merman Brawler
    terrain_liked=Ff, Fa, Ss, Ww
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,healer,scout
    [/ai]
[/multiplayer_side]
