#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Nagas
    name= _"Nagas"
    image="units/nagas/lieutenant.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=TGA Naga Warrior,Naga Lieutenant,Naga Marksman,White Nagini,Naga Guardian,Naga Stalker,Nagini Dowser
    random_leader=TGA Naga Warrior,Naga Lieutenant,Naga Marksman,White Nagini,Naga Guardian,Naga Stalker,Nagini Dowser
    recruit=TGA Naga Fighter,Naga Hunter,Naga Guardian,Nagini Maiden
    terrain_liked=Wo, Ww, St
    [ai]
        recruitment_pattern=mixed fighter,fighter,fighter,archer,fighter
    [/ai]
[/multiplayer_side]
