#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Sea_Monsters
    name= _"Sea Monsters"
    image="units/cuttlefish/kraken.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=IQ Kraken,IQ Globster,IQ Trench Hunter,IQ Magma Squid,IQ Gargantuan Clam
    random_leader=IQ Kraken,IQ Globster,IQ Trench Hunter,IQ Magma Squid,IQ Gargantuan Clam
    recruit=IQ Cuttlefish,IQ Markscuttlefish,IQ Lava Squid,IQ Giant Clam,IQ Double Tentacle,IQ Mystic Tentacle,IQ Young Cuttlefish,IQ Fire Squid,IQ Tentacle,IQ Magic Tentacle,IQ Clam
    terrain_liked=Wo, Ww, St
    [ai]
        recruitment_pattern=mixed fighter,fighter,fighter,archer,fighter
    [/ai]
[/multiplayer_side]
