#textdomain wesnoth-units
[unit_type]
    id=Prince of Darkness arcane
    name= _ "Prince of Darkness"
    race=unknown
    {TRAIT_SPIRIT}
    upkeep=0
    image="units/otherworldly/deathlord-magic1.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=150
    movement_type=undeadspirit
    movement=6
    experience=300
    level=7
    alignment=chaotic
    advances_to=null
    hide_help=true
#    do_not_list=yes
    cost=120
    {AMLA_DEFAULT}
    usage=mixed fighter
    description= _ "Ancient nobles of demonkind are among the scariest visitors from Inferno. Their vast power and number of followers allow them to destroy armies, bringing death and destruction whenever they come. Fortunately for mankind, they live in Inferno and rarely get out of there. However, some of them have made spells to summon them are known and sometimes come into the hands of the foolish..."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_PLAGUE}+{SPECIAL_NOTES_DRAIN}+{SPECIAL_NOTES_REGENERATES}
    die_sound={SOUND_LIST:HUMAN_OLD_DIE}
     [abilities]
#        {ABILITY_AURA (ROLThe Prince Of Darkness)}
	{ABILITY_STRENGTH_OF_DARKNESS_24}
	{ABILITY_SKIRMISHER}
	{ABILITY_IMMORTAL 40 darkprince3}
    [/abilities]
    [resistance]
	arcane=100
	blade=80
	pierce=80
	fire=50
	cold=50
	impact=80
    [/resistance]
    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-evil.png
        type=blade
        range=melee
        damage=15
        number=4
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
	    {WEAPON_SPECIAL_COUNTER}
	    {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]

    [attack]
        name=hellbent tide
        description= _ "hellbent tide"
        icon=attacks/hellbent-tide.png
        type=impact
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=14
        number=8
    [/attack]
    [attack]
        name=arcane rage
        description=_"arcane rage"
        type=arcane
        [specials]
            {WEAPON_SPECIAL_FOCUSED}
    [dummy]
        id=area of effect
        name="area of effect"
        name_inactive="area of effect"
        description= _ "If this attack hits, it will do 33% of the original damage to all units in a 1 tile radius."
    [/dummy]
        [/specials]
        range=ranged
        damage=22
        number=5
        icon=attacks/air-burst-magenta-2.png
    [/attack]
    [defend]
        start_time=-274
        [frame]
            image=units/otherworldly/deathlord-defend1.png:1,units/otherworldly/deathlord-defend2.png:125,units/otherworldly/deathlord-defend3.png:125,units/otherworldly/deathlord-defend4.png:125,units/otherworldly/deathlord-defend5.png:125,units/otherworldly/deathlord-defend6.png:125,units/otherworldly/deathlord-defend1.png:1
        [/frame]
        [if]
            hit_sound_start_time=-25
            hits=hit
            [hit_sound_frame]
                sound={SOUND_LIST:ORC_HIT}
            [/hit_sound_frame]
        [/if]
    [/defend]

    [attack_anim]
        [filter_attack]
            name=hellbent tide
        [/filter_attack]

        start_time=-600

        {STORMKIND_ATTACK_HALO}

        halo1_halo_mod="~CS(-64,-128,0)"
        halo2_halo_mod="~CS(-32,-64,-32)"
        halo3_halo_mod="~CS(-64,-128,0)"
        #halo3_halo_mod="~CS(0,-128,-128)"

        missile_start_time=-400
        missile_halo="halo/elven/druid-healing[1~5].png:70,halo/elven/druid-healing6.png~O(0.75):70,halo/elven/druid-healing7.png~O(0.5):70,halo/elven/druid-healing8.png~O(0.25):70"
        missile_halo_mod="~CS(64,0,64)"
        missile_halo_x=0
        missile_halo_y=-10
        missile_offset="0.0~1.25"
        missile_alpha="1.0:480,1.0~0.0:16"

        [missile_frame]
            image="projectiles/icemissile-n-[1~7].png:80"
            image_diagonal="projectiles/icemissile-ne-[1~7].png:80"
        [/missile_frame]

        [frame]
            image="units/otherworldly/deathlord-magic2.png:600"
        [/frame]

        {SOUND:HIT_AND_MISS hellbent-1.ogg magic-faeriefire-miss.ogg -525}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=arcane rage
        [/filter_attack]

        aura_start_time=-450
        aura_auto_vflip=false
        aura_halo_mod="~CS(0,-255,-196)~O(0.5)"
        aura_halo_x,aura_halo_y=0,10
        aura_offset=0.0~0.1
        [aura_frame]
            halo="halo/elven/druid-healing[1~8].png:75"
        [/aura_frame]

        beam_start_time=-500
        beam_auto_vflip=no
        beam_offset=0.0
        beam_halo_mod="~O(0.4)"
        [beam_frame]
            halo="halo/darkness-beam-[1~7,6~1].png:[30*6,130,70*6]"
        [/beam_frame]

        missile_image_mod="~CS(0,-255,-128)~B(120)~SCALE(120,120)"
        missile_halo_mod="~CS(0,-255,-128)~B(120)~SCALE(120,120)"
        {MISSILE_FRAME_FAERIE_FIRE}

        start_time=-500
        halo_mod="~CS(0,-255,-128)~B(120)"
        halo_x,halo_y=8,2
        [frame]
            image="units/otherworldly/deathlord-magic1.png:50"
        [/frame]
        [frame]
            image="units/otherworldly/deathlord-magic2.png"
            halo="halo/elven/faerie-fire-halo[1~7].png:75"
        [/frame]

        {SOUND:HIT_AND_MISS magic-faeriefire.ogg magic-faeriefire-miss.ogg -450}
    [/attack_anim]
#define DARKPRINCE_NOCTUM_ANIMATION _BOLT_N1 _BOLT_N2
    [attack_anim]
        [filter_attack]
            name=shadow storm
        [/filter_attack]
        start_time=-400

        {NOCTUM_BEAM_ANIMATION}

        {NOCTUM_BOLT_ANIMATION {_BOLT_N1} {_BOLT_N2} }
        [sound_frame]
           sound={SOUND_LIST:HOLY}
        [/sound_frame]
        [frame]
            begin=-500
            end=-400
            offset=0
            image="units/otherworldly/deathlord-magic1.png"
        [/frame]
        [frame]
            begin=-400
            end=-300
            offset=0
            image="units/otherworldly/deathlord-magic2.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-300
                end=-200
                offset=0
                image="units/otherworldly/deathlord-magic2.png"
                sound=magic-dark-big.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-300
                end=-200
                offset=0
                image="units/otherworldly/deathlord-magic2.png"
                sound=magic-dark-big-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-200
            end=-100
            offset=0
            image="units/otherworldly/deathlord-magic2.png"
        [/frame]
        [frame]
            begin=-100
            end=0
            offset=0
            image="units/otherworldly/deathlord-magic1.png"
        [/frame]
    [/attack_anim]
#enddef
    {DARKPRINCE_NOCTUM_ANIMATION 1 2}
    {DARKPRINCE_NOCTUM_ANIMATION 2 1}
    {DARKPRINCE_NOCTUM_ANIMATION 2 3}
    {DARKPRINCE_NOCTUM_ANIMATION 3 2}
    {DARKPRINCE_NOCTUM_ANIMATION 1 3}
    {DARKPRINCE_NOCTUM_ANIMATION 3 1}

    {BLOOD_STORM_ANIMATION 1 2}
    {BLOOD_STORM_ANIMATION 2 1}
    {BLOOD_STORM_ANIMATION 2 3}
    {BLOOD_STORM_ANIMATION 3 2}
    {BLOOD_STORM_ANIMATION 1 3}
    {BLOOD_STORM_ANIMATION 3 1}

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/otherworldly/deathlord-sword1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=150
                image="units/otherworldly/deathlord-sword2.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=150
                image="units/otherworldly/deathlord-sword2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=150
            end=200
            image="units/otherworldly/deathlord-sword1.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/otherworldly/deathlord-sword2-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=150
                image="units/otherworldly/deathlord-sword2-2.png"
                sound=dagger-swish.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=150
                image="units/otherworldly/deathlord-sword2-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
    [standing_anim]
        submerge=0.01
        [frame]
            duration=400
            image="units/otherworldly/deathlord-float1.png"
        [/frame]
        [frame]
            duration=400
            image="units/otherworldly/deathlord-float2.png"
        [/frame]
        [frame]
            duration=400
            image="units/otherworldly/deathlord-float3.png"
        [/frame]
        [frame]
            duration=400
            image="units/otherworldly/deathlord-float2.png"
        [/frame]
    [/standing_anim]
    [movement_anim]
        submerge=0.01
        [frame]
            duration=400
            image="units/otherworldly/deathlord-float1.png"
        [/frame]
        [frame]
            duration=400
            image="units/otherworldly/deathlord-float2.png"
        [/frame]
        [frame]
            duration=400
            image="units/otherworldly/deathlord-float3.png"
        [/frame]
        [frame]
            duration=400
            image="units/otherworldly/deathlord-float2.png"
        [/frame]
    [/movement_anim]
    [event]
        name=attacker hits
        first_time_only=no
        [filter_attack]
            special=area of effect
        [/filter_attack]
        [set_variable]
          name=weapon.damage
          multiply=0.33
        [/set_variable]
        [harm_unit]
            [filter]
                [filter_adjacent]
                    x,y=$x2,$y2
                [/filter_adjacent]
                [filter_side]
                    [enemy_of]
                        side=$unit.side
                    [/enemy_of]
                [/filter_side]
            [/filter]
            [filter_second]
                x,y=$x1,$y1
            [/filter_second]
            amount=$weapon.damage
            alignment=$unit.alignment
            damage_type=$weapon.type
            experience=no
            kill=yes
            fire_event=yes
	    animate=no
        [/harm_unit] 
    [/event]
    [event]
        name=defender hits
        first_time_only=no
        [filter_second_attack]
            special=area of effect
        [/filter_second_attack]
        [set_variable]
          name=second_weapon.damage
          multiply=0.33
        [/set_variable]
        [harm_unit]
            [filter]
                [filter_adjacent]
                    x,y=$x2,$y2
                [/filter_adjacent]
                [filter_side]
                    [enemy_of]
                        side=$unit.side
                    [/enemy_of]
                [/filter_side]
            [/filter]
            [filter_second]
                x,y=$x2,$y2
            [/filter_second]
            amount=$second_weapon.damage
            alignment=$second_unit.alignment
            damage_type=$second_weapon.type
            experience=no
            kill=yes
            fire_event=yes
	    animate=no
        [/harm_unit] 
    [/event]
[/unit_type]