#textdomain wesnoth-units
#ifdef MULTIPLAYER
[unit_type]
    id=TGA Orcish Grunt
    [base_unit]
        id=Orcish Grunt
    [/base_unit]
    advances_to=TGA Orcish Warrior,Orcish Fireline
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Orcish Warrior
    [base_unit]
        id=Orcish Warrior
    [/base_unit]
    advances_to=TGA Orcish Warlord
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Orcish Warlord
    [base_unit]
        id=Orcish Warlord
    [/base_unit]
    advances_to=Orcish Overlord
    experience=180
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Orcish Archer
    [base_unit]
        id=Orcish Archer
    [/base_unit]
    advances_to=Orcish Crossbowman,Orcish Flamethrower
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Orcish Assassin
    [base_unit]
        id=Orcish Assassin
    [/base_unit]
    advances_to=TGA Orcish Slayer
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Orcish Slayer
    [base_unit]
        id=Orcish Slayer
    [/base_unit]
    advances_to=TGA Orcish Nightblade
    experience=75
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Orcish Leader
    [base_unit]
        id=Orcish Leader
    [/base_unit]
    advances_to=Orcish Ruler
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Orcish Ruler
    [base_unit]
        id=Orcish Ruler
    [/base_unit]
    advances_to=Orcish Sovereign
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Orcish Sovereign
    [base_unit]
        id=Orcish Sovereign
    [/base_unit]
    advances_to=Orcish Emperor
    experience=220
    hide_help=false
    do_not_list=no
[/unit_type]
#endif