#textdomain wesnoth-units
[unit_type]
    id=Orcish Berserker
    name="Orcish Berserker"
    race=orc
    image="units/orcs/orcishberserker.png"
    ellipse="misc/ellipse"
    hitpoints=34
    movement_type=orcishfoot
    movement=5
    experience=42
    level=1
    alignment=chaotic
    advances_to=Orcish Blood Warrior,Orcish Rampage
    cost=19
    usage=fighter
    description="."+{SPECIAL_NOTES}+{SPECIAL_NOTES_BERSERK}
    die_sound={SOUND_LIST:ORC_DIE}
    {DEFENSE_ANIM "units/orcs/orcishberserker-blade-1.png" "units/orcs/orcishberserker.png" {SOUND_LIST:ORC_HIT} }
#    [resistance]
#       blade=90
#       impact=90
#       pierce=90
#    [/resistance]
    [attack]
        name=berserker frenzy
        description="berserker frenzy"
        icon=attacks/claws.png
        type=blade
        [specials]
            {WEAPON_SPECIAL_BERSERK}
        [/specials]
        range=melee
        damage=6
        number=3
#        defense_weight=0
    [/attack]
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        [if]
            [filter_second_attack]
            [/filter_second_attack]
            value_second=1
            ### all units with any melee attack (because the dwarf's attack is melee) will pass the above filter, and execute this block instead of the following block

            start_time=-300
            offset=0.0~-0.15:20,-0.15~0.1:30,0.1~0.5:190,0.5~0.6:30,0.6~0.6:30,0.6~0.15:100,0.15~0.0:30
        [/if]
        [else]
            ### when a unit with no melee attack is attacked by a berzerk unit, they are highly likely to die.  We play an easter egg when this happens - the zerk looks at the victim for a moment, and then lets out a diabolical laugh.

            start_time=-3640
            offset=0.0~0.0:3400,0.0~-0.15:20,-0.15~0.1:30,0.1~0.5:190,0.5~0.6:30,0.6~0.6:30,0.6~0.15:100,0.15~0.0:30

            value_second=1
            [frame]
                image="units/orcs/orcishberserker.png:200"
            [/frame]
            [frame]
                image="units/orcs/orcishberserker-laugh-1.png:400"
            [/frame]
            [frame]
                image="units/orcs/orcishberserker-laugh-[2,1,2,1,2,1,2].png:100"
                sound={SOUND_LIST:ORC_HIT}
            [/frame]
            [frame]
                image="units/orcs/orcishberserker-laugh-[1,2,1,2,1,2,1].png:100"
                sound={SOUND_LIST:ORC_DIE}
            [/frame]
        [/else]
        [else]
            start_time=-300
            [frame]
                image="units/orcs/orcishberserker.png:30"
            [/frame]
        [/else]

        [frame]
            begin=-300
            end=-150
            image="units/orcs/orcishberserker-blade-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=0
                image="units/orcs/orcishberserker-blade-2.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
            [frame]
                begin=0
                end=150
                image="units/orcs/orcishberserker-blade-3.png"
            [/frame]
        [/if]
        [else]
            hits=miss
            [frame]
                begin=-150
                end=0
                image="units/orcs/orcishberserker-blade-1.png"
                sound={SOUND_LIST:MISS}
            [/frame]
            [frame]
                begin=0
                end=150
                image="units/orcs/orcishberserker-blade-2.png"
            [/frame]
        [/else]
        [frame]
            begin=150
            end=300
            image="units/orcs/orcishberserker-blade-3.png"
        [/frame]
    [/attack_anim]
    [idle_anim]
        start_time=0
        [frame]
            duration=150
            image="units/orcs/orcishberserker-blade-1.png"
        [/frame]
        [frame]
            duration=150
            image="units/orcs/orcishberserker-blade-2.png"
        [/frame]
        [frame]
            duration=150
            image="units/orcs/orcishberserker-blade-3.png"
        [/frame]
        [frame]
            duration=150
            image="units/orcs/orcishberserker-blade-1.png"
        [/frame]
        [frame]
            duration=150
            image="units/orcs/orcishberserker-blade-2.png"
        [/frame]
        [frame]
            duration=150
            image="units/orcs/orcishberserker-blade-3.png"
        [/frame]
        [frame]
            duration=150
            image="units/orcs/orcishberserker-blade-1.png"
        [/frame]
        [frame]
            duration=150
            image="units/orcs/orcishberserker-blade-2.png"
        [/frame]
        [frame]
            duration=150
            image="units/orcs/orcishberserker-blade-3.png"
        [/frame]
    [/idle_anim]
[/unit_type]
