#textdomain wesnoth-units
[unit_type]
    id=Orcish Blood Warrior
    name="Orcish Blood Warrior"
    race=orc
    image="units/orcs/bloodwarrior.png"
    hitpoints=45
    movement_type=orcishfoot
    movement=5
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    cost=38
    {AMLA_DEFAULT}
    usage=fighter
    description= _ "."+{SPECIAL_NOTES}+{SPECIAL_NOTES_BERSERK}
    die_sound={SOUND_LIST:ORC_HIT}
    {DEFENSE_ANIM "units/orcs/bloodwarrior-blade-1.png" "units/orcs/bloodwarrior.png" {SOUND_LIST:ORC_HIT} }
    [abilities]
        {ABILITY_FURY}
    [/abilities]
#    [resistance]
#       blade=90
#       impact=90
#       pierce=90
#    [/resistance]
    [attack]
        name=berserker frenzy
        description="berserker frenzy"
        icon=attacks/claws.png
        type=blade
        [specials]
            {WEAPON_SPECIAL_BERSERK}
        [/specials]
        range=melee
        damage=9
        number=3
#        defense_weight=0
    [/attack]
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        [frame]
            begin=-300
            end=-150
            image="units/orcs/bloodwarrior-blade-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=0
                image="units/orcs/bloodwarrior-blade-2.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
            [frame]
                begin=0
                end=150
                image="units/orcs/bloodwarrior-blade-3.png"
            [/frame]
        [/if]
        [else]
            hits=miss
            [frame]
                begin=-150
                end=0
                image="units/orcs/bloodwarrior-blade-1.png"
                sound={SOUND_LIST:MISS}
            [/frame]
            [frame]
                begin=0
                end=150
                image="units/orcs/bloodwarrior-blade-2.png"
            [/frame]
        [/else]
        [frame]
            begin=150
            end=300
            image="units/orcs/bloodwarrior-blade-3.png"
        [/frame]
    [/attack_anim]
    [idle_anim]
        start_time=0
        [frame]
            duration=150
            image="units/orcs/bloodwarrior-blade-1.png"
        [/frame]
        [frame]
            duration=150
            image="units/orcs/bloodwarrior-blade-2.png"
        [/frame]
        [frame]
            duration=150
            image="units/orcs/bloodwarrior-blade-3.png"
        [/frame]
        [frame]
            duration=150
            image="units/orcs/bloodwarrior-blade-1.png"
        [/frame]
        [frame]
            duration=150
            image="units/orcs/bloodwarrior-blade-2.png"
        [/frame]
        [frame]
            duration=150
            image="units/orcs/bloodwarrior-blade-3.png"
        [/frame]
        [frame]
            duration=150
            image="units/orcs/bloodwarrior-blade-1.png"
        [/frame]
        [frame]
            duration=150
            image="units/orcs/bloodwarrior-blade-2.png"
        [/frame]
        [frame]
            duration=150
            image="units/orcs/bloodwarrior-blade-3.png"
        [/frame]
    [/idle_anim]
[/unit_type]
