#textdomain wesnoth-units
[unit_type]
	id=Orcish Marine
	name= _ "Orcish Marine"
	race=orc
	image="units/orcs/orcish-marine2.png"
        profile="portraits/sea-orc.png"
	{MAGENTA_IS_THE_TEAM_COLOR}
	hitpoints=49
	movement_type=swimmer
	movement=6
	experience=100
	level=2
	alignment=chaotic
	advances_to=null
        {AMLA_DEFAULT}
	[movement_costs]
		flat=2
		forest=3
		hills=2
		mountains=4
		cave=2
		deep_water=2
	[/movement_costs]
#	[movement_costs]
#		flat=1
#		forest=2
#		hills=2
#		mountains=3
#		cave=2
#		deep_water=2
#	[/movement_costs]
#	[defense]
#		forest=50
#		hills=50
#		mountains=40
#		cave=60
#		shallow_water=50
#		deep_water=60
#		castle=40
#		village=40
#	[/defense]
	[defense]
		forest=60
		hills=60
		mountains=60
		cave=70
		shallow_water=40
		deep_water=60
		castle=50
		village=50
	[/defense]
	cost=28
	usage=fighter
	unit_description=_"Usually lacking the engineering skills to bridge rivers or moats under siege, orcish armies sometimes find themselves with no option but to attack through the water, hoping to swarm the defenders through sheer numbers. If necessary they will, according to some accounts, send wave after wave of attackers until the corpses of their fallen form a macabre causeway for their attack force to use. This is almost certainly an exaggeration, however; orcish armies often employ teams of skilled swimmers to spearhead attacks over water and form a beachhead. Although lightly equipped by necessity, orcish marines are veteran troops and highly competent fighters on land."
	die_sound={SOUND_LIST:ORC_SMALL_DIE}
	{DEFENSE_ANIM "units/orcs/orcish-marine2.png" "units/orcs/orcish-marine2.png" {SOUND_LIST:ORC_SMALL_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/sea-orc.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/sea-orc.png"
    [/portrait]
	[attack]
		name=sword
		description= _"sword"
		icon=attacks/sword-orcish.png
		type=blade
		range=melee
		damage=7
		number=4
	[/attack]
	[attack_anim]
		[filter_attack]
			name=sword
		[/filter_attack]
		[frame]
			begin=-150
			end=-100
			image="units/orcs/orcish-marine2.png"
		[/frame]
		[if]
			hits=no
			[frame]
				begin=-100
				end=100
				image="units/orcs/orcish-marine2-attack.png"
                                halo="units/orcs/orcish-marine2-swoosh.png"
  				sound={SOUND_LIST:MISS}
			[/frame]
		[/if]
		[else]
			hits=yes
			[frame]
  				begin=-100
				end=100
				image="units/orcs/orcish-marine2-attack.png"
                                halo="units/orcs/orcish-marine2-swoosh.png"
				sound={SOUND_LIST:SWORD_SWISH}
			[/frame]
		[/else]
		[frame]
			begin=100
			end=150
			image="units/orcs/orcish-marine2-attack.png"
		[/frame]
	[/attack_anim]
	[movement_anim]
        	start_time=0
                direction=s,se,sw,n,ne,nw
                terrain_type=!,*^B*,!,Chs^*,Chw^*,W*^*,S*^*,*^Vm
            [frame]
                image="units/orcs/orcish-marine2-swim1.png:150"
            [/frame]
            [frame]
                image="units/orcs/orcish-marine2-swim2.png:150"
            [/frame]
        [/movement_anim]    
	[movement_anim]
        	start_time=0
                direction=s,se,sw,n,ne,nw
            [frame]
                image="units/orcs/orcish-marine2.png:1"
            [/frame]
        [/movement_anim]    
	[standing_anim]
        	start_time=0
                terrain_type=!,*^B*,!,Chs^*,Chw^*,W*^*,S*^*,*^Vm
            [frame]
                image="units/orcs/orcish-marine2-swim1.png:1"
            [/frame]
        [/standing_anim]    
	[standing_anim]
        	start_time=0
            [frame]
                image="units/orcs/orcish-marine2.png:1"
            [/frame]
        [/standing_anim]    
[/unit_type]
