#textdomain wesnoth-Fate_of_a_Princess
[unit_type]
    id=Orcish Savage
    name= _ "Orcish Savage"
    race=orc
    image="units/southern-orcs/savage.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=62
    movement_type=orcishfoot
    movement=5
    experience=80
    level=2
    alignment=chaotic
    advances_to=Orcish Warmaster
    cost=27
    usage=fighter
    description= _ "Orcish Savages arise from a slightly different martial tradition to most orcish warriors. The majority of orcs favor swords, but the savages use a spiked mace that is just as lethal."
    die_sound={SOUND_LIST:ORC_DIE}
    {DEFENSE_ANIM "units/southern-orcs/savage-defend.png" "units/southern-orcs/savage.png" {SOUND_LIST:ORC_HIT} }
    [attack]
        name=mace
        description= _ "mace"
        icon=attacks/mace-spiked.png
        type=impact
        range=melee
        damage=10
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]
        start_time=-350
        [frame]
            image="units/southern-orcs/savage-attack-[1~3].png:150"
        [/frame]
        {SOUND:HIT_AND_MISS flail.ogg flail-miss.ogg -50}

    [/attack_anim]
[/unit_type]

