#textdomain wesnoth-Fate_of_a_Princess

[unit_type]
    id=Orcish Brute
    name= _ "Orcish Brute"
    race=orc
    image="units/southern-orcs/orc.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    {AMLA_DEFAULT}
    hitpoints=38
    movement_type=orcishfoot
    movement=5
    experience=48
    level=1
    alignment=chaotic
    advances_to=Orcish Savage
    cost=14
    usage=fighter
    description= _ "Savage and warlike, Southern Orcs form the backbone of the invading hordes. Rather than the heavy swords favored by their northern brethren, the less well-equipped southern orcs tend to use cheaper clubs, and they press their attack with a flurry of blows rather than the slower but more damaging sword-strokes used by the northerners.
Orcish society is not particularly well-suited to large-scale warfare, and the smaller tribes sometimes fall prey to better-organized forces, but their warlords learn quickly and in recent years have even started using their enemies’ tactics against them. One thing is sure: whenever the barbarian hordes come screaming for blood, there will always be orcish warriors leading the charge."
    die_sound={SOUND_LIST:ORC_DIE}
    {DEFENSE_ANIM "units/southern-orcs/orc-defend.png" "units/southern-orcs/orc.png" {SOUND_LIST:ORC_HIT} }
    [attack]
        name=club
        description=_"club"
        icon=attacks/club.png
        type=impact
        range=melee
        damage=6
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=club
        [/filter_attack]
        start_time=-300
        [frame]
            image="units/southern-orcs/orc-attack-[1~2].png:200"
        [/frame] 
        {SOUND:HIT_AND_MISS staff.wav {SOUND_LIST:MISS} -100}
   
    [/attack_anim]
[/unit_type]
