#textdomain wesnoth-units
[unit_type]
    id=Orcish Rampage
    name= _ "Orcish Rampage"
    race=orc
    image="units/orcs/rampage.png"
    ellipse="misc/ellipse"
    #    profile="portraits/orcs/grunt.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=56
    movement_type=orcishfoot
    movement=4
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=40
    usage=fighter
    description= _ "The Rampage of the southern wastelands is unusual amongst orcs. While berserker fury is not uncommon to the race, most orcs prone to bloodlust prefer to be unencumbered, meeting the enemy headlong with little armor and light weaponry. The Rampage, however, wears armor and wields a heavy warhammer. While they cannot strike as often, their endurance and relentless assault makes them terrible foes to face."+{SPECIAL_NOTES}+{SPECIAL_NOTES_BERSERK}
    die_sound={SOUND_LIST:ORC_DIE}
    {DEFENSE_ANIM "units/orcs/rampage.png" "units/orcs/rampage.png" {SOUND_LIST:ORC_HIT} }
    [resistance]
        impact=90
        pierce=90
        blade=80
    [/resistance]
    [attack]
        name=hammer
        description= _ "hammer"
        icon=attacks/hammer.png
        type=impact
        range=melee
        [specials]
        	{WEAPON_SPECIAL_BERSERK}
        [/specials]
        damage=12
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        offset=0.0~0.15:100,0.15~0.35:100,0.35~0.45:75,0.45~0.5:100,0.5:20,0.5~0.4:30,0.4~0.2:75,0.2~0.0:75
        start_time=-300
        [frame]
            duration=200
            image="units/orcs/rampage.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=75
                image="units/orcs/rampage.png"
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=75
                image="units/orcs/rampage.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=200
            image="units/orcs/rampage.png"
        [/frame]
        [frame]
            duration=100
            image="units/orcs/rampage.png"
        [/frame]
    [/attack_anim]
[/unit_type]
