#textdomain wesnoth-units
[unit_type]
    id=Orcish Pikeman
    name= _ "Orcish Pikeman"
    race=orc
    image="units/orcs/pikeman.png"
    profile="portraits/polearm.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=50
    movement_type=orcishfoot
    movement=5
    experience=90
    level=2
    alignment=chaotic
    advances_to=Orcish Vanguard
    cost=38
    usage=mixed fighter
    description= _ "Amongst orcs bows are regarded as childs weapons and those who depend upon them regarded as weaklings, however this does not apply to javelins and spears and many orcs have taken to these weapons for they have skill in the hurling of spears and they have become quite deadly with them, still these soldiers will never be regarded as warriors as orcs are fairly conformest and only the certain package can be looked upon as mighty."
    die_sound={SOUND_LIST:ORC_DIE}
    {DEFENSE_ANIM_RANGE "units/orcs/pikeman-defend.png" "units/orcs/pikeman-defend.png" {SOUND_LIST:ORC_HIT} melee}
    {DEFENSE_ANIM_RANGE "units/orcs/pikeman-range-defend.png" "units/orcs/pikeman.png" {SOUND_LIST:ORC_HIT} ranged}

    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/polearm.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/polearm.png"
    [/portrait]

    [attack]
        name=spear
        description=_"spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=8
        number=2
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack]
        name=javelin
        description=_"javelin"
        icon=attacks/javelin-human.png
        type=pierce
        range=ranged
        damage=9
        number=2
    [/attack]

    [attack_anim]
        [filter_attack]
            name=javelin
        [/filter_attack]
        missile_start_time=-150
        start_time=-250
        [missile_frame]
            duration=150
            image="projectiles/spear-n.png"
            image_diagonal="projectiles/spear-ne.png"
        [/missile_frame]
        [frame]
            image="units/orcs/pikeman-range.png:150"
            sound={SOUND_LIST:THROW}
        [/frame]
        [frame]
            image="units/orcs/pikeman-range-defend.png:150"
        [/frame]
        {SOUND:HIT spear.ogg 0}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-228
        offset="0~0.4,0.4~0"
        [frame]
            image="units/orcs/pikeman-defend.png:384"
        [/frame]

        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -64}
    [/attack_anim]
[/unit_type]
