#textdomain wesnoth-units
[unit_type]
	id=Sea Orc
	name= _ "Sea Orc"
	race=orc
	image="units/orcs/sea-orc2.png"
        profile="portraits/sea-orc.png"
	{MAGENTA_IS_THE_TEAM_COLOR}
	hitpoints=34
	movement_type=swimmer
	movement=5
	experience=30
	level=1
	alignment=chaotic
	advances_to=Orcish Marine
	[movement_costs]
		flat=2
		forest=3
		hills=2
		mountains=4
		cave=2
		deep_water=2
	[/movement_costs]
	[defense]
		forest=60
		hills=60
		mountains=60
		cave=70
		shallow_water=50
		deep_water=70
		castle=50
		village=50
	[/defense]
	cost=13
	usage=fighter
	unit_description= _ "While often viewed as inferior to their land-loving counterparts, Sea Orcs represent a great leap for all goblinoids as they have adapted to aquatic environments. With their curved swords they are competent fighters, although their lack of a ranged attack and poor defence on land do represent strategic weaknesses."
	die_sound={SOUND_LIST:ORC_SMALL_DIE}
	{DEFENSE_ANIM "units/orcs/sea-orc2-defend.png" "units/orcs/sea-orc2.png" {SOUND_LIST:ORC_SMALL_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/sea-orc.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/sea-orc.png"
    [/portrait]
	[attack]
		name=sword
		description= _"sword"
		icon=attacks/sword-orcish.png
		type=blade
		range=melee
		damage=6
		number=3
	[/attack]
	[attack_anim]
		[filter_attack]
			name=sword
		[/filter_attack]
		[frame]
			begin=-150
			end=-100
			image="units/orcs/sea-orc2.png"
		[/frame]
		[if]
			hits=no
			[frame]
				begin=-100
				end=100
				image="units/orcs/sea-orc2-attack.png"
                                halo="units/orcs/sea-orc2-swoosh.png"
  				sound={SOUND_LIST:MISS}
			[/frame]
		[/if]
		[else]
			hits=yes
			[frame]
  				begin=-100
				end=100
				image="units/orcs/sea-orc2-attack.png"
                                halo="units/orcs/sea-orc2-swoosh.png"
				sound={SOUND_LIST:SWORD_SWISH}
			[/frame]
		[/else]
		[frame]
			begin=100
			end=150
			image="units/orcs/sea-orc2-attack.png"
		[/frame]
	[/attack_anim]
	[movement_anim]
        	start_time=0
                direction=s,se,sw,n,ne,nw
                terrain_type=!,*^B*,!,Chs^*,Chw^*,W*^*,S*^*,*^Vm
            [frame]
                image="units/orcs/sea-orc2-swim1.png:150"
            [/frame]
            [frame]
                image="units/orcs/sea-orc2-swim2.png:150"
            [/frame]
        [/movement_anim]    
	[movement_anim]
        	start_time=0
                direction=s,se,sw,n,ne,nw
            [frame]
                image="units/orcs/sea-orc2.png:1"
            [/frame]
        [/movement_anim]    
	[standing_anim]
        	start_time=0
                terrain_type=!,*^B*,!,Chs^*,Chw^*,W*^*,S*^*,*^Vm
            [frame]
                image="units/orcs/sea-orc2-swim1.png:1"
            [/frame]
        [/standing_anim]    
	[standing_anim]
        	start_time=0
            [frame]
                image="units/orcs/sea-orc2.png:1"
            [/frame]
        [/standing_anim]    
[/unit_type]
