#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Drakes
    name= _"Drakes"
    image="units/drakes/apprentice.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=TGA Drake Burner,Drake Clasher,TGA Drake Glider,Protective Carapace,Hunting Carapace,Foraging Carapace,TGA Drake Fighter,Salamander,TGA Saurian Skirmisher,TGA Saurian Augur,Saurian Husk,Toad,Drake Apprentice,Chameleon
    random_leader=TGA Drake Burner,Drake Clasher,TGA Drake Glider,Protective Carapace,Hunting Carapace,Foraging Carapace,TGA Drake Fighter,Salamander,TGA Saurian Skirmisher,TGA Saurian Augur,Saurian Husk,Toad,Drake Apprentice,Chameleon
    recruit=
    terrain_liked=Hh, Ha, Ds, Ss
[/multiplayer_side]
