#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Loyalists_RPG
    name= _"Loyalists"
    image="units/human-loyalists/jouster/jouster.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=TGA Cavalryman,TGA Horseman,Jouster,Chariot,Heavy Cavalry,Spearman,TGA Sergeant,Infantryman,TGA Fencer,TGA Heavy Infantryman,TGA Bowman,Healer Mage,TGA Mage,Merman Fighter
    random_leader=TGA Cavalryman,TGA Horseman,Jouster,Chariot,Heavy Cavalry,Spearman,TGA Sergeant,Infantryman,TGA Fencer,TGA Heavy Infantryman,TGA Bowman,Healer Mage,TGA Mage
    recruit=
    terrain_liked=Gg, Ww, Wo
    [ai]
        recruitment_pattern=fighter,fighter,fighter,archer,mixed fighter,scout
    [/ai]
[/multiplayer_side]
