#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Orcs
    name= _"Orcs"
    image="units/orcs/novice-shaman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=TGA Orcish Grunt,TGA Orcish Leader,Orcish Brute,Orcish Berserker,Orcish Shaman,TGA Troll Whelp,TGA Wolf Rider,TGA Orcish Archer,TGA Orcish Assassin,Sea Orc,TGA Naga Fighter,TGA Goblin Impaler,Archer Goblin,Thundergobo,Goblin Transport
    random_leader=TGA Orcish Grunt,TGA Orcish Leader,Orcish Brute,Orcish Berserker,Orcish Shaman,TGA Troll Whelp,TGA Wolf Rider,TGA Orcish Archer,TGA Orcish Assassin
    recruit=
    terrain_liked=Hh, Ha, Mm, Ss
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,archer,scout
    [/ai]
[/multiplayer_side]
