#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Sea_Monsters
    name= _"Sea Monsters"
    image="units/cuttlefish/young-cuttlefish.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=IQ Young Cuttlefish,IQ Fire Squid,IQ Tentacle,IQ Magic Tentacle,IQ Clam
    random_leader=IQ Young Cuttlefish,IQ Fire Squid,IQ Tentacle,IQ Magic Tentacle,IQ Clam
    recruit=IQ Young Cuttlefish,IQ Fire Squid,IQ Tentacle,IQ Magic Tentacle,IQ Clam
    terrain_liked=Wo, Ww, St
    [ai]
        recruitment_pattern=mixed fighter,fighter,fighter,archer,fighter
    [/ai]
[/multiplayer_side]
