  #textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Sylvan
    name= _"Sylvan"
    image="units/faeries/sprite.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=Elvish Maiden,Elvish Noble,Elvish Acolyte,TGA Elvish Fighter,Elvish Hunter,TGA Elvish Archer,TGA Elvish Shaman,TGA Elvish Scout,Elvish Spearman,TGA Wose,Peri,Faerie Sprite,Dusk Faerie,Will_o_Wisp,Merman Hunter,TGA Mermaid Initiate
    random_leader=Elvish Maiden,Elvish Noble,Elvish Acolyte,TGA Elvish Fighter,Elvish Hunter,TGA Elvish Archer,TGA Elvish Shaman,TGA Elvish Scout,Elvish Spearman,TGA Wose,Faerie Sprite,Dusk Faerie,Will_o_Wisp
    recruit=
    terrain_liked=Ff, Fa, Ss, Ww
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,healer,scout
    [/ai]
[/multiplayer_side]
