#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Undead
    name= _"Undead"
    image="units/undead-skeletal/skeleton-junker.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=TGA Skeleton,Skeleton Sergeant,TGA Skeleton Archer,Skeleton Rider,Black Rider,Soulless,Thrall,TGA Ghost,Blood Bat,TGA Dark Adept,TGA Ghoul,Skeleton Steerer,Poltergeist,Blood Monster,Fallen Sprite,Elvish Warrior Spirit
    random_leader=TGA Skeleton,Skeleton Sergeant,TGA Skeleton Archer,Skeleton Rider,Black Rider,Soulless,Thrall,TGA Ghost,Blood Bat,TGA Dark Adept,TGA Ghoul,Poltergeist,Blood Monster,Fallen Sprite,Elvish Warrior Spirit
    recruit=
    terrain_liked=Ss, Hh, Ha, Ww
    [ai]
        recruitment_pattern=fighter,fighter,archer,fighter,scout,archer
    [/ai]
[/multiplayer_side]
