    [race]
        id=avian
        male_name= _ "race^Avian"
        female_name= _ "race+female^Avian"
        plural_name= _ "race^Avians"
        description= _ "The Avians are petite people, with adults about the physical height of a teenage human (14-16 of age). Comparatively, they are taller than dwarves and much more slender of frame. They have a pair of properly sized wings located on their hips. The wings are usually of a variety of bright colors, resembling more of the wings of tropical birds than predator ones. Their physical abilities aren't anything spectacular to boast about, other than their ability to fly and hawk-like sight. They embody the idea of nimble and dextrous than brute strength and stamina. The avians are always beautiful people, echoing with the idea of tropical birds being flashy and pleasing to the eyes. To the general populace of Wesnoth, the avians seems as if to only have a single gender - females. That is however untrue, as the males tend to look like females, and in most cases - much more beautiful. The males have a huge tendency to make sure that they are always pleasing to look at; similarly as male tropical birds (but their reasons are for mating).

Having a rather 'brittle' or weaker physical build, they are not able to easily achieve flight with heavy armor; thus the general design of the faction involves a lot of lightweight armors such as leather, cloth or silk. They wield small metal bucklers as shields, while their weapons are always a mixture of wood and steel in favour of a lighter weight.

Their wings come in a myriad of bright and fanciful colours usually, but those in the army dye their wings for camouflage purposes. They are a nomadic race in general, with their makeshift camps always around ridges and mountains. Their culture and also their clothing design is mostly similar to the nations around the Silk Road. They are very well accustomed to cold climates due to the elevation of where they stay."
        num_traits=2
        markov_chain_size=2
        undead_variation=drake
        {ELVISH_NAMES}
#        ignore_global_traits=yes
    [/race]

#define AVIAN_GROUND_MOVECOSTS
	deep_water={UNREACHABLE}
	shallow_water=2
	reef=2
	swamp_water=1
	flat=1
	sand=2
	forest=1
	hills=1
	mountains=2
	village=1
	castle=1
	cave=2
	frozen=2
	unwalkable=1
	impassable={UNREACHABLE}
	fungus=2
#enddef
#define AVIAN_FLYING_MOVECOSTS
	deep_water=1
	shallow_water=1
	reef=1
	swamp_water=1
	flat=1
	sand=2
	forest=1
	hills=1
	mountains=2
	village=1
	castle=1
	cave=3
	frozen=1
	unwalkable=1
	impassable={UNREACHABLE}
	fungus=2
#enddef

#define AVIAN_STANDARD_GROUNDDEF
	deep_water=90
	shallow_water=90
	reef=90
	swamp_water=80
	flat=60
	sand=70
	forest=50
	hills=50
	mountains=40
	village=40
	castle=40
	cave=60
	frozen=80
	unwalkable=90
	impassable=100
	fungus=50
#enddef

#define AVIAN_STANDARD_FLYDEF
	deep_water=50
	shallow_water=50
	reef=50
	swamp_water=50
	flat=50
	sand=50
	forest=60
	hills=50
	mountains=40
	village=50
	castle=50
	cave=80
	frozen=50
	unwalkable=50
	impassable=100
	fungus=70
#enddef

[movetype]
	name=avian_smallfoot
	
	[movement_costs]
		{AVIAN_GROUND_MOVECOSTS}
	[/movement_costs]
	
	[defense]
		{AVIAN_STANDARD_GROUNDDEF}
	[/defense]

	[resistance]
		blade=110
		pierce=110
		impact=120
		fire=100
		cold=90
		arcane=100
	[/resistance]
[/movetype]

[movetype]
	name=avian_smallfly
	flies=true
	
	[movement_costs]
		{AVIAN_FLYING_MOVECOSTS}
	[/movement_costs]
	
	[defense]
		{AVIAN_STANDARD_FLYDEF}
	[/defense]

	[resistance]
		blade=110
		pierce=120
		impact=130
		fire=100
		cold=90
		arcane=100
	[/resistance]
[/movetype]

[movetype]
	name=avian_fighterfoot
	
	[movement_costs]
		{AVIAN_GROUND_MOVECOSTS}
	[/movement_costs]
	
	[defense]
		{AVIAN_STANDARD_GROUNDDEF}
	[/defense]

	[resistance]
		blade=100
		pierce=100
		impact=110
		fire=100
		cold=90
		arcane=100
	[/resistance]
[/movetype]

[movetype]
	name=avian_fighterfly
	flies=true
	
	[movement_costs]
		{AVIAN_FLYING_MOVECOSTS}
	[/movement_costs]
	
	[defense]
		{AVIAN_STANDARD_FLYDEF}
	[/defense]

	[resistance]
		blade=100
		pierce=110
		impact=120
		fire=100
		cold=90
		arcane=100
	[/resistance]
[/movetype]
[movetype]
	name=avian_rheafoot
	[movement_costs]
	deep_water={UNREACHABLE}
	shallow_water=3
	reef=2
	swamp_water=1
	flat=1
	sand=2
	forest=1
	hills=1
	mountains=2
	village=1
	castle=1
	cave=1
	frozen=2
	unwalkable={UNREACHABLE}
	impassable={UNREACHABLE}
	fungus=2
	[/movement_costs]
	
	[defense]
	deep_water=100
	shallow_water=80
	reef=60
	swamp_water=70
	flat=60
	sand=60
	forest=40
	hills=40
	mountains=30
	village=40
	castle=40
	cave=50
	frozen=60
	unwalkable=100
	impassable=100
	fungus=40
	[/defense]	
	[resistance]
		blade=90
		pierce=90
		impact=100
		fire=100
		cold=90
		arcane=100
	[/resistance]
[/movetype]
#define ABILITY_AVIAN_FLIGHT
[dummy]
	id=Avian_Flight
	name= _"flight"
	description = _"This unit can fly. Open the right-click menu to activate flight (take off). (Note:the menu shows up only after someone moves)"
[/dummy]
[/abilities]
#fly menu item
[event]
	name=side turn
        id=avianfly
#        [filter]
#          race=avian
#        [/filter]
        first_time_only=no
	[set_menu_item]
		id=Avian_Flight
		description = _"Take off"
                image=misc/flightoption.png
                [show_if]
                 [have_unit]
		     ability=Avian_Land
		     side=$side_number
                     x,y=$x1,$y1    
				[filter_wml]
					[not]
                                           moves=0
					[/not]
				[/filter_wml]
                 [/have_unit]
                [/show_if]
#		[filter_location]
#			[filter]
#                                ability=Avian_Flight
#				[filter_wml]
#					[not]
#                                           moves=0
#					[/not]
#				[/filter_wml]
#				side=$side_number
#			[/filter]
#		[/filter_location]
		#[default_hotkey] ###soon
			#key = v
		#[/default_hotkey]
		[command]
			[animate_unit]
			[filter]
				x,y=$x1,$y1
			[/filter]
				flag=flying
			[/animate_unit]
			[store_unit]
				[filter]
					x,y=$x1,$y1
				[/filter]
				variable=unit_to_fly
			[/store_unit]
			[transform_unit]
				x,y=$x1,$y1
				transform_to=$unit_to_fly.type|_Flying
			[/transform_unit]
			[modify_unit]
				[filter]
					x,y=$x1,$y1
				[/filter]
				moves=$($this_unit.moves - 1)
			[/modify_unit]
		[/command]
	[/set_menu_item]
[/event]
[+abilities]
#enddef

#define ABILITY_AVIAN_LAND
[dummy]
	id=Avian_Land
	name= _"land"
	description = _"This unit can land. Open the right-click menu to land. (Note:the menu shows up only after someone moves)"
[/dummy]
[/abilities]
#land menu item
[event]
        id=avianland
	name=side turn
        first_time_only=no
#        [filter]
#          race=avian
#        [/filter]
	[set_menu_item]
		id=Avian_Land
		description = _"Land"
                image=misc/flightoption.png
                [show_if]
                 [have_unit]
		     ability=Avian_Land
		     side=$side_number
                     x,y=$x1,$y1    
                 [/have_unit]
                [/show_if]
#                [filter_location]
#			[filter]
#				ability=Avian_Land
#				side=$side_number
#			[/filter]
#		[/filter_location]
		[command]
			[animate_unit]
			[filter]
				x,y=$x1,$y1
			[/filter]
				flag=landing
			[/animate_unit]
			[store_unit]
				[filter]
					x,y=$x1,$y1
				[/filter]
				variable=unit_to_land
			[/store_unit]
			[lua]
				code = << local t = ...;
					local event_data = wesnoth.current.event_context;
					local old_unit_type = tostring(t.old_unit_type);
					local new_unit_type = string.sub(old_unit_type, 1, -8);
					wesnoth.fire("transform_unit", {x=event_data.x1, y=event_data.y1, transform_to=new_unit_type});>>
				[args]
					old_unit_type = $unit_to_land.type|
				[/args]
			[/lua]
		[/command]
	[/set_menu_item]
[/event]
[+abilities]
#enddef
{~add-ons/The_Golden_Age/units/avians}