#textdomain wesnoth-units
[unit_type]
    id=Foraging Carapace
    name="Carapacian Forager"
    race=carapace
    image="units/carapaces/forager.png"
    ellipse="misc/ellipse"
    hitpoints=28
    movement_type=monstercrabfoot
    movement=7
    experience=38
    level=1
    alignment=neutral
    advances_to=Infiltrative Carapace
    cost=15
    undead_variation=null
    usage=scout
    description="Forager is a crab-like monster whose role in the race is for scouting."+{SPECIAL_NOTES}+{SPECIAL_NOTES_STEADFAST}
    die_sound=drake-die.ogg
    {DEFENSE_ANIM "units/carapaces/forager-defend.png" "units/carapaces/forager.png" {SOUND_LIST:DRAKE_HIT} }
    [attack]
        name=pincers
        description="pincers"
        icon=attacks/pincers-crab.png
        type=impact
        range=melee
        damage=7
        number=2
    [/attack]
    [attack]
        name=pincers
        description="pincers"
        icon=attacks/pincers-crab.png
        type=blade
        range=melee
        damage=3
        number=4
    [/attack]
    [attack]
        name=foam
        description="foam"
        icon=attacks/waterspray2.png
        type=impact
        range=ranged
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=5
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=pincers
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/carapaces/forager-melee-[1~2].png:150"
        [/frame]
        {SOUND:HIT_AND_MISS claws.ogg {SOUND_LIST:MISS} -50}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=foam
        [/filter_attack]
        missile_start_time=-165

        [missile_frame]
            image="projectiles/water-spray.png:165"
            image_diagonal="projectiles/water-spray.png:165"
        [/missile_frame]
        {MERMAID_WATER_BLAST_HALO}
        {MERMAID_STAFF_FLARE 16 -12}
        start_time=-420
        [frame]
            duration=100
            image="units/carapaces/forager.png" 
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/carapaces/forager.png"
                sound=squishy-strike.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/carapaces/forager.png"
                sound=squishy-miss.wav
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/carapaces/forager.png"
        [/frame]
        {SOUND:POISON}
    [/attack_anim]
[/unit_type]    

    
    
    
    
