#textdomain weanoth-units
[unit_type]
    id=Hunting Carapace
    name="Carapacian Hunter"
    race=carapace
    image="units/carapaces/hunter.png"
    profile="portraits/carapace.png"
    ellipse="misc/ellipse"
    hitpoints=34
    {MAGENTA_IS_THE_TEAM_COLOR}
    {AMLA_DEFAULT}
    movement_type=monsterfoot
    movement=4
    experience=43
    level=1
    alignment=neutral
    advances_to=Javelin Carapace
    cost=15
    undead_variation=null
    usage=fighter
    description="Their roles are not only for the hunting, but also for the battling."
    die_sound=drake-die.ogg
    {DEFENSE_ANIM "units/carapaces/hunter-defend-2.png" "units/carapaces/hunter-defend-1.png" {SOUND_LIST:DRAKE_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/carapace.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/carapace.png"
    [/portrait]
    [attack]
        name=trident
        description="trident"
        icon=attacks/trident.png
        type=pierce
        range=melee
        damage=6
        number=3
    [/attack]
    [attack]
        name=water breath
        description="water breath"
        icon=attacks/waterspray.png
        type=impact
        range=ranged
        damage=7
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=trident
        [/filter_attack]
        start_time=-300
        offset=0.0~0.3,0.3~0.6,0.6~0.3,0.3~0.0      
        sound_start_time=-200
        [if]
            hits=yes
            [sound_frame]
                sound=spear.ogg
            [/sound_frame]
        [/if]
        [else]
            hits=no
            [sound_frame]
                sound=spear-miss.ogg
            [/sound_frame]
        [/else]
        [if]
            direction=se,sw,s      
            [frame]
                image="units/carapaces/hunter-melee-[1~2,1].png:[100,200,100]" 
            [/frame]
        [/if]
        [else]
            direction=ne,nw,n      
            [frame]
                image="units/carapaces/hunter-ne-melee[1~2,1].png:[100,200,100]" 
            [/frame]
        [/else]
       
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=water breath
        [/filter_attack]
        {MISSILE_FRAME_ROTM_WATER_BREATH}
        start_time=-450   
        [frame]
            image="units/carapaces/hunter.png:50"
        [/frame]
        [frame]
            image="units/carapaces/hunter-ranged-1.png:200"
            sound=water-blast.wav 
        [/frame]
        [frame]
            image="units/carapaces/hunter-ranged-2.png:200"
        [/frame]
        [frame]
            image="units/carapaces/hunter-ranged-1.png:100"
        [/frame] 
    [/attack_anim]
[/unit_type]

