#textdomain wesnoth-units
[unit_type]
    id=Monstrous Carapace
    name="Monstrous Carapace"
    race=carapace
    gender=male
    image="units/carapaces/monster.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=55
    movement_type=monstercrabfoot
    movement=8
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    undead_variation=null
    cost=42
    usage=scout
    description="Monstrous Carapaces are able to hide in the deep water."+{SPECIAL_NOTES}+{SPECIAL_NOTES_STEADFAST}+{SPECIAL_NOTES_SUBMERGE}
    die_sound=drake-die.ogg
    {DEFENSE_ANIM "units/carapaces/monster-defend.png" "units/carapaces/monster.png" {SOUND_LIST:DRAKE_HIT} }
    [abilities]
        {ABILITY_SUBMERGE}
    [/abilities]
    [resistance]
        impact=60
    [/resistance]
    [attack]
        name=pincers
        description="pincers"
        icon=attacks/pincers-crab.png
        type=impact
        range=melee
        damage=10
        number=3
    [/attack]
    [attack]
        name=pincers
        description="pincers"
        icon=attacks/pincers-crab.png
        type=blade
        range=melee
        damage=4
        number=7
    [/attack]
    [attack]
        name=foam
        description="foam"
        icon=attacks/waterspray2.png
        type=impact
        range=ranged
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=6
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=pincers
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/carapaces/monster-melee-[1~2].png:150"
        [/frame]
        {SOUND:HIT_AND_MISS claws.ogg {SOUND_LIST:MISS} -50}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=foam
        [/filter_attack]
        missile_start_time=-165

        [missile_frame]
            image="projectiles/water-spray.png:165"
            image_diagonal="projectiles/water-spray.png:165"
        [/missile_frame]
        {MERMAID_WATER_BLAST_HALO}
        {MERMAID_STAFF_FLARE 16 -12}
        start_time=-400
        [frame]
            duration=100
            image="units/carapaces/monster.png" 
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/carapaces/monster.png"
                sound=squishy-strike.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/carapaces/monster.png"
                sound=squishy-miss.wav
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/carapaces/monster.png"
        [/frame]
        {SOUND:POISON}
    [/attack_anim]
[/unit_type]    
