#textdomain weanoth-units
[unit_type]
    id=Smashing Carapace
    name="Carapacian Smasher"
    race=carapace
    image="units/carapaces/smasher.png"
    profile="portraits/carapace.png"
    hitpoints=64
    movement_type=monsterfoot
    movement=4
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    {MAGENTA_IS_THE_TEAM_COLOR}
    cost=46
    undead_variation=null
    usage=mixed fighter
    description="Smashers are the warriors in the race."+{SPECIAL_NOTES}+{SPECIAL_NOTES_STEADFAST}+{SPECIAL_NOTES_FIRSTSTRIKE}
    die_sound=drake-die.ogg
    {DEFENSE_ANIM "units/carapaces/smasher-defend.png" "units/carapaces/smasher.png" {SOUND_LIST:DRAKE_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/carapace.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/carapace.png"
    [/portrait]
    [abilities]
        {ABILITY_STEADFAST}
    [/abilities]
    [resistance]
        blade=85
        pierce=85
        impact=80
    [/resistance]		
    [defense]
        flat=60
    [/defense]
    [attack]
        name=mace
        description="mace"
        icon=attacks/mace-spiked.png
        type=impact
        range=melee
        damage=15
        number=2
    [/attack]
    [attack]
        name=water bomb
        description="water bomb"
        icon=attacks/waterspray.png
        type=impact
        range=ranged
        [specials]           
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
        damage=14
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]
        start_time=-400
        offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.3,0.3~0.0

        [frame]
            image="units/carapaces/smasher-melee-[1~3].png:150"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
        [frame]
            image="units/carapaces/smasher-melee-1.png:50"
        [/frame]   
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=water bomb
        [/filter_attack]
        {MISSILE_FRAME_ROTM_WATER_BREATH}
        [frame]
            begin=-450
            end=-400
            image="units/carapaces/smasher.png"
            sound=water-blast.wav
        [/frame]
        [frame]
            begin=-400
            end=-200
            image="units/carapaces/smasher-ranged-1.png" 
        [/frame]
        [frame]
            begin=-200
            end=0
            image="units/carapaces/smasher-ranged-2.png"
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/carapaces/smasher-ranged-1.png"
        [/frame] 
    [/attack_anim]
[/unit_type]


