#textdomain wesnoth-units
[unit_type]
    id=Black Dragon
    name= _ "Black Dragon"
    race=monster
    image="units/monsters/blackdragon.png"
    profile="portraits/khazran.png"
    {DEFENSE_ANIM_RANGE "units/monsters/blackdragon.png" "units/monsters/blackdragon.png" {SOUND_LIST:DRAKE_HIT} melee}
    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_5}
        {ABILITY_TELEPORT}
    [/abilities]
    hitpoints=105
    movement_type=drakefly
    movement=8
    experience=250
    level=5
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=115
    undead_variation=drake
    usage=archer
    description= _ "Stories of Black Dragons are known to be a mere myth. Yet, these legends told to little children throughout the desert contain surprising amounts of details and every so often rumors of encounters with such a creauture circulate. Now tell me traveller, is it wise to believe in children's stories? Probably not, but does this mean you should follow such a rumor to its source? Walk then on the fine path between gullibility and recklessness, but beware the tales end."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}+{SPECIAL_NOTES_LEADERSHIP}
    die_sound=drake-die.ogg
    [resistance]
        fire=0
	cold=120
	arcane=100
    [/resistance]
    [attack]
        name=bite
        description= _"bite"
        icon=attacks/fangs-animal.png
        type=blade
        range=melee
        damage=21
        number=2
    [/attack]
    [attack]
        name=tail
        description= _"tail"
        icon=attacks/tail-dragon.png
        type=impact
        range=melee
        damage=24
        number=1
    [/attack]
    [attack]
        name=fire breath
        description= _"fire breath"
        icon=attacks/fire-breath-drake.png
        type=fire
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        range=ranged
        damage=14
        number=5
    [/attack]

    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]

        start_time=-200

        [frame]
            image="units/monsters/blackdragon.png:400"
        [/frame]

        {SOUND:HIT_AND_MISS bite.ogg {SOUND_LIST:MISS} -75}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=tail
        [/filter_attack]

        start_time=-200

        [frame]
            image="units/monsters/blackdragon.png:400"
        [/frame]

        {SOUND:HIT_AND_MISS tail.ogg {SOUND_LIST:MISS} -75}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=fire breath
        [/filter_attack]

        [frame]
            image="units/monsters/blackdragon.png:400"
        [/frame]

        missile_start_time=-240
        # due to its sheer size, the dragon NE attack breaths straight north
        [if]
            direction=n,ne,nw
            [missile_frame]
                image="projectiles/fire-breath-ne-[1~5].png~FL():80"
                image_diagonal="projectiles/fire-breath-n-[1~5].png:80"
                offset=0.0~1.1
                directional_x=50~0
                y=-30~-10
            [/missile_frame]
        [/if]
        [else]
            direction=s,se,sw
            [missile_frame]
                image="projectiles/fire-breath-se-[1~5].png~FL():80"
                image_diagonal="projectiles/fire-breath-s-[1~5].png:80"
                offset=0.0~1.1
                directional_x=50~0
                y=30~0
            [/missile_frame]
        [/else]
        [if]
            hits=yes
            [impact_frame]
                layer=90
                image="misc/blank-hex.png:1,projectiles/fireball-impact-[2~5].png:60,projectiles/fire-breath-[6~10].png:40"
                offset=1.0
            [/impact_frame]
        [/if]

        {SOUND:HIT_AND_MISS flame-big.ogg flame-big-miss.ogg -250}
    [/attack_anim]
    [animation]
        apply_to=pre_teleport
        start_time=-1250

        halo1_start_time=-1250
        halo1_auto_vflip=false
        [halo1_frame]
            halo="halo/saurian-magic-halo-[1~7].png:200"
            halo_mod="~SCALE(122,122)~CS(-64,-16,0)"
            halo_y=-50
        [/halo1_frame]

        halo2_start_time=-1050
        halo2_auto_vflip=false
        [halo2_frame]
            halo="halo/saurian-magic-halo-[1~7].png:200"
            halo_mod="~SCALE(122,122)~CS(-64,-16,0)"
            halo_y=-20
        [/halo2_frame]

        halo3_start_time=-850
        halo3_auto_vflip=false
        [halo3_frame]
            halo="halo/saurian-magic-halo-[1~7].png:200"
            halo_mod="~SCALE(122,122)~CS(-64,-16,0)"
            halo_y=10
        [/halo3_frame]

        {TGA_FADE_TELEPORT_ANIM_PRE units/monsters/blackdragon.png}
    [/animation]
    [animation]
        apply_to=post_teleport
        start_time=-1250

        halo1_start_time=-1250
        halo1_auto_vflip=false
        [halo1_frame]
            halo="halo/saurian-magic-halo-[7~1].png:200"
            halo_mod="~SCALE(122,122)~CS(-64,-16,0)"
            halo_y=-50
        [/halo1_frame]

        halo2_start_time=-1050
        halo2_auto_vflip=false
        [halo2_frame]
            halo="halo/saurian-magic-halo-[7~1].png:200"
            halo_mod="~SCALE(122,122)~CS(-64,-16,0)"
            halo_y=-20
        [/halo2_frame]

        halo3_start_time=-850
        halo3_auto_vflip=false
        [halo3_frame]
            halo="halo/saurian-magic-halo-[7~1].png:200"
            halo_mod="~SCALE(122,122)~CS(-64,-16,0)"
            halo_y=10
        [/halo3_frame]

        {TGA_FADE_TELEPORT_ANIM_POST units/monsters/blackdragon.png}
    [/animation]
[/unit_type]
