#textdomain wesnoth-Invasion_from_the_Unknown

[unit_type]
    id=Boulder Mammoth
    name= _ "Boulder Mammoth"
    race=magical
    {TRAIT_ELEMENTAL}
    {TRAIT_RESILIENT}
    {TRAIT_STRONG}
    {TRAIT_HEALTHY}
    image="units/magical/boulder-mammoth.png"
    hitpoints=78
    movement_type=earthelement
    movement=4
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=54
    usage=fighter
    undead_variation=null
    description= _ "Rock Golems are giant, slow, and heavy creatures made out of solid, living rock. Their fists can crush any skeleton in matter of seconds"+{SPECIAL_NOTES}+{SPECIAL_NOTES_SUBMERGE}
    die_sound={SOUND_LIST:TROLL_DIE}

    [abilities]
        {ABILITY_ROCK_HEALING 12}
        {ABILITY_SUBMERGE}
    [/abilities]
    [resistance]
        blade=70
        impact=80
        pierce=50
    [/resistance]
#textdomain wesnoth-units
    [attack]
        name=fist
        description=_ "fist"
        icon=attacks/fist-troll.png
        type=impact
        range=melee
        damage=13
        number=3
    [/attack]
    {DEFENSE_ANIM "units/magical/boulder-mammoth.png" "units/magical/boulder-mammoth.png" {SOUND_LIST:TROLL_HIT} }
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        start_time=-200
        [frame]
            duration=50
            image=units/magical/boulder-mammoth.png
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=250
                image=units/magical/boulder-mammoth.png
                sound=fist.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=250
                image=units/magical/boulder-mammoth.png
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image=units/magical/boulder-mammoth.png
        [/frame]
    [/attack_anim]
[/unit_type]
