#textdomain wesnoth-units
[unit_type]
    id=Boulder
    name=_ "Boulder"
    race=mechanical
    image="projectiles/stone-large.png"
    hitpoints=1
    movement_type=fly
    movement=3
    experience=1
    level=1
    alignment=neutral
    advances_to=null
    cost=1
    usage=scout
    hide_help=true
#    do_not_list=yes
[/unit_type]
[unit_type]
    id=Large Boulder
    name=_ "Large Boulder"
    race=mechanical
    image="projectiles/stone-large.png~SCALE(100,100)"
    hitpoints=1
    movement_type=fly
    movement=3
    experience=1
    level=1
    alignment=neutral
    advances_to=null
    cost=1
    usage=scout
    hide_help=true
#    do_not_list=yes
[/unit_type]
