#textdomain wesnoth-utbs
[unit_type]
    id=Dawarf
    name= _ "Dawarf"
    race=monster
    image="units/monsters/dawarf.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    profile="portraits/dawarf.png"
    small_profile="portraits/dawarf.png~SCALE(205,205)"
    {DEFENSE_ANIM "units/monsters/dawarf.png" "units/monsters/dawarf.png" groan.wav }
    hitpoints=80
    movement_type=dwarvishfoot
    movement=5
    experience=100
    {AMLA_DEFAULT}
    advances_to=null
    level=3
    alignment=neutral
    cost=40
    usage=fighter
    # wmllint: local spelling Dawarf
    description= _ "Don’t ask where the Dawarf came from. You really don’t want to know. It is a secret well guarded by the great lore-masters of Wesnoth. And it’s isn’t pretty. Hint: it involves lots of sherbet."
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/dawarf.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/dawarf.png"
    [/portrait]
    [movement_costs]
        shallow_water=2
        reef=2
        swamp_water=2
        flat=1
        sand=1
        forest=2
        hills=1
        mountains=2
        village=1
        castle=1
        cave=2
        frozen=2
        fungus=2
    [/movement_costs]
    [defense]
        shallow_water=80
        reef=70
        swamp_water=80
        flat=70
        sand=70
        forest=60
        hills=50
        mountains=40
        village=60
        castle=50
        cave=70
        frozen=80
        fungus=70
    [/defense]
        [resistance]
            blade=80
            pierce=90
            impact=80
            fire=100
            cold=80
            arcane=120
        [/resistance]
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]
    [attack]
        name=fist
        description= _"fist"
        type=impact
        range=melee
        damage=14
        number=3
        icon=attacks/fist-dawarf.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        {MELEE_FRAME_SWOOSH fist.ogg "~SCALE(100,100)~BLEND(100,101,255,0.7)"}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        {MELEE_FRAME_SWOOSH2 fist.ogg "~SCALE(100,100)~BLEND(100,101,255,0.7)"}
    [/attack_anim]
[/unit_type]
