#textdomain wesnoth-units
[unit_type]
    id=Dune Worm
    name= _ "Dune Worm"
    race=monster
    image="units/monsters/dune_worm.png"
	image_icon="units/monsters/dune_worm.png~CROP(30,8,72,72)"
	profile="portraits/duneworm.png"
	small_profile="portraits/duneworm.png~SCALE(215,215)"
    hitpoints=90
         [movement_costs]
            shallow_water=10
            reef=10
            swamp_water=10
            flat=1
            sand=1
            forest=1
            hills=1
            mountains=3
            village=1
            castle=2
            cave=2
            frozen=1
            fungus=2
        [/movement_costs]
        [defense]
            shallow_water=100
            reef=100
            swamp_water=100
            flat=60
            sand=50
            forest=50
            hills=50
            mountains=40
            village=50
            castle=50
            cave=60
            frozen=60
            fungus=50
        [/defense]
        [resistance]
            blade=80
            pierce=80
            impact=80
            fire=140
            cold=40
            arcane=120
        [/resistance]
    movement=4
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    cost=78
    usage=fighter
	{AMLA_DEFAULT}
    {MAGENTA_IS_THE_TEAM_COLOR}
    description= _ "Duneworms or Kar'rhur-Hai as they are called in the desert lands, are huge worm-like creatures that roam the ashland deserts to the south of the bay of clouds. Given their huge mouth, the duneworms nourish from the sand itself, digesting any living creature or organic debris that lies within. As such, they are often called the 'Whales of the desert'. When someone gets near their nest, the duneworms are seen to have devoured alive the travellers that did not expect their presence."+{SPECIAL_NOTES}+{SPECIAL_NOTES_POISON}
    die_sound=wose-die.ogg
    {DEFENSE_ANIM "units/monsters/dune_worm.png" "units/monsters/dune_worm.png" wose-hit.ogg}
	[abilities]
		{ABILITY_SKIRMISHER}
		{ABILITY_KILLHUNGER 8}
	[/abilities]
	
	[attack]
        name=bite
        description= _ "bite"
        icon=attacks/fangs-snake-sand.png
        type=blade
        range=melee
        damage=20
        number=2
#	[specials]
#            {WEAPON_SPECIAL_POISON}
#        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
#        {MELEE_FRAME_SWOOSH_CUSTOM_MOUNTED bite.ogg {SOUND_LIST:MISS} ~ "~SCALE(1,1)"}
        start_time=-1500
        [frame]
            offset=0.0
            image="units/monsters/dune_worm-dig-[1~10].png:[150*10]"
#            sound=petrified.ogg
        [/frame]
        [frame]
            offset=1.0
            image="units/monsters/dune_worm-dig-[10~1].png:[150*10]"
        [/frame]
        {SOUND:HIT_AND_MISS bite.ogg {SOUND_LIST:MISS} -50}
        [frame]
            offset=1.0
            image="units/monsters/dune_worm.png:100"
        [/frame]
        [frame]
            offset=1.0
            image="units/monsters/dune_worm-dig-[1~10].png:[125*10]"
        [/frame]
        [frame]
            offset=0.0
            image="units/monsters/dune_worm-dig-[10~1].png:[125*10]"
        [/frame]
    [/attack_anim]	
		
    [animation]
        apply_to=death
        start_time=-2300

        [frame]
            image="units/monsters/dune_worm-dig-[1~10].png:[200*10]"
        [/frame]
        [frame]
            image="misc/blank-hex.png:300"
        [/frame]
    [/animation]
	
    [animation]
        apply_to=pre_movement
        start_time=-2300

        [frame]
            image="units/monsters/dune_worm-dig-[1~10].png:[200*10]"
        [/frame]
        [frame]
            image="misc/blank-hex.png:300"
        [/frame]
    [/animation]
	
    [animation]
        apply_to=movement
        start_time=-800

        [frame]
            image="misc/blank-hex.png:800"
        [/frame]
    [/animation]

    [animation]
        apply_to=post_movement
        start_time=-2300
		
        [frame]
            image="misc/blank-hex.png:300"
        [/frame]
        [frame]
            image="units/monsters/dune_worm-dig-[10~1].png:[200*10]"
        [/frame]
    [/animation]
	
    [recruit_anim]
        start_time=-2800
		
        [frame]
            image="misc/blank-hex.png:300"
        [/frame]
        [frame]
            image="units/monsters/dune_worm-dig-[10~1].png:[250*10]"
        [/frame]
    [/recruit_anim]	
[/unit_type]
