#textdomain wesnoth-units
[unit_type]
    id=Giant Crab
    name= _ "Giant Crab"
    race=monster
    image="units/monsters/crab.png"
    {DEFENSE_ANIM "units/monsters/crab-defend2.png" "units/monsters/crab-defend1.png" groan.wav }
    hitpoints=32
    movement_type=monsterfoot
    movement=5
    experience=50
    advances_to=null
    {AMLA_DEFAULT}
    level=1
    alignment=neutral
    cost=17
    usage=fighter
    die_sound=groan.wav
    description= _ "In some regions, crabs have adapted to grow to truly enormous sizes, standing in similar stature to horses. They thrive in coastal areas, usually conserving their energy by lying in wait for food. When threatened, they stand more upright, raising their bodies to threaten their enemies and attacking with their massive claws that can easily maim or kill the offender. However, they are uncomfortable outside of their coastal habitat and fare poorly on dry land."
    [attack]
        name=pincers
        description= _"pincers"
        icon=attacks/claws-crab.png
        type=blade
        range=melee
        damage=9
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=pincers
        [/filter_attack]
        start_time=-250
        [frame]
            image=units/monsters/crab-attack[1,2,3].png:[150,70,130],units/monsters/crab.png:100
	    offset="0:100,0~0.6:150,0.6~0:200"
        [/frame]
        {SOUND:HIT_AND_MISS claws.ogg {SOUND_LIST:MISS} 0}
    [/attack_anim]
[/unit_type]
