#textdomain wesnoth-units
[unit_type]
    id=TGA Young Ogre
    [base_unit]
        id=Young Ogre
    [/base_unit]
    advances_to=TGA Ogre
    hide_help=false
    do_not_list=no
    [resistance]
        arcane=80
        cold=90
    [/resistance]
    [abilities]
        {ABILITY_KILLHUNGER 2}
    [/abilities]
[/unit_type]
[unit_type]
    id=TGA Ogre
    [base_unit]
        id=Ogre
    [/base_unit]
    advances_to=Great Ogre
    experience=72
    hide_help=false
    do_not_list=no
    [resistance]
        arcane=80
        cold=90
    [/resistance]
    [abilities]
        {ABILITY_KILLHUNGER 4}
    [/abilities]
[/unit_type]
[unit_type]
    id=Great Ogre
    name= _ "Great Ogre"
    race=ogre
    image="units/ogres/great-ogre.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=76
    movement_type=largefoot
    [resistance]
        arcane=80
        cold=90
    [/resistance]
    movement=5
    small_profile="portraits/monsters/transparent/ogre.png~SCALE(205,205)"
    profile="portraits/monsters/transparent/ogre.png"
#ifndef MULTIPLAYER
    [advancefrom]
        unit="Ogre"
        experience=72
    [/advancefrom]
#endif
    experience=160
    level=3
    alignment=neutral
    advances_to=Ancient Ogre
    {AMLA_DEFAULT}
    cost=43
    usage=fighter
    description= _ "Great Ogres are giant creatures that usually live alone in the wilderness, remarkably similar to humans in form, though large and misshapen. While they can be easily outrun or outsmarted, their strength is not to be underestimated."
    die_sound={SOUND_LIST:OGRE_DIE}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/monsters/transparent/ogre.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/monsters/transparent/ogre.png"
    [/portrait]
    [abilities]
        {ABILITY_KILLHUNGER 6}
    [/abilities]
    [attack]
        name=cleaver
        description=_"cleaver"
        type=blade
        range=melee
        damage=15
        number=3
    [/attack]

    {DEFENSE_ANIM "units/ogres/great-ogre-defend.png" "units/ogres/great-ogre-defend.png" {SOUND_LIST:OGRE_HIT} }

    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            duration=200
            image="units/ogres/great-ogre-idle-1.png"
        [/frame]
        [frame]
            duration=200
            image="units/ogres/great-ogre-idle-2.png"
        [/frame]
        [frame]
            duration=200
            image="units/ogres/great-ogre-idle-3.png"
        [/frame]
        [frame]
            duration=200
            image="units/ogres/great-ogre-idle-2.png"
        [/frame]
        [frame]
            duration=200
            image="units/ogres/great-ogre-idle-1.png"
        [/frame]
    [/idle_anim]
    [attack_anim]
        [filter_attack]
            name="cleaver"
        [/filter_attack]
        [frame]
            image="units/ogres/great-ogre-attack-1.png:75"
        [/frame]
        [frame]
            image="units/ogres/great-ogre-attack-2.png:100"
        [/frame]
        [frame]
            image="units/ogres/great-ogre-attack-2.png:75"
        [/frame]
        [if]
            hits=yes
            [frame]
                image="units/ogres/great-ogre-attack-3.png:175"
                sound=axe.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                image="units/ogres/great-ogre-attack-3.png:175"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            image="units/ogres/great-ogre-attack-1.png:100"
        [/frame]
    [/attack_anim]
[/unit_type]
