#textdomain wesnoth-units
[unit_type]
    id=Healing Tent
    name= _ "Healing Tent"
    race=mechanical
    image="scenery/tent-fancy-red.png"
    [standing_anim]
        start_time=0
        direction=n,ne,se,s
        [frame]
            duration=100
            image="scenery/tent-fancy-red.png"
        [/frame]
    [/standing_anim]
    [standing_anim]
        start_time=0
        direction=sw,nw
        [frame]
            duration=100
            image="scenery/tent-fancy-red.png~FL(horiz)"
        [/frame]
    [/standing_anim]
    hitpoints=52
    movement_type=tower
    movement=1
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=45
    usage=building
    #wmllint: local spelling ballistas
    description= _ "Watchtowers are excellent vantage points from which to spot enemies and fire enormous projectiles at them with ballistas."
    {DEFENSE_ANIM_FILTERED "scenery/tent-fancy-red.png" "scenery/tent-fancy-red.png" mace.wav direction=n,ne,se,s}
    {DEFENSE_ANIM_FILTERED "scenery/tent-fancy-red.png~FL(horiz)" "scenery/tent-fancy-red.png~FL(horiz)" mace.wav direction=sw,nw}
    die_sound=wose-die.ogg
    [abilities]
    [heals]
        value=12
        id=healing
        affect_allies=yes
        name= _ "heals +12"
        female_name= _ "female^heals +12"
        description=  _ "Allows the unit to heal adjacent allied units at the beginning of our turn.

A unit cared for by this healer may heal up to 12 HP per turn, or stop poison from taking effect for that turn.
A poisoned unit cannot be cured of its poison by a healer, and must seek the care of a village or a unit that can cure."
        affect_self=no
        poison=slowed
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
        [/affect_adjacent]
    [/heals]
        {ABILITY_UNPOISON}
        {ABILITY_SELFHEAL}
    [/abilities]
[/unit_type]
