#textdomain wesnoth-units
[unit_type]
    id=Horse Cart
    name= _ "Horse Cart"
    race=mechanical
    image="units/mechanical/cart.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=26
    movement_type=mounted
    movement=6
    experience=25
    level=0
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=10
    usage=scout
    description= _ ""
    die_sound=horse-die.ogg   
    {DEFENSE_ANIM "units/mechanical/cart.png" "units/mechanical/cart.png" {SOUND_LIST:HORSE_HIT} }
    [attack]
        name=kick
        description=_"kick"
        icon=attacks/kick-horse.png
        type=impact
        range=melee
        damage=5
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=kick
        [/filter_attack]
        offset=0.0~0.2,0.2~0.7,0.7~0.2,0.2~0.0
        start_time=-400
        [frame]
            image="units/mechanical/cart.png:300"
            sound=horse-canter.wav
        [/frame]
        {SOUND:HIT_AND_MISS club.ogg {SOUND_LIST:MISS} -200}
    [/attack_anim]
[/unit_type]
