#textdomain wesnoth-units
[unit_type]
    id=Magical Book
    name= _ "Magical Book"
    race=magical
    {TRAIT_MECHANICAL}
    image="units/magical/magic-book.png"
    profile=portraits/book.png
    small_profile=portraits/book.png~SCALE(205,205)
    hitpoints=30
    movement_type=undeadspirit
    movement=5
    experience=30
    level=1
    alignment=neutral
    cost=18
    usage=archer
	{AMLA_DEFAULT}
    {MAGENTA_IS_THE_TEAM_COLOR}
    description= _ "Animating a spell book created a very interesting thing: a book able to cast spells by itself.

Although these books can not advance like most normal units, they can still choose a new spell, or an upgrade when they are supposed to level up (aka they have an AMLA)"+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}
    die_sound=wail-long.wav
    {DEFENSE_ANIM "units/magical/magic-book.png" "units/magical/magic-book.png"  wail.wav}
	
    [resistance]
        blade=100
        pierce=90
        impact=80
        fire=120
        cold=80
        arcane=110
    [/resistance]
    [attack]
        name=book
        description=_"book"
        icon=attacks/book-human.png
        type=impact
        range=melee
        damage=5
        number=2
    [/attack]
    [attack]
        name=missile
        description=_"missile"
        icon=attacks/magic-missile.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=8
        number=2
    [/attack]
#textdomain wesnoth-Invasion_from_the_Unknown
    [attack]
        name=ethereal storm
        description= _ "ethereal storm"
        icon=attacks/ethereal-storm.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=4
        number=4
    [/attack]
    [idle_anim]
        start_time=0

        {STORMKIND_ATTACK_HALO}

        halo1_halo_mod="~CS(-64,-16,0)~O(15%)~SCALE(50,50)"
        halo2_halo_mod="~CS(-64,-16,0)~O(25%)~SCALE(50,50)"
        halo3_halo_mod="~CS(-64,-16,0)~O(15%)~SCALE(50,50)"
    [/idle_anim]
    [attack_anim]
        [filter_attack]
            name=ethereal storm
        [/filter_attack]

        start_time=-600

#        {STORMKIND_ATTACK_HALO}

        halo1_halo_mod="~CS(-64,-32,0)~SCALE(50,50)"
        halo2_halo_mod="~CS(-64,-32,0)~SCALE(50,50)"
        halo3_halo_mod="~CS(-64,-32,0)~SCALE(50,50)"

        missile_start_time=-400
        missile_halo="halo/elven/druid-healing[1~5].png:70,halo/elven/druid-healing6.png~O(0.75):70,halo/elven/druid-healing7.png~O(0.5):70,halo/elven/druid-healing8.png~O(0.25):70"
        missile_halo_mod="~CS(-32,-48,0)~SCALE(50,50)"
        missile_halo_x=0
        missile_halo_y=-10
        missile_offset="0.0~1.25"
        missile_alpha="1.0:480,1.0~0.0:16"

        [missile_frame]
            image="projectiles/icemissile-n-[1~7].png:80"
            image_diagonal="projectiles/icemissile-ne-[1~7].png:80"
        [/missile_frame]

        [frame]
            halo=halo/elven/faerie-fire-halo[1~7].png~CS(-48,-32,0):75
            halo_x,halo_y=0,-28
#            image="units/magical/magic-book.png:600"
        [/frame]

        {SOUND:HIT_AND_MISS magic-faeriefire.ogg magic-faeriefire-miss.ogg -525}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=book
        [/filter_attack]
        start_time=-100
        [frame]
            duration=200
            image="units/magical/magic-book.png"
            sound=fist.ogg
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=missile
        [/filter_attack]

        offset=0

        {MAGIC_MISSILE 0 0}
#       {MAGIC_MISSILE 11 -20}
#        {MAGIC_MISSILE_STAFF_FLARE -750 600 0 0}

        start_time=-800
        [frame]
            image="units/magical/magic-book.png:900"
        [/frame]
        # wmlscope: start ignoring
        {SOUND:HIT_AND_MISS magic-missile-[1~3].ogg magic-missile-[1~3]-miss.ogg -350}
        # wmlscope: stop ignoring
    [/attack_anim]
    [advancement]
        strict_amla=yes
        max_times=1
        id=missile1
        description= _ "stronger missiles (+2 damage, +2 hp, max xp +15%)"
        image=attacks/magic-missile.png
        [effect]
            apply_to=attack
            name=missile
            increase_damage=2
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=15%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=missile2
        require_amla=missile1
        description= _ "able to fire 1 more missile at a time (+1 attack, +2 hp, max xp +15%)"
        image=attacks/magic-missile.png
        [effect]
            apply_to=attack
            name=missile
            increase_attacks=1
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=15%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=missile3
        require_amla=missile2
        description= _ "missiles are more accurate (focused special, +2 damage ,+2 hp, max exp +20%)"
        image=attacks/magic-missile.png
        [effect]
            apply_to=attack
            name=missile
            increase_damage=2
			[set_specials]
				remove_special=magical
				{WEAPON_SPECIAL_FOCUSED}
			[/set_specials]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=storm1
        description= _ "stronger ethereal storm (+1 damage, +2 hp, max xp +15%)"
        image=attacks/ethereal-storm.png
        [effect]
            apply_to=attack
            name=ethereal storm
            increase_damage=1
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=15%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=storm2
        require_amla=storm1
        description= _ "stronger ethereal storm (+1 damage, +1 attack, +2 hp, max xp +15%)"
        image=attacks/ethereal-storm.png
        [effect]
            apply_to=attack
            name=ethereal storm
            increase_damage=1
            increase_attacks=1
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=storm3
        require_amla=storm2
        description= _ "stronger ethereal storm (+1 damage, +1 attack, +2 hp, max xp +15%)"
        image=attacks/ethereal-storm.png
        [effect]
            apply_to=attack
            name=ethereal storm
            increase_damage=1
            increase_attacks=1
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=heals
        require_amla=""
        description= _ "able to heal units around the book by 4 hp (+2 hp, + 20% max xp)"        
        image=icons/jewelry_butterfly_pin.png
		[effect]
			apply_to=new_ability
			[abilities]
				{ABILITY_HEALS}
			[/abilities]
		[/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
	always_display=yes
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=heals2
        require_amla="heals"
        description= _ "able to heal units around the book by 8 hp and cure poison (+2 hp, + 20% max xp)"        
        image=icons/jewelry_butterfly_pin.png
		[effect]
			apply_to=remove_ability
			[abilities]
				{ABILITY_HEALS}
			[/abilities]
		[/effect]
		[effect]
			apply_to=new_ability
			[abilities]
				{ABILITY_CURES}
			[/abilities]
		[/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
	always_display=yes
    [/advancement]
[/unit_type]
