#textdomain wesnoth-units
[unit_type]
    id=Magical Scimitar
    name= _ "Magical Scimitar"
    race=magical
    {TRAIT_MECHANICAL}
    image="units/magical/sabre.png"
    hitpoints=30
    movement_type=undeadspirit
    movement=5
    experience=30
    level=1
    alignment=neutral
    cost=18
    usage=fighter
	{AMLA_DEFAULT}
    {MAGENTA_IS_THE_TEAM_COLOR}
    description= _ "This is an enchanted scimitar animated by magic."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}
    die_sound=wail-long.wav
    {DEFENSE_ANIM "units/magical/sabre.png" "units/magical/sabre.png" wail.wav }
	
    [resistance]
        blade=60
        pierce=50
        impact=70
        fire=80
        cold=80
        arcane=110
    [/resistance]

    [attack]
        name=scimitar
        description=_"scimitar"
        icon=attacks/scimitar2.png
        type=arcane
        range=melee
        [specials]
	     {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=9
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=scimitar
        [/filter_attack]
        {MELEE_FRAME_SWOOSH {SOUND_LIST:SWORD_SWISH} "~SCALE(112,112)~BLEND(0,125,250,0.35)"}
    [/attack_anim]	
[/unit_type]
