#textdomain wesnoth-units
[unit_type]
    id=TGA Minotaur
    name= _ "Minotaur"
    race=monster
    image="units/monsters/minotaur.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=88
    movement_type=largefoot
    movement=5
    experience=200
    level=4
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=80
    usage=mixed fighter
    die_sound={SOUND_LIST:TROLL_DIE}
    description= _ ""+{SPECIAL_NOTES}
    {DEFENSE_ANIM "units/monsters/minotaur.png" "units/monsters/minotaur.png" {SOUND_LIST:TROLL_HIT} }
    [resistance]
        blade=90
        impact=90
    [/resistance]
    [abilities]
	{ABILITY_REGENERATES_VALUE 12}
    [/abilities]
    [attack]
        name=axe
        description="axe"
        icon=attacks/axe-crude.png
        type=blade
        range=melee
        damage=18
        number=3
        [specials]
            {WEAPON_SPECIAL_CLEAVE axe}
        [/specials]
    [/attack]
    [attack]
        name=headbutt
        description=_"headbutt"
        type=impact
        range=melee
        damage=42
        number=1
        icon=attacks/ram.png
        [specials]
            {WEAPON_SPECIAL_CHARGE}
            {WEAPON_SPECIAL_ATTACK_ONLY}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        start_time=-750
        offset=0~-0.2:750,-0.2~0.6:250,0.6~0:300
        [frame]
            image="units/monsters/minotaur-attack-[1~3].png:250"
        [/frame]
        [if]
            hits=yes
            [frame]
                image="units/monsters/minotaur-attack-4.png:250"
                sound=axe.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                image="units/monsters/minotaur-attack-4.png:250"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            image="units/monsters/minotaur-attack-5.png:200"
        [/frame]
        [frame]
            image="units/monsters/minotaur.png:100"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=headbutt
        [/filter_attack]
        offset=0.0~0.1:200,0.1~0.7:200,0.7~0.0:100
        start_time=-300
        [frame]
            image="units/monsters/minotaur.png:25"
        [/frame]
        [frame]
            image="units/monsters/minotaur-bob-[1,2].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -75}
        [frame]
            image="units/monsters/minotaur.png:100"
        [/frame]
    [/attack_anim]
    [standing_anim]
        start_time=0
        [frame]
            image="units/monsters/minotaur.png:190"
        [/frame]
        [frame]
            image="units/monsters/minotaur-bob-[1~2,1].png:[190,,225,190]"
        [/frame]
        [frame]
            image="units/monsters/minotaur.png:190"
        [/frame]
    [/standing_anim]
[/unit_type]
