#textdomain wesnoth-units
[unit_type]
    id=Najae-Snake
    name= _ "Najae-Snake"
    race=monster
    image="units/monsters/najae-snake.png"
    hitpoints=14
    movement_type=khalifatearmoredfoot
    movement=4
    experience=25
    level=0
    alignment=neutral
    advances_to=null
    cost=10
    usage=fighter
	{AMLA_DEFAULT}
    {MAGENTA_IS_THE_TEAM_COLOR}
    description= _ "While the bite of the  Najae-Snakes itself is not deadly, the poison that is injected during the bite is known to slowly devour the victim from the inside."+{SPECIAL_NOTES}+{SPECIAL_NOTES_POISON}
    die_sound=hiss-die.wav
    {DEFENSE_ANIM "units/monsters/najae-snake.png" "units/monsters/najae-snake.png" hiss-hit.wav}
	
	[attack]
        name=bite
        description= _ "bite"
        icon=attacks/fangs-snake-sand.png
        type=impact
        range=melee
        damage=5
        number=2
		[specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
        start_time=-500

        [frame]
            image="units/monsters/najae-snake.png:500"
        [/frame]

        {SOUND:HIT_AND_MISS bite-small.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
