#textdomain wesnoth-units
[unit_type]
    id=Quintain
    name= _ "Quintain"
    race=mechanical
    image="units/mechanical/dummy-new.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    movement=1
    hitpoints=57
    advances_to=null
    {AMLA_DEFAULT}
    level=1
    upkeep=loyal
    cost=10
    usage=mixed fighter
    movement_type=treefolk
    alignment=neutral
    description= _ "Quintains are used to practice swordplay and jousting on. It would be extremely unusual to be attacked by one."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}
    [resistance]
        blade=100
        pierce=100
    [/resistance]
    {DEFENSE_ANIM "units/mechanical/dummy-new-defend.png" "units/mechanical/dummy-new.png" staff.wav}
    [attack]
        name=flail
        description= _"flail"
        # closest image available
        icon=attacks/morning-star.png
        type=impact
        range=melee
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=3
        number=5
    [/attack]
    [attack_anim]
        [filter_attack]
            name=flail
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/mechanical/dummy-new.png:100"
        [/frame]
        [frame]
            image="units/mechanical/dummy-new-melee-[1~2].png:[150,75]"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
        [frame]
            image="units/mechanical/dummy-new.png:75"
        [/frame]
    [/attack_anim]
[/unit_type]
[unit_type]
    id=Detached Quintain
    name= _ "Detached Quintain"
    race=mechanical
    image="units/mechanical/dummy-new-ghost.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    movement=6
    hitpoints=55
    advances_to=null
    {AMLA_DEFAULT}
    level=1
    upkeep=loyal
    cost=18
    usage=mixed fighter
    movement_type=undeadspirit
    alignment=neutral
    description= _ "Quintains are used to practice swordplay and jousting on. It would be extremely unusual to be attacked by one."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}
        [movement_costs]
            deep_water=2
            shallow_water=2
            reef=2
            swamp_water=1
            flat=1
            sand=1
            forest=1
            hills=1
            mountains=1
            village=1
            castle=1
            cave=1
            frozen=1
            unwalkable=1
            fungus=1
        [/movement_costs]

        [defense]
            {FLY_DEFENSE 60}
            cave=60
            fungus=60
        [/defense]
    [resistance]
        blade=80
        pierce=80
        impact=70
        cold=50
        fire=100
    [/resistance]
    {DEFENSE_ANIM "units/mechanical/dummy-new-ghost-defend.png" "units/mechanical/dummy-new-ghost.png" staff.wav}
    [attack]
        name=flail
        description= _"flail"
        # closest image available
        icon=attacks/morning-star.png
        type=impact
        range=melee
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=5
        number=5
    [/attack]
    [attack_anim]
        [filter_attack]
            name=flail
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/mechanical/dummy-new-ghost.png:100"
        [/frame]
        [frame]
            image="units/mechanical/dummy-new-ghost-melee-[1~2].png:[150,75]"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
        [frame]
            image="units/mechanical/dummy-new-ghost.png:75"
        [/frame]
    [/attack_anim]
    [standing_anim]
        start_time=0
        alpha=0.9~0.7:1400,0.7~0.9:600
        [frame]
            duration=250
            image="units/mechanical/dummy-new-ghost.png"
        [/frame]
        [frame]
            duration=250
            image="units/mechanical/dummy-new-ghost-lo.png"
        [/frame]
        [frame]
            duration=250
            image="units/mechanical/dummy-new-ghost.png"
        [/frame]
        [frame]
            duration=250
            image="units/mechanical/dummy-new-ghost-hi.png"
        [/frame]
        [frame]
            duration=250
            image="units/mechanical/dummy-new-ghost.png"
        [/frame]
        [frame]
            duration=250
            image="units/mechanical/dummy-new-ghost-lo.png"
        [/frame]
        [frame]
            duration=250
            image="units/mechanical/dummy-new-ghost.png"
        [/frame]
        [frame]
            duration=250
            image="units/mechanical/dummy-new-ghost-hi.png"
        [/frame]
        [frame]
            duration=250
            image="units/mechanical/dummy-new-ghost.png"
        [/frame]
        [frame]
            duration=250
            image="units/mechanical/dummy-new-ghost-lo.png"
        [/frame]
        [frame]
            duration=250
            image="units/mechanical/dummy-new-ghost.png"
        [/frame]
        [frame]
            duration=250
            image="units/mechanical/dummy-new-ghost-hi.png"
        [/frame]
        [frame]
            duration=250
            image="units/mechanical/dummy-new-ghost.png"
        [/frame]
        [frame]
            duration=250
            image="units/mechanical/dummy-new-ghost-lo.png"
        [/frame]
        [frame]
            duration=250
            image="units/mechanical/dummy-new-ghost.png"
        [/frame]
        [frame]
            duration=250
            image="units/mechanical/dummy-new-ghost-hi.png"
        [/frame]
    [/standing_anim]
[/unit_type]
