#textdomain wesnoth-Invasion_from_the_Unknown

[unit_type]
    id=Rock Golem
    name= _ "Rock Golem"
    race=magical
    {TRAIT_ELEMENTAL}
    {TRAIT_RESILIENT}
    {TRAIT_STRONG}
    {TRAIT_HEALTHY}
    image="units/magical/rock-golem.png"
    hitpoints=42
    movement_type=earthelement
    movement=4
    experience=44
    level=1
    alignment=neutral
    advances_to=Stone Titan
    cost=20
    usage=fighter
    undead_variation=null
    description= _ "Rock Golems are giant, slow, and heavy creatures made out of solid, living rock. Their fists can crush any skeleton in matter of seconds"+{SPECIAL_NOTES}+{SPECIAL_NOTES_SUBMERGE}
    die_sound={SOUND_LIST:TROLL_DIE}

    [abilities]
        {ABILITY_ROCK_HEALING 8}
        {ABILITY_SUBMERGE}
    [/abilities]
    [resistance]
        pierce=50
    [/resistance]
#textdomain wesnoth-units
    [attack]
        name=fist
        description=_ "fist"
        icon=attacks/fist-troll.png
        type=impact
        range=melee
        damage=7
        number=3
    [/attack]
    {DEFENSE_ANIM "units/magical/rock-golem-defend.png" "units/magical/rock-golem.png" {SOUND_LIST:TROLL_HIT} }
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        start_time=-200
        [frame]
            duration=50
            image=units/magical/rock-golem.png
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=250
                image=units/magical/rock-golem-attack.png
                sound=fist.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=250
                image=units/magical/rock-golem-attack.png
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image=units/magical/rock-golem.png
        [/frame]
    [/attack_anim]
    [death]
        start_time=0
        [frame]
            duration=50
            image=units/magical/rock-golem.png
        [/frame]
        [frame]
            duration=100
            image=units/magical/rock-golem-die-1.png
        [/frame]
        [frame]
            duration=100
            image=units/magical/rock-golem-die-2.png
        [/frame]
        [frame]
            duration=100
            image=units/magical/rock-golem-die-3.png
        [/frame]
    [/death]
[/unit_type]
