#textdomain wesnoth-units

[unit_type]
    id=Royal Hound
    name= _ "Royal Hound"
    race=wolf
    generate_name=no
    image="units/monsters/hunt-hound.png"
    hitpoints=52
    movement_type=orcishfoot
    movement=7
    experience=86
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=30
#    [movement_anim]
#        [frame]
#            begin=0
#            end=150
#            image="units/monsters/black-wolf-moving.png"
#        [/frame]
#    [/movement_anim]

    usage=scout
    undead_variation=saurian
    description=  "..."
    {DEFENSE_ANIM "units/monsters/hunt-hound.png" "units/monsters/hunt-hound.png" wolf-hit.wav}
    die_sound=wolf-die.wav
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    [resistance] 
        blade=70 
        pierce=100
        impact=70 
        fire=100  
        cold=80   
        arcane=80 
    [/resistance] 
    [attack]
        name=fangs
        description=_"fangs"
        icon=attacks/fangs-animal.png
        type=blade
        range=melee
        damage=8
        number=4
    [/attack]
    [attack]
        name=thrash
        description="thrash and flail"
        icon=attacks/mace-spiked.png
        type=pierce
        range=melee
        damage=9
        number=3
        [specials]
            {WEAPON_SPECIAL_BERSERK}
            {WEAPON_SPECIAL_ATTACK_ONLY}
        [/specials]
        defense_weight=0.0
    [/attack]
    [attack_anim] 
        [filter_attack]
#            name=fangs # will build on this at some point...
	    range=melee
        [/filter_attack]
        start_time=-250 
        [frame]
            image="units/monsters/hunt-hound.png:350"
        [/frame]
        {SOUND:HIT_AND_MISS wolf-bite.ogg wolf-bite-miss.ogg -150}
    [/attack_anim]
[/unit_type]
