#textdomain wesnoth-units
[unit_type]
    id=Scarab
    name= _ "Scarab"
    race=monster
    image="units/monsters/scarab.png"
    hitpoints=45
    movement_type=khalifatearmoredfoot
    movement=7
    experience=50
    level=1
    alignment=neutral
    advances_to=null
    cost=22
    usage=fighter
	{AMLA_DEFAULT}
    {MAGENTA_IS_THE_TEAM_COLOR}
    description= _ "Scarab Beetles  seem to ignore the boundaries of the morphology and physiology of arthropods, as they grow huge as a goat. Wearing a hardened horn above their heads, the Scarab Beetles are known to be able to impale men. For this reason and others, there a people known to train them for war."+{SPECIAL_NOTES}+{SPECIAL_NOTES_CHARGE}
    die_sound=hiss-die.wav
    {DEFENSE_ANIM "units/monsters/scarab.png" "units/monsters/scarab.png" hiss-hit.wav}
	
	[attack]
        name=charge
        description= _ "charge"
        icon=attacks/pincers.png
        type=pierce
        range=melee
        damage=16
        number=1
		[specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]
	[attack]
        name=ram
        description= _ "ram"
        icon=attacks/pincers.png
        type=impact
        range=melee
        damage=14
        number=1
		[specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]
	
    [attack_anim]
        [filter_attack]
            name=charge
        [/filter_attack]
        start_time=-500

        [frame]
            image="units/monsters/scarab.png:50"
            offset=0.0~-0.1
        [/frame]
        [frame]
            image="units/monsters/scarab.png:500"
            offset=-0.1~-0.4.0:200,-0.2~0.0:150,0.0~0.8:100,0.8~0.4:100
        [/frame]
        [frame]
            image="units/monsters/scarab.png:100"
            offset=0.4~0.0
        [/frame]

        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=ram
        [/filter_attack]
        start_time=-500

        [frame]
            image="units/monsters/scarab.png:50"
            offset=0.0~-0.1
        [/frame]
        [frame]
            image="units/monsters/scarab.png:500"
            offset=-0.1~-0.4.0:200,-0.2~0.0:150,0.0~0.8:100,0.8~0.4:100
        [/frame]
        [frame]
            image="units/monsters/scarab.png:100"
            offset=0.4~0.0
        [/frame]

        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
