#textdomain wesnoth-units
[unit_type]
    id=Steel Spikes
    name= _ "Steel Spikes"
    race=mechanical
    image="units/mechanical/spikes.png~GS()"
    [standing_anim]
        start_time=0
        direction=n,ne,se,s
        [frame]
            duration=100
            image="units/mechanical/spikes.png~GS()"
        [/frame]
    [/standing_anim]
    [standing_anim]
        start_time=0
        direction=sw,nw
        [frame]
            duration=100
            image="units/mechanical/spikes.png~GS()~FL(horiz)"
        [/frame]
    [/standing_anim]
    hitpoints=40
    movement_type=tower
    movement=1
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    upkeep=loyal
    {AMLA_DEFAULT}
    cost=40
    usage=building
    #wmllint: local spelling ballistas
    description= _ "Spikess are excellent vantage points from which to spot enemies and fire enormous projectiles at them with ballistas."
    {DEFENSE_ANIM_FILTERED "units/mechanical/spikes.png~GS()" "units/mechanical/spikes.png~GS()" mace.wav direction=n,ne,se,s}
    {DEFENSE_ANIM_FILTERED "units/mechanical/spikes.png~GS()~FL(horiz)" "units/mechanical/spikes.png~GS()~FL(horiz)" mace.wav direction=sw,nw}
    die_sound=wose-die.ogg
    [abilities]
        {ABILITY_CHAMELEON}
    [/abilities]
    [resistance]
        fire=110
        blade=70
        pierce=40
    [/resistance]
    [attack]
        name=spikes
        description= _ "spikes"
        icon="attacks/javelin-human.png"
        [specials]
            {WEAPON_SPECIAL_SURPRISE steelspikes}
        [/specials]
        type=pierce
        range=melee
        damage=21
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spikes
        [/filter_attack]
        direction=sw,nw
        offset=0.0
        start_time=-150
            [frame]
                duration=100
                image="units/mechanical/spikes.png~GS()~FL(horiz)"
            [/frame]
            [frame]
                duration=100
                image="units/mechanical/spikes2.png~GS()~FL(horiz)"
            [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/mechanical/spikes3.png~GS()~FL(horiz)"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/mechanical/spikes3.png~GS()~FL(horiz)"
                sound=spear-miss.ogg
            [/frame]
        [/else]
            [frame]
                duration=100
                image="units/mechanical/spikes2.png~GS()~FL(horiz)"
            [/frame]
            [frame]
                duration=100
                image="units/mechanical/spikes.png~GS()~FL(horiz)"
            [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spikes
        [/filter_attack]
        direction=s,n,se,ne
        offset=0.0
        start_time=-150
            [frame]
                duration=100
                image="units/mechanical/spikes.png~GS()"
            [/frame]
            [frame]
                duration=100
                image="units/mechanical/spikes2.png~GS()"
            [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/mechanical/spikes3.png~GS()"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/mechanical/spikes3.png~GS()"
                sound=spear-miss.ogg
            [/frame]
        [/else]
            [frame]
                duration=100
                image="units/mechanical/spikes2.png~GS()"
            [/frame]
            [frame]
                duration=100
                image="units/mechanical/spikes.png~GS()"
            [/frame]
    [/attack_anim]
[/unit_type]
