#textdomain wesnoth-units
[unit_type]
    id=Thunderboar
    name= _ "Thunderboar"
    race=monster
    image="units/monsters/boar-thunder.png"
#    {TRAIT_FERAL_MUSTHAVE}
    hitpoints=70
    movement_type=orcishfoot
    movement=5
    experience=150
    {AMLA_DEFAULT}
    level=3
    alignment=neutral
    advances_to=null
    undead_variation=mounted
    cost=62
    usage=fighter
    description=_ "Boars are hardy livestock. Their powerful limbs make them good beasts of burdern. Their thick wool and hides make coarse, but serviceable clothing and their meat is tough, but filling. But an angry or wild boar is not to be trifled with."+{SPECIAL_NOTES}+{SPECIAL_NOTES_CHARGE}
    die_sound=boar-die.ogg
    {DEFENSE_ANIM "units/monsters/boar-thunder.png" "units/monsters/boar-thunder.png" boar-hit.ogg }
    [defense]
        village=70
        flat=70
        castle=60
    [/defense]
    [resistance]
        fire=80
    [/resistance]
    [attack]
        name=tusks
        description="tusks"
        icon=attacks/tusk.png
        type=blade
        range=melee
        damage=8
        number=4
    [/attack]
    [attack]
        name=tusk charge
        description="tusk charge"
        icon=attacks/tusk.png
        type=pierce
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
        range=melee
        damage=16
        number=2
    [/attack]
    [attack]
        name=lightning
        description= _"lightning"
        icon=attacks/lightning.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=13
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        [if]
            hits=no
            [frame]
                image="units/monsters/boar-thunder.png:100"
                sound=boar-charge-miss.ogg
            [/frame]
            [frame]
                image="units/monsters/boar-thunder.png:100"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                image="units/monsters/boar-thunder.png:100"
                sound=boar-charge.ogg
            [/frame]
            [frame]
                image="units/monsters/boar-thunder.png:100"
                sound=spear.ogg
            [/frame]
        [/else]
        [frame]
            image="units/monsters/boar-thunder.png:100"
        [/frame]
        [frame]
            image="units/monsters/boar-thunder.png:50"
        [/frame]
        [frame]
            image="units/monsters/boar-thunder.png:50"
        [/frame]
        [frame]
            image="units/monsters/boar-thunder.png:100"
        [/frame]
    [/attack_anim]
#define thunderboar_LIGHTNING DIRECTION_NUMBER
    [attack_anim]
        [filter_attack]
            name=lightning
        [/filter_attack]

        {LIGHTNING_BOLT {DIRECTION_NUMBER} }

        start_time=-300
        {SOUND:HIT_AND_MISS lightning.ogg lightning-miss.ogg -300}
        [frame]
            image="units/monsters/boar-thunder.png:550"
        [/frame]
    [/attack_anim]
#enddef

    {thunderboar_LIGHTNING 1}
    {thunderboar_LIGHTNING 2}
    {thunderboar_LIGHTNING 3}
[/unit_type]
