#textdomain wesnoth-units
[unit_type]
    id=Wyvern
    name= _ "Wyvern"
    race=monster
    image="units/monsters/wyvern.png"
	image_icon="units/monsters/wyvern.png~CROP(17,13,72,72)"
    hitpoints=108
    movement_type=khalifatearmoredfoot
    movement=6
    experience=200
    level=4
    alignment=neutral
    advances_to=null
    cost=78
    usage=fighter
	{AMLA_DEFAULT}
    {MAGENTA_IS_THE_TEAM_COLOR}
    description= _ "Wyverns are agile dragon-like creatures that inhabit the east of the vastness of the ashland desert. Since a long time, wyverns pose as a valuable trophy to the warriors of the khalifate, yet only the bravest and strongest of them are able to overwhelm a wyvern and amongst them, only the fewest of the few may train one."+{SPECIAL_NOTES}+{SPECIAL_NOTES_POISON}
    die_sound=hiss-die.wav
    {DEFENSE_ANIM "units/monsters/wyvern.png" "units/monsters/wyvern.png" hiss-hit.wav }
	
	[attack]
        name=bite
        description= _ "bite"
        icon=attacks/fangs-snake-sand.png
        type=blade
        range=melee
        damage=14
        number=3
	[specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
	[attack]
        name=tail
        description= _ "tail"
        icon=attacks/tail-shaxthal.png
        type=impact
        range=melee
        damage=28
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=tail
        [/filter_attack]
        {MELEE_FRAME_SWOOSH_CUSTOM_MOUNTED tail.ogg {SOUND_LIST:MISS} {SOUND_LIST:DRAKE_HIT} "~SCALE(140,140)"}
    [/attack_anim]	
    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
        {MELEE_FRAME_SWOOSH_CUSTOM_MOUNTED bite.ogg {SOUND_LIST:MISS} {SOUND_LIST:DRAKE_HIT} "~SCALE(1,1)"}
    [/attack_anim]	
	[attack_anim]
        [filter_attack]
            name=bite_old
        [/filter_attack]

        start_time=-200

        [frame]
            image="units/monsters/wyvern.png:300"
            sound={SOUND_LIST:DRAKE_HIT}
        [/frame]

        {SOUND:HIT_AND_MISS bite.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
