#textdomain wesnoth-units
[unit_type]
    id=Ascended Athvari
    name= _ "Ascended Athvari"
    race=athvari
    image="units/athvari/ascended_athvari.png"
    image_icon="units/athvari/ascended_athvari.png~CROP(32,24,72,72)"
    halo=halo/athvari-power-[1~14].png~O(50%):150
    hitpoints=100
    movement_type=khalifatearmoredfoot
    movement=6
    experience=250
    level=5
    alignment=liminal
    advances_to=null
    cost=95
    usage=mage
    {AMLA_DEFAULT}
    {MAGENTA_IS_THE_TEAM_COLOR}
    description= _ "Ascended Athvari have unlocked the power that inherits them and control it with ease. Legends say that there have not been many Athvari who have been able to do so. In times of great dangers however, it is noticed, that more and more Athvari uncover their true powers."+{SPECIAL_NOTES}+{SPECIAL_NOTES_TELEPORT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {ATHVARI_DEFENSE_ANIM -85 -35 85 "units/athvari/ascended_athvari.png" "units/athvari/ascended_athvari.png" {SOUND_LIST:HUMAN_HIT} shield-athvari-high}
	[abilities]
		{ABILITY_TELEPORT}
	[/abilities]
    [resistance]
        arcane=50
        fire=60
        cold=60
    [/resistance]		
	
    [attack]
        name=berdysch
        description=_"berdysch"
        icon=attacks/berdysch.png
        type=blade
        range=melee
#        [specials]
#		{WEAPON_SPECIAL_MAGESLAYER}
#        [/specials]
        damage=19
        number=3
    [/attack]
	
    [attack]
        name=missile
        description=_"missile"
        icon=attacks/magic-missile.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=17
        number=4
    [/attack]

    [attack_anim]
        [filter_attack]
            name=berdysch
        [/filter_attack]
        {MELEE_FRAME_SWOOSH {SOUND_LIST:SWORD_SWISH} "~SCALE(132,132)"}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=berdysch_old
        [/filter_attack]
        offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.7,0.7~0.6,0.6~0.3,0.3~0.0
        start_time=-330
        [frame]
            image="units/athvari/ascended_athvari.png:[120*3]"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -400}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=missile
        [/filter_attack]
        offset=0
        {MAGIC_MISSILE 14 -23}
        {MAGIC_MISSILE_STAFF_FLARE -750 600 14 -23}
		
        [frame]
            image="units/athvari/ascended_athvari.png:[100,700,200]"
        [/frame]
		{SOUND:HIT_AND_MISS magic-missile-[1~3].ogg magic-missile-[1~3]-miss.ogg -350}
    [/attack_anim]
    [animation]
        apply_to=pre_teleport
        start_time=-1250

        halo1_start_time=-1250
        halo1_auto_vflip=false
        [halo1_frame]
            halo="halo/athvari-power-[1,2].png:150"
            halo_mod="~SCALE(158,158)" 
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-[3,4].png:150"
            halo_mod="~SCALE(158,158)~O(90%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-[5,6].png:150"
            halo_mod="~SCALE(158,158)~O(80%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-[7,9].png:150"
            halo_mod="~SCALE(158,158)~O(70%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-10.png:150"
            halo_mod="~SCALE(158,158)~O(60%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-11.png:150"
            halo_mod="~SCALE(158,158)~O(50%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-12.png:150"
            halo_mod="~SCALE(158,158)~O(40%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-13.png:150"
            halo_mod="~SCALE(158,158)~O(30%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-14.png:150"
            halo_mod="~SCALE(158,158)~O(20%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="misc/blank-hex.png:150"
            halo_y=0
        [/halo1_frame]
        {TGA_FADE_TELEPORT_ANIM_PRE units/athvari/ascended_athvari.png}
    [/animation]
    [animation]
        apply_to=post_teleport
        start_time=-1250

        halo1_start_time=-1250
        halo1_auto_vflip=false
        [halo1_frame]
            halo="misc/blank-hex.png:150"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-14.png:150"
            halo_mod="~SCALE(158,158)~O(20%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-13.png:150"
            halo_mod="~SCALE(158,158)~O(30%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-12.png:150"
            halo_mod="~SCALE(158,158)~O(40%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-11.png:150"
            halo_mod="~SCALE(158,158)~O(50%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-[10,9].png:150"
            halo_y=0
            halo_mod="~SCALE(158,158)~O(40%)"
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-[8,7].png:150"
            halo_mod="~SCALE(158,158)~O(50%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-[6,5].png:150"
            halo_mod="~SCALE(158,158)~O(60%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-4.png:150"
            halo_mod="~SCALE(158,158)~O(70%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-3.png:150"
            halo_mod="~SCALE(158,158)~O(80%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-2.png:150"
            halo_mod="~SCALE(158,158)~O(90%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
           halo="halo/athvari-power-1.png:150"
           halo_mod="~SCALE(158,158)" 
           halo_y=0
        [/halo1_frame]
        {TGA_FADE_TELEPORT_ANIM_POST units/athvari/ascended_athvari.png}
    [/animation]
	
	#[standing_anim]
    #    start_time=0
    #    [frame]
    #        image="units/athvari/ascended_athvari-bob-[1~3,2,1].png:[190,190,280,190,190]"
    #    [/frame]
    #[/standing_anim]

[/unit_type]
