#textdomain wesnoth-units
[unit_type]
    id=Wanderer
    name= _ "Wanderer"
    race=human
    gender=male
    image="units/humans/adventurer.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=45
    movement_type=smallfoot
    movement=6
    experience=70
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=26
    usage=mixed fighter
    description= _ "The ringleaders of any group of thieves earn their positions by skill. These rogues have spent many an unpleasant moment darting through crowds and dodging away from those who wish them ill, a set of skills which is very handy in a fight. Masters of knifework, they can also throw knives with reliable accuracy, and their long hours of prowling around at night leave them more comfortable fighting in the dark."+{SPECIAL_NOTES}+{SPECIAL_NOTES_BACKSTAB}+{SPECIAL_NOTES_SKIRMISHER}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/humans/adventurer.png" "units/humans/adventurer.png" {SOUND_LIST:HUMAN_HIT} }
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    [defense]
        frozen=70
        forest=40
        swamp_water=60
        shallow_water=70
        reef=60
        sand=60
    [/defense]
    [movement_costs]
        frozen=2
        forest=1
        sand=1
        shallow_water=2
    [/movement_costs]
    [resistance]
        cold=90
    [/resistance]
    [attack]
        name=short sword
        description=_"short sword"
        icon=attacks/dagger-human.png
        type=blade
        range=melee
        damage=8
        number=3
#        [specials]
#            {WEAPON_SPECIAL_BACKSTAB}
#        [/specials]
    [/attack]
    [attack]
        name=knife
        description=_"knife"
        icon=attacks/dagger-thrown-human.png
        type=blade
        range=ranged
        damage=4
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=knife
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/dagger-n.png"
            image_diagonal="projectiles/dagger-ne.png"
        [/missile_frame]
        start_time=-200
        [frame]
            image="units/humans/adventurer.png:250"
        [/frame]
        {SOUND:HIT_AND_MISS throwing-knife.ogg throwing-knife-miss.ogg -200}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=short sword
        [/filter_attack]
        {MELEE_FRAME_SWOOSH {SOUND_LIST:SWORD_SWISH} "~SCALE(90,90)"}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/humans/adventurer.png:50"
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -150}
        [frame]
            image="units/humans/adventurer.png:250"
        [/frame]
        [frame]
            image="units/humans/adventurer.png:100"
        [/frame]
    [/attack_anim]
[/unit_type]
