#textdomain wesnoth-units
#ifdef MULTIPLAYER
[unit_type]
    id=TGA Heavy Infantryman
    [base_unit]
        id=Heavy Infantryman
    [/base_unit]
    advances_to=TGA Shock Trooper
    cost=18
[/unit_type]
[unit_type]
    id=TGA Shock Trooper
    [base_unit]
        id=Shock Trooper
    [/base_unit]
    advances_to=TGA Iron Mauler
[/unit_type]
[unit_type]
    id=TGA Iron Mauler
    [base_unit]
        id=Iron Mauler
    [/base_unit]
#    advances_to=Titanium Decimator
    advances_to=Destroyer#,Steel Crusher
    experience=215
[/unit_type]
[unit_type]
    id=TGA Cavalryman
    [base_unit]
        id=Cavalryman
    [/base_unit]
    advances_to=TGA Dragoon,Horse Archer
[/unit_type]
[unit_type]
    id=TGA Dragoon
    [base_unit]
        id=Dragoon
    [/base_unit]
    advances_to=TGA Cavalier
    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=7
        number=4
    [/attack]
[/unit_type]
[unit_type]
    id=TGA Cavalier
    [base_unit]
        id=Cavalier
    [/base_unit]
    advances_to=Auxillary Master
    experience=200
[/unit_type]
[unit_type]
    id=TGA Mage
    [base_unit]
        id=Mage
    [/base_unit]
    advances_to=TGA Red Mage,TGA White Mage,Sworded Mage
[/unit_type]
[unit_type]
    id=TGA Red Mage
    [base_unit]
        id=Red Mage
    [/base_unit]
    advances_to=TGA Arch Mage,TGA Silver Mage
[/unit_type]
[unit_type]
    id=TGA Arch Mage
    [base_unit]
        id=Arch Mage
    [/base_unit]
    advances_to=TGA Great Mage,Void Mage
[/unit_type]
[unit_type]
    id=TGA Great Mage
    [base_unit]
        id=Great Mage
    [/base_unit]
    advances_to=Luminary of Fire
    experience=480
[/unit_type]
[unit_type]
    id=TGA Silver Mage
    [base_unit]
        id=Silver Mage
    [/base_unit]
    advances_to=Silver Archmage,Golden Mage
    experience=220
[/unit_type]
[unit_type]
    id=TGA White Mage
    [base_unit]
        id=White Mage
    [/base_unit]
    advances_to=TGA Mage of Light
[/unit_type]
[unit_type]
    id=TGA Mage of Light
    [base_unit]
        id=Mage of Light
    [/base_unit]
    advances_to=Celestial Mage,Light Bringer
    experience=220
[/unit_type]
[unit_type]
    id=TGA Bowman
    [base_unit]
        id=Bowman
    [/base_unit]
    advances_to=TGA Longbowman,Armored Crossbowman,Forester
[/unit_type]
[unit_type]
    id=TGA Longbowman
    [base_unit]
        id=Longbowman
    [/base_unit]
    advances_to=TGA Master Bowman
[/unit_type]
[unit_type]
    id=TGA Master Bowman
    [base_unit]
        id=Master Bowman
    [/base_unit]
    advances_to=Champion Bowman
    experience=180
[/unit_type]
[unit_type]
    id=TGA Spearman
    [base_unit]
        id=Spearman
    [/base_unit]
    advances_to=TGA Swordsman,TGA Pikeman,TGA Javelineer
[/unit_type]
[unit_type]
    id=TGA Swordsman
    [base_unit]
        id=Swordsman
    [/base_unit]
    advances_to=Royal Guard,Executioner,Greatswordsman
[/unit_type]
[unit_type]
    id=TGA Pikeman
    [base_unit]
        id=Pikeman
    [/base_unit]
    advances_to=TGA Halberdier
[/unit_type]
[unit_type]
    id=TGA Halberdier
    [base_unit]
        id=Halberdier
    [/base_unit]
    advances_to=Scythemaster
    experience=180
[/unit_type]
[unit_type]
    id=TGA Javelineer
    [base_unit]
        id=Javelineer
    [/base_unit]
    advances_to=Master Javelineer
    experience=90
[/unit_type]
[unit_type]
    id=TGA Sergeant
    [base_unit]
        id=Sergeant
    [/base_unit]
    advances_to=TGA Lieutenant
[/unit_type]
[unit_type]
    id=TGA Lieutenant
    [base_unit]
        id=Lieutenant
    [/base_unit]
    advances_to=TGA General
[/unit_type]
[unit_type]
    id=TGA General
    [base_unit]
        id=General
    [/base_unit]
    advances_to=TGA Grand Marshal
[/unit_type]
[unit_type]
    id=TGA Grand Marshal
    [base_unit]
        id=Grand Marshal
    [/base_unit]
    advances_to=Supreme Commander
    experience=385
[/unit_type]
[unit_type]
    id=TGA Horseman
    [base_unit]
        id=Horseman
    [/base_unit]
    advances_to=TGA Knight,TGA Lancer
[/unit_type]
[unit_type]
    id=TGA Knight
    [base_unit]
        id=Knight
    [/base_unit]
    advances_to=TGA Grand Knight,TGA Paladin,Elephant Cataphract
[/unit_type]
[unit_type]
    id=TGA Paladin
    [base_unit]
        id=Paladin
    [/base_unit]
    advances_to=Light Bringer
    experience=220
[/unit_type]
[unit_type]
    id=TGA Grand Knight
    [base_unit]
        id=Grand Knight
    [/base_unit]
    advances_to=Horse Lord
    experience=200
[/unit_type]
[unit_type]
    id=TGA Lancer
    [base_unit]
        id=Lancer
    [/base_unit]
    advances_to=Lunatic Knight
    experience=110
    [attack]
        name=lance
        description=_"lance"
        type=pierce
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
        range=melee
        damage=11
        number=3
    [/attack]
[/unit_type]
[unit_type]
    id=TGA Fencer
    [base_unit]
        id=Fencer
    [/base_unit]
    advances_to=TGA Duelist
[/unit_type]
[unit_type]
    id=TGA Duelist
    [base_unit]
        id=Duelist
    [/base_unit]
    advances_to=TGA Master at Arms
[/unit_type]
[unit_type]
    id=TGA Master at Arms
    [base_unit]
        id=Master at Arms
    [/base_unit]
    advances_to=Champion
    experience=200
[/unit_type]
[unit_type]
    id=TGA Ruffian
    [base_unit]
        id=Ruffian
    [/base_unit]
    advances_to=TGA Thug,TGA Footpad
[/unit_type]
[unit_type]
    id=TGA Footpad
    [base_unit]
        id=Footpad
    [/base_unit]
    advances_to=Outlaw,Messenger
[/unit_type]
[unit_type]
    id=TGA Thug
    [base_unit]
        id=Thug
    [/base_unit]
    advances_to=TGA Bandit,Plunderer
[/unit_type]
[unit_type]
    id=TGA Bandit
    [base_unit]
        id=Bandit
    [/base_unit]
    advances_to=TGA Highwayman
[/unit_type]
[unit_type]
    id=TGA Highwayman
    [base_unit]
        id=Highwayman
    [/base_unit]
    advances_to=Ringleader,Mauler
    experience=190
[/unit_type]
[unit_type]
    id=TGA Thief
    [base_unit]
        id=Thief
    [/base_unit]
    advances_to=TGA Rogue
[/unit_type]
[unit_type]
    id=TGA Rogue
    [base_unit]
        id=Rogue
    [/base_unit]
    advances_to=TGA Assassin
[/unit_type]
[unit_type]
    id=TGA Assassin
    [base_unit]
        id=Assassin
    [/base_unit]
    advances_to=Exterminator
    experience=200
[/unit_type]
[unit_type]
    id=TGA Poacher
    [base_unit]
        id=Poacher
    [/base_unit]
    advances_to=TGA Trapper
[/unit_type]
[unit_type]
    id=TGA Trapper
    [base_unit]
        id=Trapper
    [/base_unit]
    advances_to=TGA Huntsman,TGA Ranger
[/unit_type]
[unit_type]
    id=TGA Huntsman
    [base_unit]
        id=Huntsman
    [/base_unit]
    advances_to=TGA Nemesis
    experience=180
[/unit_type]
[unit_type]
    id=TGA Ranger
    [base_unit]
        id=Ranger
    [/base_unit]
    advances_to=Forest Warden
    experience=180
[/unit_type]
#endif