#textdomain wesnoth-units
[unit_type]
    id=Dark Cultist
    name= _ "Dark Cultist"
    race=human
    gender=male
    ignore_race_traits=yes
    {TRAIT_QUICK}
    {TRAIT_RESILIENT}
    {TRAIT_INTELLIGENT}
    {TRAIT_FEARLESS}
    image="units/human-dark/cultist.png"
    profile="portraits/cloaked2.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=50
    movement_type=smallfoot
    movement=6
    experience=90
    level=2
    alignment=chaotic
    advances_to=Dark Cult Zealot
    cost=36
#    {AMLA_DEFAULT}
    usage=mixed fighter
    description= _ "Not much is known about this cult and it's whereabouts. Their robes make them look similiar to ghosts, but actually their purpoise is to conceal the little remains of humanity inside, which is already slowly fading away."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_LEADERSHIP}
    {DEFENSE_ANIM "units/human-dark/cultist.png" "units/human-dark/cultist.png" {SOUND_LIST:HUMAN_HIT}}
    die_sound=lich-die.ogg
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/cloaked2.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/cloaked2.png"
    [/portrait]
    [abilities]
        {ABILITY_STRENGTH_OF_DARKNESS_6}
    [/abilities]
    [resistance]
       blade=90
       pierce=90
       impact=90
       fire=100
       cold=70
       arcane=120
    [/resistance]
    [attack]
        name=touch
        description= _ "touch"
        icon=attacks/touch-undead.png
        type=cold
        range=melee
        damage=9
        number=2
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=wail
        description=_"wail"
        type=cold
        range=ranged
        damage=5
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=100
            [/frame]
            [frame]
                begin=100
                end=90
                sound=wail-sml.wav
            [/frame]
            [frame]
                begin=90
                end=80
            [/frame]
            [frame]
                begin=80
                end=70
            [/frame]
            [frame]
                begin=70
                end=60
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=100
            [/frame]
            [frame]
                begin=100
                end=90
                sound=wail-sml.wav
            [/frame]
            [frame]
                begin=90
                end=80
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=wail
        [/filter_attack]
        {MISSILE_FRAME_WAIL}
        start_time=-250
        [frame]
            image="units/human-dark/cultist.png:50"
        [/frame]
        [frame]
            sound=wail.wav
            image="units/human-dark/cultist.png:250"
        [/frame]
    [/attack_anim]
    [standing_anim]
        start_time=0
        alpha=1~0.7:1400,0.7~1:1400
        [frame]
            image="units/human-dark/cultist.png:250"
        [/frame]
    [/standing_anim]
    [variation]
        variation_id=unmasked
        inherit=yes
        hide_help=yes
        image="units/human-dark/cultist-unmasked.png"
    {DEFENSE_ANIM "units/human-dark/cultist-unmasked.png" "units/human-dark/cultist-unmasked.png" {SOUND_LIST:HUMAN_HIT}}
    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=100
            [/frame]
            [frame]
                begin=100
                end=90
                sound=wail-sml.wav
            [/frame]
            [frame]
                begin=90
                end=80
            [/frame]
            [frame]
                begin=80
                end=70
            [/frame]
            [frame]
                begin=70
                end=60
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=100
            [/frame]
            [frame]
                begin=100
                end=90
                sound=wail-sml.wav
            [/frame]
            [frame]
                begin=90
                end=80
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=wail
        [/filter_attack]
        {MISSILE_FRAME_WAIL}
        start_time=-250
        [frame]
            image="units/human-dark/cultist-unmasked.png:50"
        [/frame]
        [frame]
            sound=wail.wav
            image="units/human-dark/cultist-unmasked.png:250"
        [/frame]
    [/attack_anim]
    [standing_anim]
        start_time=0
        alpha=1~0.7:1400,0.7~1:1400
        [frame]
            image="units/human-dark/cultist-unmasked.png:250"
        [/frame]
    [/standing_anim]
    [/variation]
[/unit_type]
