#textdomain wesnoth-units
[unit_type]
    id=Princess
    name= _ "female^Princess"
    gender=female
    race=human
    {MAGENTA_IS_THE_TEAM_COLOR}
    image="units/human-loyalists/noblewoman/human-princess2.png"
    {DEFENSE_ANIM "units/human-loyalists/noblewoman/human-princess2-defend-1.png" "units/human-loyalists/noblewoman/human-princess2-defend.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [leading_anim]
        start_time=-150

        [frame]
            image="units/human-loyalists/noblewoman/human-princess2-leading-[1,2].png:150"
        [/frame]
    [/leading_anim]
    hitpoints=50
    movement_type=agilesmallfoot
    [resistance]
        blade=90
        impact=90
    [/resistance]
    movement=6
    experience=100
    level=2
    alignment=lawful
    advances_to=Battle Princess
    cost=46
    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_2}
#        {ABILITY_BLITZ}
    [/abilities]
    usage=fighter
    description= _ "A noble by birth, the Princess has learnt swordplay with the greatest generals and battle tactics with the greatest sages, making her both a great combatant and leader. The units of lower level around the Princess will fight better due to her presence."+{SPECIAL_NOTES}+{SPECIAL_NOTES_LEADERSHIP}
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [attack]
        name=saber
        description= _"saber"
        icon=attacks/saber-human.png
        type=blade
        range=melee
        damage=8
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        {MELEE_FRAME_SWOOSH {SOUND_LIST:SWORD_SWISH} "~SCALE(100,100)"}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            range=melee_old
        [/filter_attack]

        start_time=-175

        [frame]
            image="units/human-loyalists/noblewoman/human-princess2.png:[50*2,125,150]"
        [/frame]
        [frame]
            image="units/human-loyalists/noblewoman/human-princess2.png:25"
        [/frame]

        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -75}
    [/attack_anim]
#    {WEAPON_SPECIAL_INITIATIVE_EVENTS}
[/unit_type]
