#textdomain wesnoth-units
[unit_type]
    id=Heiress
    name= _ "female^Heiress"
    gender=female
    race=human
    image="units/human-loyalists/noblewoman/human-princess.png"
    {DEFENSE_ANIM "units/human-loyalists/noblewoman/human-princess-defend.png" "units/human-loyalists/noblewoman/human-princess.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    {MAGENTA_IS_THE_TEAM_COLOR}
    [leading_anim]
        start_time=-150

        [frame]
            image="units/human-loyalists/noblewoman/human-princess-leading.png:300"
        [/frame]
    [/leading_anim]
    hitpoints=33
    movement_type=smallfoot
    [resistance]
        blade=80
        impact=80
    [/resistance]
    movement=6
    experience=50
    level=1
    alignment=lawful
    advances_to=Princess
    cost=23
    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_1}
#        {ABILITY_BLITZ}
    [/abilities]
    usage=fighter
    description= _ "A noble by birth, the Heiress has learnt swordplay with the greatest generals and battle tactics with the greatest sages, making her both a great combatant and leader. The units of lower level around the Princess will fight better due to her presence."+{SPECIAL_NOTES}+{SPECIAL_NOTES_LEADERSHIP}
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [attack]
        name=saber
        description= _"saber"
        icon=attacks/saber-human.png
        type=blade
        range=melee
        damage=5
        number=4
    [/attack]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            image="units/human-loyalists/noblewoman/human-princess-idle-[1~5,3~6].png:[100*4,150,100*2,200,100]"
        [/frame]
    [/idle_anim]
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]

        start_time=-175

        [frame]
            image="units/human-loyalists/noblewoman/human-princess-attack-[1~4].png:[50*2,125,150]"
        [/frame]
        [frame]
            image="units/human-loyalists/noblewoman/human-princess.png:25"
        [/frame]

        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -75}
    [/attack_anim]
#    {WEAPON_SPECIAL_INITIATIVE_EVENTS}
[/unit_type]
