#textdomain wesnoth-units
[unit_type]
    id=Librarian
    name= _ "Librarian"
    race=human
    image="units/humans/librarian.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=16
    movement_type=smallfoot
    movement=5
    experience=25
    level=0
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=10
    usage=fighter
    description= _ ""+{SPECIAL_NOTES}
    die_sound={SOUND_LIST:HUMAN_OLD_DIE}
    [abilities]
        {ABILITY_HEALS_2}
    [/abilities]
    [attack]
        name=fist
        description=_"fist"
        icon=attacks/fist-human.png
        type=impact
        range=melee
        damage=3
        number=2
    [/attack]
    {DEFENSE_ANIM "units/humans/librarian.png" "units/humans/librarian.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        start_time=-250
        [frame]
image="units/humans/librarian.png:25"
        [/frame]
        [frame]           image="units/humans/librarian.png:75"
        [/frame]
        {SOUND:HIT_AND_MISS fist.ogg {SOUND_LIST:MISS} -150}
        [frame]
image="units/humans/librarian.png:300"
        [/frame]
        [frame]            image="units/humans/librarian.png:50"
        [/frame]
        [frame]            image="units/humans/librarian.png:25"
        [/frame]
    [/attack_anim]
[/unit_type]
