#textdomain wesnoth-units
[unit_type]
    id=Greatswordsman
    name= _ "Greatswordsman"
    race=human
    image="units/human-loyalists/greatsword.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=68
    movement_type=armoredfoot
    movement=4
    experience=150
    level=3
    alignment=neutral
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Swordsman
    [/advancefrom]
#endif
    {AMLA_DEFAULT}
    cost=48
    usage=fighter
    description= _ "Some Swordsmen prefer to fight with a big twohanded weapon instead of a smaller sword and shield. This allows them to overwhelm the enemy with superior reach and strenght. The greater mass of the sword allows it to be used grabbed by the blade and use the guard as a hammer."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-loyalists/greatsword.png" "units/human-loyalists/greatsword.png" {SOUND_LIST:HUMAN_HIT} }
    [resistance]
#        blade=60
#		impact=70
#		pierce=70
    [/resistance]
    [attack]
        name=sword
        description=_"greatsword"
        icon=attacks/greatsword-human.png
        type=blade
        range=melee
        damage=15
        number=3
    [/attack]
    [attack]
        name=sword2
        description=_"murderstrike"
        icon=attacks/greatsword-human.png
        type=impact
        range=melee
        damage=14
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
              name=sword
        [/filter_attack]
        {MELEE_FRAME_SWOOSH {SOUND_LIST:SWORD_SWISH} ~}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
              name=sword2
        [/filter_attack]
        {MELEE_FRAME_SWOOSH mace.wav ~}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword_old
        [/filter_attack]
        [frame]
            begin=-300
            end=-250
            image="units/human-loyalists/greatsword.png"
        [/frame]
        [frame]
            begin=-250
            end=-200
            image="units/human-loyalists/greatsword.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/human-loyalists/greatsword.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=-25
                image="units/human-loyalists/greatsword.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=-25
                image="units/human-loyalists/greatsword.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=-25
            end=75
            image="units/human-loyalists/greatsword.png"
        [/frame]
        [frame]
            begin=75
            end=150
            image="units/human-loyalists/greatsword.png"
        [/frame]
    [/attack_anim]
[/unit_type]
