#textdomain wesnoth-units
[unit_type]
    id=Golden Mage
    name= _ "Golden Mage"
    race=human
    gender=male
    image="units/human-magi/gold-mage.png"
    profile="portraits/mage-gold.png"
    small_profile="portraits/mage-gold.png~SCALE(205,205)"
    #halo=halo/gold-illuminates-aura.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=58
    movement_type=smallfoot
    movement=6
    experience=200
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Silver Mage
        experience=220
    [/advancefrom]
#endif
    level=4
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=65
    usage=mixed fighter
    description= _ "Amongst the various Magi orders, the Silver one is certain the most enigmatic, surpassed in its mysteriousity only by the Gold order. Only the best Silver Magi could aspire to become Golden Magi, and being one of them is perhaps an even greater honor than being a Great Mage.
Instead of focusing their studies on the brute force of their missiles, they follow a secret path of training, that leads them to learning better protection spells and improving their fighting technique, not forgetting their teleport spells.
Seeing one of them on the battlefield is an extremely rare event, that even most Wesnoth Kings  never witnessed. But when one of them appears, usually in times of dire need, their only presence is enough to panic the enemy troops; and, after having enlightened the field with their shining robes and their magic missiles, they vanish into aether, without leaving any trace of their presence, except in the memories and in the tales of the few people that seen them in action.

Gold magi are often more physically adept than other magi, and their skills are of undeniable use on the battlefield, if one can manage to induce the mage to apply them."+{SPECIAL_NOTES}+_"SPECIAL_NOTE^ Golden Magi Magi are well-attuned to their magical natures and are highly resistant to non-physical damage."+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_TELEPORT}
    #+{SPECIAL_NOTES_ILLUMINATES}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/mage-gold.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/mage-gold.png"
    [/portrait]
    [abilities]
        {ABILITY_TELEPORT}
        {ABILITY_SELFHEAL}
    [/abilities]
    [resistance]
        fire=40
        cold=40
    [/resistance]
    {DEFENSE_ANIM "units/human-magi/gold-mage-defend.png" "units/human-magi/gold-mage.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [attack]
        name=staff
        description=_"staff"
        icon=attacks/staff-magic.png
        type=impact
        range=melee
        damage=9
        number=2
    [/attack]
    [attack]
        name=missile
        description=_"missile"
        icon=attacks/magic-missile.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_FOCUSED}
        [/specials]
        damage=12
        number=4
    [/attack]
    [attack]
        name=tstrike
        description=_"teleport strike"
        icon=attacks/air-burst-air-2.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_FOCUSED}
            {WEAPON_SPECIAL_TSTRIKE no}
            {WEAPON_SPECIAL_OVERWHELM}
        [/specials]
        damage=26
        number=1
        defense_weight=0.0
    [/attack]
    [attack_anim]
        [filter_attack]
            name=missile
        [/filter_attack]
        start_time=-850
        attack_sound_start_time=-400

        offset=0

        {MAGIC_MISSILE 14 -23}
        {MAGIC_MISSILE_STAFF_FLARE -750 600 14 -23}

        [frame]
            image="units/human-magi/gold-mage-attack-magic[1,2,1].png:[150,700,200]"
        [/frame]
        [attack_sound_frame]
            sound=magic-missile-1.ogg,magic-missile-2.ogg,magic-missile-3.ogg,magic-missile-3.ogg
        [/attack_sound_frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/human-magi/gold-mage.png:50"
        [/frame]
        [frame]
            image="units/human-magi/gold-mage-attack-staff[1,2,1].png:[100,200,75]"
        [/frame]
        [frame]
            image="units/human-magi/gold-mage.png:75"
        [/frame]
        {SOUND:HIT_AND_MISS staff.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [animation]
        apply_to=pre_teleport
        start_time=-1200

        teleport_sparkle_1_start_time=-1200
        teleport_sparkle_2_start_time=-1000
        teleport_sparkle_3_start_time=-800

        [teleport_sparkle_1_frame]
            duration=800
            halo="misc/blank-hex.png:1,halo/gold-teleport-[9,8,1~9].png,misc/blank-hex.png:1"
            halo_x=-10
            halo_y=30~-30
        [/teleport_sparkle_1_frame]
        [teleport_sparkle_2_frame]
            duration=800
            halo="misc/blank-hex.png:1,halo/gold-teleport-[9,8,1~9].png,misc/blank-hex.png:1"
            halo_x=0
            halo_y=40~-40
        [/teleport_sparkle_2_frame]
        [teleport_sparkle_3_frame]
            duration=800
            halo="misc/blank-hex.png:1,halo/gold-teleport-[9,8,1~9].png,misc/blank-hex.png:1"
            halo_x=10
            halo_y=30~-30
        [/teleport_sparkle_3_frame]

        [frame]
            image="units/human-magi/gold-mage-teleport-[1~8].png:[200,100*7]"
        [/frame]
        [frame]
            image="misc/blank-hex.png:300"
        [/frame]
    [/animation]

    [animation]
        apply_to=post_teleport
        start_time=-1200

        teleport_sparkle_1_start_time=-1200
        teleport_sparkle_2_start_time=-1000
        teleport_sparkle_3_start_time=-800

        [teleport_sparkle_1_frame]
            duration=800
            halo="misc/blank-hex.png:1,halo/teleport-[9,8,1~9].png,misc/blank-hex.png:1"
            halo_x=10
            halo_y=-30~30
        [/teleport_sparkle_1_frame]
        [teleport_sparkle_2_frame]
            duration=800
            halo="misc/blank-hex.png:1,halo/teleport-[9,8,1~9].png,misc/blank-hex.png:1"
            halo_x=0
            halo_y=-40~40
        [/teleport_sparkle_2_frame]
        [teleport_sparkle_3_frame]
            duration=800
            halo="misc/blank-hex.png:1,halo/teleport-[9,8,1~9].png,misc/blank-hex.png:1"
            halo_x=-10
            halo_y=-30~30
        [/teleport_sparkle_3_frame]
        [frame]
            image="misc/blank-hex.png:300"
        [/frame]
        [frame]
            image="units/human-magi/gold-mage-teleport-[8~1].png:[100*7,200]"
        [/frame]
    [/animation]
    [attack_anim]
        [filter_attack]
            name=tstrike
        [/filter_attack]
        start_time=-1200

        teleport_sparkle_1_start_time=-1200
        teleport_sparkle_2_start_time=-1000
        teleport_sparkle_3_start_time=-800

        [teleport_sparkle_1_frame]
            duration=800
            halo="misc/blank-hex.png:1,halo/gold-teleport-[9,8,1~9].png,misc/blank-hex.png:1"
            halo_x=-10
            halo_y=30~-30
        [/teleport_sparkle_1_frame]
        [teleport_sparkle_2_frame]
            duration=800
            halo="misc/blank-hex.png:1,halo/gold-teleport-[9,8,1~9].png,misc/blank-hex.png:1"
            halo_x=0
            halo_y=40~-40
        [/teleport_sparkle_2_frame]
        [teleport_sparkle_3_frame]
            duration=800
            halo="misc/blank-hex.png:1,halo/gold-teleport-[9,8,1~9].png,misc/blank-hex.png:1"
            halo_x=10
            halo_y=30~-30
        [/teleport_sparkle_3_frame]

        [frame]
            offset=0.0
            image="units/human-magi/gold-mage-teleport-[1~8].png:[200,100*7]"
        [/frame]
        [frame]
            image="misc/blank-hex.png:300"
        [/frame]
#        start_time=0

        teleport_sparkle_1b_start_time=0
        teleport_sparkle_2b_start_time=200
        teleport_sparkle_3b_start_time=400

        [teleport_sparkle_1b_frame]
            duration=800
            halo="misc/blank-hex.png:1,halo/teleport-[9,8,1~9].png,misc/blank-hex.png:1"
            halo_x=10
            halo_y=-30~30
            offset=2.0
        [/teleport_sparkle_1b_frame]
        [teleport_sparkle_2b_frame]
            duration=800
            halo="misc/blank-hex.png:1,halo/teleport-[9,8,1~9].png,misc/blank-hex.png:1"
            halo_x=0
            halo_y=-40~40
            offset=2.0
        [/teleport_sparkle_2b_frame]
        [teleport_sparkle_3b_frame]
            duration=800
            halo="misc/blank-hex.png:1,halo/teleport-[9,8,1~9].png,misc/blank-hex.png:1"
            halo_x=-10
            halo_y=-30~30
            offset=2.0
        [/teleport_sparkle_3b_frame]
        [missile_frame]
            halo="halo/athvari-power-[1~14].png:50"
            halo_mod="~SCALE(92,92)~BLEND(228,188,0,0.7)" 
            halo_y=0
            offset=1.0
        [/missile_frame]
        missile_start_time=-200
        [frame]
            image="misc/blank-hex.png:300"
        [/frame]
        [frame]
            offset=2.0
            image="units/human-magi/gold-mage-teleport-[8~1].png:[100*7,200]"
        [/frame]
    [/attack_anim]
    [animation]
        apply_to=sheath weapon
        [filter_attack]
            name=tstrike
        [/filter_attack]
        start_time=0
        [frame]
            duration=1
            offset=2.0
        [/frame]
    [/animation]
    [female]
        name= _ "female^Golden Mage"
        gender=female
        image="units/human-magi/gold-mage+female.png"
        profile="portraits/mage-gold+female.png"
        small_profile="portraits/mage-gold+female.png~SCALE(205,205)"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/human-magi/gold-mage+female-defend.png" "units/human-magi/gold-mage+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        [attack_anim]
            [filter_attack]
                name=missile
            [/filter_attack]
            offset=0
            {MAGIC_MISSILE 14 -23}
            {MAGIC_MISSILE_STAFF_FLARE -750 600 14 -23}
            [frame]
                image="units/human-magi/gold-mage+female-attack-magic[1,2,1].png::[150,700,200]"
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=staff
            [/filter_attack]
            [frame]
                image="units/human-magi/gold-mage+female.png:50"
            [/frame]
            [frame]
                image="units/human-magi/gold-mage+female-attack-staff[1,2,1].png:[100,200,75]"
            [/frame]
            [frame]
                image="units/human-magi/gold-mage+female.png:75"
            [/frame]
        [/attack_anim]
        [animation]
            apply_to=pre_teleport
            [frame]
                image="units/human-magi/gold-mage+female-teleport-[1~8].png:[200,100*7]"
            [/frame]
            [frame]
            [/frame]
        [/animation]

        [animation]
            apply_to=post_teleport
            [frame]
            [/frame]
            [frame]
                image="units/human-magi/gold-mage+female-teleport-[8~1].png:[100*7,200]"
            [/frame]
        [/animation]
    [attack_anim]
        [filter_attack]
            name=tstrike
        [/filter_attack]
        [frame]
            offset=0.0
            image="units/human-magi/gold-mage+female-teleport-[1~8].png:[200,100*7]"
        [/frame]
        [frame]
        [/frame]
#        start_time=0

        [frame]
        [/frame]
        [frame]
            offset=2.0
            image="units/human-magi/gold-mage+female-teleport-[8~1].png:[100*7,200]"
        [/frame]
    [/attack_anim]
    [animation]
        apply_to=sheath weapon
        [filter_attack]
            name=tstrike
        [/filter_attack]
        start_time=0
        [frame]
            duration=1
            offset=2.0
        [/frame]
    [/animation]
    [/female]
[/unit_type]
