#textdomain wesnoth-units
    [movetype]
        name=smallfootfakefloat
        flies=true
        [movement_costs]
            shallow_water=3
            reef=2
            swamp_water=3
            flat=1
            sand=2
            forest=2
            hills=2
            mountains=3
            village=1
            castle=1
            cave=2
            frozen=3
            fungus=2
        [/movement_costs]

        [defense]
            shallow_water=80
            reef=70
            swamp_water=80
            flat=60
            sand=70
            forest=50
            hills=50
            mountains=40
            village=40
            castle=40
            cave=60
            frozen=80
            fungus=50
        [/defense]

        [resistance]
            blade=100
            pierce=100
            impact=100
            fire=100
            cold=100
            arcane=80
        [/resistance]
    [/movetype]
[unit_type]
    id=Woodland Enchantress
    name= _ "Woodland Enchantress"
    race=human
    gender=female
    image="units/human-magi/woodland-enchanter.png"
    profile="portraits/mage-nature+female.png"
    small_profile="portraits/mage-nature+female.png~SCALE(275,275)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=68
    movement_type=smallfootfakefloat
    movement=5
    [movement_type]
       flies=true
    [/movement_type]
    [movement_costs]
        forest=1
        swamp_water=1
        shallow_water=2
        deep_water=3
    [/movement_costs]
    [defense]
        forest=30
        swamp_water=60
        shallow_water=70
        deep_water=80
    [/defense]
    experience=200
    level=4
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=78
    usage=mixed fighter
    description= _ "The Woodland Enchantresses are only related to legends and myths. Seeing one in real life is almost impossible as they reside in the deepest of forests - even more so the woodland enchanters. These mages are extremely powerful and though in general secluse they can destroy champions in battle and match master sorcerers in power.

Beware these enchanters for legend tells that even the vines become enemies when theses enchanters call. Having full control of the elements of wood and nature these mages are at home in the forest, and it is folly to enter their domain.

They can use plants as platforms to float on."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_ARCANE}+{SPECIAL_NOTES_REGENERATES}
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/mage-nature+female.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/mage-nature+female.png"
    [/portrait]
    #[resistance]
    #    fire=50
    #    cold=50
    #[/resistance]
    [abilities]
        {ABILITY_CURES}
        {ABILITY_REGENERATES}
    [/abilities]
    {DEFENSE_ANIM "units/human-magi/woodland-enchanter.png" "units/human-magi/woodland-enchanter.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [attack]
        name=staff
        description=_"vine"
        icon=attacks/vine.png
        type=impact
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=nature flare
        description=_"nature flare"
        icon=attacks/nature-flare.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        damage=8
        number=7
    [/attack]
    [attack]
        name=terra orbis
        description=_"terra orbis"
        icon=attacks/terra-orbis.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=35
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=nature flare
        [/filter_attack]

        {MISSILE_FRAME_NATURE_FLARE}

        [frame]
            begin=-800
            end=-700
            image="units/human-magi/woodland-enchanter.png"
        [/frame]
        [frame]
            begin=-700
            end=-350
            image="units/human-magi/woodland-enchanter-magic.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-350
                end=-100
                image="units/human-magi/woodland-enchanter-magic.png"
                sound=fire.wav
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-350
                end=-100
                image="units/human-magi/woodland-enchanter-magic.png"
                sound=fire.wav
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=100
            image="units/human-magi/woodland-enchanter.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=terra orbis
        [/filter_attack]

        {MISSILE_FRAME_TERRA_ORBIS}

        [frame]
            begin=-800
            end=-700
            image="units/human-magi/woodland-enchanter.png"
        [/frame]
        [frame]
            begin=-700
            end=-350
            image="units/human-magi/woodland-enchanter-magic.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-350
                end=-100
                image="units/human-magi/woodland-enchanter-magic.png"
                sound={SOUND_LIST:HOLY_MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-350
                end=-100
                image="units/human-magi/woodland-enchanter-magic.png"
                sound={SOUND_LIST:HOLY}
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=100
            image="units/human-magi/woodland-enchanter.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=staff_old
        [/filter_attack]
        [frame]
            begin=-250
            end=-200
            image="units/human-magi/woodland-enchanter.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/human-magi/woodland-enchanter.png"
            sound=entangle.wav
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/human-magi/woodland-enchanter.png"
                sound=tail.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/human-magi/woodland-enchanter.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=175
            image="units/human-magi/woodland-enchanter.png"
        [/frame]
        [frame]
            begin=175
            end=250
            image="units/human-magi/woodland-enchanter.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]

        missile_start_time=-200
        start_time=-500
        missile1_start_time=-500
        missile2_start_time=-400
        missile3_start_time=-300
        missile4_start_time=-200
        missile5_start_time=-100
        missile6_start_time=100
        missile7_start_time=200
        missile8_start_time=300
        missile9_start_time=400



        [missile_frame]
            image="misc/blank-hex.png:1"
        [/missile_frame]
        [missile1_frame]
            halo="projectiles/entangle.png~CS(-180,0,-180):900"
            offset=0.2
        [/missile1_frame]
        [missile2_frame]
            halo="projectiles/entangle.png~CS(-180,0,-180):900"
            offset=0.4
        [/missile2_frame]
        [missile3_frame]
            halo="projectiles/entangle.png~CS(-180,0,-180):900"
            offset=0.6
        [/missile3_frame]
        [missile4_frame]
            halo="projectiles/entangle.png~CS(-180,0,-180):500"
            offset=0.8
        [/missile4_frame]
        [missile5_frame]
            halo="projectiles/entangle.png~CS(-180,0,-180):500"
            offset=1.0
        [/missile5_frame]
        [missile6_frame]
            halo="projectiles/entangle.png~CS(-180,0,-180):500"
            offset=0.8
        [/missile6_frame]
        [missile7_frame]
            halo="projectiles/entangle.png~CS(-180,0,-180):500"
            offset=0.6
        [/missile7_frame]
        [missile8_frame]
            halo="projectiles/entangle.png~CS(-180,0,-180):500"
            offset=0.4
        [/missile8_frame]
        [missile9_frame]
            halo="projectiles/entangle.png~CS(-180,0,-180):500"
            offset=0.2
        [/missile9_frame]



        [frame]
            image="units/human-magi/woodland-enchanter-magic.png:550"
        [/frame]

        {SOUND:HIT_AND_MISS tail.ogg {SOUND_LIST:MISS} 0}
    [/attack_anim]
[/unit_type]
