#textdomain wesnoth-units
[unit_type]
    id=Mounted Signalman
    name= _ "Mounted Signalman"
    race=human
    gender=male
    image="units/humans/mounted_peasant/mounted_peasant2.png"
    halo="halo/fire-halo.png:250,halo/fire-halo.png~O(98%):250,halo/fire-halo.png~O(95%):250,halo/fire-halo.png~O(92%):250,halo/fire-halo.png~O(89%):250,halo/fire-halo.png~O(86%):250,halo/fire-halo.png~O(83%):250,halo/fire-halo.png~O(80%):250,halo/fire-halo.png~O(83%):250,halo/fire-halo.png~O(86%):250,halo/fire-halo.png~O(89%):250,halo/fire-halo.png~O(92%):250,halo/fire-halo.png~O(95%):250,halo/fire-halo.png~O(98%):250"
    profile="portraits/humans/signalman.png"
    small_profile="portraits/signalman.png~SCALE(205,205)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=32
    movement_type=mounted
    movement=7
    experience=50
    level=1
    alignment=lawful
    advances_to=null
    undead_variation=mounted
    {AMLA_DEFAULT} 
    cost=23
    usage=fighter
    [abilities]
        {ABILITY_ILLUMINATES}
    [/abilities]
    description= _ "In the wilder, less tamed regions of Wesnoth, the horse clans provide a steady supply of mounts, so even common farmers can usually afford a horse. Once a man has a horse, it becomes easier to travel long distances and to keep control of animal herds; however, such Ranchers tend to equip themselves with only the simplest of spears, perhaps dreaming of being numbered among Wesnoth's horsemen. Few achieve this dream; charging any real soldier on the back of a horse whilst wearing little to no armour is tantamount to suicide."+{SPECIAL_NOTES}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/transparent/signalman.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/transparent/signalman.png"
    [/portrait]
    die_sound=horse-die.ogg
    [resistance]
        fire=80
    [/resistance]
    [attack]
        name=torch
        description=_"torch"
        type=fire
        range=melee
        damage=8
        number=2
        icon=attacks/torch.png
    [/attack]
    [attack]
        name=spark
        description= _ "spark"
        icon=attacks/fireball-red-1.png~FL(horiz)~FL(vert)
        type=fire
        range=ranged
        damage=2
        number=2
    [/attack]
    {DEFENSE_ANIM "units/humans/mounted_peasant/mounted_peasant2_defend.png" "units/humans/mounted_peasant/mounted_peasant2.png" {SOUND_LIST:HORSE_HIT} }
    [movement_anim]
        start_time=0
        [frame]
            image="units/humans/mounted_peasant/mounted_peasant2_attack.png:150"
        [/frame]
    [/movement_anim]
    [attack_anim]
        [filter_attack]
            name=torch
        [/filter_attack]
        start_time=-250
        [frame]
image="units/humans/mounted_peasant/mounted_peasant2_attack.png:25"
            sound=horse-canter.wav
        [/frame]
        [frame]           image="units/humans/mounted_peasant/mounted_peasant2_attack.png:75"
        [/frame]
        {SOUND:HIT_AND_MISS torch.ogg torch-mis.ogg -150}
        [frame]
image="units/humans/mounted_peasant/mounted_peasant2_attack.png:300"
        [/frame]
        [frame]            image="units/humans/mounted_peasant/mounted_peasant2_attack.png:50"
        [/frame]
        [frame]            image="units/humans/mounted_peasant/mounted_peasant2_attack.png:25"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            range=ranged
        [/filter_attack]
        missile_start_time=-250
        start_time=-250
        [frame]
            duration=50
            image="units/humans/mounted_peasant/mounted_peasant2_defend.png"
        [/frame]
        [if]
            hits=yes
            [missile_frame]
                duration=200
                image="projectiles/muzzle-flash-n-1.png"
                image_diagonal="projectiles/muzzle-flash-ne-1.png"
                offset=0~0.8
            [/missile_frame]
            [frame]
                duration=200
                image="units/humans/mounted_peasant/mounted_peasant2_defend.png"
                sound=fire.wav
            [/frame]
            {FIRE_BURST_SMALL}
        [/if]
        {AE_FAILED_FIREBALL}
        [frame]
            duration=100
            image="units/humans/mounted_peasant/mounted_peasant2.png"
        [/frame]
    [/attack_anim]
[/unit_type]
