#textdomain wesnoth-units

[unit_type]
    id=Northern Blademaster
    name= _ "Northern Blademaster"
    race=human
    image="units/human-northern/dual_master.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=58
    movement_type=agilesmallfoot
    movement=6
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=50
    usage=fighter
    description= _ "."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-northern/dual_master.png" "units/human-northern/dual_master.png" {SOUND_LIST:HUMAN_HIT} }
    [defense]
        frozen=50
    [/defense]
    [movement_costs]
        frozen=1
    [/movement_costs]
    [resistance]
        cold=70
        fire=110
        impact=90
        blade=90
        pierce=90
    [/resistance]
    [attack]
        name=blades
        description= _ "blades"
        icon="attacks/sword-human-short.png"
        type=blade
        range=melee
        damage=9
        number=5
    [/attack]
    [attack]
        name=knife
        description= _ "throwing knives"
        icon=attacks/dagger-thrown-human.png
        type=pierce
        range=ranged
        damage=10
        number=2
    [/attack]
    {MELEE_SWOOSH_ANIM_DUAL blades {SOUND_LIST:SWORD_SWISH} "~SCALE(105,105)"}
    [attack_anim]
        [filter_attack]
            name=blades_old
        [/filter_attack]
        start_time=-275

        [frame]
            image="units/human-northern/dual_master.png:50"
        [/frame]
        [frame]
            image="units/human-northern/dual_master.png:400"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -125}
        [frame]
            image="units/human-northern/dual_master.png:50"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=knife
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/dagger-n.png"
            image_diagonal="projectiles/dagger-ne.png"
        [/missile_frame]
        start_time=-200
        [frame]
            image="units/human-northern/dual_master.png:250"
        [/frame]
        {SOUND:HIT_AND_MISS throwing-knife.ogg throwing-knife-miss.ogg -200}
    [/attack_anim]

[/unit_type]
