#textdomain wesnoth-trow

#define ABILITY_DISTRACT
    [skirmisher]
        id=distract
        name= _ "distract"
        description= _ "This unit negates enemy Zones of Control around itself for allied units (but not for itself)."
        affect_self=no
        affect_allies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
        [/affect_adjacent]
    [/skirmisher]
#enddef

#define SPECIAL_NOTES_DISTRACT
_"This unit is capable of distracting opponents, allowing allied units to trespass their Zones of Control and move unhindered around them."#enddef

[unit_type]
    id=Outcast
    name= _ "female^Outcast"
    race=human
    gender=female
    image="units/human-outlaws/outcast.png"
    profile="portraits/lady_outlaw.png"
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/lady_outlaw.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/lady_outlaw.png"
    [/portrait]
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=33
    [abilities]
        {ABILITY_DISTRACT}
        {ABILITY_LEADERSHIP_LEVEL_1}
    [/abilities]
    movement_type=elusivefoot
    movement=7
    experience=40
    level=1
    alignment=chaotic
    advances_to=Exile,Outlaw Swordswoman
    cost=18
    usage=mixed fighter
    description= _ "Born in the Wesfolk aristocracy, she and her people were excluded from society by their lords, who betrayed their loyalty when a war against Haldric’s people was being lost. This outcast still conserves her nobleness in her veins and on the battlefield she has earned valuable experience, which she can lend to her people for turning a fight in their favor."+{SPECIAL_NOTES}+{SPECIAL_NOTES_DISTRACT}+{SPECIAL_NOTES_LEADERSHIP}
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [defend]
        hits=miss
        [frame]
            begin=-126
            end=-125
            image="units/human-outlaws/outcast.png"
        [/frame]
        [frame]
            begin=-125
            end=-42
            image="units/human-outlaws/outcast-defend-1-1.png"
        [/frame]
        [frame]
            begin=-42
            end=41
            image="units/human-outlaws/outcast-defend-1-2.png"
        [/frame]
        [frame]
            begin=41
            end=125
            image="units/human-outlaws/outcast-defend-1-1.png"
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/human-outlaws/outcast.png"
        [/frame]
    [/defend]
    [defend]
        hits=hit
        [frame]
            begin=-126
            end=-125
            image="units/human-outlaws/outcast.png"
        [/frame]
        [frame]
            begin=-125
            end=125
            image="units/human-outlaws/outcast-defend.png"
            sound={SOUND_LIST:HUMAN_FEMALE_HIT}
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/human-outlaws/outcast.png"
        [/frame]
    [/defend]
    [defend]
        hits=kill
        [frame]
            begin=-126
            end=-125
            image="units/human-outlaws/outcast.png"
        [/frame]
        [frame]
            begin=-125
            end=125
            image="units/human-outlaws/outcast-defend.png"
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/human-outlaws/outcast.png"
        [/frame]
    [/defend]
    [leading_anim]
        start_time=-150
        [frame]
            duration=300
            image="units/human-outlaws/outcast-sling-2.png"
        [/frame]
    [/leading_anim]
    [attack]
        name=staff
        description=_"staff"
        icon=attacks/quarterstaff.png
        type=impact
        range=melee
        damage=5
        number=2
    [/attack]
    [attack]
        name=sling
        description=_"sling"
        type=impact
        range=ranged
        damage=4
        number=3
        icon=attacks/sling.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sling
        [/filter_attack]
        offset=0.0
        [if]
            hits=yes
            {MISSILE_FRAME_STONE_HIT 8 -8}
            [frame]
                begin=-400
                end=-150
                image="units/human-outlaws/outcast-sling-1.png"
                sound=sling.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            {MISSILE_FRAME_STONE_MISS 8 -8}
            [frame]
                begin=-400
                end=-150
                image="units/human-outlaws/outcast-sling-1.png"
                sound=sling-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=50
            image="units/human-outlaws/outcast-sling-2.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        [frame]
            begin=-175
            end=-150
            image="units/human-outlaws/outcast.png"
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/human-outlaws/outcast-staff-1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-75
                end=100
                image="units/human-outlaws/outcast-staff-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-75
                end=100
                image="units/human-outlaws/outcast-staff-2.png"
                sound=staff.wav
            [/frame]
        [/else]
        [frame]
            begin=100
            end=150
            image="units/human-outlaws/outcast-defend-1-2.png"
        [/frame]
        [frame]
            begin=150
            end=175
            image="units/human-outlaws/outcast.png"
        [/frame]
    [/attack_anim]
    [variation]
        variation_name=unmasked
        inherit=yes
        hide_help=true
#        do_not_list=yes
        image="units/human-outlaws/wesfolk-outcast.png"
    profile="portraits/jessica.png"
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/jessica.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/jessica.png"
    [/portrait]
        [defend]
            hits=miss
            [frame]
                begin=-126
                end=-125
                image="units/human-outlaws/wesfolk-outcast.png"
            [/frame]
            [frame]
                begin=-125
                end=-42
                image="units/human-outlaws/wesfolk-outcast-defend-1-1.png"
            [/frame]
            [frame]
                begin=-42
                end=41
                image="units/human-outlaws/wesfolk-outcast-defend-1-2.png"
            [/frame]
            [frame]
                begin=41
                end=125
                image="units/human-outlaws/wesfolk-outcast-defend-1-1.png"
            [/frame]
            [frame]
                begin=125
                end=126
                image="units/human-outlaws/wesfolk-outcast.png"
            [/frame]
        [/defend]
        [defend]
            hits=hit
            [frame]
                begin=-126
                end=-125
                image="units/human-outlaws/wesfolk-outcast.png"
            [/frame]
            [frame]
                begin=-125
                end=125
                image="units/human-outlaws/wesfolk-outcast-defend.png"
                sound={SOUND_LIST:HUMAN_FEMALE_HIT}
            [/frame]
            [frame]
                begin=125
                end=126
                image="units/human-outlaws/wesfolk-outcast.png"
            [/frame]
        [/defend]
        [defend]
            hits=kill
            [frame]
                begin=-126
                end=-125
                image="units/human-outlaws/wesfolk-outcast.png"
            [/frame]
            [frame]
                begin=-125
                end=125
                image="units/human-outlaws/wesfolk-outcast-defend.png"
            [/frame]
            [frame]
                begin=125
                end=126
                image="units/human-outlaws/wesfolk-outcast.png"
            [/frame]
        [/defend]
        [leading_anim]
            start_time=-150
            [frame]
                duration=300
                image="units/human-outlaws/wesfolk-outcast-sling-2.png"
            [/frame]
        [/leading_anim]
        [attack_anim]
            [filter_attack]
                name=sling
            [/filter_attack]
            offset=0.0
            [if]
                hits=yes
                {MISSILE_FRAME_STONE_HIT 8 -8}
                [frame]
                    begin=-400
                    end=-150
                    image="units/human-outlaws/wesfolk-outcast-sling-1.png"
                    sound=sling.ogg
                [/frame]
            [/if]
            [else]
                hits=no
                {MISSILE_FRAME_STONE_MISS 8 -8}
                [frame]
                    begin=-400
                    end=-150
                    image="units/human-outlaws/wesfolk-outcast-sling-1.png"
                    sound=sling-miss.ogg
                [/frame]
            [/else]
            [frame]
                begin=-150
                end=50
                image="units/human-outlaws/wesfolk-outcast-sling-2.png"
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=staff
            [/filter_attack]
            [frame]
                begin=-175
                end=-150
                image="units/human-outlaws/wesfolk-outcast.png"
            [/frame]
            [frame]
                begin=-150
                end=-75
                image="units/human-outlaws/wesfolk-outcast-staff-1.png"
            [/frame]
            [if]
                hits=no
                [frame]
                    begin=-75
                    end=100
                    image="units/human-outlaws/wesfolk-outcast-staff-2.png"
                    sound={SOUND_LIST:MISS}
                [/frame]
            [/if]
            [else]
                hits=yes
                [frame]
                    begin=-75
                    end=100
                    image="units/human-outlaws/wesfolk-outcast-staff-2.png"
                    sound=staff.wav
                [/frame]
            [/else]
            [frame]
                begin=100
                end=150
                image="units/human-outlaws/wesfolk-outcast-defend-1-2.png"
            [/frame]
            [frame]
                begin=150
                end=175
                image="units/human-outlaws/wesfolk-outcast.png"
            [/frame]
        [/attack_anim]
    [/variation]
[/unit_type]
