#textdomain wesnoth-units
[unit_type]
    id=Pilferer
    name= _ "Pilferer"
    race=human
    gender=male,female
    image="units/human-outlaws/robber.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    profile=portraits/humans/thief.png
    ellipse="misc/ellipse"
    hitpoints=15
    movement_type=elusivefoot
    movement=6
    experience=14
    level=0
    alignment=chaotic
#ifdef MULTIPLAYER
    advances_to=TGA Thief
#endif
#ifndef MULTIPLAYER
    advances_to=Thief
#endif
    cost=9
    usage=fighter
    description= _ "Pilferers are thieves who operate in small villages. Unlike their city colleagues, pilferers are usually too poor to afford the dye for their hair due to the fact that peasants they steal from usually don't have much money either."+{SPECIAL_NOTES}+{SPECIAL_NOTES_BACKSTAB}
    {DEFENSE_ANIM "units/human-outlaws/robber-defend.png" "units/human-outlaws/robber.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/transparent/thief.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/transparent/thief.png"
    [/portrait]
    [attack]
        name=dagger
        description=_"dagger"
        icon=attacks/dagger-human.png
        type=blade
        range=melee
        damage=4
        number=2
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        [frame]
            begin=-150
            end=-100
            image="units/human-outlaws/robber.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/human-outlaws/robber-melee.png"
                sound=dagger-swish.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/human-outlaws/robber-melee.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=150
            image="units/human-outlaws/robber.png"
        [/frame]
    [/attack_anim]
    [female]
        name= _ "female^Pilferer"
        gender=female
        image="units/human-outlaws/robber+female.png"
        profile="portraits/humans/thief+female.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
		{DEFENSE_ANIM "units/human-outlaws/robber+female-defend.png" "units/human-outlaws/robber+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        [portrait]
            size=400
            side="left"
            mirror="false"
            image="portraits/humans/transparent/thief+female.png"
        [/portrait]
        [portrait]
            size=400
            side="right"
            mirror="true"
            image="portraits/humans/transparent/thief+female.png"
        [/portrait]
		[attack_anim]
			[filter_attack]
				name=dagger
			[/filter_attack]
			[frame]
				begin=-150
				end=-100
				image="units/human-outlaws/robber+female.png"
			[/frame]
			[if]
				hits=yes
				[frame]
					begin=-100
					end=100
					image="units/human-outlaws/robber+female-melee.png"
					sound=dagger-swish.wav
				[/frame]
			[/if]
			[else]
				hits=no
				[frame]
					begin=-100
					end=100
					image="units/human-outlaws/robber+female-melee.png"
					sound={SOUND_LIST:MISS}
				[/frame]
			[/else]
			[frame]
				begin=100
				end=150
				image="units/human-outlaws/robber+female.png"
			[/frame]
		[/attack_anim]
    [/female]
[/unit_type]
