#textdomain wesnoth-units
[unit_type]
    id=Exterminator
    name= _ "Exterminator"
    race=human
    gender=male,female
    image="units/human-outlaws/efraim.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    profile=portraits/humans/assassin.png
    small_profile="portraits/humans/transparent/assassin.png~SCALE(205,205)"
    hitpoints=61
    movement_type=elusivefoot
    movement=6
    experience=150
    level=4
    alignment=chaotic
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Assassin
        experience=180
    [/advancefrom]
#endif
    {AMLA_DEFAULT}
    cost=56
    usage=fighter
    description= _ "Usual assassins are the ones who can plant their dagger in a soldiers back without him noticing. The master assassins are the ones who can make a friend, develop and ally for years, become the most trusted assistant of a king, join an enemy army without them suspecting anything, and then plant the dagger in the back of a highborn target without anyone ever suspecting. The truly great assassins have gained the title 'Exterminators'."+{SPECIAL_NOTES}+{SPECIAL_NOTES_BACKSTAB}+{SPECIAL_NOTES_POISON}+{SPECIAL_NOTES_SKIRMISHER}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-outlaws/efraim-sword-defend-2.png" "units/human-outlaws/efraim-sword-defend-1.png" {SOUND_LIST:HUMAN_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/transparent/assassin.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/transparent/assassin.png"
    [/portrait]
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=12
        number=3
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack]
        name=whirlwind
        description=_"whirlwind"
        icon=attacks/shock-air-lesser.png
        type=blade
        range=melee
        damage=8
        number=4
        [specials]
            {WEAPON_SPECIAL_WHIRLWIND}
            {WEAPON_SPECIAL_NO_COUNTER}
            {WEAPON_SPECIAL_ATTACK_ONLY}
        [/specials]
        defense_weight=0.0
    [/attack]
    [attack]
        name=knife
        description=_"knife"
        icon=attacks/dagger-thrown-poison-human.png
        type=blade
        range=ranged
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
        damage=6
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=knife
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/dagger-n.png"
            image_diagonal="projectiles/dagger-ne.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-350
                end=-100
                image="units/human-outlaws/efraim-throwknife1.png"
                sound=throwing-knife.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-350
                end=-100
                image="units/human-outlaws/efraim-throwknife1.png"
                sound=throwing-knife-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=50
            image="units/human-outlaws/efraim-throwknife2.png"
        [/frame]
        {SOUND:POISON}
        [frame]
            begin=50
            end=50
            image="units/human-outlaws/efraim.png"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-225
            end=-200
            image="units/human-outlaws/efraim.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/human-outlaws/efraim-sword-2-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=150
                image="units/human-outlaws/efraim-sword-2-2.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=150
                image="units/human-outlaws/efraim-sword-2-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=150
            end=200
            image="units/human-outlaws/efraim-sword-2.png"
        [/frame]
        [frame]
            begin=200
            end=250
            image="units/human-outlaws/efraim.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=whirlwind
        [/filter_attack]
        [frame]
            begin=-500
            end=-400
            image="units/human-outlaws/efraim-whirlwind-1.png"
        [/frame]
        [frame]
            begin=-400
            end=-300
            image="units/human-outlaws/efraim-whirlwind-2.png"
        [/frame]
        [frame]
            begin=-300
            end=-200
            image="units/human-outlaws/efraim-whirlwind-3.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/human-outlaws/efraim-whirlwind-4.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=-50
                image="units/human-outlaws/efraim-whirlwind-1.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
            [frame]
                begin=-50
                end=0
                image="units/human-outlaws/efraim-whirlwind-1.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=-50
                image="units/human-outlaws/efraim-whirlwind-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
            [frame]
                begin=-50
                end=0
                image="units/human-outlaws/efraim-whirlwind-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=0
            end=100
            image="units/human-outlaws/efraim-whirlwind-3.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/human-outlaws/efraim-whirlwind-4.png"
        [/frame]
        [frame]
            begin=200
            end=300
            image="units/human-outlaws/efraim-whirlwind-1.png"
        [/frame]
        [frame]
            begin=300
            end=400
            image="units/human-outlaws/efraim.png"
        [/frame]
    [/attack_anim]
    [female] 
        name= _ "Exterminatrix"
        gender=female
        profile="portraits/humans/assassin+female.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "units/human-outlaws/efraim-sword-defend-2.png" "units/human-outlaws/efraim-sword-defend-1.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        [portrait]
            size=400
            side="left"
            mirror="false"
            image="portraits/humans/transparent/assassin+female.png"
        [/portrait]
        [portrait]
            size=400
            side="right"
            mirror="true"
            image="portraits/humans/transparent/assassin+female.png"
        [/portrait]
    [/female]
    {WHIRLWIND_EVENT}
[/unit_type]
