#textdomain wesnoth-units
[unit_type]
    id=Predator Captain
    name= _ "Predator Captain"
    race=human
    image="units/human-outlaws/predator.png"
    [leading_anim]
        start_time=-150
        [frame]
            image="units/human-outlaws/predator.png:300"
        [/frame]
    [/leading_anim]
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=60
    movement_type=smallfoot
    movement=6
    level=3
    alignment=neutral
    {AMLA_DEFAULT}
    experience=150
    advances_to=null
    cost=54
    usage=fighter
    description= _ "Most of Predator Captains aren't just typical bandits whose only wish is money, they are rebels, who are fighting to dethrone their tyrannical rulers."+{SPECIAL_NOTES}+{SPECIAL_NOTES_LEADERSHIP}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-outlaws/predator.png" "units/human-outlaws/predator.png" {SOUND_LIST:HUMAN_HIT} }
    [resistance]
        blade=90
        pierce=90
        impact=90
    [/resistance]
    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_3}
    [/abilities]
    [attack]
        name=sword
        description=_"longsword"
        icon=attacks/greatsword-human.png
        type=blade
        range=melee
        damage=11
        number=4
    [/attack]
    [attack]
        name=shield bash
        description= _ "shield bash"
        icon=attacks/heater-shield.png #TODO: add "correct" shield form!
        type=impact
        range=melee
        damage=10
        number=2
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        {MELEE_FRAME_SWOOSH {SOUND_LIST:SWORD_SWISH} "~SCALE(110,110)"}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=shield bash
        [/filter_attack]

        start_time=-200

        #expanded definitions below because of sound bug on miss to be fixed in 1.13
        [frame]
            image="units/human-outlaws/predator.png:100"
        [/frame]
        [if]
            hits=yes
            [frame]
                image="units/human-outlaws/predator.png:200"
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                image="units/human-outlaws/predator.png:200"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        {SOUND:SLOW}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-300
        [frame]
            image="units/human-outlaws/predator.png:50"
            offset=0.0~0.1
        [/frame]
        [frame]
            image="units/human-outlaws/predator.png:50"
            offset=0.1~0.15
        [/frame]
        [frame]
            image="units/human-outlaws/predator-attack.png:350"
            offset=0.15~0.35:100,0.35~0.45:75,0.45~0.5:100,0.5:20,0.5~0.4:30,0.4~0.2:75
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
        [frame]
            image="units/human-outlaws/predator.png:75"
            offset=0.2~0.0
        [/frame]
    [/attack_anim]
[/unit_type]
