#textdomain wesnoth-trow
[unit_type]
    id=Outlaw Swordswoman
    name= _ "female^Outlaw Swordswoman"
    race=human
    gender=female
    image="units/human-outlaws/wesfolk-woman.png"
    profile="portraits/jessica.png"
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/jessica.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/jessica.png"
    [/portrait]
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=38
    [abilities]
        {ABILITY_DISTRACT}
        {ABILITY_SKIRMISHER}
    [/abilities]
    movement_type=elusivefoot
    movement=7
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=38
    usage=mixed fighter
    description= _ "Description pending."+{SPECIAL_NOTES}+{SPECIAL_NOTES_LEADERSHIP}
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [defend]
        hits=miss
        [frame]
            begin=-126
            end=-125
            image="units/human-outlaws/wesfolk-woman.png"
        [/frame]
        [frame]
            begin=-125
            end=-42
            image="units/human-outlaws/wesfolk-woman-defend.png"
        [/frame]
        [frame]
            begin=-42
            end=41
            image="units/human-outlaws/wesfolk-woman-defend.png"
        [/frame]
        [frame]
            begin=41
            end=125
            image="units/human-outlaws/wesfolk-woman-defend.png"
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/human-outlaws/wesfolk-woman.png"
        [/frame]
    [/defend]
    [defend]
        hits=hit
        [frame]
            begin=-126
            end=-125
            image="units/human-outlaws/wesfolk-woman.png"
        [/frame]
        [frame]
            begin=-125
            end=125
            image="units/human-outlaws/wesfolk-woman-defend.png"
            sound={SOUND_LIST:HUMAN_FEMALE_HIT}
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/human-outlaws/wesfolk-woman.png"
        [/frame]
    [/defend]
    [defend]
        hits=kill
        [frame]
            begin=-126
            end=-125
            image="units/human-outlaws/wesfolk-woman.png"
        [/frame]
        [frame]
            begin=-125
            end=125
            image="units/human-outlaws/wesfolk-woman-defend.png"
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/human-outlaws/wesfolk-woman.png"
        [/frame]
    [/defend]
    [leading_anim]
        start_time=-150
        [frame]
            duration=300
            image="units/human-outlaws/wesfolk-woman-sword-2.png"
        [/frame]
    [/leading_anim]
     [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=sling
        description=_"sling"
        type=impact
        range=ranged
        damage=6
        number=2
        icon=attacks/sling.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sling
        [/filter_attack]
        offset=0.0
        [if]
            hits=yes
            {MISSILE_FRAME_STONE_HIT 8 -8}
            [frame]
                begin=-400
                end=-150
                image="units/human-outlaws/wesfolk-woman-sling-1.png"
                sound=sling.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            {MISSILE_FRAME_STONE_MISS 8 -8}
            [frame]
                begin=-400
                end=-150
                image="units/human-outlaws/wesfolk-woman-sling-1.png"
                sound=sling-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-150
            end=50
            image="units/human-outlaws/wesfolk-woman-sling-2.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-175
            end=-150
            image="units/human-outlaws/wesfolk-woman.png"
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/human-outlaws/wesfolk-woman-sword-1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-75
                end=100
                image="units/human-outlaws/wesfolk-woman-sword-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-75
                end=100
                image="units/human-outlaws/wesfolk-woman-sword-2.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=150
            image="units/human-outlaws/wesfolk-woman-defend.png"
        [/frame]
        [frame]
            begin=150
            end=175
            image="units/human-outlaws/wesfolk-woman.png"
        [/frame]
    [/attack_anim]
[/unit_type]
