#textdomain wesnoth-units
[unit_type]
    id=Rogue Leader
    name= _ "Rogue Leader"
    race=human
    image="units/human-outlaws/leader.png"
    {LEADING_ANIM "units/human-outlaws/leader.png" "units/human-outlaws/leader.png" -5,-28}
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=45
    movement_type=smallfoot
    movement=6
    experience=80
    level=2
    alignment=neutral
    advances_to=Predator Captain
    cost=35
    usage=fighter
    description= _ "Rogue Leaders are former army officers who either deserted their ranks, or became rebels."+{SPECIAL_NOTES}+{SPECIAL_NOTES_LEADERSHIP}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-outlaws/leader.png" "units/human-outlaws/leader.png" {SOUND_LIST:HUMAN_HIT} }
    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_2}
    [/abilities]
    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=10
        number=3
    [/attack]
    [attack]
        name=shield bash
        description= _ "shield bash"
        icon=attacks/heater-shield.png #TODO: add "correct" shield form!
        type=impact
        range=melee
        damage=10
        number=1
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        {MELEE_FRAME_SWOOSH {SOUND_LIST:SWORD_SWISH} "~SCALE(100,100)"}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=shield bash
        [/filter_attack]

        start_time=-200

        #expanded definitions below because of sound bug on miss to be fixed in 1.13
        [frame]
            image="units/human-outlaws/leader.png:100"
        [/frame]
        [if]
            hits=yes
            [frame]
                image="units/human-outlaws/leader.png:200"
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                image="units/human-outlaws/leader.png:200"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        {SOUND:SLOW}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword_old
        [/filter_attack]
        start_time=-225
        [frame]
            image="units/human-outlaws/leader.png:50"
        [/frame]
        [frame]
            image="units/human-outlaws/leader.png:325"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
