#textdomain wesnoth-units
[unit_type]
    id=Raider
    name= _ "Raider"
    race=human
    image="units/human-outlaws/raider2.png"
    gender=male,female
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=46
    movement_type=mounted
    movement=9
    experience=50
    level=2
    alignment=chaotic
    undead_variation=mounted
    advances_to=null
    {AMLA_DEFAULT}
    {AMLA_RAIDER}
    cost=33
    usage=scout
    description= _ "After a four or five robbings any Brigands that last that long will usually find a sword of some type. Usually this is a saber because fencers are their most regular prey as they often wander around lonely backroads looking for a fights most of the time. They also usually build or buy (or steal) a better crosbow and their accuracy and skill have both improved with practice."
    {DEFENSE_ANIM "units/human-outlaws/raider2.png" "units/human-outlaws/raider2.png" {SOUND_LIST:HORSE_HIT} }
    die_sound=horse-die.ogg
    [resistance]
        cold=90
    [/resistance]
    [attack]
        name=saber
        description= _ "saber"
        icon=attacks/saber-human.png
        type=blade
        range=melee
        damage=5
        number=5
    [/attack]
    [attack]
        name=crossbow
        description= _ "crossbow"
        icon=attacks/crossbow-human.png
        type=pierce
        range=ranged
        damage=11
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=saber
        [/filter_attack]
        {MELEE_FRAME_SWOOSH_CUSTOM_MOUNTED {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} horse-canter.wav ~}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=saber_old
        [/filter_attack]
        [frame]
            begin=-350
            end=-100
            image="units/human-outlaws/raider2.png"
            sound=horse-canter.wav
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/human-outlaws/raider2.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/human-outlaws/raider2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=crossbow
        [/filter_attack]
        hits=no
        [missile_frame]
            begin=-150
            end=0
            image=projectiles/missile-n.png
            image_diagonal=projectiles/missile-ne.png
        [/missile_frame]
        [frame]
            begin=-200
            end=-100
            image="units/human-outlaws/raider2.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/human-outlaws/raider2.png"
                sound=crossbow.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/human-outlaws/raider2.png"
                sound=crossbow-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [female]
        name= _ "female^Raider"
        gender=female
        image="units/human-outlaws/raider+female.png"
#        profile="portraits/humans/thief+female.png"
#        small_profile="portraits/humans/thief+female.png~SCALE(205,205)"
    {DEFENSE_ANIM "units/human-outlaws/raider+female.png" "units/human-outlaws/raider+female.png" {SOUND_LIST:HORSE_HIT} }
    die_sound=horse-die.ogg
    [attack_anim]
        [filter_attack]
            name=saber
        [/filter_attack]
        {MELEE_FRAME_SWOOSH_CUSTOM_MOUNTED {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} horse-canter.wav ~}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=saber_old
        [/filter_attack]
        [frame]
            begin=-350
            end=-100
            image="units/human-outlaws/raider+female.png"
            sound=horse-canter.wav
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/human-outlaws/raider+female.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/human-outlaws/raider+female.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=crossbow
        [/filter_attack]
        hits=no
        [missile_frame]
            begin=-150
            end=0
            image=projectiles/missile-n.png
            image_diagonal=projectiles/missile-ne.png
        [/missile_frame]
        [frame]
            begin=-200
            end=-100
            image="units/human-outlaws/raider+female.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/human-outlaws/raider+female.png"
                sound=crossbow.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/human-outlaws/raider+female.png"
                sound=crossbow-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [/female]  
[/unit_type]
