#textdomain wesnoth-units
[unit_type]
    id=Void Mage
    name= _ "Void Mage"
    gender=male,female
    race=human
    image="units/human-magi/Sorcerer.png"
    profile=portraits/Sorcerer.png
    small_profile=portraits/Sorcerer.png~SCALE(205,205)
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=70
    movement_type=smallfoot
    movement=5
    experience=200
    level=4
    alignment=chaotic
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit=Arch Mage
    [/advancefrom]
#endif
    {AMLA_DEFAULT}
    cost=50
    usage=archer
    description= _ "Void magic is a powerful, yet incredibly dangerous art. Not all of it's practicioners manage to withstand it's effects on their body and soul, and even those who manage to survive have their body and soul slightly altered, mostly the latter"
    die_sound={SOUND_LIST:HUMAN_OLD_DIE}
    [defend]
        start_time=-126
        [frame]
            image=units/human-magi/Sorcerer_1.png:1,units/human-magi/Sorcerer-defend.png:250,units/human-magi/Sorcerer_1.png:1
	    halo=halo/elven/nature-halo[1~3].png~SCALE(100,100)~BLEND(100,0,120,0.4):[125*3]
        [/frame]
        [if]
            hit_sound_start_time=-25
            hits=hit
            [hit_sound_frame]
                sound={SOUND_LIST:HUMAN_OLD_HIT}
            [/hit_sound_frame]
        [/if]
    [/defend]
	
	[abilities]
            {ABILITY_STRENGTH_OF_DARKNESS_10}
   	[/abilities]
    [resistance]
        arcane=120
        cold=70
        blade=90
        pierce=90
        impact=90
    [/resistance]
	
	[portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/Sorcerer.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/Sorcerer.png"
    [/portrait]
	
	[standing_anim]
        start_time=0
        [frame]
            image="units/human-magi/Sorcerer_[1~6,5,4,3,2].png:[100*10]"
			halo=halo/elven/nature-halo[1~8].png~SCALE(100,100)~BLEND(100,0,120,0.4):[125*8]
            halo_x,halo_y=0,-12
        [/frame]
    [/standing_anim]
	
    [attack]
        name=staff
        description=_"touch"
        icon=attacks/fog-magenta-2.png
        type=arcane
        range=melee
        damage=7
        number=3
        [specials]
    [chance_to_hit]
        id=enchanted
        name= _ "enchanted"
        description= _ "This attack always has at least a 50% chance to hit."
        value=50
        cumulative=yes
    [/chance_to_hit]
    [dummy]
        id=aura
        name="aura"
        name_inactive="aura"
        description= _ "If this attack misses, it will still do 33% of the original damage. Damage dealt this way won't be able kill."
    [/dummy]
        [/specials]
    [/attack]
    [attack]
        name=noctum
        description= _ "noctum"
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=16
        number=3
        icon=attacks/noctum-strong.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=noctum
        [/filter_attack]
        start_time=-400

        {NOCTUM_BEAM_ANIMATION}

        [frame]
            image="units/human-magi/Sorcerer-attack-magic-1.png:200"
		 halo=halo/elven/nature-halo[1,2].png~SCALE(100,100)~BLEND(100,0,120,0.4):[25*2]
                 halo_x,halo_y=0,-12
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=125
                 image="units/human-magi/Sorcerer-attack-magic-2.png"
		 halo=halo/elven/nature-halo[3~6].png~SCALE(100,100)~BLEND(100,0,120,0.4):[25*4]
                 halo_x,halo_y=0,-12
                sound=magic-dark-big.ogg
            [/frame]
            [frame]
                duration=75
                 image="units/human-magi/Sorcerer-attack-magic-1.png"
			halo=halo/elven/nature-halo[7,8].png~SCALE(100,100)~BLEND(100,0,120,0.4):[25*2]
            halo_x,halo_y=0,-12
                sound={SOUND_LIST:HOLY}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=125
                 image="units/human-magi/Sorcerer-attack-magic-2.png"
			halo=halo/elven/nature-halo[3~6].png~SCALE(100,100)~BLEND(100,0,120,0.4):[25*4]
            halo_x,halo_y=0,-12
                sound=magic-dark-big-miss.ogg
            [/frame]
            [frame]
                duration=75
                 image="units/human-magi/Sorcerer-attack-magic-1.png:"
			halo=halo/elven/nature-halo[7,8].png~SCALE(100,100)~BLEND(100,0,120,0.4):[25*2]
            halo_x,halo_y=0,-12
			halo=halo/elven/nature-halo[3~6].png~SCALE(100,100)~BLEND(100,0,120,0.4):[25*4]
            halo_x,halo_y=0,-12
                sound={SOUND_LIST:HOLY_MISS}
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fireball
        [/filter_attack]
        {MISSILE_FRAME_FIREBALL_XY 17 -22}
        start_time=-575
        [frame]
            image="units/human-magi/Sorcerer.png:50"
			halo=halo/elven/nature-halo[1,2].png~SCALE(100,100)~BLEND(100,0,120,0.4):[25*2]
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            image="units/human-magi/Sorcerer-attack-magic-1.png:100"
			halo=halo/elven/nature-halo[3~6].png~SCALE(100,100)~BLEND(100,0,120,0.4):[25*4]
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            image="units/human-magi/Sorcerer-attack-magic-[2,1].png:[150,75]"
			halo=halo/elven/nature-halo[7,8,7,6,5,4,3,2,1].png~SCALE(100,100)~BLEND(100,0,120,0.4):[25*9]
            halo_x,halo_y=0,-12
            sound=fire.wav
        [/frame]
        [frame]
            image="units/human-magi/Sorcerer_1.png:75"
			halo=halo/elven/nature-halo[2~4].png~SCALE(100,100)~BLEND(100,0,120,0.4):[25*3]
            halo_x,halo_y=0,-12
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/human-magi/Sorcerer_1.png:50"
			halo=halo/elven/nature-halo[1,2].png~SCALE(100,100)~BLEND(100,0,120,0.4):[25*2]
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            image="units/human-magi/Sorcerer-attack-staff-[1,2].png:[100,180]"
			halo=halo/elven/nature-halo[3~8,7,6,5,4,3,2,1,2].png~SCALE(100,100)~BLEND(100,0,120,0.4):[20*14]
            halo_x,halo_y=0,-12
        [/frame]
        {SOUND:HIT_AND_MISS staff.wav {SOUND_LIST:MISS} -100}
        {SOUND:HIT_AND_MISS magic-dark.ogg magic-dark-miss.ogg -300}
        [frame]
            image="units/human-magi/Sorcerer-attack-magic-1.png:75"
			halo=halo/elven/nature-halo[3~5].png~SCALE(100,100)~BLEND(100,0,120,0.4):[25*3]
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            image="units/human-magi/Sorcerer_1.png:75"
			halo=halo/elven/nature-halo[6~8].png~SCALE(100,100)~BLEND(100,0,120,0.4):[25*3]
            halo_x,halo_y=0,-12
        [/frame]
    [/attack_anim]
	
	[female]
        name= _ "female^Void Mage"
        gender=female
        image="units/human-magi/Sorcerer+female.png"
        profile="portraits/Sorcerer_female.png"
        small_profile=portraits/Sorcerer_female.png~SCALE(205,205)
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [defend]
        start_time=-126
        [frame]
            image=units/human-magi/Sorcerer+female_1.png:1,units/human-magi/Sorcerer+female-defend.png:250,units/human-magi/Sorcerer+female_1.png:1
	    halo=halo/elven/nature-halo[1~3].png~SCALE(100,100)~BLEND(100,0,120,0.4):[125*3]
        [/frame]
        [if]
            hit_sound_start_time=-25
            hits=hit
            [hit_sound_frame]
                sound={SOUND_LIST:HUMAN_FEMALE_HIT}
            [/hit_sound_frame]
        [/if]
    [/defend]
        [portrait]
            size=400
            side="left"
            mirror="false"
            image="portraits/Sorcerer_female.png"
        [/portrait]
        [portrait]
            size=400
            side="right"
            mirror="true"
            image="portraits/Sorcerer_female.png"
        [/portrait]
		
		[standing_anim]
    	    start_time=0
	        [frame]
            	image="units/human-magi/Sorcerer+female_[1~6,5,4,3,2].png:[100*10]"
    	    [/frame]
	    [/standing_anim]
	
   [attack_anim]
        [filter_attack]
            name=noctum
        [/filter_attack]
        {NOCTUM_BEAM_ANIMATION}

        [frame]
            image="units/human-magi/Sorcerer+female-attack-magic-1.png:200"
		 halo=halo/elven/nature-halo[1,2].png~SCALE(100,100)~BLEND(100,0,120,0.4):[25*2]
                 halo_x,halo_y=0,-12
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=125
                 image="units/human-magi/Sorcerer+female-attack-magic-2.png"
		 halo=halo/elven/nature-halo[3~6].png~SCALE(100,100)~BLEND(100,0,120,0.4):[25*4]
                 halo_x,halo_y=0,-12
                sound=magic-dark-big.ogg
            [/frame]
            [frame]
                duration=75
                 image="units/human-magi/Sorcerer+female-attack-magic-1.png"
			halo=halo/elven/nature-halo[7,8].png~SCALE(100,100)~BLEND(100,0,120,0.4):[25*2]
            halo_x,halo_y=0,-12
                sound={SOUND_LIST:HOLY}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=125
                 image="units/human-magi/Sorcerer+female-attack-magic-2.png"
			halo=halo/elven/nature-halo[3~6].png~SCALE(100,100)~BLEND(100,0,120,0.4):[25*4]
            halo_x,halo_y=0,-12
                sound=magic-dark-big-miss.ogg
            [/frame]
            [frame]
                duration=75
                 image="units/human-magi/Sorcerer+female-attack-magic-1.png:"
			halo=halo/elven/nature-halo[7,8].png~SCALE(100,100)~BLEND(100,0,120,0.4):[25*2]
            halo_x,halo_y=0,-12
			halo=halo/elven/nature-halo[3~6].png~SCALE(100,100)~BLEND(100,0,120,0.4):[25*4]
            halo_x,halo_y=0,-12
                sound={SOUND_LIST:HOLY_MISS}
            [/frame]
        [/else]
    [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=fireball
            [/filter_attack]
            {MISSILE_FRAME_FIREBALL}
            [frame]
                image="units/human-magi/Sorcerer+female_1.png:50"
            [/frame]
            [frame]
                image="units/human-magi/Sorcerer+female-attack-magic-1.png:100"
            [/frame]
            [frame]
                image="units/human-magi/Sorcerer+female-attack-magic-[2,1].png:[150,75]"
            [/frame]
            [frame]
                image="units/human-magi/Sorcerer+female_1.png:75"
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=staff
            [/filter_attack]
            [frame]
                image="units/human-magi/Sorcerer+female_1.png:50"
            [/frame]
            [frame]
                image="units/human-magi/Sorcerer+female-attack-staff-[1~2].png:[100,180]"
            [/frame]
            [frame]
                image="units/human-magi/Sorcerer+female-attack-magic-1.png:75"
            [/frame]
            [frame]
                image="units/human-magi/Sorcerer+female.png:75"
            [/frame]
        [/attack_anim]
    [/female]
    [event]
        name=attacker misses
        first_time_only=no
        [filter_attack]
            special=aura
        [/filter_attack]
        [set_variable]
          name=weapon.damage
          multiply=0.33
        [/set_variable]
        [harm_unit]
            [filter]
                    x,y=$x2,$y2
            [/filter]
            [filter_second]
                x,y=$x1,$y1
            [/filter_second]
            amount=$weapon.damage
            alignment=$unit.alignment
            damage_type=$weapon.type
            experience=no
            kill=no
            fire_event=yes
	    animate=no
        [/harm_unit] 
    [/event]
    [event]
        name=defender misses
        first_time_only=no
        [filter_second_attack]
            special=aura
        [/filter_second_attack]
        [set_variable]
          name=second_weapon.damage
          multiply=0.33
        [/set_variable]
        [harm_unit]
            [filter]
                    x,y=$x1,$y1
            [/filter]
            [filter_second]
                x,y=$x2,$y2
            [/filter_second]
            amount=$second_weapon.damage
            alignment=$second_unit.alignment
            damage_type=$second_weapon.type
            experience=no
            kill=no
            fire_event=yes
	    animate=no
        [/harm_unit] 
    [/event]
[/unit_type]


