#textdomain wesnoth-units
[unit_type]
    id=Altawir
    name= _ "Altawir"
    race=khalifate
    image="units/khalifate/altawir.png"
    profile="portraits/altawir.png"
    hitpoints=44
    movement_type=khalifatearmoredfoot
    movement=6
    experience=100
    level=2
    alignment=liminal
    advances_to=Altangshe
    cost=32
    usage=archer
    {MAGENTA_IS_THE_TEAM_COLOR}
    description= _ "The altawir are experts at surviving and hiding in the wilderness of the southern lands. Given their knowledge of the human anatomy and the creatures of the deserts, the altawir is able to hit the weak point of any enemy with ease. "+{SPECIAL_NOTES}+{SPECIAL_NOTES_BACKSTAB}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/khalifate/altawir.png" "units/khalifate/altawir.png" {SOUND_LIST:HUMAN_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/altawir.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/altawir.png"
    [/portrait]
#	[abilities]
#		{ABILITY_CAMOUFLAGE}
#	[/abilities]
    [resistance]
        blade=90
        pierce=90
    [/resistance]
    [attack]
        name=dagger
        description=_"dagger"
        icon=attacks/dagger-orcish.png
        type=blade
        range=melee
        damage=9
        number=2
    [/attack]	
    [attack]
        name=bow
        description=_"bow"
        icon=attacks/bow-short.png
        type=pierce
        range=ranged
        damage=6
        number=4
		[specials]
			{WEAPON_SPECIAL_BACKSTAB}
		[/specials]
    [/attack]
    [attack]
        name=bow
        description=_"bow"
        icon=attacks/bow-short.png
        type=pierce
        range=ranged
        damage=11
        number=3
		[specials]
			{WEAPON_SPECIAL_MARKSMAN}
		[/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.7,0.7~0.6,0.6~0.3,0.3~0.0
        start_time=-330
        [frame]
            image="units/khalifate/altawir.png:[120*3]"
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -400}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        start_time=-445
        [frame]
            image="units/khalifate/altawir.png:65"
        [/frame]
        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -380}
        [frame]
            image="units/khalifate/altawir.png:[75*2,100,130]"
        [/frame]
        [frame]
            image="units/khalifate/altawir.png:65"
        [/frame]
    [/attack_anim]
[/unit_type]
