#textdomain wesnoth-units
#ifdef MULTIPLAYER
[unit_type]
    id=TGA Naffat
    [base_unit]
        id=Naffat
    [/base_unit]
    advances_to=Qatif_al_nar,Waghad_al_lahab
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Jundi
    [base_unit]
        id=Jundi
    [/base_unit]
    advances_to=Muharib,Sama
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Khaiyal
    [base_unit]
        id=Khaiyal
    [/base_unit]
    advances_to=TGA Faris,Shannat Monawish,Qanas
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Faris
    [base_unit]
        id=Faris
    [/base_unit]
    advances_to=Mufariq,Rakib
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Hakim
    [base_unit]
        id=Hakim
    [/base_unit]
    advances_to=Tabib,Ealim
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Arif
    [base_unit]
        id=Arif
    [/base_unit]
    advances_to=Ghazi,TGA Mudafi
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Mudafi
    [base_unit]
        id=Mudafi
    [/base_unit]
    advances_to=TGA Rasikh
    hide_help=false
    do_not_list=no
[/unit_type]
[unit_type]
    id=TGA Rasikh
    [base_unit]
        id=Rasikh
    [/base_unit]
    advances_to=Hurasch
    experience=200
    hide_help=false
    do_not_list=no
[/unit_type]
#endif