#textdomain wesnoth-units
[unit_type]
    id=Calik
    name= _ "Calik"
    race=khalifate
    image="units/khalifate/calik.png"
    hitpoints=64
    movement_type=khalifatearmoredfoot
    movement=5
    experience=150
    level=3
    alignment=liminal
    advances_to=null
    cost=50
    usage=fighter
    {AMLA_DEFAULT}
    {MAGENTA_IS_THE_TEAM_COLOR}
    description= _ "."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/khalifate/calik.png" "units/khalifate/calik.png" {SOUND_LIST:HUMAN_HIT} }
    [abilities]
        {ABILITY_FURY}
    [/abilities]
    [attack]
        name=scimitar
        description= _ "scimitar"
        icon=attacks/scimitar.png
        type=blade
        range=melee
        damage=12
        number=4
		[specials]
			[swarm]
				id=ravage
				name= _ "Ravage"
				description= _ "The less hitpoints the calik has, the more attacks he gets. Up to a max. of 6."
				swarm_attacks_max=4
				swarm_attacks_min=6
			[/swarm]
		[/specials]
    [/attack]
    {MELEE_SWOOSH_ANIM_DUAL scimitar {SOUND_LIST:SWORD_SWISH} "~SCALE(110,110)"}
    [attack_anim]
        [filter_attack]
            name=scimitar_old
        [/filter_attack]
        offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.7,0.7~0.6,0.6~0.3,0.3~0.0
        start_time=-330
        [frame]
            image="units/khalifate/calik.png:[120*3]"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -400}
    [/attack_anim]
    [victory_anim]
        start_time=0
	    [frame]
            image="units/khalifate/calik_laugh_1.png:400"
        [/frame]
        [frame]
            image="units/khalifate/calik_laugh_[2,1,2,1,2,1,2,1,2,1,2,1,2,1].png:300"
            sound=dwarf-laugh.wav
        [/frame]
    [/victory_anim]
    [standing_anim]
        start_time=0
        [frame]
            image="units/khalifate/calik_bob_[1~3,2,1].png:[190,190,280,190,190]"
        [/frame]
    [/standing_anim]
[/unit_type]
