#textdomain wesnoth-units
[unit_type]
    id=Falah
    name= _ "Falah"
    race=khalifate
    image="units/khalifate/falah.png"
    hitpoints=20
    movement_type=khalifatefoot
    movement=5
    experience=18
    level=0
    alignment=lawful
    cost=8
    usage=fighter
#ifdef MULTIPLAYER
    advances_to=TGA Arif,TGA Jundi
#endif
#ifndef MULTIPLAYER
    advances_to=Arif,Jundi
#endif
    advances_to=Arif,Jundi
    {MAGENTA_IS_THE_TEAM_COLOR}
    description= _ ""+{SPECIAL_NOTES}+{SPECIAL_NOTES_BACKSTAB}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/khalifate/falah.png" "units/khalifate/falah.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=dagger
        description= _ "dagger"
        icon=attacks/dagger-human.png
        type=blade
        range=melee
        damage=4
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        start_time=-150
        [frame]
            image="units/khalifate/falah.png:50"
        [/frame]
        [frame]
            image="units/khalifate/falah-attack.png:200"
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -100}
        [frame]
            image="units/khalifate/falah.png:50"
        [/frame]
    [/attack_anim]
[/unit_type]
