#textdomain wesnoth-units
[unit_type]
    id=Genie
    name= _ "Genie"
    race=djinn
    image="units/magical/genie.png"
    profile="portraits/genie.png"
    hitpoints=68
    movement_type=djinn
    movement=6
    experience=220
    level=3
    alignment=lawful
    advances_to=Genie-Kabir
    cost=60
    usage=fighter
    {AMLA_DEFAULT}
    {MAGENTA_IS_THE_TEAM_COLOR}
    description= _ "Djinn are magical beings that inhabited the great deserts even before men arrived. They are innate friendly beings that maintain a good relationship with humans. Djinn helped the people of the desert to build their enormous cities. When the Three Kings of K'thar abused the powers of magic, most djinn died, since they are susceptible to destructive magic. Only a few have found a safe place - either in manmade objects, such as lamps, swords or jewelry, or in men that agreed to host a djinn in their mortal body. United they form the mighty half-djinns that are both man and djinn. In the land of the deserts, half-djinns are not seen as bastards, in fact, they are respected throughout the lands, as their union symbolises the great bond between man and djinn that brought forth many good things to the life of both kin. Djinn hate Afariyaten more than anything else."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/magical/genie.png" "units/magical/genie.png" {SOUND_LIST:HUMAN_HIT} }
	[abilities]
		{ABILITY_SELFHEAL}
	[/abilities]	
        [resistance]
            cold=60   
        [/resistance]
    [attack]
        name=scimitar
        description=_"scimitar"
        icon=attacks/scimitar.png
        type=pierce
        range=melee
        [specials]
			{WEAPON_SPECIAL_LESSER_MARKSMAN}
        [/specials]
        damage=12
        number=3
    [/attack]
    [attack]
        name=chill wave
        description=_"chill wave"
        icon=attacks/iceball.png
        type=cold
        range=ranged
        damage=12
        number=2
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=magical fist
        description=_"magical fist"
        icon=attacks/fist-magical.png
        type=impact
        range=ranged
        [specials]
            {WEAPON_SPECIAL_DEVOTED}
        [/specials]
        damage=26
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=chill wave
        [/filter_attack]
        {MISSILE_FRAME_ICE}
        {STORMKIND_ATTACK_HALO}

        halo1_halo_mod="~CS(-40,-16,0)~O(30%)"
        halo2_halo_mod="~CS(-40,-16,0)~O(45%)"
        halo3_halo_mod="~CS(-40,-16,0)~O(30%)"
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=magical fist
        [/filter_attack]
        {MISSILE_FRAME_MAGIC_FIST}
        start_time=-1200
        [sound_frame]
           sound=rumble.ogg
        [/sound_frame]
        sound_start_time=-75
        [frame]
            duration=900
#            sound=magic-dark.ogg
            sound=magic-faeriefire.ogg
        [/frame]
        {SOUND:HIT_AND_MISS fist.ogg empty -75}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=scimitar
        [/filter_attack]
        {MELEE_FRAME_SWOOSH {SOUND_LIST:SWORD_SWISH} ~}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=scimitar_old
        [/filter_attack]
        offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.7,0.7~0.6,0.6~0.3,0.3~0.0
        start_time=-330
        [frame]
            image="units/magical/genie.png:[120*3]"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -400}
    [/attack_anim]
[/unit_type]
