#textdomain wesnoth-units
[unit_type]
    id=Hurasch
    name= _ "Hurasch"
    race=khalifate
    image="units/khalifate/hurasch.png"
	image_icon="units/khalifate/hurasch.png~CROP(22,27,72,72)"
    hitpoints=82
    movement_type=khalifatearmoredfoot
    movement=5
    experience=200
    level=4
    alignment=lawful
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit="Rasikh"
    [/advancefrom]
#endif
    cost=85
    usage=fighter
    {AMLA_DEFAULT}
    {MAGENTA_IS_THE_TEAM_COLOR}
    description= _ "Clad in several layers of thick leather and steel armour, the Hurasch certainly takes up the most important task among the warriors of the khalifate. Wielding a mighty, 5 meter long pike, the Hurasch is the protector of the gates of the grand cities of the desert lands and is able to impale aggressors even before they understand what arrives to them. To proclaim the message of impregnableness, many pikes grace the outer walls of the cities - with their victims still attached to them."+{SPECIAL_NOTES}+{SPECIAL_NOTES_FIRSTSTRIKE}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/khalifate/hurasch.png" "units/khalifate/hurasch.png" {SOUND_LIST:HUMAN_HIT} }
#    [attack]
#        name=spear
#        description=_"impale"
#        icon=attacks/pike.png
#        type=pierce
#        range=melee
#        damage=45
#        number=1
#		attack_weight=0
#        [specials]
#            {WEAPON_SPECIAL_FIRSTSTRIKE}
#        [/specials]
#    [/attack]	
    [attack]
        name=spear
        description=_"spear"
        icon=attacks/pike.png
        type=pierce
        range=melee
        damage=15
        number=4
#		defense_weight=0
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]

        start_time=-200

        [frame]
            image="units/khalifate/hurasch.png:300"
        [/frame]

        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -100}
    [/attack_anim]

[/unit_type]
