#textdomain wesnoth-units
[unit_type]
    id=Maji
    name= _ "Maji"
    race=khalifate
    image="units/khalifate/maji.png"
    hitpoints=38
    movement_type=khalifatearmoredfoot
    movement=5
    experience=100
    level=2
    alignment=liminal
    cost=42
    usage=mage
    andvances_to=null
    {AMLA_DEFAULT}
    {MAGENTA_IS_THE_TEAM_COLOR}
    description= _ "Power is something that always has been a deep desire in most people's heart.  In some, the hate and denial for the imposed dichotomy of the Athvari reached a breaking point, leading people like the Maji to become very dangerous for their knowledge of magic among a people as abrasive of the forbidden arts as the desert people."+{SPECIAL_NOTES}+{SPECIAL_NOTES_TELEPORT}
	{AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/khalifate/maji.png" "units/khalifate/maji.png" {SOUND_LIST:HUMAN_HIT} }
	[abilities]
		{ABILITY_TELEPORT}
	[/abilities]
    [resistance]
        blade=90
        impact=100
    [/resistance]		
	
    [attack]
        name=staff
        description=_"staff"
        icon=attacks/staff-magic.png
        type=impact
        range=melee
        damage=7
        number=2
    [/attack]
	
    [attack]
        name=missile
        description=_"missile"
        icon=attacks/magic-missile.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=9
        number=4
    [/attack]
#textdomain wesnoth-utbs
    [attack]
        name=sand storm
        description= _ "sand storm"
        icon=attacks/sand-storm.png
        type=impact
        [specials]
#            {WEAPON_SPECIAL_SWARM}
            {WEAPON_SPECIAL_LESSER_MARKSMAN}
        [/specials]
        range=ranged
        damage=4
        number=10
    [/attack]

    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        {MELEE_FRAME_SWOOSH staff.wav "~SCALE(92,92)"}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=missile
        [/filter_attack]
        offset=0
        {MAGIC_MISSILE 14 -23}
        {MAGIC_MISSILE_STAFF_FLARE -750 600 14 -23}
		
		
        [frame]
            image="units/khalifate/maji.png:[100,700,200]"
        [/frame]
		{SOUND:HIT_AND_MISS magic-missile-[1~3].ogg magic-missile-[1~3]-miss.ogg -350}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sand storm
        [/filter_attack]
        [if]
            direction=sw,s,se
            [missile_frame]
                offset=1.0
                begin=-200
                end=120
                halo="projectiles/sand-storm-1.png:40,projectiles/sand-storm-2.png:40,projectiles/sand-storm-3.png:40,projectiles/sand-storm-4.png:40,projectiles/sand-storm-5.png:40,projectiles/sand-storm-6.png:40,projectiles/sand-storm-7.png:40,projectiles/sand-storm-8.png:40"
            [/missile_frame]
        [/if]
        [else]
            direction=ne,n,nw
            [missile_frame]
                offset=1.0
                begin=-200
                end=120
                halo="projectiles/sand-storm-1.png~FL(vert):40,projectiles/sand-storm-2.png~FL(vert):40,projectiles/sand-storm-3.png~FL(vert):40,projectiles/sand-storm-4.png~FL(vert):40,projectiles/sand-storm-5.png~FL(vert):40,projectiles/sand-storm-6.png~FL(vert):40,projectiles/sand-storm-7.png~FL(vert):40,projectiles/sand-storm-8.png~FL(vert):40"
            [/missile_frame]
        [/else]
        [if]
            hits=yes
            [frame]
                begin=-200
                end=100
                sound=magic-faeriefire.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-200
                end=100
                sound=magic-faeriefire-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [animation]
        apply_to=pre_teleport
        start_time=-1250

        halo1_start_time=-1250
        halo1_auto_vflip=false
        [halo1_frame]
            halo="halo/athvari-power-[1,2].png:150"
            halo_mod="~SCALE(100,100)~BLEND(146,101,255,0.7)" 
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-[3,4].png:150"
            halo_mod="~SCALE(100,100)~O(90%)~BLEND(146,101,255,0.7)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-[5,6].png:150"
            halo_mod="~SCALE(100,100)~O(80%)~BLEND(146,101,255,0.7)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-[7,9].png:150"
            halo_mod="~SCALE(100,100)~O(70%)~BLEND(146,101,255,0.7)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-10.png:150"
            halo_mod="~SCALE(100,100)~O(60%)~BLEND(146,101,255,0.7)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-11.png:150"
            halo_mod="~SCALE(100,100)~O(50%)~BLEND(146,101,255,0.7)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-12.png:150"
            halo_mod="~SCALE(100,100)~O(40%)~BLEND(146,101,255,0.7)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-13.png:150"
            halo_mod="~SCALE(100,100)~O(30%)~BLEND(146,101,255,0.7)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-14.png:150"
            halo_mod="~SCALE(100,100)~O(20%)~BLEND(146,101,255,0.7)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="misc/blank-hex.png:150"
            halo_y=0
        [/halo1_frame]
        {TGA_FADE_TELEPORT_ANIM_PRE units/khalifate/maji.png}
    [/animation]
    [animation]
        apply_to=post_teleport
        start_time=-1250

        halo1_start_time=-1250
        halo1_auto_vflip=false
        [halo1_frame]
            halo="misc/blank-hex.png:150"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-14.png:150"
            halo_mod="~SCALE(100,100)~O(20%)~BLEND(146,101,255,0.7)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-13.png:150"
            halo_mod="~SCALE(100,100)~O(30%)~BLEND(146,101,255,0.7)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-12.png:150"
            halo_mod="~SCALE(100,100)~O(40%)~BLEND(146,101,255,0.7)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-11.png:150"
            halo_mod="~SCALE(100,100)~O(50%)~BLEND(146,101,255,0.7)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-[10,9].png:150"
            halo_y=0
            halo_mod="~SCALE(100,100)~O(40%)~BLEND(146,101,255,0.7)"
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-[8,7].png:150"
            halo_mod="~SCALE(100,100)~O(50%)~BLEND(146,101,255,0.7)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-[6,5].png:150"
            halo_mod="~SCALE(100,100)~O(60%)~BLEND(146,101,255,0.7)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-4.png:150"
            halo_mod="~SCALE(100,100)~O(70%)~BLEND(146,101,255,0.7)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-3.png:150"
            halo_mod="~SCALE(100,100)~O(80%)~BLEND(146,101,255,0.7)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-2.png:150"
            halo_mod="~SCALE(100,100)~O(90%)~BLEND(146,101,255,0.7)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
           halo="halo/athvari-power-1.png:150"
           halo_mod="~SCALE(100,100) BLEND(146,101,255,0.7)" 
           halo_y=0
        [/halo1_frame]
        {TGA_FADE_TELEPORT_ANIM_POST units/khalifate/maji.png}
    [/animation]
	
	#[standing_anim]
    #    start_time=0
    #    [frame]
    #        image="units/khalifate/maji-bob-[1~3,2,1].png:[190,190,280,190,190]"
    #    [/frame]
    #[/standing_anim]
	

[/unit_type]
