#textdomain wesnoth-units
[unit_type]
    id=Masun
    name= _ "Masun"
    race=khalifate
    image="units/khalifate/masun.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=62
    movement_type=khalifatearmoredfoot
    movement=4
    experience=75
    level=2
    alignment=lawful
    advances_to=Maeqil#,Saray
    cost=38
    usage=fighter
    description= _ "The great shield of the Masun is handed through the generations and from father to son. Usually, the oldest son will be given the shield of the father, either when he dies in battle or of elderness and the task to protect his family and his kin is laid upon his shoulders. Masun are often the first to enter a battle and they only leave if the battle has been won or the last of his comrades has successfully escaped."+{SPECIAL_NOTES}+{SPECIAL_NOTES_KNOCKBACK}+{SPECIAL_NOTES_SLOW}
    die_sound={SOUND_LIST:ELF_HIT}
    {DEFENSE_ANIM "units/khalifate/masun.png" "units/khalifate/masun.png" {SOUND_LIST:ELF_HIT} }
	[abilities]
		{ABILITY_STEADFAST}
	[/abilities]
    [attack]
        name=scimitar
        description= _ "scimitar"
        icon=attacks/scimitar.png
        type=blade
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=shield bash
        description= _ "shield bash"
        icon=icons/shield_polished.png #TODO: add "correct" shield form!
        type=impact
        range=melee
        damage=8
        number=2
        [specials]
            {WEAPON_SPECIAL_SLOW}
#	    {WEAPON_SPECIAL_KNOCKBACK}
        [/specials]
    [/attack]
    [attack]
        name=shield bash
        description= _ "shield bash"
        icon=icons/shield_polished.png #TODO: add "correct" shield form!
        type=impact
        range=melee
        damage=10
        number=1
        [specials]
            {WEAPON_SPECIAL_SLOW}
	    {WEAPON_SPECIAL_KNOCKBACK}
	    {WEAPON_SPECIAL_ATTACK_ONLY}
        [/specials]
        defense_weight=0.0
    [/attack]

    [attack_anim]
        [filter_attack]
            name=scimitar
        [/filter_attack]

        start_time=-200

        [frame]
            image="units/khalifate/masun.png:300"
        [/frame]

        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=shield bash
        [/filter_attack]

        start_time=-200

        [frame]
            image="units/khalifate/masun.png:300"
        [/frame]

        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
