#textdomain wesnoth-units
[unit_type]
    id=Qismat
    name= _ "Qismat"
    race=khalifate
    image="units/khalifate/qismat.png"
    hitpoints=42
    movement_type=khalifatefoot
    movement=7
    experience=100
    level=2
    alignment=chaotic
    cost=27
    usage=fighter
	{AMLA_DEFAULT}
    {MAGENTA_IS_THE_TEAM_COLOR}
    description= _ "In a land of honourable fighting, where the strength of armies is mostly measured by their bravery and strength, the Qismat are known for their ability to quickly dispatch a person with the speed of a lightning bolt. Their proficiency in assassinating their targets makes sure only people employing them for mischievous deeds even have a hunch of their excellent techniques. This only serves to increase the horror common soldiers feel at the prospect of facing a Quismat one day."+{SPECIAL_NOTES}+{SPECIAL_NOTES_BACKSTAB}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/khalifate/qismat.png" "units/khalifate/qismat.png" {SOUND_LIST:HUMAN_HIT} }
	[abilities]
		{ABILITY_NIGHTSTALK}
		{ABILITY_SKIRMISHER}
	[/abilities]
    [attack]
        name=dagger
        description= _ "dagger"
        icon=attacks/dagger-human.png
        type=blade
        range=melee
        damage=8
        number=3
		[specials]
			{WEAPON_SPECIAL_BACKSTAB}
		[/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        {MELEE_FRAME_SWOOSH dagger-swish.wav "~SCALE(90,90)"}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dagger_old
        [/filter_attack]
        offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.7,0.7~0.6,0.6~0.3,0.3~0.0
        start_time=-330
        [frame]
            image="units/khalifate/qismat.png:[120*3]"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -400}
    [/attack_anim]
[/unit_type]
