#textdomain wesnoth-units

#define AMLA_KHAZUL
	[advancement]
		id=amla_khazul_MAX_lance
		description="Lance of Serrul [1/1]
" + "    the lance of serrul gains +1 damage per killed unit"
        image="attacks/pike.png"
		always_display=yes
		max_times=1
		[effect]
			apply_to=attack
			name=lance
			[set_specials]
				mode=append
#				{WEAPON_SPECIAL_LANCE_OF_SERRUL}
			[/set_specials]
		[/effect]
		exclude_amla=amla_khazul_MAX_bulwark,amla_khazul_MAX_trample
	[/advancement]
	[advancement]
		id=amla_khazul_MAX_bulwark
        description= _ "Bulwark [1/1]
" + "    grants +40 hitpoints"
        image="icons/helmet_corinthian.png"
		always_display=yes
		max_times=1
		[effect]
			apply_to=hitpoints
			increase_total=40
			heal_full=yes
		[/effect]
		exclude_amla=amla_khazul_MAX_lance,amla_khazul_MAX_trample
	[/advancement]
#enddef

[unit_type]
	id=Rakib
	name= _ "Rakib"
	image="units/khalifate/rakib.png"
	image_icon="units/khalifate/rakib.png~CROP(10,12,72,72)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=60
	race=khalifate
    movement_type=khalifatearmoredhorse
    movement=6
	experience=100
	{DEFENSE_ANIM "units/khalifate/rakib.png" "units/khalifate/rakib.png" {SOUND_LIST:ELF_HIT} }
	{AMLA_KHAZUL}
	{AMLA_DEFAULT}
	advances_to=null
    level=3
    alignment=lawful
#ifndef MULTIPLAYER
    [advancefrom]
        unit="Faris"
    [/advancefrom]
#endif
    cost=80
    usage=fighter
    description= _ "Leaders that face their foes heads-on often achieve great levels of admiration and respect among their people. The Rakib are fearless individuals whose eagerness to make the enemy feel their cold steel and overwhelming fighting prowess inspires the soldiers in their wake to follow with great zeal."+{SPECIAL_NOTES}+{SPECIAL_NOTES_LEADERSHIP}
    die_sound={SOUND_LIST:ELF_HIT}
    {DEFENSE_ANIM "units/khalifate/rakib.png" "units/khalifate/rakib.png" {SOUND_LIST:ELF_HIT} }
	
	
	[abilities]
		{ABILITY_LEADERSHIP_LEVEL_3}
	[/abilities]
	
    [attack]
        name=lance
        description= _ "lance of serrul"
        type=pierce
        range=melee
        damage=32
        number=1
		[specials]
			{WEAPON_SPECIAL_MARKSMAN}
		[/specials]
    [/attack]
		[attack]
			name=trample
			icon=attacks/kick-horse.png
			description= _ "trample"
			type=impact
			range=melee
			damage=22
			number=1
			[specials]
				{WEAPON_SPECIAL_TRAMPLE}
				{WEAPON_SPECIAL_OVERWHELM}
			[/specials]
		[/attack]
    [attack]
        name=mace
        description= _ "mace"
        type=impact
        range=melee
        damage=13
        number=3
    [/attack]

    [attack_anim]
        [filter_attack]
            name=lance
        [/filter_attack]

        start_time=-250
        horse_sound_start_time=-250

        [frame]
            image="units/khalifate/rakib.png:400"
        [/frame]

        [horse_sound_frame]
            sound=horse-canter.wav
        [/horse_sound_frame]

        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -75}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]

        start_time=-250
        horse_sound_start_time=-250

        [frame]
            image="units/khalifate/rakib.png:400"
        [/frame]

        [horse_sound_frame]
            sound=horse-canter.wav
        [/horse_sound_frame]

        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -75}
    [/attack_anim]
	
	    [attack_anim]
        [filter_attack]
            name=trample
        [/filter_attack]
        start_time=-1350

        [frame]
            image="units/khalifate/rakib.png:50"
            offset=0.0~-0.2
        [/frame]
        [frame]
            image="units/khalifate/rakib.png"
            offset=-0.2~-0.4:500,-0.4~1.8:850#~1.6
        [/frame]

        {SOUND:HIT_AND_MISS horse-canter.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
