#textdomain wesnoth-units
[unit_type]
    id=Saray
    name= _ "Saray"
    race=khalifate
    image="units/khalifate/saray.png"
    hitpoints=94
    movement_type=khalifatearmoredfoot
    movement=6
    experience=150
    level=4
    alignment=liminal
    advances_to=null
    cost=82
    usage=fighter
    {AMLA_DEFAULT}
    {MAGENTA_IS_THE_TEAM_COLOR}
    description= _ "The Saray are a rare class of warriors whose sole purpose is to protect their khalid's life at all costs. Since their armour is said to be made out of pure crystals the Saray are not as hard-wearing as their comrades on the battlefield; yet their expertise with their heavy scimitars is unmatched and they may even hit a single grain of sand floating in the wind."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/khalifate/saray.png" "units/khalifate/saray.png" {SOUND_LIST:HUMAN_HIT} }
	[abilities]
		{ABILITY_SKIRMISHER}
	[/abilities]	
    [attack]
        name=scimitar
        description= _ "scimitar"
        icon=attacks/scimitar.png
        type=blade
        range=melee
        damage=12
        number=4
	[specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=scimitar
        [/filter_attack]
        {MELEE_FRAME_SWOOSH {SOUND_LIST:SWORD_SWISH} ~}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=scimitar_old
        [/filter_attack]

        start_time=-200

        [frame]
            image="units/khalifate/saray.png:300"
        [/frame]

        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [recruit_anim]
        start_time=-200
        [frame]
            image=units/khalifate/saray-sandstorm-[11~1].png:125
        [/frame]
    [/recruit_anim]
    [death]
		start_time=-200
        [frame]
            image=units/khalifate/saray-sandstorm-[1~11].png:125
        [/frame]
#		sound_start_time=300
#	    [sound_frame]
#            sound=magic-faeriefire.ogg
#        [/sound_frame]
    [/death]
    [animation]
        apply_to=pre_movement
        start_time=-2400

        [frame]
            image="units/khalifate/saray-sandstorm-[1~11].png:[200*11]"
        [/frame]
        [frame]
            image="misc/blank-hex.png:300"
        [/frame]
    [/animation]
	
    [animation]
        apply_to=movement
        start_time=-800

        [frame]
            image="misc/blank-hex.png:800"
        [/frame]
    [/animation]

    [animation]
        apply_to=post_movement
        start_time=-2400
		
        [frame]
            image="misc/blank-hex.png:300"
        [/frame]
        [frame]
            image="units/khalifate/saray-sandstorm-[11~1].png:[200*11]"
        [/frame]
    [/animation]
[/unit_type]
