#textdomain wesnoth-units
[unit_type]
    id=Ustura
    name= _ "Ustura"
    race=khalifate
    image="units/khalifate/ustura.png"
    hitpoints=57
    movement_type=khalifatearmoredfoot
    movement=6
    experience=100
    level=2
    alignment=lawful
    cost=40
    usage=fighter
    {MAGENTA_IS_THE_TEAM_COLOR}
    {AMLA_DEFAULT}
    description= _ "Clad in robust yet light armour and wielding a scimitar as sharp as a wyvern's tooth, the ustura is more than just a simple warrior. Although not yet allowed to lead the troops of the Khalid that he has sworn allegiance to, the ustura is well known for his loyalty and thus often heavy tasks are laid upon his shoulders. The sheer amount of patriotism in the ustura inspires his comrades to fight fiercer."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/khalifate/ustura.png" "units/khalifate/ustura.png" {SOUND_LIST:HUMAN_HIT} }
	
	[abilities]
		{ABILITY_INSPIRE_LEVEL_2}
	[/abilities]
	
    [attack]
        name=scimitar
        description= _ "scimitar"
        icon=attacks/scimitar.png
        type=blade
        range=melee
        damage=9
        number=3
    [/attack]
	
	[standing_anim]
		start_time=0
		[frame]
			image="units/khalifate/ustura-bob-[1~5].png:[180,180,180,180,180]"
		[/frame]
	[/standing_anim]
	
    [attack_anim]
        [filter_attack]
            name=scimitar
        [/filter_attack]
        {MELEE_FRAME_SWOOSH {SOUND_LIST:SWORD_SWISH} ~}
    [/attack_anim]	
		[attack_anim]
			[filter_attack]
				name=scimitar_old
			[/filter_attack]
			offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.7,0.7~0.6,0.6~0.3,0.3~0.0
			start_time=-330
			[frame]
				image="units/khalifate/ustura.png:[120*6]"
			[/frame]
			{SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -400}
		[/attack_anim]
[/unit_type]
[unit_type]
    id=Ascended Ustura
    name= _ "Ascended Ustura"
    race=athvari
    image="units/athvari/ustura-ascended.png"
    image_icon="units/athvari/ustura-ascended.png~CROP(46,36,72,72)"
    halo=halo/athvari-power-[1~14].png~O(50%):120
    hitpoints=70
    movement_type=khalifatearmoredfoot
    movement=7
    experience=150
    level=3
    alignment=lawful
    cost=65
    usage=fighter
    {MAGENTA_IS_THE_TEAM_COLOR}
    {AMLA_DEFAULT}
    description= _ "Clad in robust yet light armour and wielding a scimitar as sharp as a wyvern's tooth, the ustura is more than just a simple warrior. Although not yet allowed to lead the troops of the Khalid that he has sworn allegiance to, the ustura is well known for his loyalty and thus often heavy tasks are laid upon his shoulders. The sheer amount of patriotism in the ustura inspires his comrades to fight fiercer."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/athvari/ustura-ascended.png" "units/athvari/ustura-ascended.png" {SOUND_LIST:ELF_HIT} }
	[abilities]
		{ABILITY_INSPIRE_LEVEL_2}
		{ABILITY_TELEPORT}
	[/abilities]
    [resistance]
        arcane=70
        fire=80
        cold=80
    [/resistance]		
		
    [attack]
        name=scimitar
        description= _ "scimitar"
        icon=attacks/scimitar.png
        type=blade
        range=melee
        damage=12
        number=3
    [/attack]
    [attack]
        name=missile
        description=_"missile"
        icon=attacks/magic-missile.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=12
        number=2
    [/attack]

    [attack_anim]
        [filter_attack]
            name=scimitar
        [/filter_attack]
        {MELEE_FRAME_SWOOSH {SOUND_LIST:SWORD_SWISH} ~}
    [/attack_anim]	
		[attack_anim]
			[filter_attack]
				name=scimitar_old
			[/filter_attack]
			offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.7,0.7~0.6,0.6~0.3,0.3~0.0
			start_time=-330
			[frame]
				image="units/athvari/ustura-ascended.png:[120*6]"
			[/frame]
			{SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -400}
		[/attack_anim]
    [attack_anim]
        [filter_attack]
            name=missile
        [/filter_attack]
        offset=0
        {MAGIC_MISSILE 14 -23}
        {MAGIC_MISSILE_STAFF_FLARE -750 600 14 -23}
		
        [frame]
            image="units/athvari/ustura-ascended.png:[100,700,200]"
        [/frame]
		{SOUND:HIT_AND_MISS magic-missile-[1~3].ogg magic-missile-[1~3]-miss.ogg -350}
    [/attack_anim]
		
		[standing_anim]
			start_time=0
			[frame]
				image="units/athvari/ustura-ascended.png:[180,180,300,180,180]"
			[/frame]
		[/standing_anim]
    [animation]
        apply_to=pre_teleport
        start_time=-1250

        halo1_start_time=-1250
        halo1_auto_vflip=false
        [halo1_frame]
            halo="halo/athvari-power-[1,2].png:150"
            halo_mod="~SCALE(158,158)" 
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-[3,4].png:150"
            halo_mod="~SCALE(158,158)~O(90%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-[5,6].png:150"
            halo_mod="~SCALE(158,158)~O(80%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-[7,9].png:150"
            halo_mod="~SCALE(158,158)~O(70%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-10.png:150"
            halo_mod="~SCALE(158,158)~O(60%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-11.png:150"
            halo_mod="~SCALE(158,158)~O(50%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-12.png:150"
            halo_mod="~SCALE(158,158)~O(40%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-13.png:150"
            halo_mod="~SCALE(158,158)~O(30%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-14.png:150"
            halo_mod="~SCALE(158,158)~O(20%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="misc/blank-hex.png:150"
            halo_y=0
        [/halo1_frame]
        {TGA_FADE_TELEPORT_ANIM_PRE units/athvari/ustura-ascended.png}
    [/animation]
    [animation]
        apply_to=post_teleport
        start_time=-1250

        halo1_start_time=-1250
        halo1_auto_vflip=false
        [halo1_frame]
            halo="misc/blank-hex.png:150"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-14.png:150"
            halo_mod="~SCALE(158,158)~O(20%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-13.png:150"
            halo_mod="~SCALE(158,158)~O(30%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-12.png:150"
            halo_mod="~SCALE(158,158)~O(40%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-11.png:150"
            halo_mod="~SCALE(158,158)~O(50%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-[10,9].png:150"
            halo_y=0
            halo_mod="~SCALE(158,158)~O(40%)"
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-[8,7].png:150"
            halo_mod="~SCALE(158,158)~O(50%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-[6,5].png:150"
            halo_mod="~SCALE(158,158)~O(60%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-4.png:150"
            halo_mod="~SCALE(158,158)~O(70%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-3.png:150"
            halo_mod="~SCALE(158,158)~O(80%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
            halo="halo/athvari-power-2.png:150"
            halo_mod="~SCALE(158,158)~O(90%)"
            halo_y=0
        [/halo1_frame]
        [halo1_frame]
           halo="halo/athvari-power-1.png:150"
           halo_mod="~SCALE(158,158)" 
           halo_y=0
        [/halo1_frame]
        {TGA_FADE_TELEPORT_ANIM_POST units/athvari/ustura-ascended.png}
    [/animation]
[/unit_type]