#textdomain wesnoth-units
[unit_type]
    id=Vizier
    name= _ "Vizier"
    race=khalifate
    image="units/khalifate/vizier.png"
    hitpoints=60
    movement_type=khalifatearmoredfoot
    movement=6
    experience=200
    level=3
    alignment=liminal
    advances_to=null
    cost=80
    usage=fighter
	{AMLA_DEFAULT}
    {MAGENTA_IS_THE_TEAM_COLOR}
    description= _ ""+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/khalifate/vizier.png" "units/khalifate/vizier.png" {SOUND_LIST:HUMAN_HIT} }
	[abilities]
		{ABILITY_LEADERSHIP_LEVEL_3}
	[/abilities]	
    [attack]
        name=ceremonial dagger
        description= _ "ceremonial dagger"
        icon=attacks/dagger-undead.png
        type=blade
        range=melee
        damage=28
        number=1
		[specials]
			{WEAPON_SPECIAL_BACKSTAB}
		[/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=ceremonial dagger
        [/filter_attack]
        {MELEE_FRAME_SWOOSH dagger-swish.wav "~SCALE(90,90)~BLEND(210,150,0,0.6)"}
    [/attack_anim]
    [variation]
        variation_id=yellow
        inherit=yes
        hide_help=yes
        image="units/khalifate/vizier-yellow.png"
        {DEFENSE_ANIM "units/khalifate/vizier-yellow.png" "units/khalifate/vizier-yellow.png" {SOUND_LIST:HUMAN_HIT} }
    [/variation]
    [variation]
        variation_id=red
        inherit=yes
        hide_help=yes
        image="units/khalifate/vizier-red.png"
        {DEFENSE_ANIM "units/khalifate/vizier-red.png" "units/khalifate/vizier-red.png" {SOUND_LIST:HUMAN_HIT} }
    [/variation]
    [variation]
        variation_id=green
        inherit=yes
        hide_help=yes
        image="units/khalifate/vizier-green.png"
        {DEFENSE_ANIM "units/khalifate/vizier-green.png" "units/khalifate/vizier-green.png" {SOUND_LIST:HUMAN_HIT} }
    [/variation]
    [variation]
        variation_id=purple
        inherit=yes
        hide_help=yes
        image="units/khalifate/vizier-purple.png"
        {DEFENSE_ANIM "units/khalifate/vizier-purple.png" "units/khalifate/vizier-purple.png" {SOUND_LIST:HUMAN_HIT} }
    [/variation]
    [variation]
        variation_id=pink
        inherit=yes
        hide_help=yes
        image="units/khalifate/vizier-pink-ish.png"
        {DEFENSE_ANIM "units/khalifate/vizier-pink-ish.png" "units/khalifate/vizier-pink-ish.png" {SOUND_LIST:HUMAN_HIT} }
    [/variation]
[/unit_type]
