#textdomain wesnoth-units
[unit_type]
    id=Waghad_al_lahab
    name= _ "Waghad-al-lahab"
    race=khalifate
    ignore_race_traits=yes
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    image="units/khalifate/waghad-al-lahab.png"
    hitpoints=48
    movement_type=khalifatefoot
    movement=5
    experience=100
    level=2
    alignment=lawful
    advances_to=null
#ifndef MULTIPLAYER
    [advancefrom]
        unit="Naffat"
    [/advancefrom]
#endif
    {AMLA_DEFAULT}
    cost=36
    usage=mixed fighter
    {MAGENTA_IS_THE_TEAM_COLOR}
    description= _ "The study and dedication that the Waghad-al-lahab have given to the mysterious and ever lasting nature of fire availed them the tools to successfully maintain and use it as devastating weapon in close quarter combat. Only caring now for spreading and beholding and the flames they conjured, they have no compassion for human lives neither their homes, making them feared and despised not only by their enemies but often even their own comrades."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/khalifate/waghad-al-lahab.png" "units/khalifate/waghad-al-lahab.png" {SOUND_LIST:HUMAN_HIT} }
    [resistance]
	fire=70
    [/resistance]
	[abilities]
		{ABILITY_BLAZE_OF_GLORY 12}
	[/abilities]
    [attack]
        name=naphtha attack
        description= _ "naphtha attack"
        icon=attacks/firecup.png
        type=fire
        range=melee
        damage=14
        number=2
#		[specials]
#			{SPECIAL_CRAWLING_FIRE}
#		[/specials]
    [/attack]
#    [attack]
#        name=flame blast
#        description= _ "flame blast"
#        icon=attacks/fire-blast.png
#        type=fire
#        range=ranged
#        damage=18
#        number=1
#		[specials]
#			{SPECIAL_CRAWLING_FIRE}
#		[/specials]
 #   [/attack]
    [attack]
        name=naptha launch
        description= _ "naphta grenade"
        icon=attacks/bomb2.png
        type=fire
        range=ranged
        damage=7
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=naphtha attack
        [/filter_attack]
		offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.7,0.7~0.6,0.6~0.3,0.3~0.0
		start_time=-330

        [frame]
            image="units/khalifate/waghad-al-lahab.png:[75*2,100,130]"
        [/frame]
		
		[if]
            hits=yes
            [missile_frame]
		halo="projectiles/fireball-impact-[1~16].png:60"
#                halo=halo/flame-burst-[1~8].png:50
                auto_vflip=false
                halo_x,halo_y=0,12
                offset=1.0
            [/missile_frame]
		[/if]

        {SOUND:HIT_AND_MISS melee-fire.ogg torch-miss.ogg -150}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=naptha launch
        [/filter_attack]

        start_time=-1000
        offset=0

        sling_stone_start_time=-800
        [if]
            hits=yes
            [sling_stone_frame]
                halo="projectiles/naptha-grenade.png:800"
                halo_x=24~0
                halo_y=0~-10,-10~-18,-18~-22,-22~-24,-24~-25,-25~-24,-24~-22,-22~-18,-18~-10,-10~-0
				halo_y=0~-18,-18~-26,-26~-30,-30~-32,-32~-33,-33~-32,-32~-30,-30~-26,-26~-18,-18~-0
                offset=0.0~1.0
            [/sling_stone_frame]
			
			[missile_frame]
				halo="projectiles/fireball-impact-[1~16].png:60"
				offset=1.0
				auto_vflip=false
			[/missile_frame]

            [frame]
                image="units/khalifate/waghad-al-lahab.png:200"
                sound=sling-big.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [sling_stone_frame]
                halo="projectiles/naptha-grenade.png:900"
                halo_x=24~0
                halo_y=0~-10,-10~-16,-16~-20,-20~-22,-22~-20,-20~-16,-16~-10,-10~0,0~-4,-4~0,0~-2,-2~0
                offset=0.0~1.5
            [/sling_stone_frame]

            [frame]
                image="units/khalifate/waghad-al-lahab.png:200"
                sound=sling-big-miss.ogg
            [/frame]
        [/else]
        [frame]
            image="units/khalifate/waghad-al-lahab.png:600"
        [/frame]
        [frame]
            image="units/khalifate/waghad-al-lahab.png:100"
        [/frame]
        [frame]
            image="units/khalifate/waghad-al-lahab.png:100"
        [/frame]
    [/attack_anim]
	[standing_anim]
        start_time=0
        [frame]
            image="units/khalifate/waghad-al-lahab-bob-[1~5].png:[150*5]"
        [/frame]
    [/standing_anim]
	
    [death]
		start_time=0
        [frame]
            image=units/khalifate/waghad-al-lahab.png~O(0%)
			halo=projectiles/fireball-impact-[1~15].png~SCALE(400,400):120
        [/frame]
		sound2_start_time=0
	    [sound2_frame]
            sound=explosion.ogg
        [/sound2_frame]
		sound3_start_time=60
	    [sound3_frame]
            sound=explosion.ogg
        [/sound3_frame]
		sound_start_time=120
	    [sound_frame]
            sound=flame-big.ogg
        [/sound_frame]
    [/death]
[/unit_type]
