#textdomain wesnoth-units
[unit_type]
    id=Wahash
    name= _ "Wahash"
    race=khalifate
    image="units/khalifate/wahash.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=74
    movement_type=khalifatearmoredfoot
    movement=6
    experience=150
    level=3
    alignment=liminal
    advances_to=null
    cost=54
    usage=fighter
    {AMLA_DEFAULT}
    description= _ "Wahash have disavowed the use of any kind of weapon, believing that only their own strength can truly prove them as warriors. Years of sustaining a great number of injuries has toughened them to ignore all pain and unleash a barrage of relentless attacks on whoever stands in their way."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/khalifate/wahash.png" "units/khalifate/wahash.png" {SOUND_LIST:HUMAN_HIT} }
    [abilities]
        {ABILITY_TOUGH 20}
    [/abilities]
    [attack]
        name=fist
        description= _ "fist"
        icon=attacks/fist-human.png
        type=impact
        range=melee
        damage=10
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.7,0.7~0.6,0.6~0.3,0.3~0.0
        start_time=-330
        [frame]
            image="units/khalifate/wahash.png:[120*3]"
        [/frame]
        {SOUND:HIT_AND_MISS fist.ogg {SOUND_LIST:MISS} -400}
    [/attack_anim]
	
	[variation]
	variation_name="half-djinn"
	variation_id=halfdjinn
	inherit=yes
    image="units/khalifate/wahash-halfdjinn.png"
	description="When the Three Kings of K'thar abused magic to extend their realm and wreak havoc across the lands, most djinn were destroyed due to the evil magic. Feeling their near end, some djinn found a safe place inside manmade objects, such as lamps, swords or jewelry. Other djinns, however, asked men to be a host to them as men were immune to certain magic that targeted djinns. As a symbiosis, they form the mighty half-djinns that are both man and djinn. In the land of the deserts, half-djinns are not seen as bastards, in fact, they are respected throughout the lands, as their union symbolises the great bond between man and djinn that brought forth many good things to the life of men."
    race=khalifate
    hitpoints=80
    movement=7
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/khalifate/wahash-halfdjinn.png" "units/khalifate/wahash-halfdjinn.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=fist
        description= _ "fist"
        icon=attacks/fist.png
        type=impact
        range=melee
        damage=11
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.7,0.7~0.6,0.6~0.3,0.3~0.0
        start_time=-330
        [frame]
            image="units/khalifate/wahash-halfdjinn.png:[120*3]"
        [/frame]
        {SOUND:HIT_AND_MISS fist.ogg {SOUND_LIST:MISS} -400}
    [/attack_anim]
	[/variation]

[/unit_type]
