#textdomain wesnoth-units
[unit_type]
    id=Wyvern Rider
    name= _ "Wyvern Rider"
    race=khalifate
    image="units/khalifate/wyvern_rider.png"
	image_icon="units/khalifate/wyvern_rider.png~CROP(17,13,72,72)"
    hitpoints=112
    movement_type=khalifatearmoredfoot
    movement=7
    experience=200
    level=4
    alignment=liminal
    advances_to=null
    cost=78
    usage=fighter
	{AMLA_DEFAULT}
    {MAGENTA_IS_THE_TEAM_COLOR}
    description= _ "Wyverns are agile dragon-like creatures that inhabit the east of the vastness of the ashland desert. Since a long time, wyverns pose as a valuable trophy to the warriors of the khalifate, yet only the bravest and strongest are able to overwhelm a wyvern and out of them, only the fewest of the few may train a wyvern. "+{SPECIAL_NOTES}+{SPECIAL_NOTES_POISON}+{SPECIAL_NOTES_MARKSMAN}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/khalifate/wyvern_rider.png" "units/khalifate/wyvern_rider.png" {SOUND_LIST:HUMAN_HIT} }
	
    [attack]
        name=spear
        description= _ "spear"
        icon=attacks/spear.png
        type=blade
        range=melee
        damage=14
        number=4
	[specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
	
	[attack]
        name=bite
        description= _ "bite"
        icon=attacks/fangs-snake-sand.png
        type=blade
        range=melee
        damage=16
        number=3
	[specials]
            {WEAPON_SPECIAL_POISON}
	    {WEAPON_SPECIAL_KNOCKBACK}
        [/specials]
    [/attack]
    [attack]
        name=tail
        description= _ "tail"
        icon=attacks/tail-shaxthal.png
        type=impact
        range=melee
        damage=31
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=tail
        [/filter_attack]
        {MELEE_FRAME_SWOOSH_CUSTOM_MOUNTED tail.ogg {SOUND_LIST:MISS} {SOUND_LIST:DRAKE_HIT} "~SCALE(140,140)"}
    [/attack_anim]	
    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
        {MELEE_FRAME_SWOOSH_CUSTOM_MOUNTED bite.ogg {SOUND_LIST:MISS} {SOUND_LIST:DRAKE_HIT} "~SCALE(1,1)"}
    [/attack_anim]	
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]

        start_time=-200

        [frame]
            image="units/khalifate/wyvern_rider.png:300"
        [/frame]

        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
	
	[attack_anim]
        [filter_attack]
            name=bite_old
        [/filter_attack]

        start_time=-200

        [frame]
            image="units/khalifate/wyvern_rider.png:300"
        [/frame]

        {SOUND:HIT_AND_MISS {SOUND_LIST:DRAKE_HIT} {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
