#textdomain wesnoth-units
[unit_type]
    id=Zarif
    name= _ "Zarif"
    race=khalifate
#    profile="portraits/monawish.png"
    image="units/khalifate/zarif.png"
    hitpoints=35
    movement_type=khalifatefoot
    movement=5
    experience=42
    level=1
    alignment=liminal
    advances_to=Monawish,Eskiya
    cost=16
    usage=mixed fighter
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    {MAGENTA_IS_THE_TEAM_COLOR}
    description= _ "The Zarif is exotic form of Khalifate foot advance. Often come from noble or military families, and have spent most of their lives training their craft. They are often used to harry the flanks of opposing forces, and it is said to be easier to catch the wind in your hand than to catch a Zarif."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/khalifate/zarif.png" "units/khalifate/zarif.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=long sword
        description= _ "long sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=8
        number=3
    [/attack]

    [attack_anim]
        [filter_attack]
            name=long sword
        [/filter_attack]

        start_time=-200

        [frame]
            image="units/khalifate/zarif.png:300"
        [/frame]

        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]

